<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Modelo de Requisitos SGDEA (AGN)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Modelo de Requisitos SGDEA (AGN)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-requirements_realization"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_requirements_realization" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/00a2eb1c-2fde-4665-a4dc-112eaec20a78.png" alt="Modelo de Requisitos SGDEA (AGN)" usemap="#00a2eb1c-2fde-4665-a4dc-112eaec20a78map"/>
			   <map name="00a2eb1c-2fde-4665-a4dc-112eaec20a78map">
				  				<area shape="rect" coords="118,118,269,173" href="../elements/0cba2824-5b63-4317-9cdd-59f420b4a050.html"  target="element">
				  				<area shape="rect" coords="586,118,737,173" href="../elements/7d69e89c-883e-4bef-bcda-a12b327c1041.html"  target="element">
				  				<area shape="rect" coords="543,58,694,113" href="../elements/9556553d-ce6f-4afe-aff0-641dee162972.html"  target="element">
				  				<area shape="rect" coords="274,118,425,173" href="../elements/67f5def7-ce1f-42f9-bd63-acf10e9d417e.html"  target="element">
				  				<area shape="rect" coords="430,118,581,173" href="../elements/8e48705d-b1c0-48c1-81ea-95b369b770ce.html"  target="element">
				  				<area shape="rect" coords="207,58,358,113" href="../elements/aaa838e4-5d6c-4431-84a7-81942eb7c4f5.html"  target="element">
				  				<area shape="rect" coords="375,58,526,113" href="../elements/78255137-c63d-4680-8534-c28e3c563fc3.html"  target="element">
				  				<area shape="rect" coords="39,58,190,113" href="../elements/cd2e50c4-9022-461a-a499-4b870254db0f.html"  target="element">

				  		<area shape="rect" coords="10,10,786,214" href="../elements/91ffb9d5-82fb-48ab-bbeb-cdf36a4b5f7d.html"  target="element">
				  				<area shape="rect" coords="208,417,359,472" href="../elements/id-aac975d873314728881fa989fb102de3.html"  target="element">
				  				<area shape="rect" coords="40,417,191,472" href="../elements/8ceee436-8e09-4b21-a2bc-4e621b413fa6.html"  target="element">
				  				<area shape="rect" coords="436,285,580,340" href="../elements/id-1917c65f9ace469094302eadf72c1469.html"  target="element">
				  				<area shape="rect" coords="586,285,730,340" href="../elements/id-5db6a819ae5349cbb3353052f4f1b5a8.html"  target="element">
				  				<area shape="rect" coords="436,417,580,472" href="../elements/id-4e6e8f89c78646da9c102e705856999c.html"  target="element">
				  				<area shape="rect" coords="208,351,359,406" href="../elements/b969157c-06ce-4738-8ba7-ced68f1b388a.html"  target="element">
				  				<area shape="rect" coords="40,351,191,406" href="../elements/da254e01-4bc2-459b-8a1e-e104ac573f3b.html"  target="element">
				  				<area shape="rect" coords="586,351,730,406" href="../elements/id-bf85c920eb5e4981a3c942fcf9c72cc0.html"  target="element">
				  				<area shape="rect" coords="436,351,580,406" href="../elements/id-8e1885e6d4a344a5ae43bf92f3d525a6.html"  target="element">

				  		<area shape="rect" coords="10,243,790,503" href="../elements/e783e885-6de9-41db-8e31-beb90f165f7b.html"  target="element">
				  				<area shape="rect" coords="45,850,189,905" href="../elements/id-008d2a69801f45bab2eab0df8bfde31d.html"  target="element">
				  				<area shape="rect" coords="46,790,190,845" href="../elements/id-bf6e3d0d0c3b4521b2b8a1372d967d5d.html"  target="element">
				  				<area shape="rect" coords="46,670,190,725" href="../elements/155abf7e-8648-48e5-b320-6eea64ef8ce8.html"  target="element">
				  				<area shape="rect" coords="345,850,489,905" href="../elements/id-8ad2e36552b040e3829437aed9bf1aa9.html"  target="element">
				  				<area shape="rect" coords="346,913,490,968" href="../elements/id-52f84dd7ffa6441d9391d31156a9d89a.html"  target="element">
				  				<area shape="rect" coords="346,790,490,845" href="../elements/id-17982402859d47da8f8365f85764b565.html"  target="element">
				  				<area shape="rect" coords="46,973,190,1028" href="../elements/id-20002075d654495392ad0572e5764a3f.html"  target="element">
				  				<area shape="rect" coords="196,913,340,968" href="../elements/id-5c6cd39ec5064b85b7e69cb0687c8035.html"  target="element">
				  				<area shape="rect" coords="46,913,190,968" href="../elements/id-d2b9f7c3b7b94169886ceaaffadb0bd1.html"  target="element">
				  				<area shape="rect" coords="196,670,340,725" href="../elements/6161a29b-ba56-4f22-8537-a4f38053e731.html"  target="element">
				  				<area shape="rect" coords="346,730,490,785" href="../elements/id-e8b8c15f88b74bc4bfffda8c6a9ecf1e.html"  target="element">
				  				<area shape="rect" coords="196,973,340,1028" href="../elements/id-7ad39a740bae409d886befffe5951239.html"  target="element">
				  				<area shape="rect" coords="346,670,490,725" href="../elements/98f0baee-0ab8-4f3b-b121-e3b67181929f.html"  target="element">
				  				<area shape="rect" coords="196,790,340,845" href="../elements/id-b2412338b2c149e7a1f52eb6d2c5fbba.html"  target="element">
				  				<area shape="rect" coords="196,730,340,785" href="../elements/dec24974-18e8-4a17-9389-a7caa37d19b3.html"  target="element">
				  				<area shape="rect" coords="46,730,190,785" href="../elements/df76f48c-3f4b-4df6-8bad-c37d7b0a03b6.html"  target="element">
				  				<area shape="rect" coords="195,850,339,905" href="../elements/id-f389542748134e8db300d353854d3b9e.html"  target="element">

				  		<area shape="rect" coords="10,622,790,1054" href="../elements/88c76a57-020b-452f-a721-40899cdde957.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
											    <td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f389542748134e8db300d353854d3b9e.html" target="element"> REQR25. Validaci&#243;n Correo-e ciudadano </a> </td>
													    <td> <a href="../elements/id-f389542748134e8db300d353854d3b9e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/df76f48c-3f4b-4df6-8bad-c37d7b0a03b6.html" target="element"> REQ504. Confidencialidad </a> </td>
													    <td> <a href="../elements/df76f48c-3f4b-4df6-8bad-c37d7b0a03b6.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/dec24974-18e8-4a17-9389-a7caa37d19b3.html" target="element"> REQ505. Disponibilidad </a> </td>
													    <td> <a href="../elements/dec24974-18e8-4a17-9389-a7caa37d19b3.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b2412338b2c149e7a1f52eb6d2c5fbba.html" target="element"> REQR22. Garantizar la recepci&#243;n de los correos certificados enviados EAAB </a> </td>
													    <td> <a href="../elements/id-b2412338b2c149e7a1f52eb6d2c5fbba.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/98f0baee-0ab8-4f3b-b121-e3b67181929f.html" target="element"> REQ503. Autenticidad </a> </td>
													    <td> <a href="../elements/98f0baee-0ab8-4f3b-b121-e3b67181929f.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7ad39a740bae409d886befffe5951239.html" target="element"> REQR32. Integraci&#243;n con Office 365 </a> </td>
													    <td> <a href="../elements/id-7ad39a740bae409d886befffe5951239.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e8b8c15f88b74bc4bfffda8c6a9ecf1e.html" target="element"> REQR20. Evitar la p&#233;rdida de correos respuestas de EAAB  </a> </td>
													    <td> <a href="../elements/id-e8b8c15f88b74bc4bfffda8c6a9ecf1e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6161a29b-ba56-4f22-8537-a4f38053e731.html" target="element"> REQ502. Integridad </a> </td>
													    <td> <a href="../elements/6161a29b-ba56-4f22-8537-a4f38053e731.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d2b9f7c3b7b94169886ceaaffadb0bd1.html" target="element"> REQR27. Firmado de correos certificados </a> </td>
													    <td> <a href="../elements/id-d2b9f7c3b7b94169886ceaaffadb0bd1.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5c6cd39ec5064b85b7e69cb0687c8035.html" target="element"> REQR28. Metadatos de firma digital </a> </td>
													    <td> <a href="../elements/id-5c6cd39ec5064b85b7e69cb0687c8035.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-20002075d654495392ad0572e5764a3f.html" target="element"> REQR31. Tipos de firma digital </a> </td>
													    <td> <a href="../elements/id-20002075d654495392ad0572e5764a3f.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-17982402859d47da8f8365f85764b565.html" target="element"> REQR23. Garantizar la autenticidad y no repudio de los correo salientes EAAB </a> </td>
													    <td> <a href="../elements/id-17982402859d47da8f8365f85764b565.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-52f84dd7ffa6441d9391d31156a9d89a.html" target="element"> REQR29. Entorno integrado al servidor de correo electr&#243;nico  </a> </td>
													    <td> <a href="../elements/id-52f84dd7ffa6441d9391d31156a9d89a.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8ad2e36552b040e3829437aed9bf1aa9.html" target="element"> REQR26. Consulta web correo emitido por EAAB </a> </td>
													    <td> <a href="../elements/id-8ad2e36552b040e3829437aed9bf1aa9.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/155abf7e-8648-48e5-b320-6eea64ef8ce8.html" target="element"> REQ501. Verificaci&#243;n continua del documento </a> </td>
													    <td> <a href="../elements/155abf7e-8648-48e5-b320-6eea64ef8ce8.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bf6e3d0d0c3b4521b2b8a1372d967d5d.html" target="element"> REQR21. Auditor&#237;a de  entrada / salida de correos certificados </a> </td>
													    <td> <a href="../elements/id-bf6e3d0d0c3b4521b2b8a1372d967d5d.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-008d2a69801f45bab2eab0df8bfde31d.html" target="element"> REQR24. Seguimiento del env&#237;o del correo certificado </a> </td>
													    <td> <a href="../elements/id-008d2a69801f45bab2eab0df8bfde31d.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e783e885-6de9-41db-8e31-beb90f165f7b.html" target="element"> Modelo de Requerimientos de la EAAB. Objetivos del SGDEA  </a> </td>
											    <td> <a href="../elements/e783e885-6de9-41db-8e31-beb90f165f7b.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8e1885e6d4a344a5ae43bf92f3d525a6.html" target="element"> OUT15. Poseer una estructura l&#243;gica y consistente con los modelos de requisitos nacionales e internacionales </a> </td>
													    <td> <a href="../elements/id-8e1885e6d4a344a5ae43bf92f3d525a6.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bf85c920eb5e4981a3c942fcf9c72cc0.html" target="element"> OUT16. Presentar una combinaci&#243;n de requisitos de MoReq y los definidos en mesas de trabajo distritales </a> </td>
													    <td> <a href="../elements/id-bf85c920eb5e4981a3c942fcf9c72cc0.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/da254e01-4bc2-459b-8a1e-e104ac573f3b.html" target="element"> GOL200. Seguridad, Disponibilidad y Controles de Acceso </a> </td>
													    <td> <a href="../elements/da254e01-4bc2-459b-8a1e-e104ac573f3b.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b969157c-06ce-4738-8ba7-ced68f1b388a.html" target="element"> GOL201. Soluci&#243;n Integral de Autenticidad </a> </td>
													    <td> <a href="../elements/b969157c-06ce-4738-8ba7-ced68f1b388a.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4e6e8f89c78646da9c102e705856999c.html" target="element"> OUT14. Contemplar todos los procesos de la gesti&#243;n documental </a> </td>
													    <td> <a href="../elements/id-4e6e8f89c78646da9c102e705856999c.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5db6a819ae5349cbb3353052f4f1b5a8.html" target="element"> OUT13. SGDEA para Gerencia Jur&#237;dica, Oficina Asesor&#237;a Legal y la Oficina Asesora De Representaci&#243;n Judicial y Actuaci&#243;n Administrativa </a> </td>
													    <td> <a href="../elements/id-5db6a819ae5349cbb3353052f4f1b5a8.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1917c65f9ace469094302eadf72c1469.html" target="element"> OUT12. SGDEA para Direcci&#243;n Mejoramiento Calidad de Vida y el manejo de historias laborales </a> </td>
													    <td> <a href="../elements/id-1917c65f9ace469094302eadf72c1469.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8ceee436-8e09-4b21-a2bc-4e621b413fa6.html" target="element"> GOL203. Integraci&#243;n de Comunicaciones y Conformaci&#243;n de Expedientes </a> </td>
													    <td> <a href="../elements/8ceee436-8e09-4b21-a2bc-4e621b413fa6.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aac975d873314728881fa989fb102de3.html" target="element"> GOL204. Digitalizaci&#243;n nativa y (opci&#243;n) OCR y Estampado </a> </td>
													    <td> <a href="../elements/id-aac975d873314728881fa989fb102de3.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/91ffb9d5-82fb-48ab-bbeb-cdf36a4b5f7d.html" target="element"> Modelo de Requerimientos de la AGN. Objetivos del SGDEA </a> </td>
											    <td> <a href="../elements/91ffb9d5-82fb-48ab-bbeb-cdf36a4b5f7d.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/cd2e50c4-9022-461a-a499-4b870254db0f.html" target="element"> GOL100. Clasificaci&#243;n y Organizaci&#243;n Documental </a> </td>
													    <td> <a href="../elements/cd2e50c4-9022-461a-a499-4b870254db0f.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/78255137-c63d-4680-8534-c28e3c563fc3.html" target="element"> GOL102. Captura e Ingreso de Documentos </a> </td>
													    <td> <a href="../elements/78255137-c63d-4680-8534-c28e3c563fc3.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/aaa838e4-5d6c-4431-84a7-81942eb7c4f5.html" target="element"> GOL101. Retenci&#243;n y Disposici&#243;n Documental </a> </td>
													    <td> <a href="../elements/aaa838e4-5d6c-4431-84a7-81942eb7c4f5.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8e48705d-b1c0-48c1-81ea-95b369b770ce.html" target="element"> GOL106. Flujos de Trabajo Electr&#243;nicos </a> </td>
													    <td> <a href="../elements/8e48705d-b1c0-48c1-81ea-95b369b770ce.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/67f5def7-ce1f-42f9-bd63-acf10e9d417e.html" target="element"> GOL105. Control y Seguridad </a> </td>
													    <td> <a href="../elements/67f5def7-ce1f-42f9-bd63-acf10e9d417e.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9556553d-ce6f-4afe-aff0-641dee162972.html" target="element"> GOL103. B&#250;squeda y Presentaci&#243;n </a> </td>
													    <td> <a href="../elements/9556553d-ce6f-4afe-aff0-641dee162972.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7d69e89c-883e-4bef-bcda-a12b327c1041.html" target="element"> GOL107. Requerimientos No Funcionales </a> </td>
													    <td> <a href="../elements/7d69e89c-883e-4bef-bcda-a12b327c1041.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0cba2824-5b63-4317-9cdd-59f420b4a050.html" target="element"> GOL104. Metadatos </a> </td>
													    <td> <a href="../elements/0cba2824-5b63-4317-9cdd-59f420b4a050.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/04ac60b0-985d-4599-87d3-b4f8150ec4c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/04ac60b0-985d-4599-87d3-b4f8150ec4c3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/id-f389542748134e8db300d353854d3b9e.html" target="element"> REQR25. Validaci&#243;n Correo-e ciudadano </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8a2ea409-d7ed-4871-8648-b7dd1a248278.html" target="element">  </a> </td>
																		<td> <a href="../elements/8a2ea409-d7ed-4871-8648-b7dd1a248278.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/df76f48c-3f4b-4df6-8bad-c37d7b0a03b6.html" target="element"> REQ504. Confidencialidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/558ae3be-0dee-464d-bd12-04ca87894bdb.html" target="element">  </a> </td>
																		<td> <a href="../elements/558ae3be-0dee-464d-bd12-04ca87894bdb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/dec24974-18e8-4a17-9389-a7caa37d19b3.html" target="element"> REQ505. Disponibilidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f81a5614-38f1-4732-bce1-dbf2a6d825af.html" target="element">  </a> </td>
																		<td> <a href="../elements/f81a5614-38f1-4732-bce1-dbf2a6d825af.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/id-b2412338b2c149e7a1f52eb6d2c5fbba.html" target="element"> REQR22. Garantizar la recepci&#243;n de los correos certificados enviados EAAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6d7a87c6-8b07-4efd-9611-f70f73800b2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/6d7a87c6-8b07-4efd-9611-f70f73800b2d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/98f0baee-0ab8-4f3b-b121-e3b67181929f.html" target="element"> REQ503. Autenticidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/195c6781-538b-4905-b07b-1205f6ba00b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/195c6781-538b-4905-b07b-1205f6ba00b0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/id-7ad39a740bae409d886befffe5951239.html" target="element"> REQR32. Integraci&#243;n con Office 365 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f3f14997-df61-4e4b-ae53-301468d23b70.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3f14997-df61-4e4b-ae53-301468d23b70.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/id-e8b8c15f88b74bc4bfffda8c6a9ecf1e.html" target="element"> REQR20. Evitar la p&#233;rdida de correos respuestas de EAAB  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4c7ef33c-ffa1-40d7-b009-518455ae4fbb.html" target="element">  </a> </td>
																		<td> <a href="../elements/4c7ef33c-ffa1-40d7-b009-518455ae4fbb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/6161a29b-ba56-4f22-8537-a4f38053e731.html" target="element"> REQ502. Integridad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/58d82e60-5fc9-44cf-ab52-6dd0ef8da69c.html" target="element">  </a> </td>
																		<td> <a href="../elements/58d82e60-5fc9-44cf-ab52-6dd0ef8da69c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/id-d2b9f7c3b7b94169886ceaaffadb0bd1.html" target="element"> REQR27. Firmado de correos certificados </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/afcb0692-14a3-4b3a-aacd-610751c67d8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/afcb0692-14a3-4b3a-aacd-610751c67d8e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/id-5c6cd39ec5064b85b7e69cb0687c8035.html" target="element"> REQR28. Metadatos de firma digital </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/86012c15-52a1-48d5-af60-e852588af826.html" target="element">  </a> </td>
																		<td> <a href="../elements/86012c15-52a1-48d5-af60-e852588af826.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/id-20002075d654495392ad0572e5764a3f.html" target="element"> REQR31. Tipos de firma digital </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5b7b3012-c73a-4740-8f61-8450545ece54.html" target="element">  </a> </td>
																		<td> <a href="../elements/5b7b3012-c73a-4740-8f61-8450545ece54.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/id-17982402859d47da8f8365f85764b565.html" target="element"> REQR23. Garantizar la autenticidad y no repudio de los correo salientes EAAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3f6f0b6e-0cdf-4094-a9d3-a7467ba8f53d.html" target="element">  </a> </td>
																		<td> <a href="../elements/3f6f0b6e-0cdf-4094-a9d3-a7467ba8f53d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/id-52f84dd7ffa6441d9391d31156a9d89a.html" target="element"> REQR29. Entorno integrado al servidor de correo electr&#243;nico  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4a1767fa-3e68-4c89-8772-82300aba93f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/4a1767fa-3e68-4c89-8772-82300aba93f0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/id-8ad2e36552b040e3829437aed9bf1aa9.html" target="element"> REQR26. Consulta web correo emitido por EAAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/afa7fead-517e-49c3-8fd9-5d6ec98777d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/afa7fead-517e-49c3-8fd9-5d6ec98777d2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/155abf7e-8648-48e5-b320-6eea64ef8ce8.html" target="element"> REQ501. Verificaci&#243;n continua del documento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/de0439f3-cb85-470d-b680-5d0a664790bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/de0439f3-cb85-470d-b680-5d0a664790bd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/id-bf6e3d0d0c3b4521b2b8a1372d967d5d.html" target="element"> REQR21. Auditor&#237;a de  entrada / salida de correos certificados </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5c0ee418-dc86-4e87-99d5-25c047d7cfac.html" target="element">  </a> </td>
																		<td> <a href="../elements/5c0ee418-dc86-4e87-99d5-25c047d7cfac.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/id-008d2a69801f45bab2eab0df8bfde31d.html" target="element"> REQR24. Seguimiento del env&#237;o del correo certificado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5c9abf09-0390-4d33-a881-deee45fb890a.html" target="element">  </a> </td>
																		<td> <a href="../elements/5c9abf09-0390-4d33-a881-deee45fb890a.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/88c76a57-020b-452f-a721-40899cdde957.html" target="element"> Modelo de Requerimientos de la EAAB. Requerimientos del SGDEA </a> </td>
																		<td> <a href="../elements/e783e885-6de9-41db-8e31-beb90f165f7b.html" target="element"> Modelo de Requerimientos de la EAAB. Objetivos del SGDEA  </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/b0f5e80d-df27-4f5a-8ad8-919da4719e05.html" target="element">  </a> </td>
																		<td> <a href="../elements/b0f5e80d-df27-4f5a-8ad8-919da4719e05.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e783e885-6de9-41db-8e31-beb90f165f7b.html" target="element"> Modelo de Requerimientos de la EAAB. Objetivos del SGDEA  </a> </td>
																		<td> <a href="../elements/id-8e1885e6d4a344a5ae43bf92f3d525a6.html" target="element"> OUT15. Poseer una estructura l&#243;gica y consistente con los modelos de requisitos nacionales e internacionales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1826325b-c6bd-4fd9-a12d-306361603de3.html" target="element">  </a> </td>
																		<td> <a href="../elements/1826325b-c6bd-4fd9-a12d-306361603de3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e783e885-6de9-41db-8e31-beb90f165f7b.html" target="element"> Modelo de Requerimientos de la EAAB. Objetivos del SGDEA  </a> </td>
																		<td> <a href="../elements/id-bf85c920eb5e4981a3c942fcf9c72cc0.html" target="element"> OUT16. Presentar una combinaci&#243;n de requisitos de MoReq y los definidos en mesas de trabajo distritales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8848c11d-0214-4e56-ab8b-5978238c688f.html" target="element">  </a> </td>
																		<td> <a href="../elements/8848c11d-0214-4e56-ab8b-5978238c688f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e783e885-6de9-41db-8e31-beb90f165f7b.html" target="element"> Modelo de Requerimientos de la EAAB. Objetivos del SGDEA  </a> </td>
																		<td> <a href="../elements/da254e01-4bc2-459b-8a1e-e104ac573f3b.html" target="element"> GOL200. Seguridad, Disponibilidad y Controles de Acceso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5e66893f-e1b0-4337-a0aa-ef9882c0defa.html" target="element">  </a> </td>
																		<td> <a href="../elements/5e66893f-e1b0-4337-a0aa-ef9882c0defa.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e783e885-6de9-41db-8e31-beb90f165f7b.html" target="element"> Modelo de Requerimientos de la EAAB. Objetivos del SGDEA  </a> </td>
																		<td> <a href="../elements/b969157c-06ce-4738-8ba7-ced68f1b388a.html" target="element"> GOL201. Soluci&#243;n Integral de Autenticidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/366881b7-4e57-483b-907d-95473cfc4174.html" target="element">  </a> </td>
																		<td> <a href="../elements/366881b7-4e57-483b-907d-95473cfc4174.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e783e885-6de9-41db-8e31-beb90f165f7b.html" target="element"> Modelo de Requerimientos de la EAAB. Objetivos del SGDEA  </a> </td>
																		<td> <a href="../elements/id-4e6e8f89c78646da9c102e705856999c.html" target="element"> OUT14. Contemplar todos los procesos de la gesti&#243;n documental </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0c0076c6-a9d7-42f8-911c-89b73b301f3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/0c0076c6-a9d7-42f8-911c-89b73b301f3a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e783e885-6de9-41db-8e31-beb90f165f7b.html" target="element"> Modelo de Requerimientos de la EAAB. Objetivos del SGDEA  </a> </td>
																		<td> <a href="../elements/id-5db6a819ae5349cbb3353052f4f1b5a8.html" target="element"> OUT13. SGDEA para Gerencia Jur&#237;dica, Oficina Asesor&#237;a Legal y la Oficina Asesora De Representaci&#243;n Judicial y Actuaci&#243;n Administrativa </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/95906dc7-679d-48c0-8564-7f18f1939992.html" target="element">  </a> </td>
																		<td> <a href="../elements/95906dc7-679d-48c0-8564-7f18f1939992.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e783e885-6de9-41db-8e31-beb90f165f7b.html" target="element"> Modelo de Requerimientos de la EAAB. Objetivos del SGDEA  </a> </td>
																		<td> <a href="../elements/id-1917c65f9ace469094302eadf72c1469.html" target="element"> OUT12. SGDEA para Direcci&#243;n Mejoramiento Calidad de Vida y el manejo de historias laborales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4e90e541-9306-4013-ae09-bdbac140c0c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/4e90e541-9306-4013-ae09-bdbac140c0c9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e783e885-6de9-41db-8e31-beb90f165f7b.html" target="element"> Modelo de Requerimientos de la EAAB. Objetivos del SGDEA  </a> </td>
																		<td> <a href="../elements/8ceee436-8e09-4b21-a2bc-4e621b413fa6.html" target="element"> GOL203. Integraci&#243;n de Comunicaciones y Conformaci&#243;n de Expedientes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-03fcc868fcde489d9d6f7a0dff2cf77f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-03fcc868fcde489d9d6f7a0dff2cf77f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e783e885-6de9-41db-8e31-beb90f165f7b.html" target="element"> Modelo de Requerimientos de la EAAB. Objetivos del SGDEA  </a> </td>
																		<td> <a href="../elements/id-aac975d873314728881fa989fb102de3.html" target="element"> GOL204. Digitalizaci&#243;n nativa y (opci&#243;n) OCR y Estampado </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/d96813e1-d8bb-4ca6-8f0a-ddb82b64605b.html" target="element">  </a> </td>
																		<td> <a href="../elements/d96813e1-d8bb-4ca6-8f0a-ddb82b64605b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/91ffb9d5-82fb-48ab-bbeb-cdf36a4b5f7d.html" target="element"> Modelo de Requerimientos de la AGN. Objetivos del SGDEA </a> </td>
																		<td> <a href="../elements/cd2e50c4-9022-461a-a499-4b870254db0f.html" target="element"> GOL100. Clasificaci&#243;n y Organizaci&#243;n Documental </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/70598c0a-5b52-43e0-8358-d775fce0567d.html" target="element">  </a> </td>
																		<td> <a href="../elements/70598c0a-5b52-43e0-8358-d775fce0567d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/91ffb9d5-82fb-48ab-bbeb-cdf36a4b5f7d.html" target="element"> Modelo de Requerimientos de la AGN. Objetivos del SGDEA </a> </td>
																		<td> <a href="../elements/78255137-c63d-4680-8534-c28e3c563fc3.html" target="element"> GOL102. Captura e Ingreso de Documentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/52c9b925-e644-4cdb-871a-d4fd24fa5590.html" target="element">  </a> </td>
																		<td> <a href="../elements/52c9b925-e644-4cdb-871a-d4fd24fa5590.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/91ffb9d5-82fb-48ab-bbeb-cdf36a4b5f7d.html" target="element"> Modelo de Requerimientos de la AGN. Objetivos del SGDEA </a> </td>
																		<td> <a href="../elements/aaa838e4-5d6c-4431-84a7-81942eb7c4f5.html" target="element"> GOL101. Retenci&#243;n y Disposici&#243;n Documental </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/834443dd-e30a-4ac0-b7dd-50fa7fe7cae2.html" target="element">  </a> </td>
																		<td> <a href="../elements/834443dd-e30a-4ac0-b7dd-50fa7fe7cae2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/91ffb9d5-82fb-48ab-bbeb-cdf36a4b5f7d.html" target="element"> Modelo de Requerimientos de la AGN. Objetivos del SGDEA </a> </td>
																		<td> <a href="../elements/8e48705d-b1c0-48c1-81ea-95b369b770ce.html" target="element"> GOL106. Flujos de Trabajo Electr&#243;nicos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ebf63b69-92b1-4b0d-b05f-2be2208d2360.html" target="element">  </a> </td>
																		<td> <a href="../elements/ebf63b69-92b1-4b0d-b05f-2be2208d2360.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/91ffb9d5-82fb-48ab-bbeb-cdf36a4b5f7d.html" target="element"> Modelo de Requerimientos de la AGN. Objetivos del SGDEA </a> </td>
																		<td> <a href="../elements/67f5def7-ce1f-42f9-bd63-acf10e9d417e.html" target="element"> GOL105. Control y Seguridad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/59e6fe69-3d7e-4876-a88a-66cdc4ce0024.html" target="element">  </a> </td>
																		<td> <a href="../elements/59e6fe69-3d7e-4876-a88a-66cdc4ce0024.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/91ffb9d5-82fb-48ab-bbeb-cdf36a4b5f7d.html" target="element"> Modelo de Requerimientos de la AGN. Objetivos del SGDEA </a> </td>
																		<td> <a href="../elements/9556553d-ce6f-4afe-aff0-641dee162972.html" target="element"> GOL103. B&#250;squeda y Presentaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7bd59440-36ae-43ec-99e3-ff879eda75e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/7bd59440-36ae-43ec-99e3-ff879eda75e6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/91ffb9d5-82fb-48ab-bbeb-cdf36a4b5f7d.html" target="element"> Modelo de Requerimientos de la AGN. Objetivos del SGDEA </a> </td>
																		<td> <a href="../elements/7d69e89c-883e-4bef-bcda-a12b327c1041.html" target="element"> GOL107. Requerimientos No Funcionales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/66d0bd7b-99ea-4248-a143-ababcbe8968b.html" target="element">  </a> </td>
																		<td> <a href="../elements/66d0bd7b-99ea-4248-a143-ababcbe8968b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/91ffb9d5-82fb-48ab-bbeb-cdf36a4b5f7d.html" target="element"> Modelo de Requerimientos de la AGN. Objetivos del SGDEA </a> </td>
																		<td> <a href="../elements/0cba2824-5b63-4317-9cdd-59f420b4a050.html" target="element"> GOL104. Metadatos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b8c25d03-f146-47fc-a6a8-e81e363361f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/b8c25d03-f146-47fc-a6a8-e81e363361f9.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/91ffb9d5-82fb-48ab-bbeb-cdf36a4b5f7d.html" target="element"> Modelo de Requerimientos de la AGN. Objetivos del SGDEA </a> </td>
																		<td> <a href="../elements/e783e885-6de9-41db-8e31-beb90f165f7b.html" target="element"> Modelo de Requerimientos de la EAAB. Objetivos del SGDEA  </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>