<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Aplicaciones SGDEA-EAAB</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Aplicaciones SGDEA-EAAB</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/0ba83442-80bb-4b2a-bbe4-7b34aa6fe204.png" alt="Aplicaciones SGDEA-EAAB" usemap="#0ba83442-80bb-4b2a-bbe4-7b34aa6fe204map"/>
			   <map name="0ba83442-80bb-4b2a-bbe4-7b34aa6fe204map">
				  				<area shape="rect" coords="706,58,826,113" href="../elements/4dc17c2d-8745-4218-b0eb-bbc437f1be7d.html"  target="element">
				  				<area shape="rect" coords="838,58,958,113" href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html"  target="element">
				  				<area shape="rect" coords="574,58,694,113" href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html"  target="element">

				  		<area shape="rect" coords="550,10,994,150" href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html"  target="element">
				  		<area shape="rect" coords="334,10,454,65" href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html"  target="element">
				  		<area shape="rect" coords="178,10,298,65" href="../elements/f8723ce8-da78-433e-9b63-6b76c31115c0.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/635ec049-53a1-4eef-b0c5-e97724099979.html"  target="element">
				  				<area shape="rect" coords="190,190,310,245" href="../elements/e47e21b7-91eb-4151-8069-ff8c2506672c.html"  target="element">
				  				<area shape="rect" coords="190,118,310,173" href="../elements/a87c27a0-ede4-4e72-b797-1997639a8318.html"  target="element">
				  				<area shape="rect" coords="46,118,166,173" href="../elements/4d833a52-fa7c-46c4-88d8-422e78c1b4e0.html"  target="element">

				  		<area shape="rect" coords="10,82,454,263" href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html"  target="element">
				  				<area shape="rect" coords="310,310,430,365" href="../elements/id-78dd4a66be9b4702b3f4d5d91c30e73f.html"  target="element">
				  				<area shape="rect" coords="46,370,166,425" href="../elements/id-0a03f40b1aaa4104a92ef7eac9cd319d.html"  target="element">
				  				<area shape="rect" coords="178,310,298,365" href="../elements/id-ecf5668470774611ac3dedd83a633bde.html"  target="element">
				  				<area shape="rect" coords="46,310,166,365" href="../elements/id-bdb9b3f6516a4532b5d0193667494bf7.html"  target="element">

				  		<area shape="rect" coords="10,274,454,467" href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
											    <td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bdb9b3f6516a4532b5d0193667494bf7.html" target="element"> Flujos de Trabajo </a> </td>
													    <td> <a href="../elements/id-bdb9b3f6516a4532b5d0193667494bf7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ecf5668470774611ac3dedd83a633bde.html" target="element"> SAP. Administraci&#243;n Documental </a> </td>
													    <td> <a href="../elements/id-ecf5668470774611ac3dedd83a633bde.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0a03f40b1aaa4104a92ef7eac9cd319d.html" target="element"> Solution Manager </a> </td>
													    <td> <a href="../elements/id-0a03f40b1aaa4104a92ef7eac9cd319d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-78dd4a66be9b4702b3f4d5d91c30e73f.html" target="element"> Inteligencia de Negocio </a> </td>
													    <td> <a href="../elements/id-78dd4a66be9b4702b3f4d5d91c30e73f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
											    <td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/4d833a52-fa7c-46c4-88d8-422e78c1b4e0.html" target="element"> Aurora </a> </td>
													    <td> <a href="../elements/4d833a52-fa7c-46c4-88d8-422e78c1b4e0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a87c27a0-ede4-4e72-b797-1997639a8318.html" target="element"> ISU - SAP </a> </td>
													    <td> <a href="../elements/a87c27a0-ede4-4e72-b797-1997639a8318.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e47e21b7-91eb-4151-8069-ff8c2506672c.html" target="element"> FELA </a> </td>
													    <td> <a href="../elements/e47e21b7-91eb-4151-8069-ff8c2506672c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/635ec049-53a1-4eef-b0c5-e97724099979.html" target="element"> SIMIP </a> </td>
											    <td> <a href="../elements/635ec049-53a1-4eef-b0c5-e97724099979.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f8723ce8-da78-433e-9b63-6b76c31115c0.html" target="element"> SGP </a> </td>
											    <td> <a href="../elements/f8723ce8-da78-433e-9b63-6b76c31115c0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element"> CORI Correspondencia </a> </td>
											    <td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element"> Sistemas de Informaci&#243;n EAAB. Consulta de Documentos </a> </td>
											    <td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
													    <td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
													    <td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4dc17c2d-8745-4218-b0eb-bbc437f1be7d.html" target="element"> SI Hidrol&#243;gica </a> </td>
													    <td> <a href="../elements/4dc17c2d-8745-4218-b0eb-bbc437f1be7d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-eea2ff99a3f241f19c370b75e2b33480.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eea2ff99a3f241f19c370b75e2b33480.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/id-bdb9b3f6516a4532b5d0193667494bf7.html" target="element"> Flujos de Trabajo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dae1735c04b840a094963beb2581572b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dae1735c04b840a094963beb2581572b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/id-ecf5668470774611ac3dedd83a633bde.html" target="element"> SAP. Administraci&#243;n Documental </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-858b4f9e121f4a908369d6bb2c84ff3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-858b4f9e121f4a908369d6bb2c84ff3c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/id-0a03f40b1aaa4104a92ef7eac9cd319d.html" target="element"> Solution Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bff38263c68b4923bb5f5b4d928d59e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bff38263c68b4923bb5f5b4d928d59e5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/id-78dd4a66be9b4702b3f4d5d91c30e73f.html" target="element"> Inteligencia de Negocio </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/9569c04d-e060-4c08-b205-cd42affe4bc3.html" target="element">  </a> </td>
																		<td> <a href="../elements/9569c04d-e060-4c08-b205-cd42affe4bc3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
																		<td> <a href="../elements/4d833a52-fa7c-46c4-88d8-422e78c1b4e0.html" target="element"> Aurora </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b9273ba7-6ef1-41f7-8128-a90561bc6da1.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9273ba7-6ef1-41f7-8128-a90561bc6da1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
																		<td> <a href="../elements/a87c27a0-ede4-4e72-b797-1997639a8318.html" target="element"> ISU - SAP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/532dc19b-0836-4cf7-b43d-0211b7c1295e.html" target="element">  </a> </td>
																		<td> <a href="../elements/532dc19b-0836-4cf7-b43d-0211b7c1295e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
																		<td> <a href="../elements/e47e21b7-91eb-4151-8069-ff8c2506672c.html" target="element"> FELA </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/26b89f83-58d5-4835-bec4-ab0b8e8c9635.html" target="element">  </a> </td>
																		<td> <a href="../elements/26b89f83-58d5-4835-bec4-ab0b8e8c9635.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element"> Sistemas de Informaci&#243;n EAAB. Consulta de Documentos </a> </td>
																		<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b6f0ced9-a65a-4868-8f22-43ee9d8ccfa7.html" target="element">  </a> </td>
																		<td> <a href="../elements/b6f0ced9-a65a-4868-8f22-43ee9d8ccfa7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element"> Sistemas de Informaci&#243;n EAAB. Consulta de Documentos </a> </td>
																		<td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0753daf9-5c5f-43b5-9ca8-3c014050998b.html" target="element">  </a> </td>
																		<td> <a href="../elements/0753daf9-5c5f-43b5-9ca8-3c014050998b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element"> Sistemas de Informaci&#243;n EAAB. Consulta de Documentos </a> </td>
																		<td> <a href="../elements/4dc17c2d-8745-4218-b0eb-bbc437f1be7d.html" target="element"> SI Hidrol&#243;gica </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ddafd863-224a-4f3f-adc0-401f88195c06.html" target="element">  </a> </td>
																		<td> <a href="../elements/ddafd863-224a-4f3f-adc0-401f88195c06.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element"> Sistemas de Informaci&#243;n EAAB. Consulta de Documentos </a> </td>
																		<td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element"> CORI Correspondencia </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>