<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Sistemas de Información SGDEA-EAAB</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Sistemas de Informaci&#243;n SGDEA-EAAB</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/0ba83442-80bb-4b2a-bbe4-7b34aa6fe204.png" alt="Sistemas de Información SGDEA-EAAB" usemap="#0ba83442-80bb-4b2a-bbe4-7b34aa6fe204map"/>
			   <map name="0ba83442-80bb-4b2a-bbe4-7b34aa6fe204map">
				  		<area shape="rect" coords="946,425,1066,480" href="../elements/id-025600fdfadb4ec28debdfc1f44e46c8.html"  target="element">
				  		<area shape="rect" coords="1185,329,1330,384" href="../elements/id-1464d37c4fee4aed84c757a811656c47.html"  target="element">
				  		<area shape="rect" coords="1185,263,1330,318" href="../elements/id-b641344d96fb4ab1ae3f8361020eaaeb.html"  target="element">
				  		<area shape="rect" coords="1185,197,1330,252" href="../elements/id-505873cf70e24de8929cee5c97f7e0a3.html"  target="element">
				  		<area shape="rect" coords="1185,131,1330,186" href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html"  target="element">
				  		<area shape="rect" coords="946,365,1078,420" href="../elements/id-bdea6945f06c4c2ea4d3de7cdcf464d1.html"  target="element">
				  		<area shape="rect" coords="814,545,934,600" href="../elements/id-4411d729444944e9a4e829a97128376a.html"  target="element">
				  		<area shape="rect" coords="946,305,1078,360" href="../elements/id-1d39dc7234424d84bc127efaff7d5dc4.html"  target="element">
				  		<area shape="rect" coords="814,485,934,540" href="../elements/id-4f026091537a4ab4966b9d5068e4715b.html"  target="element">
				  		<area shape="rect" coords="814,425,934,480" href="../elements/id-45cc863df78b4768816f9f3dbe995726.html"  target="element">
				  		<area shape="rect" coords="814,365,934,420" href="../elements/id-58f53cf0d8564d968ef637befb268a65.html"  target="element">
				  		<area shape="rect" coords="814,305,934,360" href="../elements/id-7915d5c1348949bebede5a86e738361b.html"  target="element">
				  		<area shape="rect" coords="682,545,802,600" href="../elements/id-cb4e52790bef454a851a54042c7d305b.html"  target="element">
				  		<area shape="rect" coords="682,485,802,540" href="../elements/id-78d7508c1c4f4df3b5bcf67eb8d192f4.html"  target="element">
				  		<area shape="rect" coords="682,425,802,480" href="../elements/id-d6de3cade14042fda2add90309c09712.html"  target="element">
				  		<area shape="rect" coords="682,365,802,420" href="../elements/id-985772b4640a43548400a5e34afb6a8a.html"  target="element">
				  		<area shape="rect" coords="682,305,802,360" href="../elements/id-f44793f9fb8a4f69850ea5c7c18f970b.html"  target="element">
				          <area shape="rect" coords="13,10,215,102" href="../objects/id-3b46699a190f4206b76151687a5f1e87.html" target="element" >
				  		<area shape="rect" coords="550,545,670,600" href="../elements/id-2e6dac0f954c4e3e9757053d6decdf0e.html"  target="element">
				  		<area shape="rect" coords="550,485,670,540" href="../elements/id-e0719dd6593a40a8ba8dfc3e1b115fa3.html"  target="element">
				  		<area shape="rect" coords="550,425,670,480" href="../elements/id-fafe52f21aeb4215807939e800977d18.html"  target="element">
				  		<area shape="rect" coords="550,365,670,420" href="../elements/id-47d02856d82b4cc28b5a20414fadba3c.html"  target="element">
				  		<area shape="rect" coords="550,305,670,360" href="../elements/id-224e2378883240e888aad9678dc8440a.html"  target="element">
				  				<area shape="rect" coords="706,173,826,228" href="../elements/4dc17c2d-8745-4218-b0eb-bbc437f1be7d.html"  target="element">
				  				<area shape="rect" coords="838,173,958,228" href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html"  target="element">
				  				<area shape="rect" coords="574,173,694,228" href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html"  target="element">

				  		<area shape="rect" coords="550,125,1090,265" href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html"  target="element">
				  		<area shape="rect" coords="334,125,454,180" href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html"  target="element">
				  		<area shape="rect" coords="178,125,298,180" href="../elements/f8723ce8-da78-433e-9b63-6b76c31115c0.html"  target="element">
				  		<area shape="rect" coords="10,125,130,180" href="../elements/635ec049-53a1-4eef-b0c5-e97724099979.html"  target="element">
				  				<area shape="rect" coords="177,305,297,360" href="../elements/id-a0ec12f1ab8847b9947b938057787f79.html"  target="element">
				  				<area shape="rect" coords="322,233,442,288" href="../elements/id-e5ceb2f92bbe4f7ca5223cb57698f9a2.html"  target="element">
				  				<area shape="rect" coords="178,233,298,288" href="../elements/a87c27a0-ede4-4e72-b797-1997639a8318.html"  target="element">
				  				<area shape="rect" coords="46,233,166,288" href="../elements/4d833a52-fa7c-46c4-88d8-422e78c1b4e0.html"  target="element">

				  		<area shape="rect" coords="10,197,454,378" href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html"  target="element">
				  				<area shape="rect" coords="178,485,298,540" href="../elements/id-d981ce6a146d43cba3fd591c60672611.html"  target="element">
				  				<area shape="rect" coords="310,425,430,480" href="../elements/id-78dd4a66be9b4702b3f4d5d91c30e73f.html"  target="element">
				  				<area shape="rect" coords="46,485,166,540" href="../elements/id-0a03f40b1aaa4104a92ef7eac9cd319d.html"  target="element">
				  				<area shape="rect" coords="178,425,298,480" href="../elements/id-ecf5668470774611ac3dedd83a633bde.html"  target="element">
				  				<area shape="rect" coords="46,425,166,480" href="../elements/id-bdb9b3f6516a4532b5d0193667494bf7.html"  target="element">

				  		<area shape="rect" coords="10,389,454,582" href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html"  target="element">
				  				<area shape="rect" coords="824,701,944,756" href="../elements/id-25da2fa77831421bbf849e8eb3a9d03f.html"  target="element">
				  				<area shape="rect" coords="958,701,1078,756" href="../elements/id-b0383a69ef1c4630ab4544d07dffd4ff.html"  target="element">
				  				<area shape="rect" coords="694,701,814,756" href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html"  target="element">
				  				<area shape="rect" coords="569,701,689,756" href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html"  target="element">
				  				<area shape="rect" coords="958,760,1078,815" href="../elements/id-0258866e6a984aa4a32768736fa90b25.html"  target="element">
				  				<area shape="rect" coords="569,760,689,815" href="../elements/id-6a3696015ae446179f05de1c60cc40f2.html"  target="element">
				  				<area shape="rect" coords="694,760,814,815" href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html"  target="element">
				  				<area shape="rect" coords="824,760,944,815" href="../elements/id-712ada2167884e838d6abe2a3f7310a5.html"  target="element">

				  		<area shape="rect" coords="550,665,1102,834" href="../elements/id-6e33d98b82084517b82c49233cd1a392.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6e33d98b82084517b82c49233cd1a392.html" target="element"> Sistemas de Informaci&#243;n de Conservaci&#243;n Documentos </a> </td>
											    <td> <a href="../elements/id-6e33d98b82084517b82c49233cd1a392.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-712ada2167884e838d6abe2a3f7310a5.html" target="element"> SAP QM </a> </td>
													    <td> <a href="../elements/id-712ada2167884e838d6abe2a3f7310a5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
													    <td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6a3696015ae446179f05de1c60cc40f2.html" target="element"> One Drive </a> </td>
													    <td> <a href="../elements/id-6a3696015ae446179f05de1c60cc40f2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0258866e6a984aa4a32768736fa90b25.html" target="element"> Share Point </a> </td>
													    <td> <a href="../elements/id-0258866e6a984aa4a32768736fa90b25.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element"> CORI Correspondencia </a> </td>
													    <td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
													    <td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b0383a69ef1c4630ab4544d07dffd4ff.html" target="element"> SAP &#8211; Modulo HSM </a> </td>
													    <td> <a href="../elements/id-b0383a69ef1c4630ab4544d07dffd4ff.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-25da2fa77831421bbf849e8eb3a9d03f.html" target="element"> File Server </a> </td>
													    <td> <a href="../elements/id-25da2fa77831421bbf849e8eb3a9d03f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
											    <td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bdb9b3f6516a4532b5d0193667494bf7.html" target="element"> Flujos de Trabajo </a> </td>
													    <td> <a href="../elements/id-bdb9b3f6516a4532b5d0193667494bf7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ecf5668470774611ac3dedd83a633bde.html" target="element"> SAP. Administraci&#243;n Documental </a> </td>
													    <td> <a href="../elements/id-ecf5668470774611ac3dedd83a633bde.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0a03f40b1aaa4104a92ef7eac9cd319d.html" target="element"> Solution Manager </a> </td>
													    <td> <a href="../elements/id-0a03f40b1aaa4104a92ef7eac9cd319d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-78dd4a66be9b4702b3f4d5d91c30e73f.html" target="element"> SAP. Softmed </a> </td>
													    <td> <a href="../elements/id-78dd4a66be9b4702b3f4d5d91c30e73f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d981ce6a146d43cba3fd591c60672611.html" target="element"> APP4.ERP SAP ECC 6.0 </a> </td>
													    <td> <a href="../elements/id-d981ce6a146d43cba3fd591c60672611.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
											    <td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/4d833a52-fa7c-46c4-88d8-422e78c1b4e0.html" target="element"> Aurora </a> </td>
													    <td> <a href="../elements/4d833a52-fa7c-46c4-88d8-422e78c1b4e0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a87c27a0-ede4-4e72-b797-1997639a8318.html" target="element"> ISU - SAP </a> </td>
													    <td> <a href="../elements/a87c27a0-ede4-4e72-b797-1997639a8318.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e5ceb2f92bbe4f7ca5223cb57698f9a2.html" target="element"> APP27.CONSULTA FACTURA (SuperCade) </a> </td>
													    <td> <a href="../elements/id-e5ceb2f92bbe4f7ca5223cb57698f9a2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a0ec12f1ab8847b9947b938057787f79.html" target="element"> APP12.FELA </a> </td>
													    <td> <a href="../elements/id-a0ec12f1ab8847b9947b938057787f79.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/635ec049-53a1-4eef-b0c5-e97724099979.html" target="element"> SIMIP </a> </td>
											    <td> <a href="../elements/635ec049-53a1-4eef-b0c5-e97724099979.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f8723ce8-da78-433e-9b63-6b76c31115c0.html" target="element"> SGP </a> </td>
											    <td> <a href="../elements/f8723ce8-da78-433e-9b63-6b76c31115c0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element"> CORI Correspondencia </a> </td>
											    <td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element"> Sistemas de Informaci&#243;n EAAB. Consulta de Documentos </a> </td>
											    <td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
													    <td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
													    <td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4dc17c2d-8745-4218-b0eb-bbc437f1be7d.html" target="element"> SI Hidrol&#243;gica </a> </td>
													    <td> <a href="../elements/4dc17c2d-8745-4218-b0eb-bbc437f1be7d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-224e2378883240e888aad9678dc8440a.html" target="element"> Radicaci&#243;n de correspondencia contrataci&#243;n </a> </td>
											    <td> <a href="../elements/id-224e2378883240e888aad9678dc8440a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-47d02856d82b4cc28b5a20414fadba3c.html" target="element"> Radicaci&#243;n de correspondencia Bienes Raices </a> </td>
											    <td> <a href="../elements/id-47d02856d82b4cc28b5a20414fadba3c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fafe52f21aeb4215807939e800977d18.html" target="element"> Radicaci&#243;n de correspondencia red troncal </a> </td>
											    <td> <a href="../elements/id-fafe52f21aeb4215807939e800977d18.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e0719dd6593a40a8ba8dfc3e1b115fa3.html" target="element"> Radicaci&#243;n de correspondencia Informatica </a> </td>
											    <td> <a href="../elements/id-e0719dd6593a40a8ba8dfc3e1b115fa3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2e6dac0f954c4e3e9757053d6decdf0e.html" target="element"> Radicaci&#243;n de correspondencia Sistema Maestro </a> </td>
											    <td> <a href="../elements/id-2e6dac0f954c4e3e9757053d6decdf0e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-3b46699a190f4206b76151687a5f1e87.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-3b46699a190f4206b76151687a5f1e87.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-f44793f9fb8a4f69850ea5c7c18f970b.html" target="element"> APP35.Contrataci&#243;n SIL Licitaciones </a> </td>
											    <td> <a href="../elements/id-f44793f9fb8a4f69850ea5c7c18f970b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-985772b4640a43548400a5e34afb6a8a.html" target="element"> APP36. PQR </a> </td>
											    <td> <a href="../elements/id-985772b4640a43548400a5e34afb6a8a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d6de3cade14042fda2add90309c09712.html" target="element"> APP37. Archivo Electr&#243;nico </a> </td>
											    <td> <a href="../elements/id-d6de3cade14042fda2add90309c09712.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-78d7508c1c4f4df3b5bcf67eb8d192f4.html" target="element"> APP38. SIMAD </a> </td>
											    <td> <a href="../elements/id-78d7508c1c4f4df3b5bcf67eb8d192f4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cb4e52790bef454a851a54042c7d305b.html" target="element"> APP39. Bienes Raices (Predios y Querellas) </a> </td>
											    <td> <a href="../elements/id-cb4e52790bef454a851a54042c7d305b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7915d5c1348949bebede5a86e738361b.html" target="element"> APP15.RECIBO DE NOMINA </a> </td>
											    <td> <a href="../elements/id-7915d5c1348949bebede5a86e738361b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-58f53cf0d8564d968ef637befb268a65.html" target="element"> APP40.Gesti&#243;n Documental </a> </td>
											    <td> <a href="../elements/id-58f53cf0d8564d968ef637befb268a65.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-45cc863df78b4768816f9f3dbe995726.html" target="element"> APP41.Cargue de Esquinas </a> </td>
											    <td> <a href="../elements/id-45cc863df78b4768816f9f3dbe995726.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4f026091537a4ab4966b9d5068e4715b.html" target="element"> APP42.Biblioteca </a> </td>
											    <td> <a href="../elements/id-4f026091537a4ab4966b9d5068e4715b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1d39dc7234424d84bc127efaff7d5dc4.html" target="element"> APP43.Correogen </a> </td>
											    <td> <a href="../elements/id-1d39dc7234424d84bc127efaff7d5dc4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4411d729444944e9a4e829a97128376a.html" target="element"> APP16.FICHAS DE PERSONAL </a> </td>
											    <td> <a href="../elements/id-4411d729444944e9a4e829a97128376a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bdea6945f06c4c2ea4d3de7cdcf464d1.html" target="element"> APP44.SGO </a> </td>
											    <td> <a href="../elements/id-bdea6945f06c4c2ea4d3de7cdcf464d1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element"> Ingreso </a> </td>
											    <td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-505873cf70e24de8929cee5c97f7e0a3.html" target="element"> Procesamiento </a> </td>
											    <td> <a href="../elements/id-505873cf70e24de8929cee5c97f7e0a3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b641344d96fb4ab1ae3f8361020eaaeb.html" target="element"> Administraci&#243;n </a> </td>
											    <td> <a href="../elements/id-b641344d96fb4ab1ae3f8361020eaaeb.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1464d37c4fee4aed84c757a811656c47.html" target="element"> Almacenamiento </a> </td>
											    <td> <a href="../elements/id-1464d37c4fee4aed84c757a811656c47.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-025600fdfadb4ec28debdfc1f44e46c8.html" target="element"> Software de Digitalizaci&#243;n </a> </td>
											    <td> <a href="../elements/id-025600fdfadb4ec28debdfc1f44e46c8.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-35a8ad98d7b44a5897a54dccb03cb663.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-35a8ad98d7b44a5897a54dccb03cb663.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6e33d98b82084517b82c49233cd1a392.html" target="element"> Sistemas de Informaci&#243;n de Conservaci&#243;n Documentos </a> </td>
																		<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6a484aaac5054586a6d74d6e50be57a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a484aaac5054586a6d74d6e50be57a5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6e33d98b82084517b82c49233cd1a392.html" target="element"> Sistemas de Informaci&#243;n de Conservaci&#243;n Documentos </a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-def7e76b55d54182a1908b2a10cd7ef8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-def7e76b55d54182a1908b2a10cd7ef8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6e33d98b82084517b82c49233cd1a392.html" target="element"> Sistemas de Informaci&#243;n de Conservaci&#243;n Documentos </a> </td>
																		<td> <a href="../elements/id-0258866e6a984aa4a32768736fa90b25.html" target="element"> Share Point </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d4ffe08b02a4f308df393431c12b753.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d4ffe08b02a4f308df393431c12b753.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6e33d98b82084517b82c49233cd1a392.html" target="element"> Sistemas de Informaci&#243;n de Conservaci&#243;n Documentos </a> </td>
																		<td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element"> CORI Correspondencia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6c10c1962a474a7d8af8ce6b53e1e1fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6c10c1962a474a7d8af8ce6b53e1e1fe.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6e33d98b82084517b82c49233cd1a392.html" target="element"> Sistemas de Informaci&#243;n de Conservaci&#243;n Documentos </a> </td>
																		<td> <a href="../elements/id-6a3696015ae446179f05de1c60cc40f2.html" target="element"> One Drive </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-25bbbd8eec9f492ea96598436b8f95bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-25bbbd8eec9f492ea96598436b8f95bc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6e33d98b82084517b82c49233cd1a392.html" target="element"> Sistemas de Informaci&#243;n de Conservaci&#243;n Documentos </a> </td>
																		<td> <a href="../elements/id-25da2fa77831421bbf849e8eb3a9d03f.html" target="element"> File Server </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-090a7474627f4d7bbbb256da3173b021.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-090a7474627f4d7bbbb256da3173b021.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6e33d98b82084517b82c49233cd1a392.html" target="element"> Sistemas de Informaci&#243;n de Conservaci&#243;n Documentos </a> </td>
																		<td> <a href="../elements/id-712ada2167884e838d6abe2a3f7310a5.html" target="element"> SAP QM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d337951c800c43b29314c7f1595acc63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d337951c800c43b29314c7f1595acc63.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6e33d98b82084517b82c49233cd1a392.html" target="element"> Sistemas de Informaci&#243;n de Conservaci&#243;n Documentos </a> </td>
																		<td> <a href="../elements/id-b0383a69ef1c4630ab4544d07dffd4ff.html" target="element"> SAP &#8211; Modulo HSM </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a0dd3b9599b04ab69fb2f8229523643e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a0dd3b9599b04ab69fb2f8229523643e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-712ada2167884e838d6abe2a3f7310a5.html" target="element"> SAP QM </a> </td>
																				<td> <a href="../elements/id-1464d37c4fee4aed84c757a811656c47.html" target="element"> Almacenamiento </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-1664784091b34842a1af7f6c56e93332.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1664784091b34842a1af7f6c56e93332.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																				<td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element"> Ingreso </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7e8dff6596b64846ac7508f70169fd5c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7e8dff6596b64846ac7508f70169fd5c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																				<td> <a href="../elements/id-1464d37c4fee4aed84c757a811656c47.html" target="element"> Almacenamiento </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-355540bf9f1341d8a1253f0e2b79961b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-355540bf9f1341d8a1253f0e2b79961b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-6a3696015ae446179f05de1c60cc40f2.html" target="element"> One Drive </a> </td>
																				<td> <a href="../elements/id-1464d37c4fee4aed84c757a811656c47.html" target="element"> Almacenamiento </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-efd0cd05ab5349b28612e76954aef8b2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-efd0cd05ab5349b28612e76954aef8b2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-0258866e6a984aa4a32768736fa90b25.html" target="element"> Share Point </a> </td>
																				<td> <a href="../elements/id-1464d37c4fee4aed84c757a811656c47.html" target="element"> Almacenamiento </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-93d117046d70492d80d4a650a2f4238a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-93d117046d70492d80d4a650a2f4238a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element"> CORI Correspondencia </a> </td>
																				<td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element"> Ingreso </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-aa8b8c077eb44270896f0518d5f1376c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-aa8b8c077eb44270896f0518d5f1376c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element"> CORI Correspondencia </a> </td>
																				<td> <a href="../elements/id-1464d37c4fee4aed84c757a811656c47.html" target="element"> Almacenamiento </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-23357f7ebeaf4231a6d06791233924e9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-23357f7ebeaf4231a6d06791233924e9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																				<td> <a href="../elements/id-1464d37c4fee4aed84c757a811656c47.html" target="element"> Almacenamiento </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-987d72e0272f4311a1d2397fb6ab8d5c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-987d72e0272f4311a1d2397fb6ab8d5c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-25da2fa77831421bbf849e8eb3a9d03f.html" target="element"> File Server </a> </td>
																				<td> <a href="../elements/id-1464d37c4fee4aed84c757a811656c47.html" target="element"> Almacenamiento </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-eea2ff99a3f241f19c370b75e2b33480.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eea2ff99a3f241f19c370b75e2b33480.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/id-bdb9b3f6516a4532b5d0193667494bf7.html" target="element"> Flujos de Trabajo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dae1735c04b840a094963beb2581572b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dae1735c04b840a094963beb2581572b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/id-ecf5668470774611ac3dedd83a633bde.html" target="element"> SAP. Administraci&#243;n Documental </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-858b4f9e121f4a908369d6bb2c84ff3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-858b4f9e121f4a908369d6bb2c84ff3c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/id-0a03f40b1aaa4104a92ef7eac9cd319d.html" target="element"> Solution Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bff38263c68b4923bb5f5b4d928d59e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bff38263c68b4923bb5f5b4d928d59e5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/id-78dd4a66be9b4702b3f4d5d91c30e73f.html" target="element"> SAP. Softmed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7b779e0d7b84df6ab322089ebc8d414.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7b779e0d7b84df6ab322089ebc8d414.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/id-d981ce6a146d43cba3fd591c60672611.html" target="element"> APP4.ERP SAP ECC 6.0 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1664784091b34842a1af7f6c56e93332.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1664784091b34842a1af7f6c56e93332.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element"> Ingreso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e8dff6596b64846ac7508f70169fd5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e8dff6596b64846ac7508f70169fd5c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/id-1464d37c4fee4aed84c757a811656c47.html" target="element"> Almacenamiento </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-2f6d242ed43a4ee2bcbb48cbcb3d45a4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2f6d242ed43a4ee2bcbb48cbcb3d45a4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-78dd4a66be9b4702b3f4d5d91c30e73f.html" target="element"> SAP. Softmed </a> </td>
																				<td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element"> Ingreso </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/9569c04d-e060-4c08-b205-cd42affe4bc3.html" target="element">  </a> </td>
																		<td> <a href="../elements/9569c04d-e060-4c08-b205-cd42affe4bc3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
																		<td> <a href="../elements/4d833a52-fa7c-46c4-88d8-422e78c1b4e0.html" target="element"> Aurora </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b9273ba7-6ef1-41f7-8128-a90561bc6da1.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9273ba7-6ef1-41f7-8128-a90561bc6da1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
																		<td> <a href="../elements/a87c27a0-ede4-4e72-b797-1997639a8318.html" target="element"> ISU - SAP </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1583b20e06c345ee96090fc04b90aa9c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1583b20e06c345ee96090fc04b90aa9c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
																		<td> <a href="../elements/id-e5ceb2f92bbe4f7ca5223cb57698f9a2.html" target="element"> APP27.CONSULTA FACTURA (SuperCade) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-012daf1bc4b6419aae16441b0bd90348.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-012daf1bc4b6419aae16441b0bd90348.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
																		<td> <a href="../elements/id-a0ec12f1ab8847b9947b938057787f79.html" target="element"> APP12.FELA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c17aae94e45d4ff1a03badadb2223ea4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c17aae94e45d4ff1a03badadb2223ea4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
																		<td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element"> Ingreso </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-93d117046d70492d80d4a650a2f4238a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-93d117046d70492d80d4a650a2f4238a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element"> CORI Correspondencia </a> </td>
																		<td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element"> Ingreso </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/26b89f83-58d5-4835-bec4-ab0b8e8c9635.html" target="element">  </a> </td>
																		<td> <a href="../elements/26b89f83-58d5-4835-bec4-ab0b8e8c9635.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element"> Sistemas de Informaci&#243;n EAAB. Consulta de Documentos </a> </td>
																		<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b6f0ced9-a65a-4868-8f22-43ee9d8ccfa7.html" target="element">  </a> </td>
																		<td> <a href="../elements/b6f0ced9-a65a-4868-8f22-43ee9d8ccfa7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element"> Sistemas de Informaci&#243;n EAAB. Consulta de Documentos </a> </td>
																		<td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0753daf9-5c5f-43b5-9ca8-3c014050998b.html" target="element">  </a> </td>
																		<td> <a href="../elements/0753daf9-5c5f-43b5-9ca8-3c014050998b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element"> Sistemas de Informaci&#243;n EAAB. Consulta de Documentos </a> </td>
																		<td> <a href="../elements/4dc17c2d-8745-4218-b0eb-bbc437f1be7d.html" target="element"> SI Hidrol&#243;gica </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ddafd863-224a-4f3f-adc0-401f88195c06.html" target="element">  </a> </td>
																		<td> <a href="../elements/ddafd863-224a-4f3f-adc0-401f88195c06.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element"> Sistemas de Informaci&#243;n EAAB. Consulta de Documentos </a> </td>
																		<td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element"> CORI Correspondencia </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-23357f7ebeaf4231a6d06791233924e9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-23357f7ebeaf4231a6d06791233924e9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																				<td> <a href="../elements/id-1464d37c4fee4aed84c757a811656c47.html" target="element"> Almacenamiento </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-649d7bf6e26b4985b81c256ffef0fe0e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-649d7bf6e26b4985b81c256ffef0fe0e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
																				<td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element"> Ingreso </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4d6cb9e8432347b7901f783cf5139b0d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4d6cb9e8432347b7901f783cf5139b0d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/4dc17c2d-8745-4218-b0eb-bbc437f1be7d.html" target="element"> SI Hidrol&#243;gica </a> </td>
																				<td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element"> Ingreso </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0306950e180e4d8bb3807de66865bd15.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0306950e180e4d8bb3807de66865bd15.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-224e2378883240e888aad9678dc8440a.html" target="element"> Radicaci&#243;n de correspondencia contrataci&#243;n </a> </td>
																		<td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element"> Ingreso </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7b048d164559429ab11e7393bf3ee1b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b048d164559429ab11e7393bf3ee1b8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-fafe52f21aeb4215807939e800977d18.html" target="element"> Radicaci&#243;n de correspondencia red troncal </a> </td>
																		<td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element"> Ingreso </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-22efe5fc4fb943a993a0ed0f2d3506fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22efe5fc4fb943a993a0ed0f2d3506fb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-985772b4640a43548400a5e34afb6a8a.html" target="element"> APP36. PQR </a> </td>
																		<td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element"> Ingreso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf6585b9b68d4da89ba902b072092e2e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf6585b9b68d4da89ba902b072092e2e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-985772b4640a43548400a5e34afb6a8a.html" target="element"> APP36. PQR </a> </td>
																		<td> <a href="../elements/id-b641344d96fb4ab1ae3f8361020eaaeb.html" target="element"> Administraci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bb08ac1dc1c4495baf81b5f5d4def79d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb08ac1dc1c4495baf81b5f5d4def79d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-985772b4640a43548400a5e34afb6a8a.html" target="element"> APP36. PQR </a> </td>
																		<td> <a href="../elements/id-505873cf70e24de8929cee5c97f7e0a3.html" target="element"> Procesamiento </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eee50539549f4ce39318daf0c2f3934b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eee50539549f4ce39318daf0c2f3934b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-7915d5c1348949bebede5a86e738361b.html" target="element"> APP15.RECIBO DE NOMINA </a> </td>
																		<td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element"> Ingreso </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-53e8641b130d4dedaab5968617f23be9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-53e8641b130d4dedaab5968617f23be9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-025600fdfadb4ec28debdfc1f44e46c8.html" target="element"> Software de Digitalizaci&#243;n </a> </td>
																		<td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element"> Ingreso </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>