<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Procesos y Aplicaciones</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Procesos y Aplicaciones</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/72f1da13-78c8-484e-b986-4f6d7127293c.png" alt="Procesos y Aplicaciones" usemap="#72f1da13-78c8-484e-b986-4f6d7127293cmap"/>
			   <map name="72f1da13-78c8-484e-b986-4f6d7127293cmap">
				  		<area shape="rect" coords="10,586,130,641" href="../elements/f8723ce8-da78-433e-9b63-6b76c31115c0.html"  target="element">
				  		<area shape="rect" coords="10,490,130,545" href="../elements/635ec049-53a1-4eef-b0c5-e97724099979.html"  target="element">
				  		<area shape="rect" coords="210,490,330,545" href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html"  target="element">
				  		<area shape="rect" coords="341,355,461,410" href="../elements/49947a56-3b4e-4eb2-aa48-febf8924471b.html"  target="element">
				  		<area shape="rect" coords="210,355,330,410" href="../elements/97021887-aab3-4fc8-a5b2-1dbf9ddcf5e0.html"  target="element">
				  		<area shape="rect" coords="341,286,461,341" href="../elements/056c2963-e956-43b4-b1ef-330303af1fe4.html"  target="element">
				  		<area shape="rect" coords="210,286,330,341" href="../elements/083898ce-972c-4acf-8eb5-cd784e5a09e9.html"  target="element">
				  		<area shape="rect" coords="618,286,738,341" href="../elements/cedb235b-e86a-475f-82a1-08fb81dd596b.html"  target="element">
				  		<area shape="rect" coords="482,286,602,341" href="../elements/0fa54e45-4310-45af-b8b3-141f703c26f8.html"  target="element">
				  		<area shape="rect" coords="278,10,398,65" href="../elements/5fcee778-3111-4791-9e7c-c2a3a95b091a.html"  target="element">
				  		<area shape="rect" coords="278,74,398,129" href="../elements/3e79917f-219c-4ded-afd6-ec4d5737d02d.html"  target="element">
				  		<area shape="rect" coords="146,10,266,65" href="../elements/e44a9a2d-3150-4b98-8409-8670c5052d47.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/776bbf9e-3c65-47a6-a42c-9a8a7f57b90c.html"  target="element">
				  		<area shape="rect" coords="146,74,266,129" href="../elements/5a8eca9c-66c9-418e-a23e-67b9312bc846.html"  target="element">
				  		<area shape="rect" coords="10,202,130,257" href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html"  target="element">
				  		<area shape="rect" coords="10,74,130,129" href="../elements/da049cc2-af56-4939-9509-f92e5d148e32.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/da049cc2-af56-4939-9509-f92e5d148e32.html" target="element"> Financieros </a> </td>
											    <td> <a href="../elements/da049cc2-af56-4939-9509-f92e5d148e32.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
											    <td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5a8eca9c-66c9-418e-a23e-67b9312bc846.html" target="element"> Log&#237;sticos </a> </td>
											    <td> <a href="../elements/5a8eca9c-66c9-418e-a23e-67b9312bc846.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/776bbf9e-3c65-47a6-a42c-9a8a7f57b90c.html" target="element"> Recursos Humanos </a> </td>
											    <td> <a href="../elements/776bbf9e-3c65-47a6-a42c-9a8a7f57b90c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e44a9a2d-3150-4b98-8409-8670c5052d47.html" target="element"> An&#225;lisis de Informaci&#243;n </a> </td>
											    <td> <a href="../elements/e44a9a2d-3150-4b98-8409-8670c5052d47.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3e79917f-219c-4ded-afd6-ec4d5737d02d.html" target="element"> Mesa de ayuda </a> </td>
											    <td> <a href="../elements/3e79917f-219c-4ded-afd6-ec4d5737d02d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5fcee778-3111-4791-9e7c-c2a3a95b091a.html" target="element"> Flujos de Trabajo </a> </td>
											    <td> <a href="../elements/5fcee778-3111-4791-9e7c-c2a3a95b091a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0fa54e45-4310-45af-b8b3-141f703c26f8.html" target="element"> Vinculaci&#243;n </a> </td>
											    <td> <a href="../elements/0fa54e45-4310-45af-b8b3-141f703c26f8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cedb235b-e86a-475f-82a1-08fb81dd596b.html" target="element"> Medici&#243;n </a> </td>
											    <td> <a href="../elements/cedb235b-e86a-475f-82a1-08fb81dd596b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/083898ce-972c-4acf-8eb5-cd784e5a09e9.html" target="element"> Facturaci&#243;n </a> </td>
											    <td> <a href="../elements/083898ce-972c-4acf-8eb5-cd784e5a09e9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/056c2963-e956-43b4-b1ef-330303af1fe4.html" target="element"> Recaudo </a> </td>
											    <td> <a href="../elements/056c2963-e956-43b4-b1ef-330303af1fe4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/97021887-aab3-4fc8-a5b2-1dbf9ddcf5e0.html" target="element"> Atenci&#243;n al Cliente </a> </td>
											    <td> <a href="../elements/97021887-aab3-4fc8-a5b2-1dbf9ddcf5e0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/49947a56-3b4e-4eb2-aa48-febf8924471b.html" target="element"> Cartera </a> </td>
											    <td> <a href="../elements/49947a56-3b4e-4eb2-aa48-febf8924471b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
											    <td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/635ec049-53a1-4eef-b0c5-e97724099979.html" target="element"> SIMIP </a> </td>
											    <td> <a href="../elements/635ec049-53a1-4eef-b0c5-e97724099979.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f8723ce8-da78-433e-9b63-6b76c31115c0.html" target="element"> SGP </a> </td>
											    <td> <a href="../elements/f8723ce8-da78-433e-9b63-6b76c31115c0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/9091098c-486d-4e6a-a535-d3c6806795be.html" target="element">  </a> </td>
																		<td> <a href="../elements/9091098c-486d-4e6a-a535-d3c6806795be.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/da049cc2-af56-4939-9509-f92e5d148e32.html" target="element"> Financieros </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f5c5e326-d2a3-4a1b-b864-b1bfa27363d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/f5c5e326-d2a3-4a1b-b864-b1bfa27363d2.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/5a8eca9c-66c9-418e-a23e-67b9312bc846.html" target="element"> Log&#237;sticos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/81415f48-2ef6-47ed-a0db-b90477793046.html" target="element">  </a> </td>
																		<td> <a href="../elements/81415f48-2ef6-47ed-a0db-b90477793046.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/776bbf9e-3c65-47a6-a42c-9a8a7f57b90c.html" target="element"> Recursos Humanos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/81e119f6-6f6e-41a6-be1f-1f72dd302156.html" target="element">  </a> </td>
																		<td> <a href="../elements/81e119f6-6f6e-41a6-be1f-1f72dd302156.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/e44a9a2d-3150-4b98-8409-8670c5052d47.html" target="element"> An&#225;lisis de Informaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ef677826-4e96-4e7f-8286-a1fa63b53780.html" target="element">  </a> </td>
																		<td> <a href="../elements/ef677826-4e96-4e7f-8286-a1fa63b53780.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/5fcee778-3111-4791-9e7c-c2a3a95b091a.html" target="element"> Flujos de Trabajo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/80137361-6614-4eb6-8e37-c42ca17a14e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/80137361-6614-4eb6-8e37-c42ca17a14e8.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
																		<td> <a href="../elements/3e79917f-219c-4ded-afd6-ec4d5737d02d.html" target="element"> Mesa de ayuda </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3ba41b52-f0f0-4860-a8c9-c1d3706567aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/3ba41b52-f0f0-4860-a8c9-c1d3706567aa.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
																		<td> <a href="../elements/083898ce-972c-4acf-8eb5-cd784e5a09e9.html" target="element"> Facturaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ea43d500-439b-4299-aca5-e9fab629c499.html" target="element">  </a> </td>
																		<td> <a href="../elements/ea43d500-439b-4299-aca5-e9fab629c499.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
																		<td> <a href="../elements/97021887-aab3-4fc8-a5b2-1dbf9ddcf5e0.html" target="element"> Atenci&#243;n al Cliente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a20cfc68-a21d-4b8d-a325-cf1a9c992e11.html" target="element">  </a> </td>
																		<td> <a href="../elements/a20cfc68-a21d-4b8d-a325-cf1a9c992e11.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
																		<td> <a href="../elements/056c2963-e956-43b4-b1ef-330303af1fe4.html" target="element"> Recaudo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ac37df65-e16f-42e3-80b2-212abb519880.html" target="element">  </a> </td>
																		<td> <a href="../elements/ac37df65-e16f-42e3-80b2-212abb519880.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
																		<td> <a href="../elements/49947a56-3b4e-4eb2-aa48-febf8924471b.html" target="element"> Cartera </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3b16b9de-4143-4c49-9869-d3158f500efa.html" target="element">  </a> </td>
																		<td> <a href="../elements/3b16b9de-4143-4c49-9869-d3158f500efa.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
																		<td> <a href="../elements/0fa54e45-4310-45af-b8b3-141f703c26f8.html" target="element"> Vinculaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ad81fa8c-6b65-4790-bb4b-d9a4a2a48f1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/ad81fa8c-6b65-4790-bb4b-d9a4a2a48f1c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/25323952-995f-4c83-9242-ba010a3ef685.html" target="element"> Facturaci&#243;n </a> </td>
																		<td> <a href="../elements/cedb235b-e86a-475f-82a1-08fb81dd596b.html" target="element"> Medici&#243;n </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>