<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Firma Digital. Series Documentales Asociadas</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Firma Digital. Series Documentales Asociadas</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/7aa48a42-bb69-45f6-b144-2ae224a13e5a.png" alt="Firma Digital. Series Documentales Asociadas" usemap="#7aa48a42-bb69-45f6-b144-2ae224a13e5amap"/>
			   <map name="7aa48a42-bb69-45f6-b144-2ae224a13e5amap">
				  		<area shape="rect" coords="10,262,146,317" href="../elements/id-6212a0282c244cedbb19b62f4163462d.html"  target="element">
				  		<area shape="rect" coords="10,202,146,257" href="../elements/70cf1451-51fe-447a-bf3b-b327ab8a0ceb.html"  target="element">
				  		<area shape="rect" coords="10,142,146,197" href="../elements/e412c6e5-a4f1-444f-8d8d-c7c9152b2e51.html"  target="element">
				  		<area shape="rect" coords="10,82,146,137" href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html"  target="element">
				  				<area shape="rect" coords="827,322,947,377" href="../elements/id-2557b47b63bb49e29fd2994ba8fdbdb8.html"  target="element">
				  				<area shape="rect" coords="371,82,491,137" href="../elements/id-4167f9e5abfb4abe94eb8b897f44b153.html"  target="element">
				  				<area shape="rect" coords="371,202,491,257" href="../elements/id-e1ce46e2f57442b78d8f04c9170130a1.html"  target="element">
				  				<area shape="rect" coords="827,202,947,257" href="../elements/id-f351b70048d0425e82feb48681cb5b1c.html"  target="element">
				  				<area shape="rect" coords="527,142,647,197" href="../elements/id-2949576a0e6e4759ba4d0aac60447c9f.html"  target="element">
				  				<area shape="rect" coords="227,142,347,197" href="../elements/id-092ed38c877b49829c68bf1f7d4c11e7.html"  target="element">
				  				<area shape="rect" coords="827,82,947,137" href="../elements/id-6503868eb5484a83a294bd2113644715.html"  target="element">
				  				<area shape="rect" coords="827,142,947,197" href="../elements/id-769c7e81012843489b229978fe1b7737.html"  target="element">
				  				<area shape="rect" coords="371,142,491,197" href="../elements/id-02f675e6a6214e1aa0ca9773a8f9094c.html"  target="element">
				  				<area shape="rect" coords="527,202,647,257" href="../elements/id-0dbf5d7266664484a41c39cdab77389d.html"  target="element">
				  				<area shape="rect" coords="683,262,803,317" href="../elements/id-3c5dec15b0864895a4009ca9b6981eed.html"  target="element">
				  				<area shape="rect" coords="227,202,347,257" href="../elements/id-d6245b7f063142a683bc862aa75a306a.html"  target="element">
				  				<area shape="rect" coords="683,142,803,197" href="../elements/id-20ed6f9d7321418987a5da7aec7a76c7.html"  target="element">
				  				<area shape="rect" coords="527,82,647,137" href="../elements/id-757b51f5616045b2810672ed00934f05.html"  target="element">
				  				<area shape="rect" coords="227,262,347,317" href="../elements/id-ca5e5689a4894d0ebb84d0d7509e6c0c.html"  target="element">
				  				<area shape="rect" coords="527,262,647,317" href="../elements/id-bcdd81f1b70649519a305270e49c1269.html"  target="element">
				  				<area shape="rect" coords="683,82,803,137" href="../elements/id-2dc9edef32f94a0e97845feea161d6bb.html"  target="element">
				  				<area shape="rect" coords="227,82,347,137" href="../elements/id-951650b864684846a300f960d723f438.html"  target="element">
				  				<area shape="rect" coords="683,202,803,257" href="../elements/id-90302201fadc4317be029045c6109727.html"  target="element">
				  				<area shape="rect" coords="827,262,947,317" href="../elements/id-ebb8e8e67bf442e7bcf7d4769dd92b12.html"  target="element">
				  				<area shape="rect" coords="371,262,491,317" href="../elements/id-b2b4a74f49b04281bb1cdb9c34dafb11.html"  target="element">

				  		<area shape="rect" coords="179,10,1031,502" href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Informe Diagn&#243;stico Tecnol&#243;gico. Tipos de firmas que usan los tipod documentales por dependencia de la EAAB 

Series documentales priorizadas para Firma Digital, seg&#250;n los medios en que se producen los documentos en la EAAB.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
											    <td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b2b4a74f49b04281bb1cdb9c34dafb11.html" target="element"> Serie 47. Registro de Acceso a las Instalaciones </a> </td>
													    <td> <a href="../elements/id-b2b4a74f49b04281bb1cdb9c34dafb11.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ebb8e8e67bf442e7bcf7d4769dd92b12.html" target="element"> Serie 38. Portafolio de Inversiones Financieras </a> </td>
													    <td> <a href="../elements/id-ebb8e8e67bf442e7bcf7d4769dd92b12.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-90302201fadc4317be029045c6109727.html" target="element"> Serie 43. Proyectos </a> </td>
													    <td> <a href="../elements/id-90302201fadc4317be029045c6109727.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-951650b864684846a300f960d723f438.html" target="element"> Serie 10. Conceptos </a> </td>
													    <td> <a href="../elements/id-951650b864684846a300f960d723f438.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2dc9edef32f94a0e97845feea161d6bb.html" target="element"> Serie 52. Registros de Laboratorios </a> </td>
													    <td> <a href="../elements/id-2dc9edef32f94a0e97845feea161d6bb.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bcdd81f1b70649519a305270e49c1269.html" target="element"> Serie 5. Acuerdos de Servicios Compartidos </a> </td>
													    <td> <a href="../elements/id-bcdd81f1b70649519a305270e49c1269.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ca5e5689a4894d0ebb84d0d7509e6c0c.html" target="element"> Serie 1. Acciones Constitucionales </a> </td>
													    <td> <a href="../elements/id-ca5e5689a4894d0ebb84d0d7509e6c0c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-757b51f5616045b2810672ed00934f05.html" target="element"> Serie 25. Informes </a> </td>
													    <td> <a href="../elements/id-757b51f5616045b2810672ed00934f05.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-20ed6f9d7321418987a5da7aec7a76c7.html" target="element"> Serie 24. Historias Laborales </a> </td>
													    <td> <a href="../elements/id-20ed6f9d7321418987a5da7aec7a76c7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d6245b7f063142a683bc862aa75a306a.html" target="element"> Serie 42. Programas </a> </td>
													    <td> <a href="../elements/id-d6245b7f063142a683bc862aa75a306a.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3c5dec15b0864895a4009ca9b6981eed.html" target="element"> Serie 17. Estudios T&#233;cnicos </a> </td>
													    <td> <a href="../elements/id-3c5dec15b0864895a4009ca9b6981eed.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0dbf5d7266664484a41c39cdab77389d.html" target="element"> Serie 19. Historiales de Mantenimiento de Plantas Estaci&#243;n y Tanques </a> </td>
													    <td> <a href="../elements/id-0dbf5d7266664484a41c39cdab77389d.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-02f675e6a6214e1aa0ca9773a8f9094c.html" target="element"> Serie 2. Actas </a> </td>
													    <td> <a href="../elements/id-02f675e6a6214e1aa0ca9773a8f9094c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-769c7e81012843489b229978fe1b7737.html" target="element"> Serie 36. Planes </a> </td>
													    <td> <a href="../elements/id-769c7e81012843489b229978fe1b7737.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6503868eb5484a83a294bd2113644715.html" target="element"> Serie 55. Registros Hidrol&#243;gicos y Meteorol&#243;gicos  </a> </td>
													    <td> <a href="../elements/id-6503868eb5484a83a294bd2113644715.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-092ed38c877b49829c68bf1f7d4c11e7.html" target="element"> Serie 32. N&#243;minas </a> </td>
													    <td> <a href="../elements/id-092ed38c877b49829c68bf1f7d4c11e7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2949576a0e6e4759ba4d0aac60447c9f.html" target="element"> Serie 12. Contratos </a> </td>
													    <td> <a href="../elements/id-2949576a0e6e4759ba4d0aac60447c9f.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f351b70048d0425e82feb48681cb5b1c.html" target="element"> Serie 63. Procesos Tribunal de Arbitraje </a> </td>
													    <td> <a href="../elements/id-f351b70048d0425e82feb48681cb5b1c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e1ce46e2f57442b78d8f04c9170130a1.html" target="element"> Serie 56. Registro Pr&#233;stamos de Vivienda </a> </td>
													    <td> <a href="../elements/id-e1ce46e2f57442b78d8f04c9170130a1.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4167f9e5abfb4abe94eb8b897f44b153.html" target="element"> Serie 14. Cuotas Partes Pensionales </a> </td>
													    <td> <a href="../elements/id-4167f9e5abfb4abe94eb8b897f44b153.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2557b47b63bb49e29fd2994ba8fdbdb8.html" target="element"> Serie 18. Historiales de Equipo y Maquinaria </a> </td>
													    <td> <a href="../elements/id-2557b47b63bb49e29fd2994ba8fdbdb8.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element"> FUNC320. Firma digital de documento / correo </a> </td>
											    <td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e412c6e5-a4f1-444f-8d8d-c7c9152b2e51.html" target="element"> FUNC321. Firma cronol&#243;gica (estampa de tiempo) al documento </a> </td>
											    <td> <a href="../elements/e412c6e5-a4f1-444f-8d8d-c7c9152b2e51.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/70cf1451-51fe-447a-bf3b-b327ab8a0ceb.html" target="element"> FUNC322. Firma electr&#243;nica al documento </a> </td>
											    <td> <a href="../elements/70cf1451-51fe-447a-bf3b-b327ab8a0ceb.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6212a0282c244cedbb19b62f4163462d.html" target="element"> FUNC323. Firma digitalizada </a> </td>
											    <td> <a href="../elements/id-6212a0282c244cedbb19b62f4163462d.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-1fa98d99c7fb4153a5e930420e09e742.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1fa98d99c7fb4153a5e930420e09e742.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-90302201fadc4317be029045c6109727.html" target="element"> Serie 43. Proyectos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fbd3dc2e2b014b99b86a15dd3ac462ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fbd3dc2e2b014b99b86a15dd3ac462ae.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-bcdd81f1b70649519a305270e49c1269.html" target="element"> Serie 5. Acuerdos de Servicios Compartidos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-52085ea824c14f0dbe5f8decffd4cc27.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-52085ea824c14f0dbe5f8decffd4cc27.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-f351b70048d0425e82feb48681cb5b1c.html" target="element"> Serie 63. Procesos Tribunal de Arbitraje </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1fa3d27b75054c908892a555149744a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1fa3d27b75054c908892a555149744a4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-6503868eb5484a83a294bd2113644715.html" target="element"> Serie 55. Registros Hidrol&#243;gicos y Meteorol&#243;gicos  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7ba82c1ad3cf4bcb97bf0f87d0c0a736.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7ba82c1ad3cf4bcb97bf0f87d0c0a736.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-ebb8e8e67bf442e7bcf7d4769dd92b12.html" target="element"> Serie 38. Portafolio de Inversiones Financieras </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-798c856ebeb24e5abeba91174868e4d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-798c856ebeb24e5abeba91174868e4d0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-20ed6f9d7321418987a5da7aec7a76c7.html" target="element"> Serie 24. Historias Laborales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3ee0ca3919f847ebb74816cd2a0da8f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ee0ca3919f847ebb74816cd2a0da8f7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-092ed38c877b49829c68bf1f7d4c11e7.html" target="element"> Serie 32. N&#243;minas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-baa77455b82149468921b698d47eb09c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-baa77455b82149468921b698d47eb09c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-2dc9edef32f94a0e97845feea161d6bb.html" target="element"> Serie 52. Registros de Laboratorios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-43b85960a0cc40d481781e040cb9d0b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43b85960a0cc40d481781e040cb9d0b1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-757b51f5616045b2810672ed00934f05.html" target="element"> Serie 25. Informes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-36da0fdd23204266aa13dce889f96b80.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-36da0fdd23204266aa13dce889f96b80.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-4167f9e5abfb4abe94eb8b897f44b153.html" target="element"> Serie 14. Cuotas Partes Pensionales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3a6dcf8df03c4a2cb7cdf5d87ea48c05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a6dcf8df03c4a2cb7cdf5d87ea48c05.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-ca5e5689a4894d0ebb84d0d7509e6c0c.html" target="element"> Serie 1. Acciones Constitucionales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-880f6a9bb5d24382ba3666145d5ccc1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-880f6a9bb5d24382ba3666145d5ccc1f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-3c5dec15b0864895a4009ca9b6981eed.html" target="element"> Serie 17. Estudios T&#233;cnicos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-06976695aa014ea686518dcd61d20816.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06976695aa014ea686518dcd61d20816.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-2949576a0e6e4759ba4d0aac60447c9f.html" target="element"> Serie 12. Contratos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2a35a956c2e54041bc504eacdc2aafbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a35a956c2e54041bc504eacdc2aafbd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-951650b864684846a300f960d723f438.html" target="element"> Serie 10. Conceptos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cb2e57dd681b47d9a863909981652e67.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cb2e57dd681b47d9a863909981652e67.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-769c7e81012843489b229978fe1b7737.html" target="element"> Serie 36. Planes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8ac2b248cbd541f185a39c000d8c27e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ac2b248cbd541f185a39c000d8c27e8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-0dbf5d7266664484a41c39cdab77389d.html" target="element"> Serie 19. Historiales de Mantenimiento de Plantas Estaci&#243;n y Tanques </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e0e4cd8dfefb410db46f84f808a3b8ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0e4cd8dfefb410db46f84f808a3b8ad.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-02f675e6a6214e1aa0ca9773a8f9094c.html" target="element"> Serie 2. Actas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c8c24082aae64ec98c91f2f2612a6a1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8c24082aae64ec98c91f2f2612a6a1d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-d6245b7f063142a683bc862aa75a306a.html" target="element"> Serie 42. Programas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eea717aaf0f2421184966fdba5a3af8f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eea717aaf0f2421184966fdba5a3af8f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-b2b4a74f49b04281bb1cdb9c34dafb11.html" target="element"> Serie 47. Registro de Acceso a las Instalaciones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fe048776632847b5be035553971843fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe048776632847b5be035553971843fd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-e1ce46e2f57442b78d8f04c9170130a1.html" target="element"> Serie 56. Registro Pr&#233;stamos de Vivienda </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/488b93a4-9c2b-4bf8-a4f6-5f555ff20dd3.html" target="element">  </a> </td>
																		<td> <a href="../elements/488b93a4-9c2b-4bf8-a4f6-5f555ff20dd3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/012377c2-6b18-475e-a1b5-c89197aff04b.html" target="element"> Principales Series Documentales Asociadas a Firma Digital </a> </td>
																		<td> <a href="../elements/id-2557b47b63bb49e29fd2994ba8fdbdb8.html" target="element"> Serie 18. Historiales de Equipo y Maquinaria </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-50df0aad30ae43c3ac6a9f168a89fd2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-50df0aad30ae43c3ac6a9f168a89fd2a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element"> FUNC320. Firma digital de documento / correo </a> </td>
																		<td> <a href="../elements/id-951650b864684846a300f960d723f438.html" target="element"> Serie 10. Conceptos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e9b1e295084d4f21915fc173d43a9b63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9b1e295084d4f21915fc173d43a9b63.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element"> FUNC320. Firma digital de documento / correo </a> </td>
																		<td> <a href="../elements/id-4167f9e5abfb4abe94eb8b897f44b153.html" target="element"> Serie 14. Cuotas Partes Pensionales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74fa443f6ae04ba588dc460ce1b59e70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74fa443f6ae04ba588dc460ce1b59e70.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element"> FUNC320. Firma digital de documento / correo </a> </td>
																		<td> <a href="../elements/id-092ed38c877b49829c68bf1f7d4c11e7.html" target="element"> Serie 32. N&#243;minas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e3375ee753ce412f853089d12d5a8941.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3375ee753ce412f853089d12d5a8941.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element"> FUNC320. Firma digital de documento / correo </a> </td>
																		<td> <a href="../elements/id-02f675e6a6214e1aa0ca9773a8f9094c.html" target="element"> Serie 2. Actas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0fa7bb2c631b4afab3f42067066b335d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0fa7bb2c631b4afab3f42067066b335d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element"> FUNC320. Firma digital de documento / correo </a> </td>
																		<td> <a href="../elements/id-20ed6f9d7321418987a5da7aec7a76c7.html" target="element"> Serie 24. Historias Laborales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d8b2eda8ebf24fe38ad6983bdf2855cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d8b2eda8ebf24fe38ad6983bdf2855cc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element"> FUNC320. Firma digital de documento / correo </a> </td>
																		<td> <a href="../elements/id-d6245b7f063142a683bc862aa75a306a.html" target="element"> Serie 42. Programas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28b8212a910947a8ba6f9f03bda1b582.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28b8212a910947a8ba6f9f03bda1b582.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element"> FUNC320. Firma digital de documento / correo </a> </td>
																		<td> <a href="../elements/id-757b51f5616045b2810672ed00934f05.html" target="element"> Serie 25. Informes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e08f381720a1417c9f2d02caba52a080.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e08f381720a1417c9f2d02caba52a080.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element"> FUNC320. Firma digital de documento / correo </a> </td>
																		<td> <a href="../elements/id-2949576a0e6e4759ba4d0aac60447c9f.html" target="element"> Serie 12. Contratos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e08f381720a1417c9f2d02caba52a080.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e08f381720a1417c9f2d02caba52a080.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element"> FUNC320. Firma digital de documento / correo </a> </td>
																		<td> <a href="../elements/id-2949576a0e6e4759ba4d0aac60447c9f.html" target="element"> Serie 12. Contratos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-21f7209e4b6a40bb83abfcbf871faad3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-21f7209e4b6a40bb83abfcbf871faad3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element"> FUNC320. Firma digital de documento / correo </a> </td>
																		<td> <a href="../elements/id-bcdd81f1b70649519a305270e49c1269.html" target="element"> Serie 5. Acuerdos de Servicios Compartidos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9dc8b31897a84e0ea2a5e5a5d8e4e824.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9dc8b31897a84e0ea2a5e5a5d8e4e824.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element"> FUNC320. Firma digital de documento / correo </a> </td>
																		<td> <a href="../elements/id-769c7e81012843489b229978fe1b7737.html" target="element"> Serie 36. Planes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0d53edb18648466c82735997821a91e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d53edb18648466c82735997821a91e2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6212a0282c244cedbb19b62f4163462d.html" target="element"> FUNC323. Firma digitalizada </a> </td>
																		<td> <a href="../elements/id-951650b864684846a300f960d723f438.html" target="element"> Serie 10. Conceptos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-055ae90e88ef44d285d248b1f12569c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-055ae90e88ef44d285d248b1f12569c9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6212a0282c244cedbb19b62f4163462d.html" target="element"> FUNC323. Firma digitalizada </a> </td>
																		<td> <a href="../elements/id-ca5e5689a4894d0ebb84d0d7509e6c0c.html" target="element"> Serie 1. Acciones Constitucionales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e51f0c66f159462cb8606fdde1591c5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e51f0c66f159462cb8606fdde1591c5c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6212a0282c244cedbb19b62f4163462d.html" target="element"> FUNC323. Firma digitalizada </a> </td>
																		<td> <a href="../elements/id-f351b70048d0425e82feb48681cb5b1c.html" target="element"> Serie 63. Procesos Tribunal de Arbitraje </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e7b0c084b8344a83b187661f02dc59f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e7b0c084b8344a83b187661f02dc59f3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6212a0282c244cedbb19b62f4163462d.html" target="element"> FUNC323. Firma digitalizada </a> </td>
																		<td> <a href="../elements/id-d6245b7f063142a683bc862aa75a306a.html" target="element"> Serie 42. Programas </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>