<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Reqr 5.4</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Reqr 5.4</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b426a8d6-24d3-4756-bcfa-dde4a94aaad5.png" alt="Reqr 5.4" usemap="#b426a8d6-24d3-4756-bcfa-dde4a94aaad5map"/>
			   <map name="b426a8d6-24d3-4756-bcfa-dde4a94aaad5map">
				  		<area shape="rect" coords="238,394,358,449" href="../elements/8f3f7cac-e310-4fae-9723-87bebd89275d.html"  target="element">
				  		<area shape="rect" coords="178,334,298,389" href="../elements/4ed7f74d-e290-4314-99e6-c69e50b03a7e.html"  target="element">
				  		<area shape="rect" coords="10,286,130,341" href="../elements/3b902388-118d-4084-a32e-840523a8eeb1.html"  target="element">
				  		<area shape="rect" coords="10,95,130,150" href="../elements/23b320d4-cf44-418d-98ad-1cca27bab0c2.html"  target="element">
				  				<area shape="rect" coords="340,94,460,149" href="../elements/4213cf70-afcd-479c-a1b2-33658ac43ea6.html"  target="element">
				  				<area shape="rect" coords="190,94,310,149" href="../elements/ae096203-fa39-4b39-905c-b2dbe3207779.html"  target="element">

				  		<area shape="rect" coords="178,10,622,166" href="../elements/610db0a4-c95a-4b78-8bca-528e259cf18b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/610db0a4-c95a-4b78-8bca-528e259cf18b.html" target="element"> Espacio de Soluci&#243;n EAAB </a> </td>
											    <td> <a href="../elements/610db0a4-c95a-4b78-8bca-528e259cf18b.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ae096203-fa39-4b39-905c-b2dbe3207779.html" target="element"> Cat&#225;logo firmas digitales EAAB </a> </td>
													    <td> <a href="../elements/ae096203-fa39-4b39-905c-b2dbe3207779.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4213cf70-afcd-479c-a1b2-33658ac43ea6.html" target="element"> Cat&#225;logo firmas digitales SGDEA </a> </td>
													    <td> <a href="../elements/4213cf70-afcd-479c-a1b2-33658ac43ea6.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/23b320d4-cf44-418d-98ad-1cca27bab0c2.html" target="element"> Determinar la cantidad de firmas digitales (en uso y requeridas) </a> </td>
											    <td> <a href="../elements/23b320d4-cf44-418d-98ad-1cca27bab0c2.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3b902388-118d-4084-a32e-840523a8eeb1.html" target="element"> Determinar la cantidad de firmas digitales (en uso y requeridas) </a> </td>
											    <td> <a href="../elements/3b902388-118d-4084-a32e-840523a8eeb1.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4ed7f74d-e290-4314-99e6-c69e50b03a7e.html" target="element"> Cat&#225;logo firmas digitales EAAB </a> </td>
											    <td> <a href="../elements/4ed7f74d-e290-4314-99e6-c69e50b03a7e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8f3f7cac-e310-4fae-9723-87bebd89275d.html" target="element"> Cat&#225;logo firmas digitales SGDEA </a> </td>
											    <td> <a href="../elements/8f3f7cac-e310-4fae-9723-87bebd89275d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/1ce7f3d1-6c93-44c4-afad-28cc138744b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/1ce7f3d1-6c93-44c4-afad-28cc138744b7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/610db0a4-c95a-4b78-8bca-528e259cf18b.html" target="element"> Espacio de Soluci&#243;n EAAB </a> </td>
																		<td> <a href="../elements/ae096203-fa39-4b39-905c-b2dbe3207779.html" target="element"> Cat&#225;logo firmas digitales EAAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/adc6eb4e-d8e2-4984-b5de-4d6494c1887a.html" target="element">  </a> </td>
																		<td> <a href="../elements/adc6eb4e-d8e2-4984-b5de-4d6494c1887a.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/610db0a4-c95a-4b78-8bca-528e259cf18b.html" target="element"> Espacio de Soluci&#243;n EAAB </a> </td>
																		<td> <a href="../elements/4213cf70-afcd-479c-a1b2-33658ac43ea6.html" target="element"> Cat&#225;logo firmas digitales SGDEA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-942d52fc443447cc855113b68a39469b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-942d52fc443447cc855113b68a39469b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/610db0a4-c95a-4b78-8bca-528e259cf18b.html" target="element"> Espacio de Soluci&#243;n EAAB </a> </td>
																		<td> <a href="../elements/23b320d4-cf44-418d-98ad-1cca27bab0c2.html" target="element"> Determinar la cantidad de firmas digitales (en uso y requeridas) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/0340c508-d5cd-46ed-a7cc-5e23644c2eaf.html" target="element">  </a> </td>
																		<td> <a href="../elements/0340c508-d5cd-46ed-a7cc-5e23644c2eaf.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3b902388-118d-4084-a32e-840523a8eeb1.html" target="element"> Determinar la cantidad de firmas digitales (en uso y requeridas) </a> </td>
																		<td> <a href="../elements/23b320d4-cf44-418d-98ad-1cca27bab0c2.html" target="element"> Determinar la cantidad de firmas digitales (en uso y requeridas) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7e73d5e4-c62d-4ea2-a000-a4d5916b9c09.html" target="element">  </a> </td>
																		<td> <a href="../elements/7e73d5e4-c62d-4ea2-a000-a4d5916b9c09.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/4ed7f74d-e290-4314-99e6-c69e50b03a7e.html" target="element"> Cat&#225;logo firmas digitales EAAB </a> </td>
																		<td> <a href="../elements/3b902388-118d-4084-a32e-840523a8eeb1.html" target="element"> Determinar la cantidad de firmas digitales (en uso y requeridas) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/acb3985d-bdce-41b9-862f-5875022a1e32.html" target="element">  </a> </td>
																		<td> <a href="../elements/acb3985d-bdce-41b9-862f-5875022a1e32.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/8f3f7cac-e310-4fae-9723-87bebd89275d.html" target="element"> Cat&#225;logo firmas digitales SGDEA </a> </td>
																		<td> <a href="../elements/3b902388-118d-4084-a32e-840523a8eeb1.html" target="element"> Determinar la cantidad de firmas digitales (en uso y requeridas) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>