<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Firma Digital. BMM</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Firma Digital. BMM</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b4328add-240c-42c4-b8b4-892e3931d952.png" alt="Firma Digital. BMM" usemap="#b4328add-240c-42c4-b8b4-892e3931d952map"/>
			   <map name="b4328add-240c-42c4-b8b4-892e3931d952map">
				  				<area shape="rect" coords="898,190,1059,245" href="../elements/id-20002075d654495392ad0572e5764a3f.html"  target="element">
				  				<area shape="rect" coords="730,190,891,245" href="../elements/id-52f84dd7ffa6441d9391d31156a9d89a.html"  target="element">
				  				<area shape="rect" coords="1066,130,1234,185" href="../elements/id-5c6cd39ec5064b85b7e69cb0687c8035.html"  target="element">
				  				<area shape="rect" coords="1066,70,1227,125" href="../elements/98f0baee-0ab8-4f3b-b121-e3b67181929f.html"  target="element">
				  				<area shape="rect" coords="898,70,1059,125" href="../elements/6161a29b-ba56-4f22-8537-a4f38053e731.html"  target="element">
				  				<area shape="rect" coords="730,70,891,125" href="../elements/155abf7e-8648-48e5-b320-6eea64ef8ce8.html"  target="element">
				  				<area shape="rect" coords="730,130,891,185" href="../elements/df76f48c-3f4b-4df6-8bad-c37d7b0a03b6.html"  target="element">
				  				<area shape="rect" coords="898,130,1059,185" href="../elements/dec24974-18e8-4a17-9389-a7caa37d19b3.html"  target="element">

				  		<area shape="rect" coords="694,10,1294,311" href="../elements/id-6cb1d5ac4cc94f82b926d6d9a3d4e098.html"  target="element">
				  		<area shape="rect" coords="422,167,583,222" href="../elements/b969157c-06ce-4738-8ba7-ced68f1b388a.html"  target="element">
				  		<area shape="rect" coords="422,95,583,150" href="../elements/da254e01-4bc2-459b-8a1e-e104ac573f3b.html"  target="element">
				  		<area shape="rect" coords="10,335,255,390" href="../elements/f709c269-d64a-40cc-9f86-9f45ddb0acff.html"  target="element">
				  		<area shape="rect" coords="10,11,255,66" href="../elements/17e7c40e-9575-45c3-a60d-34fe8fa74a64.html"  target="element">
				  		<area shape="rect" coords="10,275,255,330" href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html"  target="element">
				  		<area shape="rect" coords="10,133,255,188" href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html"  target="element">
				  		<area shape="rect" coords="10,71,255,126" href="../elements/b2b911bf-c72c-4445-b5a7-4431b03e6bab.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">#### Motivaciones de la EAAB para la implementaci&#243;n del SGDEA integral
Las motivaciones misionales que dirigen a la EAAB ESP a la implementaci&#243;n de un SGDEA integral que ser&#225; el "ERP" de gesti&#243;n documental de toda la organizaci&#243;n. 

Evidenciar y validar, junto con EAAB, las motivaciones misionales que dirigir&#225;n las decisiones de dise&#241;o del SGDEA. Listar y definir los principios misionales que el equipo contratista enfrentar&#225; y har&#225; cumplir en el trabajo de dise&#241;o del SGDEA integral. Lo anterior sirve para convertir las motivaciones en acciones, objetivos y expectativas de resultados de la ejecuci&#243;n del contrato de dise&#241;o.

&gt; **Definir y apegarse a las motivaciones acordadas, como Mejorar el desempen&#771;o de las comunicaciones oficiales EAAB (MOT02 en la vista), ayudar&#225; a prever calidades globales del tabajo del contratista** y establecer&#225; consideraciones de impacto general al producto de dise&#241;o establecido en el objeto del contrato y a la soluci&#243;n del SGDEA integral. Las motivaciones misionales terminan convirti&#233;ndose en acciones que aportan al cumplimiento contractual. 

&gt; **Los objetivos y las expectativas de resultados, como Seguridad y controles de acceso (GOL200 en la vista), convierten a las motivaciones misionales en acciones macro o hitos de acci&#243;n** del proyecto de dise&#241;o del SGDEA. Sirven por tanto, para enfocar y gestionar el avance del proyecto completo de dise&#241;o del SGDEA. 

Las motivaciones misionales, y el impacto global que tienen en el proyecto, act&#250;an como marco de referencia beneficiario de la calidad del producto de dise&#241;o del SGDEA, y como directriz para las decisiones y las acciones del proyecto.

Como estrategia del contexto de EAAB, si bien la mayori&#769;a de los documentos en EAAB son fi&#769;sicos (fuente: Diagn&#243;stico Tecnol&#243;gico), las series documentales asociadas a firma digital son las asociadas solo con documentos electro&#769;nicos (disinto de digital y f&#237;sico). Del mismo informe: como hay un porcentaje importante de documentos: Actas, Informes y Comunicaciones oficiales, *la soluci&#243;n SGDEA de EAAB debe incluir como primera medida todas estas series para empiecen a contar con firma electro&#769;nica o digital*. Estos documentos que se podri&#769;an crear por medio de plantillas, lo cual facilita su firmado y almacenamiento en del SGDEA.
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/b2b911bf-c72c-4445-b5a7-4431b03e6bab.html" target="element"> MOT01. Aplicar el procedimiento documental correctamente (riesgo de sustracci&#243;n) </a> </td>
											    <td> <a href="../elements/b2b911bf-c72c-4445-b5a7-4431b03e6bab.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html" target="element"> MOT02. Mejorar el desempen&#771;o de las comunicaciones oficiales EAAB </a> </td>
											    <td> <a href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html" target="element"> MOT03. Soluci&#243;n u&#769;nica para la gestio&#769;n documental de la EAAB </a> </td>
											    <td> <a href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17e7c40e-9575-45c3-a60d-34fe8fa74a64.html" target="element"> MOT04. Controlar el riesgo de pe&#769;rdida de informacio&#769;n </a> </td>
											    <td> <a href="../elements/17e7c40e-9575-45c3-a60d-34fe8fa74a64.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f709c269-d64a-40cc-9f86-9f45ddb0acff.html" target="element"> MOT05. Incrementar completitud de las actividades archiv&#237;sticas EAAB </a> </td>
											    <td> <a href="../elements/f709c269-d64a-40cc-9f86-9f45ddb0acff.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/da254e01-4bc2-459b-8a1e-e104ac573f3b.html" target="element"> GOL200. Seguridad y Controles de Acceso </a> </td>
											    <td> <a href="../elements/da254e01-4bc2-459b-8a1e-e104ac573f3b.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b969157c-06ce-4738-8ba7-ced68f1b388a.html" target="element"> GOL201. Soluci&#243;n Integral de Autenticidad </a> </td>
											    <td> <a href="../elements/b969157c-06ce-4738-8ba7-ced68f1b388a.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6cb1d5ac4cc94f82b926d6d9a3d4e098.html" target="element"> Modelo de Requerimientos del Alcance de Firma Digital </a> </td>
											    <td> <a href="../elements/id-6cb1d5ac4cc94f82b926d6d9a3d4e098.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/dec24974-18e8-4a17-9389-a7caa37d19b3.html" target="element"> REQ505. Disponibilidad </a> </td>
													    <td> <a href="../elements/dec24974-18e8-4a17-9389-a7caa37d19b3.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/df76f48c-3f4b-4df6-8bad-c37d7b0a03b6.html" target="element"> REQ504. Confidencialidad </a> </td>
													    <td> <a href="../elements/df76f48c-3f4b-4df6-8bad-c37d7b0a03b6.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/155abf7e-8648-48e5-b320-6eea64ef8ce8.html" target="element"> REQ501. Verificaci&#243;n continua del documento </a> </td>
													    <td> <a href="../elements/155abf7e-8648-48e5-b320-6eea64ef8ce8.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6161a29b-ba56-4f22-8537-a4f38053e731.html" target="element"> REQ502. Integridad </a> </td>
													    <td> <a href="../elements/6161a29b-ba56-4f22-8537-a4f38053e731.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/98f0baee-0ab8-4f3b-b121-e3b67181929f.html" target="element"> REQ503. Autenticidad </a> </td>
													    <td> <a href="../elements/98f0baee-0ab8-4f3b-b121-e3b67181929f.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5c6cd39ec5064b85b7e69cb0687c8035.html" target="element"> REQR28. Metadatos de firma digital </a> </td>
													    <td> <a href="../elements/id-5c6cd39ec5064b85b7e69cb0687c8035.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-52f84dd7ffa6441d9391d31156a9d89a.html" target="element"> REQR29. Entorno integrado al servidor de correo electr&#243;nico  </a> </td>
													    <td> <a href="../elements/id-52f84dd7ffa6441d9391d31156a9d89a.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-20002075d654495392ad0572e5764a3f.html" target="element"> REQR31. Tipos de firma digital </a> </td>
													    <td> <a href="../elements/id-20002075d654495392ad0572e5764a3f.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/45b4e9d9-435b-43ca-a5a7-3d98d8c2bbce.html" target="element">  </a> </td>
																		<td> <a href="../elements/45b4e9d9-435b-43ca-a5a7-3d98d8c2bbce.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/b2b911bf-c72c-4445-b5a7-4431b03e6bab.html" target="element"> MOT01. Aplicar el procedimiento documental correctamente (riesgo de sustracci&#243;n) </a> </td>
																		<td> <a href="../elements/da254e01-4bc2-459b-8a1e-e104ac573f3b.html" target="element"> GOL200. Seguridad y Controles de Acceso </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7be1717b-c5ec-42a4-9d8f-9132c922fc64.html" target="element">  </a> </td>
																		<td> <a href="../elements/7be1717b-c5ec-42a4-9d8f-9132c922fc64.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html" target="element"> MOT02. Mejorar el desempen&#771;o de las comunicaciones oficiales EAAB </a> </td>
																		<td> <a href="../elements/b969157c-06ce-4738-8ba7-ced68f1b388a.html" target="element"> GOL201. Soluci&#243;n Integral de Autenticidad </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f82e117b-e628-4334-a698-126cfbe6179a.html" target="element">  </a> </td>
																		<td> <a href="../elements/f82e117b-e628-4334-a698-126cfbe6179a.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html" target="element"> MOT03. Soluci&#243;n u&#769;nica para la gestio&#769;n documental de la EAAB </a> </td>
																		<td> <a href="../elements/b969157c-06ce-4738-8ba7-ced68f1b388a.html" target="element"> GOL201. Soluci&#243;n Integral de Autenticidad </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/179d8c8f-797c-4d79-958a-7269f1cc99f8.html" target="element"> influye </a> </td>
																		<td> <a href="../elements/179d8c8f-797c-4d79-958a-7269f1cc99f8.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/17e7c40e-9575-45c3-a60d-34fe8fa74a64.html" target="element"> MOT04. Controlar el riesgo de pe&#769;rdida de informacio&#769;n </a> </td>
																		<td> <a href="../elements/da254e01-4bc2-459b-8a1e-e104ac573f3b.html" target="element"> GOL200. Seguridad y Controles de Acceso </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d7027952-c886-4f8d-8e78-7e16e2bea201.html" target="element">  </a> </td>
																		<td> <a href="../elements/d7027952-c886-4f8d-8e78-7e16e2bea201.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/f709c269-d64a-40cc-9f86-9f45ddb0acff.html" target="element"> MOT05. Incrementar completitud de las actividades archiv&#237;sticas EAAB </a> </td>
																		<td> <a href="../elements/b969157c-06ce-4738-8ba7-ced68f1b388a.html" target="element"> GOL201. Soluci&#243;n Integral de Autenticidad </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-76235b2a2d024685ac173286e7b0b820.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76235b2a2d024685ac173286e7b0b820.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6cb1d5ac4cc94f82b926d6d9a3d4e098.html" target="element"> Modelo de Requerimientos del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/id-5c6cd39ec5064b85b7e69cb0687c8035.html" target="element"> REQR28. Metadatos de firma digital </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de6a9ce336ca47ed975e9c359d460f7f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de6a9ce336ca47ed975e9c359d460f7f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6cb1d5ac4cc94f82b926d6d9a3d4e098.html" target="element"> Modelo de Requerimientos del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/155abf7e-8648-48e5-b320-6eea64ef8ce8.html" target="element"> REQ501. Verificaci&#243;n continua del documento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5c01f70f62d544cda83db7df8682f5e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5c01f70f62d544cda83db7df8682f5e3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6cb1d5ac4cc94f82b926d6d9a3d4e098.html" target="element"> Modelo de Requerimientos del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/id-20002075d654495392ad0572e5764a3f.html" target="element"> REQR31. Tipos de firma digital </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-731617a796c640ad8d69ac2a9411ebbf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-731617a796c640ad8d69ac2a9411ebbf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6cb1d5ac4cc94f82b926d6d9a3d4e098.html" target="element"> Modelo de Requerimientos del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/98f0baee-0ab8-4f3b-b121-e3b67181929f.html" target="element"> REQ503. Autenticidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e9414747ad2446eb3440e42a6e4442f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e9414747ad2446eb3440e42a6e4442f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6cb1d5ac4cc94f82b926d6d9a3d4e098.html" target="element"> Modelo de Requerimientos del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/id-52f84dd7ffa6441d9391d31156a9d89a.html" target="element"> REQR29. Entorno integrado al servidor de correo electr&#243;nico  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d2d8d0ed93440018b9d983cd7316855.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d2d8d0ed93440018b9d983cd7316855.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6cb1d5ac4cc94f82b926d6d9a3d4e098.html" target="element"> Modelo de Requerimientos del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/dec24974-18e8-4a17-9389-a7caa37d19b3.html" target="element"> REQ505. Disponibilidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d76e96c1f3434e0292df965ec0824aa0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d76e96c1f3434e0292df965ec0824aa0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6cb1d5ac4cc94f82b926d6d9a3d4e098.html" target="element"> Modelo de Requerimientos del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/df76f48c-3f4b-4df6-8bad-c37d7b0a03b6.html" target="element"> REQ504. Confidencialidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f8697b1385fc45cf8ce5c16a4de2b57e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8697b1385fc45cf8ce5c16a4de2b57e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6cb1d5ac4cc94f82b926d6d9a3d4e098.html" target="element"> Modelo de Requerimientos del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/6161a29b-ba56-4f22-8537-a4f38053e731.html" target="element"> REQ502. Integridad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-191734eea67d4a95858f36c598526205.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-191734eea67d4a95858f36c598526205.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-6cb1d5ac4cc94f82b926d6d9a3d4e098.html" target="element"> Modelo de Requerimientos del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/da254e01-4bc2-459b-8a1e-e104ac573f3b.html" target="element"> GOL200. Seguridad y Controles de Acceso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c1ef9910b458458bae2144d7d6ca2517.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1ef9910b458458bae2144d7d6ca2517.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-6cb1d5ac4cc94f82b926d6d9a3d4e098.html" target="element"> Modelo de Requerimientos del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/b969157c-06ce-4738-8ba7-ced68f1b388a.html" target="element"> GOL201. Soluci&#243;n Integral de Autenticidad </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>