<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>BMM</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>BMM</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b4328add-240c-42c4-b8b4-892e3931d952.png" alt="BMM" usemap="#b4328add-240c-42c4-b8b4-892e3931d952map"/>
			   <map name="b4328add-240c-42c4-b8b4-892e3931d952map">
				  		<area shape="rect" coords="10,252,255,307" href="../elements/f709c269-d64a-40cc-9f86-9f45ddb0acff.html"  target="element">
				  		<area shape="rect" coords="10,192,255,247" href="../elements/17e7c40e-9575-45c3-a60d-34fe8fa74a64.html"  target="element">
				  		<area shape="rect" coords="368,264,488,319" href="../elements/931f796e-0bb2-4b6f-ac2e-b9d4926beb5e.html"  target="element">
				  		<area shape="rect" coords="368,181,488,236" href="../elements/63546431-8520-4c24-b9bc-176e16065f98.html"  target="element">
				  		<area shape="rect" coords="10,132,255,187" href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html"  target="element">
				  		<area shape="rect" coords="10,72,255,127" href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html"  target="element">
				  		<area shape="rect" coords="10,10,255,65" href="../elements/b2b911bf-c72c-4445-b5a7-4431b03e6bab.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/b2b911bf-c72c-4445-b5a7-4431b03e6bab.html" target="element"> MOT01. Aplicar el procedimiento documental correctamente (riesgo de sustracci&#243;n) </a> </td>
											    <td> <a href="../elements/b2b911bf-c72c-4445-b5a7-4431b03e6bab.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html" target="element"> MOT02. Mejorar el desempen&#771;o de las comunicaciones oficiales EAAB </a> </td>
											    <td> <a href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html" target="element"> MOT03. Soluci&#243;n u&#769;nica para la gestio&#769;n de la correspondencia de la EAAB </a> </td>
											    <td> <a href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/63546431-8520-4c24-b9bc-176e16065f98.html" target="element"> Fines </a> </td>
											    <td> <a href="../elements/63546431-8520-4c24-b9bc-176e16065f98.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/931f796e-0bb2-4b6f-ac2e-b9d4926beb5e.html" target="element"> Medios </a> </td>
											    <td> <a href="../elements/931f796e-0bb2-4b6f-ac2e-b9d4926beb5e.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17e7c40e-9575-45c3-a60d-34fe8fa74a64.html" target="element"> MOT04. Controlar el riesgo de pe&#769;rdida de informacio&#769;n </a> </td>
											    <td> <a href="../elements/17e7c40e-9575-45c3-a60d-34fe8fa74a64.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f709c269-d64a-40cc-9f86-9f45ddb0acff.html" target="element"> MOT05. Incrementar completitud de las actividades archiv&#237;sticas EAAB </a> </td>
											    <td> <a href="../elements/f709c269-d64a-40cc-9f86-9f45ddb0acff.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/91ea93c3-b464-45e9-8fab-fb08dabcfc0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/91ea93c3-b464-45e9-8fab-fb08dabcfc0b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/b2b911bf-c72c-4445-b5a7-4431b03e6bab.html" target="element"> MOT01. Aplicar el procedimiento documental correctamente (riesgo de sustracci&#243;n) </a> </td>
																		<td> <a href="../elements/63546431-8520-4c24-b9bc-176e16065f98.html" target="element"> Fines </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/db851aa8-b591-4bdc-83a8-aea093205cd9.html" target="element">  </a> </td>
																		<td> <a href="../elements/db851aa8-b591-4bdc-83a8-aea093205cd9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html" target="element"> MOT02. Mejorar el desempen&#771;o de las comunicaciones oficiales EAAB </a> </td>
																		<td> <a href="../elements/63546431-8520-4c24-b9bc-176e16065f98.html" target="element"> Fines </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7797d77c-fc2a-4aaa-a72a-dc93f86bee42.html" target="element">  </a> </td>
																		<td> <a href="../elements/7797d77c-fc2a-4aaa-a72a-dc93f86bee42.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html" target="element"> MOT03. Soluci&#243;n u&#769;nica para la gestio&#769;n de la correspondencia de la EAAB </a> </td>
																		<td> <a href="../elements/63546431-8520-4c24-b9bc-176e16065f98.html" target="element"> Fines </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/2af11dee-0d5e-46e3-92bf-a32317774a80.html" target="element">  </a> </td>
																		<td> <a href="../elements/2af11dee-0d5e-46e3-92bf-a32317774a80.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/931f796e-0bb2-4b6f-ac2e-b9d4926beb5e.html" target="element"> Medios </a> </td>
																		<td> <a href="../elements/63546431-8520-4c24-b9bc-176e16065f98.html" target="element"> Fines </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>