<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Areas</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Areas</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b8e1063d-e5db-4bc0-a8e7-ff726dfddde7.png" alt="Areas" usemap="#b8e1063d-e5db-4bc0-a8e7-ff726dfddde7map"/>
			   <map name="b8e1063d-e5db-4bc0-a8e7-ff726dfddde7map">
				  		<area shape="rect" coords="10,710,130,765" href="../elements/22276a40-8f75-44f9-849a-3afe2e69b197.html"  target="element">
				  		<area shape="rect" coords="310,543,430,598" href="../elements/69293ecf-23e8-449f-aa0e-f4d137b9db39.html"  target="element">
				  		<area shape="rect" coords="160,543,280,598" href="../elements/ebe1b283-927f-4680-aef5-2fdfcb9e84c4.html"  target="element">
				  		<area shape="rect" coords="10,543,130,598" href="../elements/ca280a12-d110-443a-9a43-4ab1404c335e.html"  target="element">
				  		<area shape="rect" coords="310,475,430,530" href="../elements/b71b9895-b1d2-4f09-b7ac-34f81f7f248a.html"  target="element">
				  		<area shape="rect" coords="160,475,280,530" href="../elements/407632da-7865-4dfb-92ba-a1b52ba05e1b.html"  target="element">
				  		<area shape="rect" coords="10,475,130,530" href="../elements/027a7a5c-7218-43b0-9bf7-bd679b3952e2.html"  target="element">
				  		<area shape="rect" coords="310,375,430,430" href="../elements/829e794c-f473-48f6-af86-8039888342a1.html"  target="element">
				  		<area shape="rect" coords="160,375,280,430" href="../elements/33b87c55-bb0f-4eaa-bc5d-86a887f6d856.html"  target="element">
				  		<area shape="rect" coords="10,375,130,430" href="../elements/5a57c786-42fe-423d-942a-71c416eaa93e.html"  target="element">
				  		<area shape="rect" coords="310,275,430,330" href="../elements/e16157bd-2ca6-40c2-961d-eed4ff8d94aa.html"  target="element">
				  		<area shape="rect" coords="160,275,280,330" href="../elements/e86c2ff5-566d-4972-bf06-1803816fd6b5.html"  target="element">
				  		<area shape="rect" coords="10,275,130,330" href="../elements/d8a1a1f5-25c3-442b-b05e-3c42ac64013c.html"  target="element">
				  		<area shape="rect" coords="310,175,430,230" href="../elements/91dbcc47-71a5-4167-baa7-02c9d846805e.html"  target="element">
				  		<area shape="rect" coords="160,175,280,230" href="../elements/3152808d-cdb5-4b76-b397-801511edc48b.html"  target="element">
				  		<area shape="rect" coords="10,175,130,230" href="../elements/23e38a12-2344-44a1-aae4-5aa228b86cfb.html"  target="element">
				  		<area shape="rect" coords="310,75,430,130" href="../elements/9c015b42-8160-4709-86f2-e6fa1338901f.html"  target="element">
				  		<area shape="rect" coords="160,75,280,130" href="../elements/4379d177-d365-47e1-be80-a91877448798.html"  target="element">
				  		<area shape="rect" coords="10,75,130,130" href="../elements/d420e337-96fa-4b55-8f4f-d67809397899.html"  target="element">
				  		<area shape="rect" coords="310,10,430,65" href="../elements/72e9c402-57b6-4dc9-b319-8bb938c39ba5.html"  target="element">
				  		<area shape="rect" coords="160,10,280,65" href="../elements/ef757aa5-e3a8-4ffe-9864-2580f7c946cc.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/ab0a5433-37fa-48aa-b1a0-6ffcecd7de80.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Dir. Abastecimiento
Div. Sistema Norte Abastecimiento
Div. Sistema SUR Abastecimiento
Div. Abastecimiento TIBITOC
Dir. Red Matriz Acueducto
Div. Planeaci&#243;n y Control
Div. Apoyo T&#233;cnico
Div. Centro de Control
Div. Operaci&#243;n y Mantenimiento
Dir. Red Troncal Alcantarillado
Div. Planeaci&#243;n y Operaci&#243;n Red Troncal
Div. Obras Civiles Red Troncal
Dir. Bienes Ra&#237;ces
Div. Jur&#237;dica Predial
Div. T&#233;cnica Predial
Gerencia Corporativa Servicio al Cliente
Gerencias de Zona
Dir. Gesti&#243;n Comunitaria
Dir. Apoyo Comercial
Dir. Apoyo T&#233;cnico
Gerencia de Tecnolog&#237;a
Dir. Ingenier&#237;a Especializada
Dir. Servicios de Electromec&#225;nica
Div. Log&#237;stica de Mantenimiento
Div. T&#225;ctica de Mantenimiento
Div. de Ejecuci&#243;n de Mantenimiento
Dir. Servicios T&#233;cnicos
Dir. Servicios de Inform&#225;tica
Dir. Informaci&#243;n T&#233;cnica y Geogr&#225;fica
Dir. Sistema de Informaci&#243;n Empresarial
Gerencia Corporativa Ambiental
Dir. Gesti&#243;n Ambiental del Sistema H&#237;drico
Dir. Saneamiento Ambiental
https://drive.google.com/file/d/19QNg7hEXa7EmrgJs_9VwAafXwgtrFsko/view?usp=sharing
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/ab0a5433-37fa-48aa-b1a0-6ffcecd7de80.html" target="element"> DEP01. Dir. Gesti&#243;n de Calidad y Procesos </a> </td>
											    <td> <a href="../elements/ab0a5433-37fa-48aa-b1a0-6ffcecd7de80.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ef757aa5-e3a8-4ffe-9864-2580f7c946cc.html" target="element"> DEP02. Dir. Plane y Control de Resultados Corp. </a> </td>
											    <td> <a href="../elements/ef757aa5-e3a8-4ffe-9864-2580f7c946cc.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/72e9c402-57b6-4dc9-b319-8bb938c39ba5.html" target="element"> DEP03. Dir. Planeaci&#243;n y Control de Inversiones </a> </td>
											    <td> <a href="../elements/72e9c402-57b6-4dc9-b319-8bb938c39ba5.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d420e337-96fa-4b55-8f4f-d67809397899.html" target="element"> DEP04. Dir. Plane. y Control Rent. Gastos y Costos </a> </td>
											    <td> <a href="../elements/d420e337-96fa-4b55-8f4f-d67809397899.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4379d177-d365-47e1-be80-a91877448798.html" target="element"> DEP05. Gerencia Corporativa Financiera </a> </td>
											    <td> <a href="../elements/4379d177-d365-47e1-be80-a91877448798.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9c015b42-8160-4709-86f2-e6fa1338901f.html" target="element"> DEP023. Direcci&#243;n Tesorer&#237;a </a> </td>
											    <td> <a href="../elements/9c015b42-8160-4709-86f2-e6fa1338901f.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/23e38a12-2344-44a1-aae4-5aa228b86cfb.html" target="element"> DEP07. Dir. Contabilidad </a> </td>
											    <td> <a href="../elements/23e38a12-2344-44a1-aae4-5aa228b86cfb.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3152808d-cdb5-4b76-b397-801511edc48b.html" target="element"> DEP08. Dir. Presupuesto </a> </td>
											    <td> <a href="../elements/3152808d-cdb5-4b76-b397-801511edc48b.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/91dbcc47-71a5-4167-baa7-02c9d846805e.html" target="element"> DEP09. Dir. Tributaria </a> </td>
											    <td> <a href="../elements/91dbcc47-71a5-4167-baa7-02c9d846805e.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d8a1a1f5-25c3-442b-b05e-3c42ac64013c.html" target="element"> DEP10. Dir. Jurisdicci&#243;n Coactiva </a> </td>
											    <td> <a href="../elements/d8a1a1f5-25c3-442b-b05e-3c42ac64013c.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e86c2ff5-566d-4972-bf06-1803816fd6b5.html" target="element"> DEP11. Dir. An&#225;lisis de Riesgos Financieros </a> </td>
											    <td> <a href="../elements/e86c2ff5-566d-4972-bf06-1803816fd6b5.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e16157bd-2ca6-40c2-961d-eed4ff8d94aa.html" target="element"> DEP12. Gerencia Corporativa Gesti&#243;n Humana y Administrativa </a> </td>
											    <td> <a href="../elements/e16157bd-2ca6-40c2-961d-eed4ff8d94aa.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5a57c786-42fe-423d-942a-71c416eaa93e.html" target="element"> DEP13. Dir. Servicios Administrativos </a> </td>
											    <td> <a href="../elements/5a57c786-42fe-423d-942a-71c416eaa93e.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/33b87c55-bb0f-4eaa-bc5d-86a887f6d856.html" target="element"> DEP14. Dir. Administraci&#243;n Activos Fijos </a> </td>
											    <td> <a href="../elements/33b87c55-bb0f-4eaa-bc5d-86a887f6d856.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/829e794c-f473-48f6-af86-8039888342a1.html" target="element"> DEP15. Div. de Almacenes </a> </td>
											    <td> <a href="../elements/829e794c-f473-48f6-af86-8039888342a1.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/027a7a5c-7218-43b0-9bf7-bd679b3952e2.html" target="element"> DEP16. Dir. Salud </a> </td>
											    <td> <a href="../elements/027a7a5c-7218-43b0-9bf7-bd679b3952e2.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/407632da-7865-4dfb-92ba-a1b52ba05e1b.html" target="element"> DEP17. Div. Salud ocupacional </a> </td>
											    <td> <a href="../elements/407632da-7865-4dfb-92ba-a1b52ba05e1b.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b71b9895-b1d2-4f09-b7ac-34f81f7f248a.html" target="element"> DEP18. Direcci&#243;n Mejoramiento Calidad de Vida </a> </td>
											    <td> <a href="../elements/b71b9895-b1d2-4f09-b7ac-34f81f7f248a.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ca280a12-d110-443a-9a43-4ab1404c335e.html" target="element"> DEP19. Colegio Ram&#243;n B. Jimeno </a> </td>
											    <td> <a href="../elements/ca280a12-d110-443a-9a43-4ab1404c335e.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ebe1b283-927f-4680-aef5-2fdfcb9e84c4.html" target="element"> DEP20. Divisi&#243;n Gesti&#243;n de Compensaciones </a> </td>
											    <td> <a href="../elements/ebe1b283-927f-4680-aef5-2fdfcb9e84c4.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/69293ecf-23e8-449f-aa0e-f4d137b9db39.html" target="element"> DEP21. Dir. Desarrollo Organizacional </a> </td>
											    <td> <a href="../elements/69293ecf-23e8-449f-aa0e-f4d137b9db39.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/22276a40-8f75-44f9-849a-3afe2e69b197.html" target="element"> DEP22. Gerencia Corporativa Sistema Maestro </a> </td>
											    <td> <a href="../elements/22276a40-8f75-44f9-849a-3afe2e69b197.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>