<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Sistemas de Información de Consulta de Documentos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Sistemas de Informaci&#243;n de Consulta de Documentos</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/d2d92825-ad72-447e-9e20-f45661ce25a3.png" alt="Sistemas de Información de Consulta de Documentos" usemap="#d2d92825-ad72-447e-9e20-f45661ce25a3map"/>
			   <map name="d2d92825-ad72-447e-9e20-f45661ce25a3map">
				  		<area shape="rect" coords="550,700,670,755" href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html"  target="element">
				  		<area shape="rect" coords="418,700,538,755" href="../elements/4dc17c2d-8745-4218-b0eb-bbc437f1be7d.html"  target="element">
				  		<area shape="rect" coords="286,700,406,755" href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html"  target="element">
				  		<area shape="rect" coords="154,700,274,755" href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html"  target="element">
				  		<area shape="rect" coords="406,520,526,575" href="../elements/id-769c7e81012843489b229978fe1b7737.html"  target="element">
				  		<area shape="rect" coords="273,520,393,575" href="../elements/id-bcdd81f1b70649519a305270e49c1269.html"  target="element">
				  		<area shape="rect" coords="669,520,789,575" href="../elements/id-b2b4a74f49b04281bb1cdb9c34dafb11.html"  target="element">
				  		<area shape="rect" coords="142,520,262,575" href="../elements/id-ebb8e8e67bf442e7bcf7d4769dd92b12.html"  target="element">
				  		<area shape="rect" coords="538,460,658,515" href="../elements/id-90302201fadc4317be029045c6109727.html"  target="element">
				  		<area shape="rect" coords="669,460,789,515" href="../elements/id-e1ce46e2f57442b78d8f04c9170130a1.html"  target="element">
				  		<area shape="rect" coords="10,400,130,455" href="../elements/id-d6245b7f063142a683bc862aa75a306a.html"  target="element">
				  		<area shape="rect" coords="669,400,789,455" href="../elements/id-20ed6f9d7321418987a5da7aec7a76c7.html"  target="element">
				  		<area shape="rect" coords="10,460,130,515" href="../elements/id-2949576a0e6e4759ba4d0aac60447c9f.html"  target="element">
				  		<area shape="rect" coords="538,400,658,455" href="../elements/id-02f675e6a6214e1aa0ca9773a8f9094c.html"  target="element">
				  		<area shape="rect" coords="406,460,526,515" href="../elements/id-092ed38c877b49829c68bf1f7d4c11e7.html"  target="element">
				  		<area shape="rect" coords="274,460,394,515" href="../elements/id-757b51f5616045b2810672ed00934f05.html"  target="element">
				  		<area shape="rect" coords="142,460,262,515" href="../elements/id-4167f9e5abfb4abe94eb8b897f44b153.html"  target="element">
				  		<area shape="rect" coords="406,400,526,455" href="../elements/id-6503868eb5484a83a294bd2113644715.html"  target="element">
				  		<area shape="rect" coords="274,400,394,455" href="../elements/id-951650b864684846a300f960d723f438.html"  target="element">
				  		<area shape="rect" coords="142,400,262,455" href="../elements/id-2557b47b63bb49e29fd2994ba8fdbdb8.html"  target="element">
				  		<area shape="rect" coords="126,10,706,150" href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Sistemas de Informaci&#243;n de EAAB relacionados necesarios para la con la conservaci&#243;n del documento
electr&#243;nico seg&#250;n las series y subseries priorizadas.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element"> Sistemas de Informaci&#243;n EAAB. Consulta de Documentos </a> </td>
											    <td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2557b47b63bb49e29fd2994ba8fdbdb8.html" target="element"> Serie 18. Historiales de Equipo y Maquinaria </a> </td>
											    <td> <a href="../elements/id-2557b47b63bb49e29fd2994ba8fdbdb8.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-951650b864684846a300f960d723f438.html" target="element"> Serie 10. Conceptos </a> </td>
											    <td> <a href="../elements/id-951650b864684846a300f960d723f438.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6503868eb5484a83a294bd2113644715.html" target="element"> Serie 55. Registros Hidrol&#243;gicos y Meteorol&#243;gicos  </a> </td>
											    <td> <a href="../elements/id-6503868eb5484a83a294bd2113644715.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4167f9e5abfb4abe94eb8b897f44b153.html" target="element"> Serie 14. Cuotas Partes Pensionales </a> </td>
											    <td> <a href="../elements/id-4167f9e5abfb4abe94eb8b897f44b153.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-757b51f5616045b2810672ed00934f05.html" target="element"> Serie 25. Informes </a> </td>
											    <td> <a href="../elements/id-757b51f5616045b2810672ed00934f05.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-092ed38c877b49829c68bf1f7d4c11e7.html" target="element"> Serie 32. N&#243;minas </a> </td>
											    <td> <a href="../elements/id-092ed38c877b49829c68bf1f7d4c11e7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-02f675e6a6214e1aa0ca9773a8f9094c.html" target="element"> Serie 2. Actas </a> </td>
											    <td> <a href="../elements/id-02f675e6a6214e1aa0ca9773a8f9094c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2949576a0e6e4759ba4d0aac60447c9f.html" target="element"> Serie 12. Contratos </a> </td>
											    <td> <a href="../elements/id-2949576a0e6e4759ba4d0aac60447c9f.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-20ed6f9d7321418987a5da7aec7a76c7.html" target="element"> Serie 24. Historias Laborales </a> </td>
											    <td> <a href="../elements/id-20ed6f9d7321418987a5da7aec7a76c7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d6245b7f063142a683bc862aa75a306a.html" target="element"> Serie 42. Programas </a> </td>
											    <td> <a href="../elements/id-d6245b7f063142a683bc862aa75a306a.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e1ce46e2f57442b78d8f04c9170130a1.html" target="element"> Serie 56. Registro Pr&#233;stamos de Vivienda </a> </td>
											    <td> <a href="../elements/id-e1ce46e2f57442b78d8f04c9170130a1.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-90302201fadc4317be029045c6109727.html" target="element"> Serie 43. Proyectos </a> </td>
											    <td> <a href="../elements/id-90302201fadc4317be029045c6109727.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ebb8e8e67bf442e7bcf7d4769dd92b12.html" target="element"> Serie 38. Portafolio de Inversiones Financieras </a> </td>
											    <td> <a href="../elements/id-ebb8e8e67bf442e7bcf7d4769dd92b12.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b2b4a74f49b04281bb1cdb9c34dafb11.html" target="element"> Serie 47. Registro de Acceso a las Instalaciones </a> </td>
											    <td> <a href="../elements/id-b2b4a74f49b04281bb1cdb9c34dafb11.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bcdd81f1b70649519a305270e49c1269.html" target="element"> Serie 5. Acuerdos de Servicios Compartidos </a> </td>
											    <td> <a href="../elements/id-bcdd81f1b70649519a305270e49c1269.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-769c7e81012843489b229978fe1b7737.html" target="element"> Serie 36. Planes </a> </td>
											    <td> <a href="../elements/id-769c7e81012843489b229978fe1b7737.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
											    <td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element"> CORI Correspondencia </a> </td>
											    <td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4dc17c2d-8745-4218-b0eb-bbc437f1be7d.html" target="element"> SI Hidrol&#243;gica </a> </td>
											    <td> <a href="../elements/4dc17c2d-8745-4218-b0eb-bbc437f1be7d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
											    <td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/ddafd863-224a-4f3f-adc0-401f88195c06.html" target="element">  </a> </td>
																		<td> <a href="../elements/ddafd863-224a-4f3f-adc0-401f88195c06.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element"> Sistemas de Informaci&#243;n EAAB. Consulta de Documentos </a> </td>
																		<td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element"> CORI Correspondencia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/26b89f83-58d5-4835-bec4-ab0b8e8c9635.html" target="element">  </a> </td>
																		<td> <a href="../elements/26b89f83-58d5-4835-bec4-ab0b8e8c9635.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element"> Sistemas de Informaci&#243;n EAAB. Consulta de Documentos </a> </td>
																		<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b6f0ced9-a65a-4868-8f22-43ee9d8ccfa7.html" target="element">  </a> </td>
																		<td> <a href="../elements/b6f0ced9-a65a-4868-8f22-43ee9d8ccfa7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element"> Sistemas de Informaci&#243;n EAAB. Consulta de Documentos </a> </td>
																		<td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0753daf9-5c5f-43b5-9ca8-3c014050998b.html" target="element">  </a> </td>
																		<td> <a href="../elements/0753daf9-5c5f-43b5-9ca8-3c014050998b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/2147e6db-5099-432e-bf09-0b9df311f940.html" target="element"> Sistemas de Informaci&#243;n EAAB. Consulta de Documentos </a> </td>
																		<td> <a href="../elements/4dc17c2d-8745-4218-b0eb-bbc437f1be7d.html" target="element"> SI Hidrol&#243;gica </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/03534a23-5d67-4d22-a37f-6b78b771cde6.html" target="element">  </a> </td>
																		<td> <a href="../elements/03534a23-5d67-4d22-a37f-6b78b771cde6.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																		<td> <a href="../elements/id-2557b47b63bb49e29fd2994ba8fdbdb8.html" target="element"> Serie 18. Historiales de Equipo y Maquinaria </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3c08120f-f38a-4deb-b616-2b0bbb3e8379.html" target="element">  </a> </td>
																		<td> <a href="../elements/3c08120f-f38a-4deb-b616-2b0bbb3e8379.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																		<td> <a href="../elements/id-951650b864684846a300f960d723f438.html" target="element"> Serie 10. Conceptos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ead9fd8a-316c-4399-8b9f-e285ccad525d.html" target="element">  </a> </td>
																		<td> <a href="../elements/ead9fd8a-316c-4399-8b9f-e285ccad525d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																		<td> <a href="../elements/id-4167f9e5abfb4abe94eb8b897f44b153.html" target="element"> Serie 14. Cuotas Partes Pensionales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e1fba028-39a1-4d80-a5f5-bfed0d3d7058.html" target="element">  </a> </td>
																		<td> <a href="../elements/e1fba028-39a1-4d80-a5f5-bfed0d3d7058.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																		<td> <a href="../elements/id-092ed38c877b49829c68bf1f7d4c11e7.html" target="element"> Serie 32. N&#243;minas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/61148252-f439-4da0-8bc0-94519d70cc5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/61148252-f439-4da0-8bc0-94519d70cc5e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																		<td> <a href="../elements/id-02f675e6a6214e1aa0ca9773a8f9094c.html" target="element"> Serie 2. Actas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1ad94709-2b68-412e-a69e-1351e78a5d23.html" target="element">  </a> </td>
																		<td> <a href="../elements/1ad94709-2b68-412e-a69e-1351e78a5d23.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																		<td> <a href="../elements/id-d6245b7f063142a683bc862aa75a306a.html" target="element"> Serie 42. Programas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4f445ee2-c769-4173-a68f-70db3f637744.html" target="element">  </a> </td>
																		<td> <a href="../elements/4f445ee2-c769-4173-a68f-70db3f637744.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																		<td> <a href="../elements/id-757b51f5616045b2810672ed00934f05.html" target="element"> Serie 25. Informes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ce383f16-9cb3-460c-8c59-f904f8195213.html" target="element">  </a> </td>
																		<td> <a href="../elements/ce383f16-9cb3-460c-8c59-f904f8195213.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																		<td> <a href="../elements/id-90302201fadc4317be029045c6109727.html" target="element"> Serie 43. Proyectos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/54d0ab10-2f10-495c-80d1-8284406726e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/54d0ab10-2f10-495c-80d1-8284406726e7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																		<td> <a href="../elements/id-2949576a0e6e4759ba4d0aac60447c9f.html" target="element"> Serie 12. Contratos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9db3bc60-9006-4722-9f05-ee641b09fd39.html" target="element">  </a> </td>
																		<td> <a href="../elements/9db3bc60-9006-4722-9f05-ee641b09fd39.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																		<td> <a href="../elements/id-ebb8e8e67bf442e7bcf7d4769dd92b12.html" target="element"> Serie 38. Portafolio de Inversiones Financieras </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7c00a64a-18c1-499c-9f2e-f7c59ba83626.html" target="element">  </a> </td>
																		<td> <a href="../elements/7c00a64a-18c1-499c-9f2e-f7c59ba83626.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																		<td> <a href="../elements/id-bcdd81f1b70649519a305270e49c1269.html" target="element"> Serie 5. Acuerdos de Servicios Compartidos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9001e6d7-c8ab-4e41-9f39-da98cf165395.html" target="element">  </a> </td>
																		<td> <a href="../elements/9001e6d7-c8ab-4e41-9f39-da98cf165395.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
																		<td> <a href="../elements/id-769c7e81012843489b229978fe1b7737.html" target="element"> Serie 36. Planes </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f6c84f38-dd65-4d27-a9d2-71d559359df9.html" target="element">  </a> </td>
																		<td> <a href="../elements/f6c84f38-dd65-4d27-a9d2-71d559359df9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element"> CORI Correspondencia </a> </td>
																		<td> <a href="../elements/id-4167f9e5abfb4abe94eb8b897f44b153.html" target="element"> Serie 14. Cuotas Partes Pensionales </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0e57d5b7-ffab-4399-b143-fa0c4b76b9a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/0e57d5b7-ffab-4399-b143-fa0c4b76b9a6.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/4dc17c2d-8745-4218-b0eb-bbc437f1be7d.html" target="element"> SI Hidrol&#243;gica </a> </td>
																		<td> <a href="../elements/id-6503868eb5484a83a294bd2113644715.html" target="element"> Serie 55. Registros Hidrol&#243;gicos y Meteorol&#243;gicos  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3145fb47-f851-4e93-8afd-c1c037b136ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/3145fb47-f851-4e93-8afd-c1c037b136ba.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
																		<td> <a href="../elements/id-757b51f5616045b2810672ed00934f05.html" target="element"> Serie 25. Informes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4024b285-be13-4725-a98b-761d207b2d62.html" target="element">  </a> </td>
																		<td> <a href="../elements/4024b285-be13-4725-a98b-761d207b2d62.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
																		<td> <a href="../elements/id-6503868eb5484a83a294bd2113644715.html" target="element"> Serie 55. Registros Hidrol&#243;gicos y Meteorol&#243;gicos  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2c35ab82-b34a-4bf0-8127-0cae23ab277e.html" target="element">  </a> </td>
																		<td> <a href="../elements/2c35ab82-b34a-4bf0-8127-0cae23ab277e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
																		<td> <a href="../elements/id-4167f9e5abfb4abe94eb8b897f44b153.html" target="element"> Serie 14. Cuotas Partes Pensionales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fe573d33-2839-4a94-b70c-55f19af4b401.html" target="element">  </a> </td>
																		<td> <a href="../elements/fe573d33-2839-4a94-b70c-55f19af4b401.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
																		<td> <a href="../elements/id-092ed38c877b49829c68bf1f7d4c11e7.html" target="element"> Serie 32. N&#243;minas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4bba9470-7469-4961-9aad-ad8fdc974c77.html" target="element">  </a> </td>
																		<td> <a href="../elements/4bba9470-7469-4961-9aad-ad8fdc974c77.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
																		<td> <a href="../elements/id-02f675e6a6214e1aa0ca9773a8f9094c.html" target="element"> Serie 2. Actas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/820291b4-ed13-491e-b2bd-ce29a706e2e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/820291b4-ed13-491e-b2bd-ce29a706e2e3.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
																		<td> <a href="../elements/id-d6245b7f063142a683bc862aa75a306a.html" target="element"> Serie 42. Programas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bdff2077-4d37-46cd-82dd-60051bae6050.html" target="element">  </a> </td>
																		<td> <a href="../elements/bdff2077-4d37-46cd-82dd-60051bae6050.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
																		<td> <a href="../elements/id-90302201fadc4317be029045c6109727.html" target="element"> Serie 43. Proyectos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c4d9bf19-2058-4527-8c4a-3d6aecc224e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4d9bf19-2058-4527-8c4a-3d6aecc224e7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
																		<td> <a href="../elements/id-2949576a0e6e4759ba4d0aac60447c9f.html" target="element"> Serie 12. Contratos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4d41e76f-9f25-48c0-8365-bc5d2648ecc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/4d41e76f-9f25-48c0-8365-bc5d2648ecc9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
																		<td> <a href="../elements/id-ebb8e8e67bf442e7bcf7d4769dd92b12.html" target="element"> Serie 38. Portafolio de Inversiones Financieras </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5fcc8716-aef5-4d44-97d1-dba0c03e2c12.html" target="element">  </a> </td>
																		<td> <a href="../elements/5fcc8716-aef5-4d44-97d1-dba0c03e2c12.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
																		<td> <a href="../elements/id-bcdd81f1b70649519a305270e49c1269.html" target="element"> Serie 5. Acuerdos de Servicios Compartidos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/39603058-5b94-48d1-9547-4ce69ee29eb1.html" target="element">  </a> </td>
																		<td> <a href="../elements/39603058-5b94-48d1-9547-4ce69ee29eb1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/bc207c21-4100-4e24-b593-d077b1eaaa81.html" target="element"> Ventanilla &#218;nica Correspondencia </a> </td>
																		<td> <a href="../elements/id-769c7e81012843489b229978fe1b7737.html" target="element"> Serie 36. Planes </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>