<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Funcionalidades SGDEA de EAAB</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Funcionalidades SGDEA de EAAB</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/fbd300ea-8074-4739-8a12-80228cefaa50.png" alt="Funcionalidades SGDEA de EAAB" usemap="#fbd300ea-8074-4739-8a12-80228cefaa50map"/>
			   <map name="fbd300ea-8074-4739-8a12-80228cefaa50map">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/id-aa5a9c2b09d64830843b3c38cb650a3c.html"  target="element">
				  		<area shape="rect" coords="10,286,130,341" href="../elements/id-437ecdb16bbc4be987fe898a4be3e128.html"  target="element">
				  		<area shape="rect" coords="10,76,130,131" href="../elements/id-bc07ab8288364c26a7cd63c0c530f333.html"  target="element">
				  		<area shape="rect" coords="10,214,130,269" href="../elements/id-00e18fb5473947b19b3e87330a78c18b.html"  target="element">
				  		<area shape="rect" coords="10,142,130,197" href="../elements/id-27103a320e384f25a9671c0877a1d350.html"  target="element">
				  		<area shape="rect" coords="436,196,574,251" href="../elements/id-82fb4542a2fe45c3a08530e402bd774d.html"  target="element">
				  		<area shape="rect" coords="286,196,424,251" href="../elements/id-f021298fbe524741a0c6e9d33c6322c3.html"  target="element">
				  		<area shape="rect" coords="586,136,724,191" href="../elements/id-ac22f1a7b7c043ecb91c1195c5efb187.html"  target="element">
				  		<area shape="rect" coords="436,136,574,191" href="../elements/id-4ad060ec9cf24a27bb57f053c1bbf241.html"  target="element">
				  		<area shape="rect" coords="286,136,424,191" href="../elements/id-c9b66f3ae534457282bddbce7fbeceae.html"  target="element">
				  		<area shape="rect" coords="586,76,724,131" href="../elements/id-4976ea2bbbfb4ebabc233e1b618665df.html"  target="element">
				  		<area shape="rect" coords="436,76,574,131" href="../elements/id-8f3863c69b5c4f76860c4e281cfa6ffa.html"  target="element">
				  		<area shape="rect" coords="286,76,424,131" href="../elements/id-c1e56cc936d042d6aae1dab494602852.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c1e56cc936d042d6aae1dab494602852.html" target="element"> FUNC407. Integraci&#243;n de bandejas de correo </a> </td>
											    <td> <a href="../elements/id-c1e56cc936d042d6aae1dab494602852.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8f3863c69b5c4f76860c4e281cfa6ffa.html" target="element"> FUNC500. B&#250;squeda y localizaci&#243;n de documentos electr&#243;nicos o grupos </a> </td>
											    <td> <a href="../elements/id-8f3863c69b5c4f76860c4e281cfa6ffa.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4976ea2bbbfb4ebabc233e1b618665df.html" target="element"> FUNC501. Visualizaci&#243;n de los documentos buscados </a> </td>
											    <td> <a href="../elements/id-4976ea2bbbfb4ebabc233e1b618665df.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c9b66f3ae534457282bddbce7fbeceae.html" target="element"> FUNC502. Emisi&#243;n de Soporte Documento Electr&#243;nico </a> </td>
											    <td> <a href="../elements/id-c9b66f3ae534457282bddbce7fbeceae.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4ad060ec9cf24a27bb57f053c1bbf241.html" target="element"> FUNC503. Controles y Seguridad </a> </td>
											    <td> <a href="../elements/id-4ad060ec9cf24a27bb57f053c1bbf241.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac22f1a7b7c043ecb91c1195c5efb187.html" target="element"> FUNC504. Controles de acceso y modificaci&#243;n de permisos de los documentos electr&#243;nicos </a> </td>
											    <td> <a href="../elements/id-ac22f1a7b7c043ecb91c1195c5efb187.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f021298fbe524741a0c6e9d33c6322c3.html" target="element"> FUNC505. Cifrado de documento electr&#243;nico </a> </td>
											    <td> <a href="../elements/id-f021298fbe524741a0c6e9d33c6322c3.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82fb4542a2fe45c3a08530e402bd774d.html" target="element"> FUNC506. Eliminaci&#243;n de documentos electr&#243;nicos </a> </td>
											    <td> <a href="../elements/id-82fb4542a2fe45c3a08530e402bd774d.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-27103a320e384f25a9671c0877a1d350.html" target="element"> COMP32. Gestor de bandejas de correo electr&#243;nico EAAB </a> </td>
											    <td> <a href="../elements/id-27103a320e384f25a9671c0877a1d350.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-00e18fb5473947b19b3e87330a78c18b.html" target="element"> Difusi&#243;n y Consulta </a> </td>
											    <td> <a href="../elements/id-00e18fb5473947b19b3e87330a78c18b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bc07ab8288364c26a7cd63c0c530f333.html" target="element"> Navegaci&#243;n y Visualizaci&#243;n </a> </td>
											    <td> <a href="../elements/id-bc07ab8288364c26a7cd63c0c530f333.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-437ecdb16bbc4be987fe898a4be3e128.html" target="element"> Entrega </a> </td>
											    <td> <a href="../elements/id-437ecdb16bbc4be987fe898a4be3e128.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aa5a9c2b09d64830843b3c38cb650a3c.html" target="element"> Administraci&#243;n documental </a> </td>
											    <td> <a href="../elements/id-aa5a9c2b09d64830843b3c38cb650a3c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-68510861fa1143c482996dd42801672c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-68510861fa1143c482996dd42801672c.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-27103a320e384f25a9671c0877a1d350.html" target="element"> COMP32. Gestor de bandejas de correo electr&#243;nico EAAB </a> </td>
																		<td> <a href="../elements/id-c1e56cc936d042d6aae1dab494602852.html" target="element"> FUNC407. Integraci&#243;n de bandejas de correo </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7fe90986-f9e8-4860-8ee9-8936a6553d5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/7fe90986-f9e8-4860-8ee9-8936a6553d5e.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-00e18fb5473947b19b3e87330a78c18b.html" target="element"> Difusi&#243;n y Consulta </a> </td>
																		<td> <a href="../elements/id-8f3863c69b5c4f76860c4e281cfa6ffa.html" target="element"> FUNC500. B&#250;squeda y localizaci&#243;n de documentos electr&#243;nicos o grupos </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c9cbbaf5-caac-440b-b283-acf8c42d6454.html" target="element">  </a> </td>
																		<td> <a href="../elements/c9cbbaf5-caac-440b-b283-acf8c42d6454.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-bc07ab8288364c26a7cd63c0c530f333.html" target="element"> Navegaci&#243;n y Visualizaci&#243;n </a> </td>
																		<td> <a href="../elements/id-4976ea2bbbfb4ebabc233e1b618665df.html" target="element"> FUNC501. Visualizaci&#243;n de los documentos buscados </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/97c11b09-71a5-4801-801b-a61055de5f70.html" target="element">  </a> </td>
																		<td> <a href="../elements/97c11b09-71a5-4801-801b-a61055de5f70.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-437ecdb16bbc4be987fe898a4be3e128.html" target="element"> Entrega </a> </td>
																		<td> <a href="../elements/id-c9b66f3ae534457282bddbce7fbeceae.html" target="element"> FUNC502. Emisi&#243;n de Soporte Documento Electr&#243;nico </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9f4ffdbe-782d-47aa-a502-52c92204fec7.html" target="element">  </a> </td>
																		<td> <a href="../elements/9f4ffdbe-782d-47aa-a502-52c92204fec7.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-aa5a9c2b09d64830843b3c38cb650a3c.html" target="element"> Administraci&#243;n documental </a> </td>
																		<td> <a href="../elements/id-ac22f1a7b7c043ecb91c1195c5efb187.html" target="element"> FUNC504. Controles de acceso y modificaci&#243;n de permisos de los documentos electr&#243;nicos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/df641627-4f05-46a0-92f4-000e864b2880.html" target="element">  </a> </td>
																		<td> <a href="../elements/df641627-4f05-46a0-92f4-000e864b2880.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-aa5a9c2b09d64830843b3c38cb650a3c.html" target="element"> Administraci&#243;n documental </a> </td>
																		<td> <a href="../elements/id-82fb4542a2fe45c3a08530e402bd774d.html" target="element"> FUNC506. Eliminaci&#243;n de documentos electr&#243;nicos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6af8b723-3197-4cef-b6bb-0f2742e4b4b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/6af8b723-3197-4cef-b6bb-0f2742e4b4b6.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-aa5a9c2b09d64830843b3c38cb650a3c.html" target="element"> Administraci&#243;n documental </a> </td>
																		<td> <a href="../elements/id-4ad060ec9cf24a27bb57f053c1bbf241.html" target="element"> FUNC503. Controles y Seguridad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8c49f1da-5e98-4bbd-9a43-9efa76ba655f.html" target="element">  </a> </td>
																		<td> <a href="../elements/8c49f1da-5e98-4bbd-9a43-9efa76ba655f.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-aa5a9c2b09d64830843b3c38cb650a3c.html" target="element"> Administraci&#243;n documental </a> </td>
																		<td> <a href="../elements/id-f021298fbe524741a0c6e9d33c6322c3.html" target="element"> FUNC505. Cifrado de documento electr&#243;nico </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>