<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Repositorio (modelo)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Repositorio (modelo)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-19cd2e10d6404f4e8c0fbb11d01bd1a5.png" alt="Repositorio (modelo)" usemap="#id-19cd2e10d6404f4e8c0fbb11d01bd1a5map"/>
			   <map name="id-19cd2e10d6404f4e8c0fbb11d01bd1a5map">
				  		<area shape="rect" coords="455,414,575,469" href="../elements/id-f75f48e9084f4e85b0caad41b9fb6cdf.html"  target="element">
				  		<area shape="rect" coords="370,345,490,400" href="../elements/id-3f47b51f986b4a6dbdb30795be7136b9.html"  target="element">
				  		<area shape="rect" coords="281,282,401,337" href="../elements/id-46bb4055c0894eebbbead20f37bf1481.html"  target="element">
				  		<area shape="rect" coords="17,345,137,400" href="../elements/id-16361455f7e94a499e1758a5a3fe5ffa.html"  target="element">
				  				<area shape="rect" coords="238,142,335,197" href="../elements/id-5077f8301ded44ebb011212257bd5296.html"  target="element">
				  				<area shape="rect" coords="346,82,443,137" href="../elements/id-14e9dd512b7a4f73a3ccd742e4509c9a.html"  target="element">
				  				<area shape="rect" coords="454,82,551,137" href="../elements/id-f961256c8a1149b3beef854906a55e31.html"  target="element">

				  		<area shape="rect" coords="214,10,575,211" href="../elements/id-19b571f3faf245b380301fd78d61a8be.html"  target="element">
				  		<area shape="rect" coords="10,10,143,65" href="../elements/id-6c3e26ec13244942badda546b16929d9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6c3e26ec13244942badda546b16929d9.html" target="element"> Requerimiento </a> </td>
											    <td> <a href="../elements/id-6c3e26ec13244942badda546b16929d9.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-19b571f3faf245b380301fd78d61a8be.html" target="element"> Espacio de Soluci&#243;n </a> </td>
											    <td> <a href="../elements/id-19b571f3faf245b380301fd78d61a8be.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f961256c8a1149b3beef854906a55e31.html" target="element"> Bloque 1 </a> </td>
													    <td> <a href="../elements/id-f961256c8a1149b3beef854906a55e31.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-14e9dd512b7a4f73a3ccd742e4509c9a.html" target="element"> Bloque 2 </a> </td>
													    <td> <a href="../elements/id-14e9dd512b7a4f73a3ccd742e4509c9a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5077f8301ded44ebb011212257bd5296.html" target="element"> Bloque 3 </a> </td>
													    <td> <a href="../elements/id-5077f8301ded44ebb011212257bd5296.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-16361455f7e94a499e1758a5a3fe5ffa.html" target="element"> Entregable </a> </td>
											    <td> <a href="../elements/id-16361455f7e94a499e1758a5a3fe5ffa.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-46bb4055c0894eebbbead20f37bf1481.html" target="element"> Artefacto 1 </a> </td>
											    <td> <a href="../elements/id-46bb4055c0894eebbbead20f37bf1481.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f47b51f986b4a6dbdb30795be7136b9.html" target="element"> Artefacto 2 </a> </td>
											    <td> <a href="../elements/id-3f47b51f986b4a6dbdb30795be7136b9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f75f48e9084f4e85b0caad41b9fb6cdf.html" target="element"> Artefacto 3 </a> </td>
											    <td> <a href="../elements/id-f75f48e9084f4e85b0caad41b9fb6cdf.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4586e348888f46398a6c209ba4437cb8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4586e348888f46398a6c209ba4437cb8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-19b571f3faf245b380301fd78d61a8be.html" target="element"> Espacio de Soluci&#243;n </a> </td>
																		<td> <a href="../elements/id-f961256c8a1149b3beef854906a55e31.html" target="element"> Bloque 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3b50d5b122c148d89316e6e2d54cd7f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3b50d5b122c148d89316e6e2d54cd7f6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-19b571f3faf245b380301fd78d61a8be.html" target="element"> Espacio de Soluci&#243;n </a> </td>
																		<td> <a href="../elements/id-14e9dd512b7a4f73a3ccd742e4509c9a.html" target="element"> Bloque 2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-970529b289b84721be6dbfd2d9e12ee9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-970529b289b84721be6dbfd2d9e12ee9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-19b571f3faf245b380301fd78d61a8be.html" target="element"> Espacio de Soluci&#243;n </a> </td>
																		<td> <a href="../elements/id-5077f8301ded44ebb011212257bd5296.html" target="element"> Bloque 3 </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e19e52ad794e43f9b803de39ad5071cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e19e52ad794e43f9b803de39ad5071cd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-16361455f7e94a499e1758a5a3fe5ffa.html" target="element"> Entregable </a> </td>
																		<td> <a href="../elements/id-6c3e26ec13244942badda546b16929d9.html" target="element"> Requerimiento </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dd88c933f28c4d15b453b70ce8b0c08e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd88c933f28c4d15b453b70ce8b0c08e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-46bb4055c0894eebbbead20f37bf1481.html" target="element"> Artefacto 1 </a> </td>
																		<td> <a href="../elements/id-16361455f7e94a499e1758a5a3fe5ffa.html" target="element"> Entregable </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0043417c41374aecbcb3bd4e52979e36.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0043417c41374aecbcb3bd4e52979e36.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-46bb4055c0894eebbbead20f37bf1481.html" target="element"> Artefacto 1 </a> </td>
																		<td> <a href="../elements/id-5077f8301ded44ebb011212257bd5296.html" target="element"> Bloque 3 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e28bcd95b71041019a48fa0379b9e33c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e28bcd95b71041019a48fa0379b9e33c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-46bb4055c0894eebbbead20f37bf1481.html" target="element"> Artefacto 1 </a> </td>
																		<td> <a href="../elements/id-14e9dd512b7a4f73a3ccd742e4509c9a.html" target="element"> Bloque 2 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-87b5edd72a834ffa93c8de774693fb72.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87b5edd72a834ffa93c8de774693fb72.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-3f47b51f986b4a6dbdb30795be7136b9.html" target="element"> Artefacto 2 </a> </td>
																		<td> <a href="../elements/id-16361455f7e94a499e1758a5a3fe5ffa.html" target="element"> Entregable </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-379dc645e67e436c93b01cd6fe5f13de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-379dc645e67e436c93b01cd6fe5f13de.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-3f47b51f986b4a6dbdb30795be7136b9.html" target="element"> Artefacto 2 </a> </td>
																		<td> <a href="../elements/id-f961256c8a1149b3beef854906a55e31.html" target="element"> Bloque 1 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5ff1c5a0125541d9a1a21fbe67df55ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ff1c5a0125541d9a1a21fbe67df55ce.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f75f48e9084f4e85b0caad41b9fb6cdf.html" target="element"> Artefacto 3 </a> </td>
																		<td> <a href="../elements/id-16361455f7e94a499e1758a5a3fe5ffa.html" target="element"> Entregable </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b969093e2ae04031a05dd28c87286238.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b969093e2ae04031a05dd28c87286238.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/id-f75f48e9084f4e85b0caad41b9fb6cdf.html" target="element"> Artefacto 3 </a> </td>
																		<td> <a href="../elements/id-f961256c8a1149b3beef854906a55e31.html" target="element"> Bloque 1 </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>