<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Correo Certificado. Solución</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Correo Certificado. Soluci&#243;n</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-2817b10dd27848a1b1e7ceb32b1e66d3.png" alt="Correo Certificado. Solución" usemap="#id-2817b10dd27848a1b1e7ceb32b1e66d3map"/>
			   <map name="id-2817b10dd27848a1b1e7ceb32b1e66d3map">
				  		<area shape="rect" coords="381,10,633,65" href="../elements/id-9f641b771ff44ff0be46fc4f6dfdd7ce.html"  target="element">
				  		<area shape="rect" coords="898,130,1114,185" href="../elements/id-a0ea223cdba84cc3bcc9c40055848b7d.html"  target="element">
				  				<area shape="rect" coords="226,658,370,713" href="../elements/id-c1e56cc936d042d6aae1dab494602852.html"  target="element">
				  				<area shape="rect" coords="226,526,370,581" href="../elements/id-73aefbd5070d490185d2c13e1aa4d866.html"  target="element">
				  				<area shape="rect" coords="226,592,370,647" href="../elements/id-a766d8ec4b7d4be898287141e46d873e.html"  target="element">
				  				<area shape="rect" coords="70,718,214,773" href="../elements/id-e6290dcdf77c4b9ebeb9ef5a6348d7e6.html"  target="element">
				  				<area shape="rect" coords="70,658,214,713" href="../elements/id-269703e3eef146b99cee16a6493b1746.html"  target="element">
				  				<area shape="rect" coords="70,778,214,833" href="../elements/id-b0761a724ec34ab0a7a36625c3502fab.html"  target="element">
				  				<area shape="rect" coords="70,592,214,647" href="../elements/id-449b3f2ef4524f82bc35b5078f53edbb.html"  target="element">
				  				<area shape="rect" coords="70,526,214,581" href="../elements/id-2feed8c2589149f9be92184b2fdda99b.html"  target="element">

				  		<area shape="rect" coords="22,466,443,874" href="../elements/id-2c3aa11390d446ce982b8733746596be.html"  target="element">
				  		<area shape="rect" coords="381,130,633,185" href="../elements/id-1bd543465d584d76af445d0e45a00be4.html"  target="element">
				  				<area shape="rect" coords="898,720,1018,775" href="../elements/id-94bf4a214e1d49bfb0ee069c7451bf25.html"  target="element">
				  				<area shape="rect" coords="898,648,1018,703" href="../elements/id-6a2020b09b36419684f9cc24866dafb2.html"  target="element">

				  		<area shape="rect" coords="838,600,1114,812" href="../elements/id-3c5c100fade8405bba18bf22908af5d1.html"  target="element">
				          <area shape="rect" coords="10,10,251,136" href="../objects/id-88f12f450f604f65a68f4e3cb49e1ab8.html" target="element" >
				  				<area shape="rect" coords="586,742,706,797" href="../elements/id-21bd57eb6fd8416b89e7006b0045201d.html"  target="element">
				  				<area shape="rect" coords="586,622,706,677" href="../elements/id-a2bf5d1f11764dcfab4d36c8ec3c94fb.html"  target="element">
				  				<area shape="rect" coords="586,682,706,737" href="../elements/id-27103a320e384f25a9671c0877a1d350.html"  target="element">

				  		<area shape="rect" coords="550,466,742,946" href="../elements/id-baecf7b0ae86415aa47627fd1109d691.html"  target="element">
				  				<area shape="rect" coords="453,286,573,341" href="../elements/id-c61b3088d8c348fca7e3f1663b6300c2.html"  target="element">
				  				<area shape="rect" coords="309,286,441,341" href="../elements/id-3113fbcf9c644c89ac912c52a044fda5.html"  target="element">
				  				<area shape="rect" coords="165,286,297,341" href="../elements/id-2f64ca124d8b41b4b6e4621f1ff7403a.html"  target="element">

				  		<area shape="rect" coords="22,250,635,371" href="../elements/id-17b7c940360f4cf6b32d257bd49a59a9.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">La soluci&#243;n de correo certificado es un servicio externo a la entidad EAAB. El SGDEA gestionar&#225; el procedimiento de env&#237;o de correo certificado, el cual inicia con la asignaci&#243;n de un n&#250;mero de seguimiento al env&#237;o y se registrar&#225; los cambios de estado del env&#237;o y de la respuesta de recepci&#243;n en el destino. Esta prueba es usualmente es una firma f&#237;sica o digitalizada del destinatario. Sin esta prueba (firma), la respuesta del correo, comunicado documento enviado a trav&#233;s del correo certificado del SGDEA no se entregar&#225;. El tercero, o el que haga las veces de la agencia de correo asegurar&#225; que el destinatario ha recibido el env&#237;o.

La soluci&#243;n de correo certificado aplica tanto a env&#237;o f&#237;sicos como electr&#243;nicos. 
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-17b7c940360f4cf6b32d257bd49a59a9.html" target="element"> Flujos Documentales (WFM) </a> </td>
											    <td> <a href="../elements/id-17b7c940360f4cf6b32d257bd49a59a9.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2f64ca124d8b41b4b6e4621f1ff7403a.html" target="element"> FLUJ28. Flujo registro y env&#237;o de correo certificado </a> </td>
													    <td> <a href="../elements/id-2f64ca124d8b41b4b6e4621f1ff7403a.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3113fbcf9c644c89ac912c52a044fda5.html" target="element"> FLUJ29. Flujo actualizaci&#243;n del registro del correo certificado enviado </a> </td>
													    <td> <a href="../elements/id-3113fbcf9c644c89ac912c52a044fda5.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c61b3088d8c348fca7e3f1663b6300c2.html" target="element"> FLUJ26. Flujo firmado documento </a> </td>
													    <td> <a href="../elements/id-c61b3088d8c348fca7e3f1663b6300c2.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-baecf7b0ae86415aa47627fd1109d691.html" target="element"> COMP31. Administraci&#243;n de Correo </a> </td>
											    <td> <a href="../elements/id-baecf7b0ae86415aa47627fd1109d691.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-27103a320e384f25a9671c0877a1d350.html" target="element"> COMP32. Gestor de bandejas de correo electr&#243;nico EAAB </a> </td>
													    <td> <a href="../elements/id-27103a320e384f25a9671c0877a1d350.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a2bf5d1f11764dcfab4d36c8ec3c94fb.html" target="element"> COMP33. Gestor de correo certificado EAAB </a> </td>
													    <td> <a href="../elements/id-a2bf5d1f11764dcfab4d36c8ec3c94fb.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-21bd57eb6fd8416b89e7006b0045201d.html" target="element"> COMP35. Seguridad de correo electr&#243;nico  </a> </td>
													    <td> <a href="../elements/id-21bd57eb6fd8416b89e7006b0045201d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-88f12f450f604f65a68f4e3cb49e1ab8.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-88f12f450f604f65a68f4e3cb49e1ab8.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-3c5c100fade8405bba18bf22908af5d1.html" target="element"> Componentes de Apoyo al Administraci&#243;n Correo Certificado </a> </td>
											    <td> <a href="../elements/id-3c5c100fade8405bba18bf22908af5d1.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6a2020b09b36419684f9cc24866dafb2.html" target="element"> COMP28. Generaci&#243;n de clave din&#225;mica </a> </td>
													    <td> <a href="../elements/id-6a2020b09b36419684f9cc24866dafb2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-94bf4a214e1d49bfb0ee069c7451bf25.html" target="element"> COMP34. Digitalizaci&#243;n </a> </td>
													    <td> <a href="../elements/id-94bf4a214e1d49bfb0ee069c7451bf25.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1bd543465d584d76af445d0e45a00be4.html" target="element"> SERV21. Servicio Correo Certificado </a> </td>
											    <td> <a href="../elements/id-1bd543465d584d76af445d0e45a00be4.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
											    <td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2feed8c2589149f9be92184b2fdda99b.html" target="element"> FUNC402. Seguimiento de Correo certificado </a> </td>
													    <td> <a href="../elements/id-2feed8c2589149f9be92184b2fdda99b.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-449b3f2ef4524f82bc35b5078f53edbb.html" target="element"> FUNC403. Huella digital de correo certificado </a> </td>
													    <td> <a href="../elements/id-449b3f2ef4524f82bc35b5078f53edbb.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b0761a724ec34ab0a7a36625c3502fab.html" target="element"> FUNC404. Consulta estado del correo enviado </a> </td>
													    <td> <a href="../elements/id-b0761a724ec34ab0a7a36625c3502fab.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-269703e3eef146b99cee16a6493b1746.html" target="element"> FUNC400. Correo confiable </a> </td>
													    <td> <a href="../elements/id-269703e3eef146b99cee16a6493b1746.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e6290dcdf77c4b9ebeb9ef5a6348d7e6.html" target="element"> FUNC401. Correo autenticado </a> </td>
													    <td> <a href="../elements/id-e6290dcdf77c4b9ebeb9ef5a6348d7e6.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a766d8ec4b7d4be898287141e46d873e.html" target="element"> FUNC405. Verificaci&#243;n web del correo emitido EAAB </a> </td>
													    <td> <a href="../elements/id-a766d8ec4b7d4be898287141e46d873e.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-73aefbd5070d490185d2c13e1aa4d866.html" target="element"> FUNC406. Verificaci&#243;n de validez del correo electr&#243;nico </a> </td>
													    <td> <a href="../elements/id-73aefbd5070d490185d2c13e1aa4d866.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c1e56cc936d042d6aae1dab494602852.html" target="element"> FUNC407. Integraci&#243;n de bandejas de correo </a> </td>
													    <td> <a href="../elements/id-c1e56cc936d042d6aae1dab494602852.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a0ea223cdba84cc3bcc9c40055848b7d.html" target="element"> SERV20. Servicio Firma Digital </a> </td>
											    <td> <a href="../elements/id-a0ea223cdba84cc3bcc9c40055848b7d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9f641b771ff44ff0be46fc4f6dfdd7ce.html" target="element"> PROD25. Env&#237;o de correo certificado (eletr&#243;nico o f&#237;sico) </a> </td>
											    <td> <a href="../elements/id-9f641b771ff44ff0be46fc4f6dfdd7ce.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4fe857e184c34691a2a2ef8ce66d3906.html" target="element"> sirve </a> </td>
																		<td> <a href="../elements/id-4fe857e184c34691a2a2ef8ce66d3906.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-17b7c940360f4cf6b32d257bd49a59a9.html" target="element"> Flujos Documentales (WFM) </a> </td>
																		<td> <a href="../elements/id-1bd543465d584d76af445d0e45a00be4.html" target="element"> SERV21. Servicio Correo Certificado </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-506570b349984bf399decb5fc73235c6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-506570b349984bf399decb5fc73235c6.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-2f64ca124d8b41b4b6e4621f1ff7403a.html" target="element"> FLUJ28. Flujo registro y env&#237;o de correo certificado </a> </td>
																				<td> <a href="../elements/id-17b7c940360f4cf6b32d257bd49a59a9.html" target="element"> Flujos Documentales (WFM) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8c8dd378e0694aa593fb9c0f9a0818f1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8c8dd378e0694aa593fb9c0f9a0818f1.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-3113fbcf9c644c89ac912c52a044fda5.html" target="element"> FLUJ29. Flujo actualizaci&#243;n del registro del correo certificado enviado </a> </td>
																				<td> <a href="../elements/id-17b7c940360f4cf6b32d257bd49a59a9.html" target="element"> Flujos Documentales (WFM) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e0ff4a227b8c4457b9077225025baca4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e0ff4a227b8c4457b9077225025baca4.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-c61b3088d8c348fca7e3f1663b6300c2.html" target="element"> FLUJ26. Flujo firmado documento </a> </td>
																				<td> <a href="../elements/id-17b7c940360f4cf6b32d257bd49a59a9.html" target="element"> Flujos Documentales (WFM) </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-30c64e03265c4192947bcb0c8251953b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-30c64e03265c4192947bcb0c8251953b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-baecf7b0ae86415aa47627fd1109d691.html" target="element"> COMP31. Administraci&#243;n de Correo </a> </td>
																		<td> <a href="../elements/id-27103a320e384f25a9671c0877a1d350.html" target="element"> COMP32. Gestor de bandejas de correo electr&#243;nico EAAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc9833d779aa41c89236071e5d527f17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc9833d779aa41c89236071e5d527f17.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-baecf7b0ae86415aa47627fd1109d691.html" target="element"> COMP31. Administraci&#243;n de Correo </a> </td>
																		<td> <a href="../elements/id-a2bf5d1f11764dcfab4d36c8ec3c94fb.html" target="element"> COMP33. Gestor de correo certificado EAAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-82688397ed0f41b9af3d4d4b343da9b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-82688397ed0f41b9af3d4d4b343da9b0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-baecf7b0ae86415aa47627fd1109d691.html" target="element"> COMP31. Administraci&#243;n de Correo </a> </td>
																		<td> <a href="../elements/id-3113fbcf9c644c89ac912c52a044fda5.html" target="element"> FLUJ29. Flujo actualizaci&#243;n del registro del correo certificado enviado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de2a40048f6b4be6ab5d55bd01103204.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de2a40048f6b4be6ab5d55bd01103204.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-baecf7b0ae86415aa47627fd1109d691.html" target="element"> COMP31. Administraci&#243;n de Correo </a> </td>
																		<td> <a href="../elements/id-2f64ca124d8b41b4b6e4621f1ff7403a.html" target="element"> FLUJ28. Flujo registro y env&#237;o de correo certificado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c26b512fad924b798678aaf178ff0fc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c26b512fad924b798678aaf178ff0fc9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-baecf7b0ae86415aa47627fd1109d691.html" target="element"> COMP31. Administraci&#243;n de Correo </a> </td>
																		<td> <a href="../elements/id-21bd57eb6fd8416b89e7006b0045201d.html" target="element"> COMP35. Seguridad de correo electr&#243;nico  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e6ddc48b22884e068091478cdd5a9de5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6ddc48b22884e068091478cdd5a9de5.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-baecf7b0ae86415aa47627fd1109d691.html" target="element"> COMP31. Administraci&#243;n de Correo </a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-51080c33b0e247ff818f8f12ae122fbc.html" target="element"> asignado </a> </td>
																				<td> <a href="../elements/id-51080c33b0e247ff818f8f12ae122fbc.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-21bd57eb6fd8416b89e7006b0045201d.html" target="element"> COMP35. Seguridad de correo electr&#243;nico  </a> </td>
																				<td> <a href="../elements/id-e6290dcdf77c4b9ebeb9ef5a6348d7e6.html" target="element"> FUNC401. Correo autenticado </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-8144ca54a6a74deba247818bc4fe149d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8144ca54a6a74deba247818bc4fe149d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3c5c100fade8405bba18bf22908af5d1.html" target="element"> Componentes de Apoyo al Administraci&#243;n Correo Certificado </a> </td>
																		<td> <a href="../elements/id-6a2020b09b36419684f9cc24866dafb2.html" target="element"> COMP28. Generaci&#243;n de clave din&#225;mica </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8ecd1f79b8f0416d8f9ffe606df69651.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8ecd1f79b8f0416d8f9ffe606df69651.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3c5c100fade8405bba18bf22908af5d1.html" target="element"> Componentes de Apoyo al Administraci&#243;n Correo Certificado </a> </td>
																		<td> <a href="../elements/id-94bf4a214e1d49bfb0ee069c7451bf25.html" target="element"> COMP34. Digitalizaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e613ff88086f4354afae0262f922cd05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e613ff88086f4354afae0262f922cd05.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-3c5c100fade8405bba18bf22908af5d1.html" target="element"> Componentes de Apoyo al Administraci&#243;n Correo Certificado </a> </td>
																		<td> <a href="../elements/id-baecf7b0ae86415aa47627fd1109d691.html" target="element"> COMP31. Administraci&#243;n de Correo </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0977b7f4acaa4be2b8e267a088f6c526.html" target="element"> usa </a> </td>
																		<td> <a href="../elements/id-0977b7f4acaa4be2b8e267a088f6c526.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-1bd543465d584d76af445d0e45a00be4.html" target="element"> SERV21. Servicio Correo Certificado </a> </td>
																		<td> <a href="../elements/id-a0ea223cdba84cc3bcc9c40055848b7d.html" target="element"> SERV20. Servicio Firma Digital </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c0bd58e5d6784721a620b6c805fbd743.html" target="element"> sirve </a> </td>
																		<td> <a href="../elements/id-c0bd58e5d6784721a620b6c805fbd743.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-1bd543465d584d76af445d0e45a00be4.html" target="element"> SERV21. Servicio Correo Certificado </a> </td>
																		<td> <a href="../elements/id-9f641b771ff44ff0be46fc4f6dfdd7ce.html" target="element"> PROD25. Env&#237;o de correo certificado (eletr&#243;nico o f&#237;sico) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-34a4e46519354201a9eccb3f6265a4bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-34a4e46519354201a9eccb3f6265a4bf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-269703e3eef146b99cee16a6493b1746.html" target="element"> FUNC400. Correo confiable </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8f91df6f3a05459b993dec207fce82d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f91df6f3a05459b993dec207fce82d3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-e6290dcdf77c4b9ebeb9ef5a6348d7e6.html" target="element"> FUNC401. Correo autenticado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1dc449ad5098467b8cd6547dfd2d3582.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1dc449ad5098467b8cd6547dfd2d3582.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-449b3f2ef4524f82bc35b5078f53edbb.html" target="element"> FUNC403. Huella digital de correo certificado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28a8add9f8724fe3a4c586493b48a969.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28a8add9f8724fe3a4c586493b48a969.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-2feed8c2589149f9be92184b2fdda99b.html" target="element"> FUNC402. Seguimiento de Correo certificado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8908acd2aadd446680da06ac5eea66ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8908acd2aadd446680da06ac5eea66ff.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-a766d8ec4b7d4be898287141e46d873e.html" target="element"> FUNC405. Verificaci&#243;n web del correo emitido EAAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2b380c1ad05943bdbb516024876d43b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b380c1ad05943bdbb516024876d43b2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-c1e56cc936d042d6aae1dab494602852.html" target="element"> FUNC407. Integraci&#243;n de bandejas de correo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8fdd701f63fa463bab007e0e3a599131.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fdd701f63fa463bab007e0e3a599131.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-73aefbd5070d490185d2c13e1aa4d866.html" target="element"> FUNC406. Verificaci&#243;n de validez del correo electr&#243;nico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d90f14833fa4faba2f799fd2fc97950.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d90f14833fa4faba2f799fd2fc97950.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-b0761a724ec34ab0a7a36625c3502fab.html" target="element"> FUNC404. Consulta estado del correo enviado </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>