<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Interoperabilidad. Normatividad</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Interoperabilidad. Normatividad</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-285c389e55ff452792ad1dc911cdf6a2.png" alt="Interoperabilidad. Normatividad" usemap="#id-285c389e55ff452792ad1dc911cdf6a2map"/>
			   <map name="id-285c389e55ff452792ad1dc911cdf6a2map">
				  		<area shape="rect" coords="226,298,346,353" href="../elements/id-4b754b5921824ec39437f91eadfef53a.html"  target="element">
				  				<area shape="rect" coords="226,106,346,161" href="../elements/id-87ab376d48d84ef3b511bcf2d70a8632.html"  target="element">
				  				<area shape="rect" coords="370,46,490,101" href="../elements/id-1b24bb8415f34e38bcc60949d79fce33.html"  target="element">
				  				<area shape="rect" coords="226,46,346,101" href="../elements/id-a1c06a40b243484caf28f7c247ba9d30.html"  target="element">

				  		<area shape="rect" coords="202,10,600,227" href="../elements/id-7600ceff0a3846ed9adfbf088268a0a0.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/63bbcb70-8c6b-414d-abf5-cde4b5843f76.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/63bbcb70-8c6b-414d-abf5-cde4b5843f76.html" target="element"> Interoperabilidad </a> </td>
											    <td> <a href="../elements/63bbcb70-8c6b-414d-abf5-cde4b5843f76.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7600ceff0a3846ed9adfbf088268a0a0.html" target="element"> Normativa de Ineroperabilidad SGDEA </a> </td>
											    <td> <a href="../elements/id-7600ceff0a3846ed9adfbf088268a0a0.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a1c06a40b243484caf28f7c247ba9d30.html" target="element"> Ley 2052 de 25 Agosto 2020, Art&#237;culo 8, 10 </a> </td>
													    <td> <a href="../elements/id-a1c06a40b243484caf28f7c247ba9d30.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1b24bb8415f34e38bcc60949d79fce33.html" target="element"> Decreto 620 de 2020 </a> </td>
													    <td> <a href="../elements/id-1b24bb8415f34e38bcc60949d79fce33.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-87ab376d48d84ef3b511bcf2d70a8632.html" target="element"> Decreto 620 de 2020. Art&#237;culo 2.2.17.6.5 </a> </td>
													    <td> <a href="../elements/id-87ab376d48d84ef3b511bcf2d70a8632.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4b754b5921824ec39437f91eadfef53a.html" target="element"> Sede Electr&#243;nica </a> </td>
											    <td> <a href="../elements/id-4b754b5921824ec39437f91eadfef53a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3a1ef0154549400fb96a6c1e39d57c90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a1ef0154549400fb96a6c1e39d57c90.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/63bbcb70-8c6b-414d-abf5-cde4b5843f76.html" target="element"> Interoperabilidad </a> </td>
																		<td> <a href="../elements/id-7600ceff0a3846ed9adfbf088268a0a0.html" target="element"> Normativa de Ineroperabilidad SGDEA </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7446dc1ace2f4d04a3e0e8b7804a2a4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7446dc1ace2f4d04a3e0e8b7804a2a4c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7600ceff0a3846ed9adfbf088268a0a0.html" target="element"> Normativa de Ineroperabilidad SGDEA </a> </td>
																		<td> <a href="../elements/id-a1c06a40b243484caf28f7c247ba9d30.html" target="element"> Ley 2052 de 25 Agosto 2020, Art&#237;culo 8, 10 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9c5362a9aa6140c9a47eb48e7428cb32.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c5362a9aa6140c9a47eb48e7428cb32.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7600ceff0a3846ed9adfbf088268a0a0.html" target="element"> Normativa de Ineroperabilidad SGDEA </a> </td>
																		<td> <a href="../elements/id-1b24bb8415f34e38bcc60949d79fce33.html" target="element"> Decreto 620 de 2020 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b1264ee2a7c4426b8519fd34fc927e35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1264ee2a7c4426b8519fd34fc927e35.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7600ceff0a3846ed9adfbf088268a0a0.html" target="element"> Normativa de Ineroperabilidad SGDEA </a> </td>
																		<td> <a href="../elements/id-87ab376d48d84ef3b511bcf2d70a8632.html" target="element"> Decreto 620 de 2020. Art&#237;culo 2.2.17.6.5 </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-69b3427e473748ebbdda7ad69dc8b62d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-69b3427e473748ebbdda7ad69dc8b62d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4b754b5921824ec39437f91eadfef53a.html" target="element"> Sede Electr&#243;nica </a> </td>
																		<td> <a href="../elements/id-87ab376d48d84ef3b511bcf2d70a8632.html" target="element"> Decreto 620 de 2020. Art&#237;culo 2.2.17.6.5 </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>