<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Firma Digital. Solución</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Firma Digital. Soluci&#243;n</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-2b2a476a32b54eb68575f6b0b8feeb59.png" alt="Firma Digital. Solución" usemap="#id-2b2a476a32b54eb68575f6b0b8feeb59map"/>
			   <map name="id-2b2a476a32b54eb68575f6b0b8feeb59map">
				  				<area shape="rect" coords="645,347,777,402" href="../elements/id-2a9367d3780e40b89433fd2b81be57b7.html"  target="element">
				  				<area shape="rect" coords="933,347,1089,402" href="../elements/id-30eda2b1d5034ef4815387bd188f71d6.html"  target="element">
				  				<area shape="rect" coords="789,347,921,402" href="../elements/id-c61b3088d8c348fca7e3f1663b6300c2.html"  target="element">

				  		<area shape="rect" coords="573,311,1114,432" href="../elements/id-17b7c940360f4cf6b32d257bd49a59a9.html"  target="element">
				  				<area shape="rect" coords="478,683,598,738" href="../elements/4fcb46bb-2647-4a25-bed5-5b6047e8b9c4.html"  target="element">
				  				<area shape="rect" coords="514,803,634,858" href="../elements/482b8bf3-f0ef-4f89-9a14-354fd9e3ccd1.html"  target="element">
				  				<area shape="rect" coords="478,863,598,918" href="../elements/id-6a2020b09b36419684f9cc24866dafb2.html"  target="element">
				  				<area shape="rect" coords="514,743,634,798" href="../elements/id-e89850a727ae4890b940ff97c87917b5.html"  target="element">
				  				<area shape="rect" coords="478,623,598,678" href="../elements/id-3ca89f47464a4a21aaddad44cb1ff779.html"  target="element">

				  		<area shape="rect" coords="442,551,658,947" href="../elements/id-123a4ef983d84ec7a88848470b2f60b9.html"  target="element">
				          <area shape="rect" coords="430,10,647,118" href="../objects/id-afcf2ff3ae204026abf4ad9e206620a2.html" target="element" >
				  				<area shape="rect" coords="202,419,346,474" href="../elements/id-baf240e1fe87473b94489842e8b72fc1.html"  target="element">
				  				<area shape="rect" coords="34,359,178,414" href="../elements/id-c67a07bea1ba44a38d667ee58404fb01.html"  target="element">
				  				<area shape="rect" coords="34,419,178,474" href="../elements/id-a42b3391181441a4b1d3110f0ed32782.html"  target="element">
				  				<area shape="rect" coords="202,359,346,414" href="../elements/id-2ce71fd39bcf4692b593784bb1bddc8c.html"  target="element">

				  		<area shape="rect" coords="10,311,374,503" href="../elements/id-efc3ae042a8b4a56bbfbb1115525f567.html"  target="element">
				  				<area shape="rect" coords="934,888,1070,943" href="../elements/id-57d554d59c1d4765ace8839709b9a87c.html"  target="element">
				  				<area shape="rect" coords="774,648,922,703" href="../elements/56891c7c-0c3c-4311-a4a5-db8277a25a4b.html"  target="element">
				  				<area shape="rect" coords="774,888,922,943" href="../elements/650e8792-6203-43b5-9459-d2c4387e2535.html"  target="element">
				  				<area shape="rect" coords="774,587,922,642" href="../elements/4f015317-3ca8-4deb-86fe-9be3b719d96c.html"  target="element">
				  				<area shape="rect" coords="774,768,922,823" href="../elements/6cf72d51-945d-4109-a3cc-049de83cd8d8.html"  target="element">
				  				<area shape="rect" coords="774,828,922,883" href="../elements/5af4986d-9bf1-4516-b93b-0eccdf000fbc.html"  target="element">
				  				<area shape="rect" coords="934,647,1070,702" href="../elements/839338eb-9256-4ef7-9aa6-4a924241c725.html"  target="element">
				  				<area shape="rect" coords="934,767,1070,822" href="../elements/172d4698-e25b-4d90-adab-e167f38a3db7.html"  target="element">
				  				<area shape="rect" coords="774,708,922,763" href="../elements/806642dc-f2e9-453a-81e0-ec7d10c1d783.html"  target="element">
				  				<area shape="rect" coords="934,587,1070,642" href="../elements/9a3eea0d-5d6e-4811-a622-53856328d147.html"  target="element">
				  				<area shape="rect" coords="934,828,1070,883" href="../elements/f1dbfa1d-0df8-47dd-8633-3776f2fd2eba.html"  target="element">
				  				<area shape="rect" coords="934,707,1070,762" href="../elements/235f495e-083e-4418-91be-587c47eb824c.html"  target="element">

				  		<area shape="rect" coords="730,551,1114,972" href="../elements/id-04a988ca73a345d7a16d5745cbd27df2.html"  target="element">
				  		<area shape="rect" coords="862,142,1114,197" href="../elements/id-1bd543465d584d76af445d0e45a00be4.html"  target="element">
				  		<area shape="rect" coords="430,142,718,197" href="../elements/id-a0ea223cdba84cc3bcc9c40055848b7d.html"  target="element">
				  						<area shape="rect" coords="94,790,214,845" href="../elements/id-c1370aea9b734e3095da32cfd3d90b51.html"  target="element">
				  						<area shape="rect" coords="94,730,214,785" href="../elements/id-410dbd6d8d434614a39b0f1526db8237.html"  target="element">
				  						<area shape="rect" coords="94,670,214,725" href="../elements/id-9f2867071fe24fa4adbdb8597fce3814.html"  target="element">
				  						<area shape="rect" coords="94,610,214,665" href="../elements/id-a2de786f47cd42ca9b6f9aae0d583c8f.html"  target="element">

				  				<area shape="rect" coords="58,574,238,875" href="../elements/id-d2bc0c11f80c439ea353673fb8f181e0.html"  target="element">

				  		<area shape="rect" coords="22,526,386,934" href="../elements/id-658bca518c224332bdeb7b3da4a91d7b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Esta soluci&#243;n comprende los tipos de firmas que se utilizan con los tipos documentales analizados de las dependencias de la EAAB basados en los documentos de an&#225;lisis y levantamiento de informacio&#769;n realizados en la entidad.
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-658bca518c224332bdeb7b3da4a91d7b.html" target="element"> Componentes de Apoyo a Firma Digital </a> </td>
											    <td> <a href="../elements/id-658bca518c224332bdeb7b3da4a91d7b.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d2bc0c11f80c439ea353673fb8f181e0.html" target="element"> COMP24. Almacenamiento </a> </td>
													    <td> <a href="../elements/id-d2bc0c11f80c439ea353673fb8f181e0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-a2de786f47cd42ca9b6f9aae0d583c8f.html" target="element"> Expediente f&#237;sico y electr&#243;nico </a> </td>
															    <td> <a href="../elements/id-a2de786f47cd42ca9b6f9aae0d583c8f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9f2867071fe24fa4adbdb8597fce3814.html" target="element"> Foliaci&#243;n </a> </td>
															    <td> <a href="../elements/id-9f2867071fe24fa4adbdb8597fce3814.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-410dbd6d8d434614a39b0f1526db8237.html" target="element"> Indexaci&#243;n </a> </td>
															    <td> <a href="../elements/id-410dbd6d8d434614a39b0f1526db8237.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-c1370aea9b734e3095da32cfd3d90b51.html" target="element"> Metadatos </a> </td>
															    <td> <a href="../elements/id-c1370aea9b734e3095da32cfd3d90b51.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-a0ea223cdba84cc3bcc9c40055848b7d.html" target="element"> SERV20. Servicio Firma Digital </a> </td>
											    <td> <a href="../elements/id-a0ea223cdba84cc3bcc9c40055848b7d.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1bd543465d584d76af445d0e45a00be4.html" target="element"> SERV21. Servicio Correo Certificado </a> </td>
											    <td> <a href="../elements/id-1bd543465d584d76af445d0e45a00be4.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-04a988ca73a345d7a16d5745cbd27df2.html" target="element"> Funcionalidades del Alcance de Firma Digital </a> </td>
											    <td> <a href="../elements/id-04a988ca73a345d7a16d5745cbd27df2.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/235f495e-083e-4418-91be-587c47eb824c.html" target="element"> FUNC311. Control de acceso tipos documentales </a> </td>
													    <td> <a href="../elements/235f495e-083e-4418-91be-587c47eb824c.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f1dbfa1d-0df8-47dd-8633-3776f2fd2eba.html" target="element"> FUNC312. Control de visualizaci&#243;n de contenido </a> </td>
													    <td> <a href="../elements/f1dbfa1d-0df8-47dd-8633-3776f2fd2eba.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9a3eea0d-5d6e-4811-a622-53856328d147.html" target="element"> FUNC305. Paginado de documentos </a> </td>
													    <td> <a href="../elements/9a3eea0d-5d6e-4811-a622-53856328d147.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/806642dc-f2e9-453a-81e0-ec7d10c1d783.html" target="element"> FUNC307. Control de Firmado </a> </td>
													    <td> <a href="../elements/806642dc-f2e9-453a-81e0-ec7d10c1d783.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/172d4698-e25b-4d90-adab-e167f38a3db7.html" target="element"> FUNC314. Confidencialidad de documentos </a> </td>
													    <td> <a href="../elements/172d4698-e25b-4d90-adab-e167f38a3db7.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/839338eb-9256-4ef7-9aa6-4a924241c725.html" target="element"> FUNC308. Exportaci&#243;n de documento </a> </td>
													    <td> <a href="../elements/839338eb-9256-4ef7-9aa6-4a924241c725.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5af4986d-9bf1-4516-b93b-0eccdf000fbc.html" target="element"> FUNC309. Acceso a firma de documento </a> </td>
													    <td> <a href="../elements/5af4986d-9bf1-4516-b93b-0eccdf000fbc.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6cf72d51-945d-4109-a3cc-049de83cd8d8.html" target="element"> FUNC310. Control expediente </a> </td>
													    <td> <a href="../elements/6cf72d51-945d-4109-a3cc-049de83cd8d8.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4f015317-3ca8-4deb-86fe-9be3b719d96c.html" target="element"> FUNC301. Control de edici&#243;n del documento </a> </td>
													    <td> <a href="../elements/4f015317-3ca8-4deb-86fe-9be3b719d96c.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/650e8792-6203-43b5-9459-d2c4387e2535.html" target="element"> FUNC317.  Opciones de control de acceso </a> </td>
													    <td> <a href="../elements/650e8792-6203-43b5-9459-d2c4387e2535.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/56891c7c-0c3c-4311-a4a5-db8277a25a4b.html" target="element"> FUNC304. Opciones de impresi&#243;n </a> </td>
													    <td> <a href="../elements/56891c7c-0c3c-4311-a4a5-db8277a25a4b.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-57d554d59c1d4765ace8839709b9a87c.html" target="element"> FUNC319. Almacenamiento de la(s) Firma </a> </td>
													    <td> <a href="../elements/id-57d554d59c1d4765ace8839709b9a87c.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-efc3ae042a8b4a56bbfbb1115525f567.html" target="element"> Procesos Gesti&#243;n Documental de Apoyo a Firma Digital </a> </td>
											    <td> <a href="../elements/id-efc3ae042a8b4a56bbfbb1115525f567.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2ce71fd39bcf4692b593784bb1bddc8c.html" target="element"> PRAPP15. Archivo </a> </td>
													    <td> <a href="../elements/id-2ce71fd39bcf4692b593784bb1bddc8c.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a42b3391181441a4b1d3110f0ed32782.html" target="element"> PRAPP13. Almacenamiento </a> </td>
													    <td> <a href="../elements/id-a42b3391181441a4b1d3110f0ed32782.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c67a07bea1ba44a38d667ee58404fb01.html" target="element"> PRAPP14. Respuesta </a> </td>
													    <td> <a href="../elements/id-c67a07bea1ba44a38d667ee58404fb01.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-baf240e1fe87473b94489842e8b72fc1.html" target="element"> PRAPP12. Producci&#243;n </a> </td>
													    <td> <a href="../elements/id-baf240e1fe87473b94489842e8b72fc1.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-afcf2ff3ae204026abf4ad9e206620a2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-afcf2ff3ae204026abf4ad9e206620a2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-123a4ef983d84ec7a88848470b2f60b9.html" target="element"> COMP25. Firma Digital </a> </td>
											    <td> <a href="../elements/id-123a4ef983d84ec7a88848470b2f60b9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3ca89f47464a4a21aaddad44cb1ff779.html" target="element"> COMP26. Firmas digitales </a> </td>
													    <td> <a href="../elements/id-3ca89f47464a4a21aaddad44cb1ff779.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e89850a727ae4890b940ff97c87917b5.html" target="element"> COMP27. Estampas cronol&#243;gicas </a> </td>
													    <td> <a href="../elements/id-e89850a727ae4890b940ff97c87917b5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6a2020b09b36419684f9cc24866dafb2.html" target="element"> COMP28. Generaci&#243;n de clave din&#225;mica </a> </td>
													    <td> <a href="../elements/id-6a2020b09b36419684f9cc24866dafb2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/482b8bf3-f0ef-4f89-9a14-354fd9e3ccd1.html" target="element"> COMP30. Validaci&#243;n de firma del documento </a> </td>
													    <td> <a href="../elements/482b8bf3-f0ef-4f89-9a14-354fd9e3ccd1.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4fcb46bb-2647-4a25-bed5-5b6047e8b9c4.html" target="element"> COMP29. Firmas electr&#243;nicas </a> </td>
													    <td> <a href="../elements/4fcb46bb-2647-4a25-bed5-5b6047e8b9c4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-17b7c940360f4cf6b32d257bd49a59a9.html" target="element"> Flujos Documentales (WFM) </a> </td>
											    <td> <a href="../elements/id-17b7c940360f4cf6b32d257bd49a59a9.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c61b3088d8c348fca7e3f1663b6300c2.html" target="element"> FLUJ26. Flujo firmado documento </a> </td>
													    <td> <a href="../elements/id-c61b3088d8c348fca7e3f1663b6300c2.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-30eda2b1d5034ef4815387bd188f71d6.html" target="element"> FLUJ27. Flujo validaci&#243;n documento firmado </a> </td>
													    <td> <a href="../elements/id-30eda2b1d5034ef4815387bd188f71d6.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2a9367d3780e40b89433fd2b81be57b7.html" target="element"> FLUJ25. Flujo acceso y edici&#243;n de la firma </a> </td>
													    <td> <a href="../elements/id-2a9367d3780e40b89433fd2b81be57b7.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-729f58b100c74224a71a9f4bdb698431.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-729f58b100c74224a71a9f4bdb698431.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-658bca518c224332bdeb7b3da4a91d7b.html" target="element"> Componentes de Apoyo a Firma Digital </a> </td>
																		<td> <a href="../elements/id-d2bc0c11f80c439ea353673fb8f181e0.html" target="element"> COMP24. Almacenamiento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6dcc8d0cc42c460db05ad66b3f0530f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6dcc8d0cc42c460db05ad66b3f0530f1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-658bca518c224332bdeb7b3da4a91d7b.html" target="element"> Componentes de Apoyo a Firma Digital </a> </td>
																		<td> <a href="../elements/id-123a4ef983d84ec7a88848470b2f60b9.html" target="element"> COMP25. Firma Digital </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-0403a4a9bb2e42a7a08b83c4e4927551.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0403a4a9bb2e42a7a08b83c4e4927551.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-d2bc0c11f80c439ea353673fb8f181e0.html" target="element"> COMP24. Almacenamiento </a> </td>
																				<td> <a href="../elements/id-c1370aea9b734e3095da32cfd3d90b51.html" target="element"> Metadatos </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3dc5c59e097d472396ff7118d4460992.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3dc5c59e097d472396ff7118d4460992.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-d2bc0c11f80c439ea353673fb8f181e0.html" target="element"> COMP24. Almacenamiento </a> </td>
																				<td> <a href="../elements/id-410dbd6d8d434614a39b0f1526db8237.html" target="element"> Indexaci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8850a71e605e4fd9bebd2d51780af2a1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8850a71e605e4fd9bebd2d51780af2a1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-d2bc0c11f80c439ea353673fb8f181e0.html" target="element"> COMP24. Almacenamiento </a> </td>
																				<td> <a href="../elements/id-9f2867071fe24fa4adbdb8597fce3814.html" target="element"> Foliaci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-94c512439f1241cab742577db718fe24.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-94c512439f1241cab742577db718fe24.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-d2bc0c11f80c439ea353673fb8f181e0.html" target="element"> COMP24. Almacenamiento </a> </td>
																				<td> <a href="../elements/id-a2de786f47cd42ca9b6f9aae0d583c8f.html" target="element"> Expediente f&#237;sico y electr&#243;nico </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-da0394d63f4442119e31946b19fde892.html" target="element"> consume </a> </td>
																		<td> <a href="../elements/id-da0394d63f4442119e31946b19fde892.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/id-a0ea223cdba84cc3bcc9c40055848b7d.html" target="element"> SERV20. Servicio Firma Digital </a> </td>
																		<td> <a href="../elements/id-1bd543465d584d76af445d0e45a00be4.html" target="element"> SERV21. Servicio Correo Certificado </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-39ffafc3d7684224bed69ae567e0ce45.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39ffafc3d7684224bed69ae567e0ce45.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-04a988ca73a345d7a16d5745cbd27df2.html" target="element"> Funcionalidades del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/56891c7c-0c3c-4311-a4a5-db8277a25a4b.html" target="element"> FUNC304. Opciones de impresi&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd7505f1e6c245c2b55742ce60adc8be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd7505f1e6c245c2b55742ce60adc8be.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-04a988ca73a345d7a16d5745cbd27df2.html" target="element"> Funcionalidades del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/650e8792-6203-43b5-9459-d2c4387e2535.html" target="element"> FUNC317.  Opciones de control de acceso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7a040a0dd4dd440b8b9988cc31970038.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a040a0dd4dd440b8b9988cc31970038.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-04a988ca73a345d7a16d5745cbd27df2.html" target="element"> Funcionalidades del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/839338eb-9256-4ef7-9aa6-4a924241c725.html" target="element"> FUNC308. Exportaci&#243;n de documento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-01e559530c854062921d372a7d5a5f76.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01e559530c854062921d372a7d5a5f76.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-04a988ca73a345d7a16d5745cbd27df2.html" target="element"> Funcionalidades del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/235f495e-083e-4418-91be-587c47eb824c.html" target="element"> FUNC311. Control de acceso tipos documentales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22ffdd215ff34d14b54b57172ff94e87.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22ffdd215ff34d14b54b57172ff94e87.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-04a988ca73a345d7a16d5745cbd27df2.html" target="element"> Funcionalidades del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/f1dbfa1d-0df8-47dd-8633-3776f2fd2eba.html" target="element"> FUNC312. Control de visualizaci&#243;n de contenido </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9539f59640ea49efb9cfd9fda7167eb0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9539f59640ea49efb9cfd9fda7167eb0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-04a988ca73a345d7a16d5745cbd27df2.html" target="element"> Funcionalidades del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/172d4698-e25b-4d90-adab-e167f38a3db7.html" target="element"> FUNC314. Confidencialidad de documentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9b3af942a45c42b7889e3b4670763bf1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b3af942a45c42b7889e3b4670763bf1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-04a988ca73a345d7a16d5745cbd27df2.html" target="element"> Funcionalidades del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/806642dc-f2e9-453a-81e0-ec7d10c1d783.html" target="element"> FUNC307. Control de Firmado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9b149213b98841878e4ff546a088b22e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b149213b98841878e4ff546a088b22e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-04a988ca73a345d7a16d5745cbd27df2.html" target="element"> Funcionalidades del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/4f015317-3ca8-4deb-86fe-9be3b719d96c.html" target="element"> FUNC301. Control de edici&#243;n del documento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ffb0dbd19a2d480ebc71a37e1afadcf7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ffb0dbd19a2d480ebc71a37e1afadcf7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-04a988ca73a345d7a16d5745cbd27df2.html" target="element"> Funcionalidades del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/6cf72d51-945d-4109-a3cc-049de83cd8d8.html" target="element"> FUNC310. Control expediente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-06cbb84e0a1844e9b03532955176b403.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-06cbb84e0a1844e9b03532955176b403.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-04a988ca73a345d7a16d5745cbd27df2.html" target="element"> Funcionalidades del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/5af4986d-9bf1-4516-b93b-0eccdf000fbc.html" target="element"> FUNC309. Acceso a firma de documento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a0d8edf7f0da49e5ac251272df072c77.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a0d8edf7f0da49e5ac251272df072c77.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-04a988ca73a345d7a16d5745cbd27df2.html" target="element"> Funcionalidades del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/9a3eea0d-5d6e-4811-a622-53856328d147.html" target="element"> FUNC305. Paginado de documentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4402d0e6-4642-4514-9edc-30cc87bef371.html" target="element">  </a> </td>
																		<td> <a href="../elements/4402d0e6-4642-4514-9edc-30cc87bef371.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-04a988ca73a345d7a16d5745cbd27df2.html" target="element"> Funcionalidades del Alcance de Firma Digital </a> </td>
																		<td> <a href="../elements/id-57d554d59c1d4765ace8839709b9a87c.html" target="element"> FUNC319. Almacenamiento de la(s) Firma </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-87549da730a047b6b12f5abcf1f88798.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87549da730a047b6b12f5abcf1f88798.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-efc3ae042a8b4a56bbfbb1115525f567.html" target="element"> Procesos Gesti&#243;n Documental de Apoyo a Firma Digital </a> </td>
																		<td> <a href="../elements/id-2ce71fd39bcf4692b593784bb1bddc8c.html" target="element"> PRAPP15. Archivo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2a331f9046114380846aa84450355d11.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a331f9046114380846aa84450355d11.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-efc3ae042a8b4a56bbfbb1115525f567.html" target="element"> Procesos Gesti&#243;n Documental de Apoyo a Firma Digital </a> </td>
																		<td> <a href="../elements/id-a42b3391181441a4b1d3110f0ed32782.html" target="element"> PRAPP13. Almacenamiento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9dd42083b5c54c88b11b6e52f7085790.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9dd42083b5c54c88b11b6e52f7085790.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-efc3ae042a8b4a56bbfbb1115525f567.html" target="element"> Procesos Gesti&#243;n Documental de Apoyo a Firma Digital </a> </td>
																		<td> <a href="../elements/id-c67a07bea1ba44a38d667ee58404fb01.html" target="element"> PRAPP14. Respuesta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-60845dd374944ddca729f92c89b5600c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-60845dd374944ddca729f92c89b5600c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-efc3ae042a8b4a56bbfbb1115525f567.html" target="element"> Procesos Gesti&#243;n Documental de Apoyo a Firma Digital </a> </td>
																		<td> <a href="../elements/id-baf240e1fe87473b94489842e8b72fc1.html" target="element"> PRAPP12. Producci&#243;n </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-09b7ef4198c346fabf7bd9bd7f6ebe70.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-09b7ef4198c346fabf7bd9bd7f6ebe70.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-123a4ef983d84ec7a88848470b2f60b9.html" target="element"> COMP25. Firma Digital </a> </td>
																		<td> <a href="../elements/id-3ca89f47464a4a21aaddad44cb1ff779.html" target="element"> COMP26. Firmas digitales </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4f4f6ac2c1e943c8ae8267f296e43e2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f4f6ac2c1e943c8ae8267f296e43e2f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-123a4ef983d84ec7a88848470b2f60b9.html" target="element"> COMP25. Firma Digital </a> </td>
																		<td> <a href="../elements/id-e89850a727ae4890b940ff97c87917b5.html" target="element"> COMP27. Estampas cronol&#243;gicas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ebb6fb5d0f53406982af74b7c5037c6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ebb6fb5d0f53406982af74b7c5037c6b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-123a4ef983d84ec7a88848470b2f60b9.html" target="element"> COMP25. Firma Digital </a> </td>
																		<td> <a href="../elements/id-6a2020b09b36419684f9cc24866dafb2.html" target="element"> COMP28. Generaci&#243;n de clave din&#225;mica </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a0a3de0ed7e9404c915f009af6f762af.html" target="element"> implementa </a> </td>
																		<td> <a href="../elements/id-a0a3de0ed7e9404c915f009af6f762af.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-123a4ef983d84ec7a88848470b2f60b9.html" target="element"> COMP25. Firma Digital </a> </td>
																		<td> <a href="../elements/id-a0ea223cdba84cc3bcc9c40055848b7d.html" target="element"> SERV20. Servicio Firma Digital </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3a9114a3-ac41-4863-99b6-3f04a13735bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a9114a3-ac41-4863-99b6-3f04a13735bd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-123a4ef983d84ec7a88848470b2f60b9.html" target="element"> COMP25. Firma Digital </a> </td>
																		<td> <a href="../elements/482b8bf3-f0ef-4f89-9a14-354fd9e3ccd1.html" target="element"> COMP30. Validaci&#243;n de firma del documento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/29b20b8d-ecd0-491a-ae1f-d4607aace8d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/29b20b8d-ecd0-491a-ae1f-d4607aace8d3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-123a4ef983d84ec7a88848470b2f60b9.html" target="element"> COMP25. Firma Digital </a> </td>
																		<td> <a href="../elements/4fcb46bb-2647-4a25-bed5-5b6047e8b9c4.html" target="element"> COMP29. Firmas electr&#243;nicas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a3a79b2167884a8fbe477434ce78727e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a3a79b2167884a8fbe477434ce78727e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-123a4ef983d84ec7a88848470b2f60b9.html" target="element"> COMP25. Firma Digital </a> </td>
																		<td> <a href="../elements/id-17b7c940360f4cf6b32d257bd49a59a9.html" target="element"> Flujos Documentales (WFM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-155411815ce64de8a9d9ab6305a656a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-155411815ce64de8a9d9ab6305a656a6.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-123a4ef983d84ec7a88848470b2f60b9.html" target="element"> COMP25. Firma Digital </a> </td>
																		<td> <a href="../elements/id-04a988ca73a345d7a16d5745cbd27df2.html" target="element"> Funcionalidades del Alcance de Firma Digital </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/ae7e4ee3-3639-4457-9db9-4d818892fb77.html" target="element">  </a> </td>
																				<td> <a href="../elements/ae7e4ee3-3639-4457-9db9-4d818892fb77.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																				<td> <a href="../elements/4fcb46bb-2647-4a25-bed5-5b6047e8b9c4.html" target="element"> COMP29. Firmas electr&#243;nicas </a> </td>
																				<td> <a href="../elements/id-6a2020b09b36419684f9cc24866dafb2.html" target="element"> COMP28. Generaci&#243;n de clave din&#225;mica </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-2388d944956f4b16b5c9d9a9862d07c2.html" target="element"> sirve </a> </td>
																		<td> <a href="../elements/id-2388d944956f4b16b5c9d9a9862d07c2.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-17b7c940360f4cf6b32d257bd49a59a9.html" target="element"> Flujos Documentales (WFM) </a> </td>
																		<td> <a href="../elements/id-a0ea223cdba84cc3bcc9c40055848b7d.html" target="element"> SERV20. Servicio Firma Digital </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e0ff4a227b8c4457b9077225025baca4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e0ff4a227b8c4457b9077225025baca4.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-c61b3088d8c348fca7e3f1663b6300c2.html" target="element"> FLUJ26. Flujo firmado documento </a> </td>
																				<td> <a href="../elements/id-17b7c940360f4cf6b32d257bd49a59a9.html" target="element"> Flujos Documentales (WFM) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-c42728cc095a4fc3a27d17a764715f1c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c42728cc095a4fc3a27d17a764715f1c.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-30eda2b1d5034ef4815387bd188f71d6.html" target="element"> FLUJ27. Flujo validaci&#243;n documento firmado </a> </td>
																				<td> <a href="../elements/id-17b7c940360f4cf6b32d257bd49a59a9.html" target="element"> Flujos Documentales (WFM) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-85ddcfb7638342b28581737975ebe65f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-85ddcfb7638342b28581737975ebe65f.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/id-2a9367d3780e40b89433fd2b81be57b7.html" target="element"> FLUJ25. Flujo acceso y edici&#243;n de la firma </a> </td>
																				<td> <a href="../elements/id-17b7c940360f4cf6b32d257bd49a59a9.html" target="element"> Flujos Documentales (WFM) </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>