<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Correo Certificado. Requerimientos y Funcionalidades</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Correo Certificado. Requerimientos y Funcionalidades</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-58d06420cb734e9d87ea2198e4ea27d9.png" alt="Correo Certificado. Requerimientos y Funcionalidades" usemap="#id-58d06420cb734e9d87ea2198e4ea27d9map"/>
			   <map name="id-58d06420cb734e9d87ea2198e4ea27d9map">
				  		<area shape="rect" coords="10,262,203,317" href="../elements/id-008d2a69801f45bab2eab0df8bfde31d.html"  target="element">
				  		<area shape="rect" coords="394,262,538,317" href="../elements/id-b0761a724ec34ab0a7a36625c3502fab.html"  target="element">
				  		<area shape="rect" coords="394,76,538,131" href="../elements/id-449b3f2ef4524f82bc35b5078f53edbb.html"  target="element">
				  		<area shape="rect" coords="10,196,203,251" href="../elements/id-17982402859d47da8f8365f85764b565.html"  target="element">
				  		<area shape="rect" coords="10,136,203,191" href="../elements/id-b2412338b2c149e7a1f52eb6d2c5fbba.html"  target="element">
				  		<area shape="rect" coords="10,76,203,131" href="../elements/id-bf6e3d0d0c3b4521b2b8a1372d967d5d.html"  target="element">
				  		<area shape="rect" coords="10,10,203,65" href="../elements/id-e8b8c15f88b74bc4bfffda8c6a9ecf1e.html"  target="element">
				  		<area shape="rect" coords="394,10,538,65" href="../elements/id-2feed8c2589149f9be92184b2fdda99b.html"  target="element">
				  		<area shape="rect" coords="394,202,538,257" href="../elements/id-e6290dcdf77c4b9ebeb9ef5a6348d7e6.html"  target="element">
				  		<area shape="rect" coords="394,142,538,197" href="../elements/id-269703e3eef146b99cee16a6493b1746.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">La soluci&#243;n de correo certificado del SGDEA de la EAAB aplica a env&#237;os f&#237;sicos y electr&#243;nicos. La lista de requerimientos REQR del 20 al 24 son el alcance de la soluci&#243;n de Administraci&#243;n de Correo Certificado del SGDEA.

</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-269703e3eef146b99cee16a6493b1746.html" target="element"> FUNC400. Correo confiable </a> </td>
											    <td> <a href="../elements/id-269703e3eef146b99cee16a6493b1746.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e6290dcdf77c4b9ebeb9ef5a6348d7e6.html" target="element"> FUNC401. Correo autenticado </a> </td>
											    <td> <a href="../elements/id-e6290dcdf77c4b9ebeb9ef5a6348d7e6.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2feed8c2589149f9be92184b2fdda99b.html" target="element"> FUNC402. Seguimiento de Correo certificado </a> </td>
											    <td> <a href="../elements/id-2feed8c2589149f9be92184b2fdda99b.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e8b8c15f88b74bc4bfffda8c6a9ecf1e.html" target="element"> REQR20. Evitar la p&#233;rdida de correos EAAB de respuesta  </a> </td>
											    <td> <a href="../elements/id-e8b8c15f88b74bc4bfffda8c6a9ecf1e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf6e3d0d0c3b4521b2b8a1372d967d5d.html" target="element"> REQR21. Auditor&#237;a de  entrada / salida de correos certificados </a> </td>
											    <td> <a href="../elements/id-bf6e3d0d0c3b4521b2b8a1372d967d5d.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b2412338b2c149e7a1f52eb6d2c5fbba.html" target="element"> REQR22. Garantizar la recepci&#243;n de los correos certificados enviados EAAB </a> </td>
											    <td> <a href="../elements/id-b2412338b2c149e7a1f52eb6d2c5fbba.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17982402859d47da8f8365f85764b565.html" target="element"> REQR23. Garantizar la autenticidad y no repudio de los correo salientes EAAB </a> </td>
											    <td> <a href="../elements/id-17982402859d47da8f8365f85764b565.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-449b3f2ef4524f82bc35b5078f53edbb.html" target="element"> FUNC403. Huella digital de correo certificado </a> </td>
											    <td> <a href="../elements/id-449b3f2ef4524f82bc35b5078f53edbb.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b0761a724ec34ab0a7a36625c3502fab.html" target="element"> FUNC404. Consulta estado del correo enviado </a> </td>
											    <td> <a href="../elements/id-b0761a724ec34ab0a7a36625c3502fab.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-008d2a69801f45bab2eab0df8bfde31d.html" target="element"> REQR24. Seguimiento del env&#237;o del correo certificado </a> </td>
											    <td> <a href="../elements/id-008d2a69801f45bab2eab0df8bfde31d.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-2e4ad3e9a2e740bbac8d1ba649ceb191.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2e4ad3e9a2e740bbac8d1ba649ceb191.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-269703e3eef146b99cee16a6493b1746.html" target="element"> FUNC400. Correo confiable </a> </td>
																		<td> <a href="../elements/id-b2412338b2c149e7a1f52eb6d2c5fbba.html" target="element"> REQR22. Garantizar la recepci&#243;n de los correos certificados enviados EAAB </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ea71d76a24ea46b8af076a7425130b27.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ea71d76a24ea46b8af076a7425130b27.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e6290dcdf77c4b9ebeb9ef5a6348d7e6.html" target="element"> FUNC401. Correo autenticado </a> </td>
																		<td> <a href="../elements/id-17982402859d47da8f8365f85764b565.html" target="element"> REQR23. Garantizar la autenticidad y no repudio de los correo salientes EAAB </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f89391cff01343018c16463dde201cfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f89391cff01343018c16463dde201cfd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-2feed8c2589149f9be92184b2fdda99b.html" target="element"> FUNC402. Seguimiento de Correo certificado </a> </td>
																		<td> <a href="../elements/id-e8b8c15f88b74bc4bfffda8c6a9ecf1e.html" target="element"> REQR20. Evitar la p&#233;rdida de correos EAAB de respuesta  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8dc4b260be6c4fe588579e3663fe03aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8dc4b260be6c4fe588579e3663fe03aa.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-449b3f2ef4524f82bc35b5078f53edbb.html" target="element"> FUNC403. Huella digital de correo certificado </a> </td>
																		<td> <a href="../elements/id-bf6e3d0d0c3b4521b2b8a1372d967d5d.html" target="element"> REQR21. Auditor&#237;a de  entrada / salida de correos certificados </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2f70603468c54b3e947f9abd5b7fe998.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f70603468c54b3e947f9abd5b7fe998.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-b0761a724ec34ab0a7a36625c3502fab.html" target="element"> FUNC404. Consulta estado del correo enviado </a> </td>
																		<td> <a href="../elements/id-008d2a69801f45bab2eab0df8bfde31d.html" target="element"> REQR24. Seguimiento del env&#237;o del correo certificado </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>