<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Correo Certificado. Requerimientos y Funcionalidades</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Correo Certificado. Requerimientos y Funcionalidades</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-58d06420cb734e9d87ea2198e4ea27d9.png" alt="Correo Certificado. Requerimientos y Funcionalidades" usemap="#id-58d06420cb734e9d87ea2198e4ea27d9map"/>
			   <map name="id-58d06420cb734e9d87ea2198e4ea27d9map">
				  		<area shape="rect" coords="1078,382,1222,437" href="../elements/id-27103a320e384f25a9671c0877a1d350.html"  target="element">
				  				<area shape="rect" coords="743,730,879,785" href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html"  target="element">
				  				<area shape="rect" coords="599,850,735,905" href="../elements/id-3152f229b4a04631844212c4850566e7.html"  target="element">
				  				<area shape="rect" coords="743,790,879,845" href="../elements/f1dbfa1d-0df8-47dd-8633-3776f2fd2eba.html"  target="element">
				  				<area shape="rect" coords="599,790,735,845" href="../elements/id-57d554d59c1d4765ace8839709b9a87c.html"  target="element">
				  				<area shape="rect" coords="743,850,879,905" href="../elements/5af4986d-9bf1-4516-b93b-0eccdf000fbc.html"  target="element">
				  				<area shape="rect" coords="599,730,735,785" href="../elements/806642dc-f2e9-453a-81e0-ec7d10c1d783.html"  target="element">

				  		<area shape="rect" coords="563,682,983,970" href="../elements/id-a430128ca29d4071b9872848d45a6570.html"  target="element">
				  				<area shape="rect" coords="275,429,443,484" href="../elements/id-7ad39a740bae409d886befffe5951239.html"  target="element">
				  				<area shape="rect" coords="274,243,443,298" href="../elements/id-f389542748134e8db300d353854d3b9e.html"  target="element">
				  				<area shape="rect" coords="58,369,251,424" href="../elements/id-b2412338b2c149e7a1f52eb6d2c5fbba.html"  target="element">
				  				<area shape="rect" coords="58,309,251,364" href="../elements/id-bf6e3d0d0c3b4521b2b8a1372d967d5d.html"  target="element">
				  				<area shape="rect" coords="274,309,443,364" href="../elements/id-8ad2e36552b040e3829437aed9bf1aa9.html"  target="element">
				  				<area shape="rect" coords="58,495,251,550" href="../elements/id-008d2a69801f45bab2eab0df8bfde31d.html"  target="element">
				  				<area shape="rect" coords="58,243,251,298" href="../elements/id-e8b8c15f88b74bc4bfffda8c6a9ecf1e.html"  target="element">
				  				<area shape="rect" coords="58,429,251,484" href="../elements/id-17982402859d47da8f8365f85764b565.html"  target="element">
				  				<area shape="rect" coords="274,369,443,424" href="../elements/id-d2b9f7c3b7b94169886ceaaffadb0bd1.html"  target="element">

				  		<area shape="rect" coords="10,190,490,598" href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html"  target="element">
				          <area shape="rect" coords="22,10,263,131" href="../objects/id-5c66dac637da4459b055825d68db549d.html" target="element" >
				  				<area shape="rect" coords="766,382,910,437" href="../elements/id-c1e56cc936d042d6aae1dab494602852.html"  target="element">
				  				<area shape="rect" coords="766,250,910,305" href="../elements/id-73aefbd5070d490185d2c13e1aa4d866.html"  target="element">
				  				<area shape="rect" coords="766,316,910,371" href="../elements/id-a766d8ec4b7d4be898287141e46d873e.html"  target="element">
				  				<area shape="rect" coords="610,442,754,497" href="../elements/id-e6290dcdf77c4b9ebeb9ef5a6348d7e6.html"  target="element">
				  				<area shape="rect" coords="610,382,754,437" href="../elements/id-269703e3eef146b99cee16a6493b1746.html"  target="element">
				  				<area shape="rect" coords="610,502,754,557" href="../elements/id-b0761a724ec34ab0a7a36625c3502fab.html"  target="element">
				  				<area shape="rect" coords="610,316,754,371" href="../elements/id-449b3f2ef4524f82bc35b5078f53edbb.html"  target="element">
				  				<area shape="rect" coords="610,250,754,305" href="../elements/id-2feed8c2589149f9be92184b2fdda99b.html"  target="element">

				  		<area shape="rect" coords="562,190,983,598" href="../elements/id-2c3aa11390d446ce982b8733746596be.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">La soluci&#243;n de correo certificado del SGDEA de la EAAB aplica a env&#237;os f&#237;sicos y electr&#243;nicos. La lista de requerimientos REQR del 20 al 24 son el alcance de la soluci&#243;n de Administraci&#243;n de Correo Certificado del SGDEA.

</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
											    <td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2feed8c2589149f9be92184b2fdda99b.html" target="element"> FUNC402. Seguimiento de Correo certificado </a> </td>
													    <td> <a href="../elements/id-2feed8c2589149f9be92184b2fdda99b.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-449b3f2ef4524f82bc35b5078f53edbb.html" target="element"> FUNC403. Huella digital de correo certificado </a> </td>
													    <td> <a href="../elements/id-449b3f2ef4524f82bc35b5078f53edbb.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b0761a724ec34ab0a7a36625c3502fab.html" target="element"> FUNC404. Consulta estado del correo enviado </a> </td>
													    <td> <a href="../elements/id-b0761a724ec34ab0a7a36625c3502fab.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-269703e3eef146b99cee16a6493b1746.html" target="element"> FUNC400. Correo confiable </a> </td>
													    <td> <a href="../elements/id-269703e3eef146b99cee16a6493b1746.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e6290dcdf77c4b9ebeb9ef5a6348d7e6.html" target="element"> FUNC401. Correo autenticado </a> </td>
													    <td> <a href="../elements/id-e6290dcdf77c4b9ebeb9ef5a6348d7e6.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a766d8ec4b7d4be898287141e46d873e.html" target="element"> FUNC405. Verificaci&#243;n web del correo emitido EAAB </a> </td>
													    <td> <a href="../elements/id-a766d8ec4b7d4be898287141e46d873e.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-73aefbd5070d490185d2c13e1aa4d866.html" target="element"> FUNC406. Verificaci&#243;n de validez del correo electr&#243;nico </a> </td>
													    <td> <a href="../elements/id-73aefbd5070d490185d2c13e1aa4d866.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c1e56cc936d042d6aae1dab494602852.html" target="element"> FUNC407. Integraci&#243;n de bandejas de correo </a> </td>
													    <td> <a href="../elements/id-c1e56cc936d042d6aae1dab494602852.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-5c66dac637da4459b055825d68db549d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-5c66dac637da4459b055825d68db549d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
											    <td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d2b9f7c3b7b94169886ceaaffadb0bd1.html" target="element"> REQR27. Firmado de correos certificados </a> </td>
													    <td> <a href="../elements/id-d2b9f7c3b7b94169886ceaaffadb0bd1.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-17982402859d47da8f8365f85764b565.html" target="element"> REQR23. Garantizar la autenticidad y no repudio de los correo salientes EAAB </a> </td>
													    <td> <a href="../elements/id-17982402859d47da8f8365f85764b565.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e8b8c15f88b74bc4bfffda8c6a9ecf1e.html" target="element"> REQR20. Evitar la p&#233;rdida de correos respuestas de EAAB  </a> </td>
													    <td> <a href="../elements/id-e8b8c15f88b74bc4bfffda8c6a9ecf1e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-008d2a69801f45bab2eab0df8bfde31d.html" target="element"> REQR24. Seguimiento del env&#237;o del correo certificado </a> </td>
													    <td> <a href="../elements/id-008d2a69801f45bab2eab0df8bfde31d.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8ad2e36552b040e3829437aed9bf1aa9.html" target="element"> REQR26. Consulta web correo emitido por EAAB </a> </td>
													    <td> <a href="../elements/id-8ad2e36552b040e3829437aed9bf1aa9.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bf6e3d0d0c3b4521b2b8a1372d967d5d.html" target="element"> REQR21. Auditor&#237;a de  entrada / salida de correos certificados </a> </td>
													    <td> <a href="../elements/id-bf6e3d0d0c3b4521b2b8a1372d967d5d.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b2412338b2c149e7a1f52eb6d2c5fbba.html" target="element"> REQR22. Garantizar la recepci&#243;n de los correos certificados enviados EAAB </a> </td>
													    <td> <a href="../elements/id-b2412338b2c149e7a1f52eb6d2c5fbba.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f389542748134e8db300d353854d3b9e.html" target="element"> REQR25. Validaci&#243;n Correo-e ciudadadano </a> </td>
													    <td> <a href="../elements/id-f389542748134e8db300d353854d3b9e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7ad39a740bae409d886befffe5951239.html" target="element"> REQR32. Integraci&#243;n con Office 365 </a> </td>
													    <td> <a href="../elements/id-7ad39a740bae409d886befffe5951239.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a430128ca29d4071b9872848d45a6570.html" target="element"> Funcionalidades de Apoyo al Correo Certificado </a> </td>
											    <td> <a href="../elements/id-a430128ca29d4071b9872848d45a6570.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/806642dc-f2e9-453a-81e0-ec7d10c1d783.html" target="element"> FUNC307. Control de Firmado </a> </td>
													    <td> <a href="../elements/806642dc-f2e9-453a-81e0-ec7d10c1d783.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5af4986d-9bf1-4516-b93b-0eccdf000fbc.html" target="element"> FUNC309. Acceso a firma de documento </a> </td>
													    <td> <a href="../elements/5af4986d-9bf1-4516-b93b-0eccdf000fbc.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-57d554d59c1d4765ace8839709b9a87c.html" target="element"> FUNC319. Almacenamiento de la(s) Firma </a> </td>
													    <td> <a href="../elements/id-57d554d59c1d4765ace8839709b9a87c.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f1dbfa1d-0df8-47dd-8633-3776f2fd2eba.html" target="element"> FUNC312. Control de visualizaci&#243;n de contenido </a> </td>
													    <td> <a href="../elements/f1dbfa1d-0df8-47dd-8633-3776f2fd2eba.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3152f229b4a04631844212c4850566e7.html" target="element"> FUNC001. Inicio de sesi&#243;n usuario externo (ciudadano) </a> </td>
													    <td> <a href="../elements/id-3152f229b4a04631844212c4850566e7.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element"> FUNC320. Firmado digital de documento / correo </a> </td>
													    <td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-27103a320e384f25a9671c0877a1d350.html" target="element"> COMP32. Gestor de bandejas de correo electr&#243;nico EAAB </a> </td>
											    <td> <a href="../elements/id-27103a320e384f25a9671c0877a1d350.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-28a8add9f8724fe3a4c586493b48a969.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28a8add9f8724fe3a4c586493b48a969.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-2feed8c2589149f9be92184b2fdda99b.html" target="element"> FUNC402. Seguimiento de Correo certificado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1dc449ad5098467b8cd6547dfd2d3582.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1dc449ad5098467b8cd6547dfd2d3582.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-449b3f2ef4524f82bc35b5078f53edbb.html" target="element"> FUNC403. Huella digital de correo certificado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5d90f14833fa4faba2f799fd2fc97950.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d90f14833fa4faba2f799fd2fc97950.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-b0761a724ec34ab0a7a36625c3502fab.html" target="element"> FUNC404. Consulta estado del correo enviado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-34a4e46519354201a9eccb3f6265a4bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-34a4e46519354201a9eccb3f6265a4bf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-269703e3eef146b99cee16a6493b1746.html" target="element"> FUNC400. Correo confiable </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8f91df6f3a05459b993dec207fce82d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f91df6f3a05459b993dec207fce82d3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-e6290dcdf77c4b9ebeb9ef5a6348d7e6.html" target="element"> FUNC401. Correo autenticado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-966c540b66a048b4aa207ad070987c00.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-966c540b66a048b4aa207ad070987c00.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8908acd2aadd446680da06ac5eea66ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8908acd2aadd446680da06ac5eea66ff.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-a766d8ec4b7d4be898287141e46d873e.html" target="element"> FUNC405. Verificaci&#243;n web del correo emitido EAAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8fdd701f63fa463bab007e0e3a599131.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fdd701f63fa463bab007e0e3a599131.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-73aefbd5070d490185d2c13e1aa4d866.html" target="element"> FUNC406. Verificaci&#243;n de validez del correo electr&#243;nico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2b380c1ad05943bdbb516024876d43b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b380c1ad05943bdbb516024876d43b2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-c1e56cc936d042d6aae1dab494602852.html" target="element"> FUNC407. Integraci&#243;n de bandejas de correo </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-82c35bda62df462d9106711d8eecc26c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-82c35bda62df462d9106711d8eecc26c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-008d2a69801f45bab2eab0df8bfde31d.html" target="element"> REQR24. Seguimiento del env&#237;o del correo certificado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2b780b96111a4860aa7dd4949d8a750e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b780b96111a4860aa7dd4949d8a750e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-b2412338b2c149e7a1f52eb6d2c5fbba.html" target="element"> REQR22. Garantizar la recepci&#243;n de los correos certificados enviados EAAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-918d0b7f6e3a4f02a63dcf74831f631c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-918d0b7f6e3a4f02a63dcf74831f631c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-17982402859d47da8f8365f85764b565.html" target="element"> REQR23. Garantizar la autenticidad y no repudio de los correo salientes EAAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bcc5c13b769047b1ab200fe62f09d53c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bcc5c13b769047b1ab200fe62f09d53c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-7ad39a740bae409d886befffe5951239.html" target="element"> REQR32. Integraci&#243;n con Office 365 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64e9ae7fc65f4cb1855c8d27107ed323.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64e9ae7fc65f4cb1855c8d27107ed323.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-8ad2e36552b040e3829437aed9bf1aa9.html" target="element"> REQR26. Consulta web correo emitido por EAAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-91c3165d86484b70ab66a9465715aee4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-91c3165d86484b70ab66a9465715aee4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-d2b9f7c3b7b94169886ceaaffadb0bd1.html" target="element"> REQR27. Firmado de correos certificados </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d0ca3db34d241d7ab17af0495b90e30.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d0ca3db34d241d7ab17af0495b90e30.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-e8b8c15f88b74bc4bfffda8c6a9ecf1e.html" target="element"> REQR20. Evitar la p&#233;rdida de correos respuestas de EAAB  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-260c32627b74453f8d4b9e72f95d576d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-260c32627b74453f8d4b9e72f95d576d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-bf6e3d0d0c3b4521b2b8a1372d967d5d.html" target="element"> REQR21. Auditor&#237;a de  entrada / salida de correos certificados </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-43cb23425a124fa4ba9c2558be40b200.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43cb23425a124fa4ba9c2558be40b200.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-f389542748134e8db300d353854d3b9e.html" target="element"> REQR25. Validaci&#243;n Correo-e ciudadadano </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f566b278d509461ebf6b2ea9d1703ae0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f566b278d509461ebf6b2ea9d1703ae0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a430128ca29d4071b9872848d45a6570.html" target="element"> Funcionalidades de Apoyo al Correo Certificado </a> </td>
																		<td> <a href="../elements/id-2c3aa11390d446ce982b8733746596be.html" target="element"> Funcionalidades del Alcance de Correo Certificado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4789c4b690b64405b09856888ba363ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4789c4b690b64405b09856888ba363ef.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a430128ca29d4071b9872848d45a6570.html" target="element"> Funcionalidades de Apoyo al Correo Certificado </a> </td>
																		<td> <a href="../elements/806642dc-f2e9-453a-81e0-ec7d10c1d783.html" target="element"> FUNC307. Control de Firmado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-42988d471ce04203b3b1ac55306e04f6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42988d471ce04203b3b1ac55306e04f6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a430128ca29d4071b9872848d45a6570.html" target="element"> Funcionalidades de Apoyo al Correo Certificado </a> </td>
																		<td> <a href="../elements/5af4986d-9bf1-4516-b93b-0eccdf000fbc.html" target="element"> FUNC309. Acceso a firma de documento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31647dae2d8a4c038d14a983b6d30a72.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31647dae2d8a4c038d14a983b6d30a72.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a430128ca29d4071b9872848d45a6570.html" target="element"> Funcionalidades de Apoyo al Correo Certificado </a> </td>
																		<td> <a href="../elements/id-57d554d59c1d4765ace8839709b9a87c.html" target="element"> FUNC319. Almacenamiento de la(s) Firma </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41e3cf9596eb4b0ea0aba9d0dc80df93.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41e3cf9596eb4b0ea0aba9d0dc80df93.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a430128ca29d4071b9872848d45a6570.html" target="element"> Funcionalidades de Apoyo al Correo Certificado </a> </td>
																		<td> <a href="../elements/f1dbfa1d-0df8-47dd-8633-3776f2fd2eba.html" target="element"> FUNC312. Control de visualizaci&#243;n de contenido </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78397d7582c441399e812d2bc25f38e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78397d7582c441399e812d2bc25f38e9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a430128ca29d4071b9872848d45a6570.html" target="element"> Funcionalidades de Apoyo al Correo Certificado </a> </td>
																		<td> <a href="../elements/id-3152f229b4a04631844212c4850566e7.html" target="element"> FUNC001. Inicio de sesi&#243;n usuario externo (ciudadano) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ee98f342ec224c36acded4343658ef3e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee98f342ec224c36acded4343658ef3e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a430128ca29d4071b9872848d45a6570.html" target="element"> Funcionalidades de Apoyo al Correo Certificado </a> </td>
																		<td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element"> FUNC320. Firmado digital de documento / correo </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-49fceaa2817f4324948ef65e3150c2d4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-49fceaa2817f4324948ef65e3150c2d4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/id-a80fd5f38dcd45d28a9d7e682734d9af.html" target="element"> FUNC320. Firmado digital de documento / correo </a> </td>
																				<td> <a href="../elements/id-d2b9f7c3b7b94169886ceaaffadb0bd1.html" target="element"> REQR27. Firmado de correos certificados </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-68510861fa1143c482996dd42801672c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-68510861fa1143c482996dd42801672c.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-27103a320e384f25a9671c0877a1d350.html" target="element"> COMP32. Gestor de bandejas de correo electr&#243;nico EAAB </a> </td>
																		<td> <a href="../elements/id-c1e56cc936d042d6aae1dab494602852.html" target="element"> FUNC407. Integraci&#243;n de bandejas de correo </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>