<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Formatos de Preservación Documental</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Formatos de Preservaci&#243;n Documental</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-536954c9dd15478bb9dac7081094a803.png" alt="Formatos de Preservación Documental" usemap="#id-536954c9dd15478bb9dac7081094a803map"/>
			   <map name="id-536954c9dd15478bb9dac7081094a803map">
				  		<area shape="rect" coords="658,250,778,305" href="../elements/id-f351b70048d0425e82feb48681cb5b1c.html"  target="element">
				  		<area shape="rect" coords="790,250,910,305" href="../elements/id-ca5e5689a4894d0ebb84d0d7509e6c0c.html"  target="element">
				  		<area shape="rect" coords="790,190,910,245" href="../elements/id-3c5dec15b0864895a4009ca9b6981eed.html"  target="element">
				  		<area shape="rect" coords="790,130,910,185" href="../elements/id-bcdd81f1b70649519a305270e49c1269.html"  target="element">
				  		<area shape="rect" coords="658,442,778,497" href="../elements/id-ebb8e8e67bf442e7bcf7d4769dd92b12.html"  target="element">
				  		<area shape="rect" coords="790,70,910,125" href="../elements/id-90302201fadc4317be029045c6109727.html"  target="element">
				  		<area shape="rect" coords="790,10,910,65" href="../elements/id-0dbf5d7266664484a41c39cdab77389d.html"  target="element">
				  		<area shape="rect" coords="658,10,778,65" href="../elements/id-e1ce46e2f57442b78d8f04c9170130a1.html"  target="element">
				  		<area shape="rect" coords="658,190,778,245" href="../elements/id-d6245b7f063142a683bc862aa75a306a.html"  target="element">
				  		<area shape="rect" coords="526,10,646,65" href="../elements/id-769c7e81012843489b229978fe1b7737.html"  target="element">
				  		<area shape="rect" coords="658,130,778,185" href="../elements/id-20ed6f9d7321418987a5da7aec7a76c7.html"  target="element">
				  		<area shape="rect" coords="658,70,778,125" href="../elements/id-2949576a0e6e4759ba4d0aac60447c9f.html"  target="element">
				  		<area shape="rect" coords="526,70,646,125" href="../elements/id-951650b864684846a300f960d723f438.html"  target="element">
				  				<area shape="rect" coords="71,730,191,785" href="../elements/id-e613c8bac81f486582ec26178cc21228.html"  target="element">
				  				<area shape="rect" coords="76,130,196,185" href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html"  target="element">
				  				<area shape="rect" coords="76,262,196,317" href="../elements/id-14badc902dc54940981504e5f0a6f5a5.html"  target="element">
				  				<area shape="rect" coords="76,562,196,617" href="../elements/id-6d1303d1abde4a94914b4e981ca14fad.html"  target="element">
				  				<area shape="rect" coords="72,430,192,485" href="../elements/id-efbc4f57e91a4648b6e95d3878fe8834.html"  target="element">

				  		<area shape="rect" coords="10,70,298,850" href="../elements/id-6728ba80eb3449d8abe61875d04f55a3.html"  target="element">
				  		<area shape="rect" coords="526,130,646,185" href="../elements/id-02f675e6a6214e1aa0ca9773a8f9094c.html"  target="element">
				  		<area shape="rect" coords="526,802,646,857" href="../elements/id-2557b47b63bb49e29fd2994ba8fdbdb8.html"  target="element">
				  		<area shape="rect" coords="526,622,646,677" href="../elements/id-092ed38c877b49829c68bf1f7d4c11e7.html"  target="element">
				  		<area shape="rect" coords="658,502,778,557" href="../elements/id-4167f9e5abfb4abe94eb8b897f44b153.html"  target="element">
				  		<area shape="rect" coords="526,442,646,497" href="../elements/id-6503868eb5484a83a294bd2113644715.html"  target="element">
				  		<area shape="rect" coords="526,502,646,557" href="../elements/id-2dc9edef32f94a0e97845feea161d6bb.html"  target="element">
				  		<area shape="rect" coords="526,562,646,617" href="../elements/id-757b51f5616045b2810672ed00934f05.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">peso de documentos, repositorios, formatos. 
D&#243;nde est&#225; la producci&#243;n dcmtl del EAAB
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-757b51f5616045b2810672ed00934f05.html" target="element"> Serie 25. Informes </a> </td>
											    <td> <a href="../elements/id-757b51f5616045b2810672ed00934f05.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2dc9edef32f94a0e97845feea161d6bb.html" target="element"> Serie 52. Registros de Laboratorios </a> </td>
											    <td> <a href="../elements/id-2dc9edef32f94a0e97845feea161d6bb.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6503868eb5484a83a294bd2113644715.html" target="element"> Serie 55. Registros Hidrol&#243;gicos y Meteorol&#243;gicos  </a> </td>
											    <td> <a href="../elements/id-6503868eb5484a83a294bd2113644715.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4167f9e5abfb4abe94eb8b897f44b153.html" target="element"> Serie 14. Cuotas Partes Pensionales </a> </td>
											    <td> <a href="../elements/id-4167f9e5abfb4abe94eb8b897f44b153.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-092ed38c877b49829c68bf1f7d4c11e7.html" target="element"> Serie 32. N&#243;minas </a> </td>
											    <td> <a href="../elements/id-092ed38c877b49829c68bf1f7d4c11e7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2557b47b63bb49e29fd2994ba8fdbdb8.html" target="element"> Serie 18. Historiales de Equipo y Maquinaria </a> </td>
											    <td> <a href="../elements/id-2557b47b63bb49e29fd2994ba8fdbdb8.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-02f675e6a6214e1aa0ca9773a8f9094c.html" target="element"> Serie 2. Actas </a> </td>
											    <td> <a href="../elements/id-02f675e6a6214e1aa0ca9773a8f9094c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6728ba80eb3449d8abe61875d04f55a3.html" target="element"> Grouping </a> </td>
											    <td> <a href="../elements/id-6728ba80eb3449d8abe61875d04f55a3.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-efbc4f57e91a4648b6e95d3878fe8834.html" target="element"> FRMPRD3. PDF/A </a> </td>
													    <td> <a href="../elements/id-efbc4f57e91a4648b6e95d3878fe8834.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6d1303d1abde4a94914b4e981ca14fad.html" target="element"> FRMPRD4. XML </a> </td>
													    <td> <a href="../elements/id-6d1303d1abde4a94914b4e981ca14fad.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-14badc902dc54940981504e5f0a6f5a5.html" target="element"> FRMPRD2. PDF </a> </td>
													    <td> <a href="../elements/id-14badc902dc54940981504e5f0a6f5a5.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element"> FRMPRD1. DOC </a> </td>
													    <td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e613c8bac81f486582ec26178cc21228.html" target="element"> FRMPRD5. Excel </a> </td>
													    <td> <a href="../elements/id-e613c8bac81f486582ec26178cc21228.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-951650b864684846a300f960d723f438.html" target="element"> Serie 10. Conceptos </a> </td>
											    <td> <a href="../elements/id-951650b864684846a300f960d723f438.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2949576a0e6e4759ba4d0aac60447c9f.html" target="element"> Serie 12. Contratos </a> </td>
											    <td> <a href="../elements/id-2949576a0e6e4759ba4d0aac60447c9f.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-20ed6f9d7321418987a5da7aec7a76c7.html" target="element"> Serie 24. Historias Laborales </a> </td>
											    <td> <a href="../elements/id-20ed6f9d7321418987a5da7aec7a76c7.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-769c7e81012843489b229978fe1b7737.html" target="element"> Serie 36. Planes </a> </td>
											    <td> <a href="../elements/id-769c7e81012843489b229978fe1b7737.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d6245b7f063142a683bc862aa75a306a.html" target="element"> Serie 42. Programas </a> </td>
											    <td> <a href="../elements/id-d6245b7f063142a683bc862aa75a306a.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e1ce46e2f57442b78d8f04c9170130a1.html" target="element"> Serie 56. Registro Pr&#233;stamos de Vivienda </a> </td>
											    <td> <a href="../elements/id-e1ce46e2f57442b78d8f04c9170130a1.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0dbf5d7266664484a41c39cdab77389d.html" target="element"> Serie 19. Historiales de Mantenimiento de Plantas Estaci&#243;n y Tanques </a> </td>
											    <td> <a href="../elements/id-0dbf5d7266664484a41c39cdab77389d.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-90302201fadc4317be029045c6109727.html" target="element"> Serie 43. Proyectos </a> </td>
											    <td> <a href="../elements/id-90302201fadc4317be029045c6109727.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ebb8e8e67bf442e7bcf7d4769dd92b12.html" target="element"> Serie 38. Portafolio de Inversiones Financieras </a> </td>
											    <td> <a href="../elements/id-ebb8e8e67bf442e7bcf7d4769dd92b12.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bcdd81f1b70649519a305270e49c1269.html" target="element"> Serie 5. Acuerdos de Servicios Compartidos </a> </td>
											    <td> <a href="../elements/id-bcdd81f1b70649519a305270e49c1269.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3c5dec15b0864895a4009ca9b6981eed.html" target="element"> Serie 17. Estudios T&#233;cnicos </a> </td>
											    <td> <a href="../elements/id-3c5dec15b0864895a4009ca9b6981eed.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ca5e5689a4894d0ebb84d0d7509e6c0c.html" target="element"> Serie 1. Acciones Constitucionales </a> </td>
											    <td> <a href="../elements/id-ca5e5689a4894d0ebb84d0d7509e6c0c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f351b70048d0425e82feb48681cb5b1c.html" target="element"> Serie 63. Procesos Tribunal de Arbitraje </a> </td>
											    <td> <a href="../elements/id-f351b70048d0425e82feb48681cb5b1c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5d8a14ef66cd43f9a1089b67e91cfb03.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5d8a14ef66cd43f9a1089b67e91cfb03.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-757b51f5616045b2810672ed00934f05.html" target="element"> Serie 25. Informes </a> </td>
																		<td> <a href="../elements/id-14badc902dc54940981504e5f0a6f5a5.html" target="element"> FRMPRD2. PDF </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-338bb99c17ed4541a10824d55dbb2d7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-338bb99c17ed4541a10824d55dbb2d7a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6503868eb5484a83a294bd2113644715.html" target="element"> Serie 55. Registros Hidrol&#243;gicos y Meteorol&#243;gicos  </a> </td>
																		<td> <a href="../elements/id-14badc902dc54940981504e5f0a6f5a5.html" target="element"> FRMPRD2. PDF </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5ba15f0215cf487193401a5dad78c54d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ba15f0215cf487193401a5dad78c54d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4167f9e5abfb4abe94eb8b897f44b153.html" target="element"> Serie 14. Cuotas Partes Pensionales </a> </td>
																		<td> <a href="../elements/id-14badc902dc54940981504e5f0a6f5a5.html" target="element"> FRMPRD2. PDF </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7b3e1ec8fb7944a9bcae36a8669b5839.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7b3e1ec8fb7944a9bcae36a8669b5839.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6728ba80eb3449d8abe61875d04f55a3.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-efbc4f57e91a4648b6e95d3878fe8834.html" target="element"> FRMPRD3. PDF/A </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0209b7ba070843089193868f89713809.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0209b7ba070843089193868f89713809.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6728ba80eb3449d8abe61875d04f55a3.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-6d1303d1abde4a94914b4e981ca14fad.html" target="element"> FRMPRD4. XML </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ce45f663ce6643a3b119bcb8727bb1d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce45f663ce6643a3b119bcb8727bb1d4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6728ba80eb3449d8abe61875d04f55a3.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-14badc902dc54940981504e5f0a6f5a5.html" target="element"> FRMPRD2. PDF </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-df6ff2ed79a14c7e92d574f335d70159.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df6ff2ed79a14c7e92d574f335d70159.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6728ba80eb3449d8abe61875d04f55a3.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element"> FRMPRD1. DOC </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-261b980d42bd429c9f2b7022fe90e0de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-261b980d42bd429c9f2b7022fe90e0de.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6728ba80eb3449d8abe61875d04f55a3.html" target="element"> Grouping </a> </td>
																		<td> <a href="../elements/id-e613c8bac81f486582ec26178cc21228.html" target="element"> FRMPRD5. Excel </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-c7acee1eaeec4a0e8270eb7d1bfd2515.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c7acee1eaeec4a0e8270eb7d1bfd2515.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-efbc4f57e91a4648b6e95d3878fe8834.html" target="element"> FRMPRD3. PDF/A </a> </td>
																				<td> <a href="../elements/id-2557b47b63bb49e29fd2994ba8fdbdb8.html" target="element"> Serie 18. Historiales de Equipo y Maquinaria </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4a5f4351a8b64fe4ba1dbbc6f1f2cce7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4a5f4351a8b64fe4ba1dbbc6f1f2cce7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-efbc4f57e91a4648b6e95d3878fe8834.html" target="element"> FRMPRD3. PDF/A </a> </td>
																				<td> <a href="../elements/id-bcdd81f1b70649519a305270e49c1269.html" target="element"> Serie 5. Acuerdos de Servicios Compartidos </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1e93d2f918be401b9a2b2e9e6af18d9b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1e93d2f918be401b9a2b2e9e6af18d9b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-efbc4f57e91a4648b6e95d3878fe8834.html" target="element"> FRMPRD3. PDF/A </a> </td>
																				<td> <a href="../elements/id-951650b864684846a300f960d723f438.html" target="element"> Serie 10. Conceptos </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-513c8df93b304a179ad1650a98a3f24e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-513c8df93b304a179ad1650a98a3f24e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-6d1303d1abde4a94914b4e981ca14fad.html" target="element"> FRMPRD4. XML </a> </td>
																				<td> <a href="../elements/id-6503868eb5484a83a294bd2113644715.html" target="element"> Serie 55. Registros Hidrol&#243;gicos y Meteorol&#243;gicos  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5a70793c20f947eb8716a59ec447dd72.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5a70793c20f947eb8716a59ec447dd72.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-6d1303d1abde4a94914b4e981ca14fad.html" target="element"> FRMPRD4. XML </a> </td>
																				<td> <a href="../elements/id-757b51f5616045b2810672ed00934f05.html" target="element"> Serie 25. Informes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5e60ad1d434e445aaa133ce1b3d40ef9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5e60ad1d434e445aaa133ce1b3d40ef9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-6d1303d1abde4a94914b4e981ca14fad.html" target="element"> FRMPRD4. XML </a> </td>
																				<td> <a href="../elements/id-90302201fadc4317be029045c6109727.html" target="element"> Serie 43. Proyectos </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ee85137d3ace459eb36bbad673d54bfe.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ee85137d3ace459eb36bbad673d54bfe.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-6d1303d1abde4a94914b4e981ca14fad.html" target="element"> FRMPRD4. XML </a> </td>
																				<td> <a href="../elements/id-d6245b7f063142a683bc862aa75a306a.html" target="element"> Serie 42. Programas </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-465a8f75d77c49ce9a5d750b76dde516.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-465a8f75d77c49ce9a5d750b76dde516.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-14badc902dc54940981504e5f0a6f5a5.html" target="element"> FRMPRD2. PDF </a> </td>
																				<td> <a href="../elements/id-2dc9edef32f94a0e97845feea161d6bb.html" target="element"> Serie 52. Registros de Laboratorios </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4cce8feb3976414f8aac4461faf1239b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4cce8feb3976414f8aac4461faf1239b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-14badc902dc54940981504e5f0a6f5a5.html" target="element"> FRMPRD2. PDF </a> </td>
																				<td> <a href="../elements/id-092ed38c877b49829c68bf1f7d4c11e7.html" target="element"> Serie 32. N&#243;minas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4f5585b1678d4c329ab5ec0ba3c4b782.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4f5585b1678d4c329ab5ec0ba3c4b782.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-14badc902dc54940981504e5f0a6f5a5.html" target="element"> FRMPRD2. PDF </a> </td>
																				<td> <a href="../elements/id-d6245b7f063142a683bc862aa75a306a.html" target="element"> Serie 42. Programas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7a4d211fcc5446fc93a50946675e1a1a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7a4d211fcc5446fc93a50946675e1a1a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-14badc902dc54940981504e5f0a6f5a5.html" target="element"> FRMPRD2. PDF </a> </td>
																				<td> <a href="../elements/id-2949576a0e6e4759ba4d0aac60447c9f.html" target="element"> Serie 12. Contratos </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-8c04802fa87c469ebeb70162e42c3ea1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8c04802fa87c469ebeb70162e42c3ea1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-14badc902dc54940981504e5f0a6f5a5.html" target="element"> FRMPRD2. PDF </a> </td>
																				<td> <a href="../elements/id-ebb8e8e67bf442e7bcf7d4769dd92b12.html" target="element"> Serie 38. Portafolio de Inversiones Financieras </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3de090ead15446bfa0bd64787dadcc31.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3de090ead15446bfa0bd64787dadcc31.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-14badc902dc54940981504e5f0a6f5a5.html" target="element"> FRMPRD2. PDF </a> </td>
																				<td> <a href="../elements/id-bcdd81f1b70649519a305270e49c1269.html" target="element"> Serie 5. Acuerdos de Servicios Compartidos </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b8273702b9a941a6a191733b33d17a32.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b8273702b9a941a6a191733b33d17a32.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-14badc902dc54940981504e5f0a6f5a5.html" target="element"> FRMPRD2. PDF </a> </td>
																				<td> <a href="../elements/id-02f675e6a6214e1aa0ca9773a8f9094c.html" target="element"> Serie 2. Actas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cfbf6e895fbe4559bdb749f6f91a7c11.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cfbf6e895fbe4559bdb749f6f91a7c11.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-14badc902dc54940981504e5f0a6f5a5.html" target="element"> FRMPRD2. PDF </a> </td>
																				<td> <a href="../elements/id-ca5e5689a4894d0ebb84d0d7509e6c0c.html" target="element"> Serie 1. Acciones Constitucionales </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-da3c71003f8b4a7c8127c5cb4bfa5b72.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-da3c71003f8b4a7c8127c5cb4bfa5b72.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-14badc902dc54940981504e5f0a6f5a5.html" target="element"> FRMPRD2. PDF </a> </td>
																				<td> <a href="../elements/id-f351b70048d0425e82feb48681cb5b1c.html" target="element"> Serie 63. Procesos Tribunal de Arbitraje </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-27b1f5f20682401f905d3b65b142ffa5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-27b1f5f20682401f905d3b65b142ffa5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element"> FRMPRD1. DOC </a> </td>
																				<td> <a href="../elements/id-02f675e6a6214e1aa0ca9773a8f9094c.html" target="element"> Serie 2. Actas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-966b5e2c6f794574aeaea1419375776d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-966b5e2c6f794574aeaea1419375776d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element"> FRMPRD1. DOC </a> </td>
																				<td> <a href="../elements/id-951650b864684846a300f960d723f438.html" target="element"> Serie 10. Conceptos </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3bd2bebfe5f94b20b078f88dfbbf8250.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3bd2bebfe5f94b20b078f88dfbbf8250.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element"> FRMPRD1. DOC </a> </td>
																				<td> <a href="../elements/id-2949576a0e6e4759ba4d0aac60447c9f.html" target="element"> Serie 12. Contratos </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3f67578f029c4ddc9ae89d0b2f45b17c.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3f67578f029c4ddc9ae89d0b2f45b17c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element"> FRMPRD1. DOC </a> </td>
																				<td> <a href="../elements/id-20ed6f9d7321418987a5da7aec7a76c7.html" target="element"> Serie 24. Historias Laborales </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2846abe58d9545f2bd7739f29b75fee5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2846abe58d9545f2bd7739f29b75fee5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element"> FRMPRD1. DOC </a> </td>
																				<td> <a href="../elements/id-769c7e81012843489b229978fe1b7737.html" target="element"> Serie 36. Planes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4754d7883af14563917048f588a5f88a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4754d7883af14563917048f588a5f88a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element"> FRMPRD1. DOC </a> </td>
																				<td> <a href="../elements/id-d6245b7f063142a683bc862aa75a306a.html" target="element"> Serie 42. Programas </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ef8235722c7341d4934393cdf1916ed7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ef8235722c7341d4934393cdf1916ed7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element"> FRMPRD1. DOC </a> </td>
																				<td> <a href="../elements/id-e1ce46e2f57442b78d8f04c9170130a1.html" target="element"> Serie 56. Registro Pr&#233;stamos de Vivienda </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-39a3e9c008694e48b5c9ca517cc992e4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-39a3e9c008694e48b5c9ca517cc992e4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element"> FRMPRD1. DOC </a> </td>
																				<td> <a href="../elements/id-0dbf5d7266664484a41c39cdab77389d.html" target="element"> Serie 19. Historiales de Mantenimiento de Plantas Estaci&#243;n y Tanques </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-2d744e8061524f53b03a57c918003b82.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2d744e8061524f53b03a57c918003b82.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element"> FRMPRD1. DOC </a> </td>
																				<td> <a href="../elements/id-757b51f5616045b2810672ed00934f05.html" target="element"> Serie 25. Informes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-35219edbc3a24f66954b8207366268eb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-35219edbc3a24f66954b8207366268eb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element"> FRMPRD1. DOC </a> </td>
																				<td> <a href="../elements/id-90302201fadc4317be029045c6109727.html" target="element"> Serie 43. Proyectos </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dcef3ed458544c1fa626196013182d1d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dcef3ed458544c1fa626196013182d1d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element"> FRMPRD1. DOC </a> </td>
																				<td> <a href="../elements/id-bcdd81f1b70649519a305270e49c1269.html" target="element"> Serie 5. Acuerdos de Servicios Compartidos </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e6b5bb05b3474ac6af80d9620caf61f8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e6b5bb05b3474ac6af80d9620caf61f8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element"> FRMPRD1. DOC </a> </td>
																				<td> <a href="../elements/id-3c5dec15b0864895a4009ca9b6981eed.html" target="element"> Serie 17. Estudios T&#233;cnicos </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5e32adb9a78d456e9d36ed7452bee285.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5e32adb9a78d456e9d36ed7452bee285.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element"> FRMPRD1. DOC </a> </td>
																				<td> <a href="../elements/id-ca5e5689a4894d0ebb84d0d7509e6c0c.html" target="element"> Serie 1. Acciones Constitucionales </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3bab56bfa87941fc8561c7377ace413f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3bab56bfa87941fc8561c7377ace413f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-c450c6045573414b9d7ac07ad1138ba1.html" target="element"> FRMPRD1. DOC </a> </td>
																				<td> <a href="../elements/id-f351b70048d0425e82feb48681cb5b1c.html" target="element"> Serie 63. Procesos Tribunal de Arbitraje </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-bec53952d2d04c7ba9b0c26e349c0f6e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bec53952d2d04c7ba9b0c26e349c0f6e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-e613c8bac81f486582ec26178cc21228.html" target="element"> FRMPRD5. Excel </a> </td>
																				<td> <a href="../elements/id-2557b47b63bb49e29fd2994ba8fdbdb8.html" target="element"> Serie 18. Historiales de Equipo y Maquinaria </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>