<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SGDEA. BMM</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SGDEA. BMM</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5bdd579c5be44d7ab599b5b9c6bcc297.png" alt="SGDEA. BMM" usemap="#id-5bdd579c5be44d7ab599b5b9c6bcc297map"/>
			   <map name="id-5bdd579c5be44d7ab599b5b9c6bcc297map">
				  		<area shape="rect" coords="730,142,915,215" href="../elements/id-67d4b942f64446e3ad359f7e82755a99.html"  target="element">
				  		<area shape="rect" coords="538,58,723,131" href="../elements/id-a8013bc1e9d34019bae3b43ab7aac2fd.html"  target="element">
				  		<area shape="rect" coords="342,309,527,382" href="../elements/id-7f0e78c58477426986caf6c2c646c545.html"  target="element">
				  		<area shape="rect" coords="538,226,723,299" href="../elements/id-5a67580cb32a47f394414ce8e73e59e2.html"  target="element">
				  		<area shape="rect" coords="342,226,527,299" href="../elements/id-34843064df6947c9b0289cee85725a53.html"  target="element">
				  		<area shape="rect" coords="730,226,915,299" href="../elements/id-ceff681b2d1048d38735c63b17ac1b32.html"  target="element">
				  		<area shape="rect" coords="538,142,723,215" href="../elements/id-56571d7c3ed441d9b22a4870c4a1f9ef.html"  target="element">
				  		<area shape="rect" coords="342,58,527,131" href="../elements/id-1099c94738bb4307be9d7ed2af5514b1.html"  target="element">
				  		<area shape="rect" coords="538,309,723,382" href="../elements/id-546681b0f1fe42da809704cb1fa47623.html"  target="element">
				  				<area shape="rect" coords="34,238,279,293" href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html"  target="element">
				  				<area shape="rect" coords="34,118,279,173" href="../elements/b2b911bf-c72c-4445-b5a7-4431b03e6bab.html"  target="element">
				  				<area shape="rect" coords="34,298,279,353" href="../elements/f709c269-d64a-40cc-9f86-9f45ddb0acff.html"  target="element">
				  				<area shape="rect" coords="34,58,279,113" href="../elements/17e7c40e-9575-45c3-a60d-34fe8fa74a64.html"  target="element">
				  				<area shape="rect" coords="34,178,279,233" href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html"  target="element">

				  		<area shape="rect" coords="10,10,310,394" href="../elements/id-d00afc14d20847de82815c31a1c79c9a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-d00afc14d20847de82815c31a1c79c9a.html" target="element"> Motivadores SGDEA de EAAB </a> </td>
											    <td> <a href="../elements/id-d00afc14d20847de82815c31a1c79c9a.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html" target="element"> MOT02. Mejorar el desempen&#771;o de las comunicaciones oficiales EAAB </a> </td>
													    <td> <a href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/17e7c40e-9575-45c3-a60d-34fe8fa74a64.html" target="element"> MOT04. Controlar el riesgo de pe&#769;rdida de informacio&#769;n </a> </td>
													    <td> <a href="../elements/17e7c40e-9575-45c3-a60d-34fe8fa74a64.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f709c269-d64a-40cc-9f86-9f45ddb0acff.html" target="element"> MOT05. Incrementar completitud de las actividades archiv&#237;sticas EAAB </a> </td>
													    <td> <a href="../elements/f709c269-d64a-40cc-9f86-9f45ddb0acff.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b2b911bf-c72c-4445-b5a7-4431b03e6bab.html" target="element"> MOT01. Aplicar el procedimiento documental correctamente (riesgo de sustracci&#243;n, p&#233;rdida) </a> </td>
													    <td> <a href="../elements/b2b911bf-c72c-4445-b5a7-4431b03e6bab.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html" target="element"> MOT03. Soluci&#243;n u&#769;nica para la gestio&#769;n documental de la EAAB </a> </td>
													    <td> <a href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-546681b0f1fe42da809704cb1fa47623.html" target="element"> BRE1. Dependencias que no cuentan con un &#225;rea para la consulta de documentos f&#237;sicos </a> </td>
											    <td> <a href="../elements/id-546681b0f1fe42da809704cb1fa47623.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1099c94738bb4307be9d7ed2af5514b1.html" target="element"> BRE2. No hay registro ni control de consultas y prestamos </a> </td>
											    <td> <a href="../elements/id-1099c94738bb4307be9d7ed2af5514b1.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-56571d7c3ed441d9b22a4870c4a1f9ef.html" target="element"> BRE3. Control de uso del consecutivo para los documentos internos y externos </a> </td>
											    <td> <a href="../elements/id-56571d7c3ed441d9b22a4870c4a1f9ef.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ceff681b2d1048d38735c63b17ac1b32.html" target="element"> BRE4. Duplicidad de documentos </a> </td>
											    <td> <a href="../elements/id-ceff681b2d1048d38735c63b17ac1b32.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-34843064df6947c9b0289cee85725a53.html" target="element"> BRE5. La actividad de foliaci&#243;n no se encuentra realizada en su totalidad </a> </td>
											    <td> <a href="../elements/id-34843064df6947c9b0289cee85725a53.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5a67580cb32a47f394414ce8e73e59e2.html" target="element"> BRE6. Incompletitud en la informaci&#243;n de los r&#243;tulos de los expedientes </a> </td>
											    <td> <a href="../elements/id-5a67580cb32a47f394414ce8e73e59e2.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7f0e78c58477426986caf6c2c646c545.html" target="element"> BRE7. No se elaboran inventarios documentales para la totalidad de los expedientes </a> </td>
											    <td> <a href="../elements/id-7f0e78c58477426986caf6c2c646c545.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a8013bc1e9d34019bae3b43ab7aac2fd.html" target="element"> BRE8. Bajo cumplimiento del cronograma de transferencias documental </a> </td>
											    <td> <a href="../elements/id-a8013bc1e9d34019bae3b43ab7aac2fd.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-67d4b942f64446e3ad359f7e82755a99.html" target="element"> BRE9. Control de correspondencia y comunicaciones interna y externa </a> </td>
											    <td> <a href="../elements/id-67d4b942f64446e3ad359f7e82755a99.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e01558b9338b4518836cc8f474938669.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e01558b9338b4518836cc8f474938669.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-d00afc14d20847de82815c31a1c79c9a.html" target="element"> Motivadores SGDEA de EAAB </a> </td>
																		<td> <a href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html" target="element"> MOT02. Mejorar el desempen&#771;o de las comunicaciones oficiales EAAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2b6d560f209e495dae28fa03b182b1ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b6d560f209e495dae28fa03b182b1ce.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-d00afc14d20847de82815c31a1c79c9a.html" target="element"> Motivadores SGDEA de EAAB </a> </td>
																		<td> <a href="../elements/17e7c40e-9575-45c3-a60d-34fe8fa74a64.html" target="element"> MOT04. Controlar el riesgo de pe&#769;rdida de informacio&#769;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-90deb95849024bb891af77d79d332518.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-90deb95849024bb891af77d79d332518.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-d00afc14d20847de82815c31a1c79c9a.html" target="element"> Motivadores SGDEA de EAAB </a> </td>
																		<td> <a href="../elements/f709c269-d64a-40cc-9f86-9f45ddb0acff.html" target="element"> MOT05. Incrementar completitud de las actividades archiv&#237;sticas EAAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c41e894570ef4e159f696f2ff9ee9658.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c41e894570ef4e159f696f2ff9ee9658.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-d00afc14d20847de82815c31a1c79c9a.html" target="element"> Motivadores SGDEA de EAAB </a> </td>
																		<td> <a href="../elements/b2b911bf-c72c-4445-b5a7-4431b03e6bab.html" target="element"> MOT01. Aplicar el procedimiento documental correctamente (riesgo de sustracci&#243;n, p&#233;rdida) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c639370126a7437a8dfa2eb14174c745.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c639370126a7437a8dfa2eb14174c745.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-d00afc14d20847de82815c31a1c79c9a.html" target="element"> Motivadores SGDEA de EAAB </a> </td>
																		<td> <a href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html" target="element"> MOT03. Soluci&#243;n u&#769;nica para la gestio&#769;n documental de la EAAB </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-32c014d866214844b333a62048ce7b89.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-32c014d866214844b333a62048ce7b89.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html" target="element"> MOT02. Mejorar el desempen&#771;o de las comunicaciones oficiales EAAB </a> </td>
																				<td> <a href="../elements/id-67d4b942f64446e3ad359f7e82755a99.html" target="element"> BRE9. Control de correspondencia y comunicaciones interna y externa </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5a45814e30b94856a17d97356c157806.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5a45814e30b94856a17d97356c157806.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/17e7c40e-9575-45c3-a60d-34fe8fa74a64.html" target="element"> MOT04. Controlar el riesgo de pe&#769;rdida de informacio&#769;n </a> </td>
																				<td> <a href="../elements/id-1099c94738bb4307be9d7ed2af5514b1.html" target="element"> BRE2. No hay registro ni control de consultas y prestamos </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d388ef564a3c4cb09ebd549f86b5153d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d388ef564a3c4cb09ebd549f86b5153d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/f709c269-d64a-40cc-9f86-9f45ddb0acff.html" target="element"> MOT05. Incrementar completitud de las actividades archiv&#237;sticas EAAB </a> </td>
																				<td> <a href="../elements/id-34843064df6947c9b0289cee85725a53.html" target="element"> BRE5. La actividad de foliaci&#243;n no se encuentra realizada en su totalidad </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-dcef9deedded487ab2deda4828888b47.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dcef9deedded487ab2deda4828888b47.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/f709c269-d64a-40cc-9f86-9f45ddb0acff.html" target="element"> MOT05. Incrementar completitud de las actividades archiv&#237;sticas EAAB </a> </td>
																				<td> <a href="../elements/id-5a67580cb32a47f394414ce8e73e59e2.html" target="element"> BRE6. Incompletitud en la informaci&#243;n de los r&#243;tulos de los expedientes </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-88b8aaf4e3b7463aa69a06e22f2abd4f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-88b8aaf4e3b7463aa69a06e22f2abd4f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/f709c269-d64a-40cc-9f86-9f45ddb0acff.html" target="element"> MOT05. Incrementar completitud de las actividades archiv&#237;sticas EAAB </a> </td>
																				<td> <a href="../elements/id-ceff681b2d1048d38735c63b17ac1b32.html" target="element"> BRE4. Duplicidad de documentos </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-428b8196d4eb401087fdb8fceb6f28bb.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-428b8196d4eb401087fdb8fceb6f28bb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/f709c269-d64a-40cc-9f86-9f45ddb0acff.html" target="element"> MOT05. Incrementar completitud de las actividades archiv&#237;sticas EAAB </a> </td>
																				<td> <a href="../elements/id-546681b0f1fe42da809704cb1fa47623.html" target="element"> BRE1. Dependencias que no cuentan con un &#225;rea para la consulta de documentos f&#237;sicos </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-42c456514f1e4699b5e3d8866a7f3635.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-42c456514f1e4699b5e3d8866a7f3635.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/f709c269-d64a-40cc-9f86-9f45ddb0acff.html" target="element"> MOT05. Incrementar completitud de las actividades archiv&#237;sticas EAAB </a> </td>
																				<td> <a href="../elements/id-7f0e78c58477426986caf6c2c646c545.html" target="element"> BRE7. No se elaboran inventarios documentales para la totalidad de los expedientes </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-e0886032e57949d18ff53f9339050e65.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e0886032e57949d18ff53f9339050e65.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/b2b911bf-c72c-4445-b5a7-4431b03e6bab.html" target="element"> MOT01. Aplicar el procedimiento documental correctamente (riesgo de sustracci&#243;n, p&#233;rdida) </a> </td>
																				<td> <a href="../elements/id-a8013bc1e9d34019bae3b43ab7aac2fd.html" target="element"> BRE8. Bajo cumplimiento del cronograma de transferencias documental </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-83f5b25ed6424cc4a37e4cfde05de8d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-83f5b25ed6424cc4a37e4cfde05de8d8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html" target="element"> MOT03. Soluci&#243;n u&#769;nica para la gestio&#769;n documental de la EAAB </a> </td>
																				<td> <a href="../elements/id-56571d7c3ed441d9b22a4870c4a1f9ef.html" target="element"> BRE3. Control de uso del consecutivo para los documentos internos y externos </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>