<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Correo Certificado. BMM</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Correo Certificado. BMM</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6c9675ca3d754b7c9973409b0eb85afa.png" alt="Correo Certificado. BMM" usemap="#id-6c9675ca3d754b7c9973409b0eb85afamap"/>
			   <map name="id-6c9675ca3d754b7c9973409b0eb85afamap">
				  		<area shape="rect" coords="10,88,255,143" href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html"  target="element">
				  		<area shape="rect" coords="10,148,255,203" href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html"  target="element">
				  				<area shape="rect" coords="611,249,779,304" href="../elements/id-7ad39a740bae409d886befffe5951239.html"  target="element">
				  				<area shape="rect" coords="610,63,779,118" href="../elements/id-f389542748134e8db300d353854d3b9e.html"  target="element">
				  				<area shape="rect" coords="394,189,587,244" href="../elements/id-b2412338b2c149e7a1f52eb6d2c5fbba.html"  target="element">
				  				<area shape="rect" coords="394,129,587,184" href="../elements/id-bf6e3d0d0c3b4521b2b8a1372d967d5d.html"  target="element">
				  				<area shape="rect" coords="610,129,779,184" href="../elements/id-8ad2e36552b040e3829437aed9bf1aa9.html"  target="element">
				  				<area shape="rect" coords="394,315,587,370" href="../elements/id-008d2a69801f45bab2eab0df8bfde31d.html"  target="element">
				  				<area shape="rect" coords="394,63,587,118" href="../elements/id-e8b8c15f88b74bc4bfffda8c6a9ecf1e.html"  target="element">
				  				<area shape="rect" coords="394,249,587,304" href="../elements/id-17982402859d47da8f8365f85764b565.html"  target="element">
				  				<area shape="rect" coords="610,189,779,244" href="../elements/id-d2b9f7c3b7b94169886ceaaffadb0bd1.html"  target="element">

				  		<area shape="rect" coords="346,10,826,406" href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Requerimientos de control del m&#243;dulo de Administraci&#243;n de Correo Certificado y las razones misionales (MOT02 y 03) que sostienen la implementaci&#243;n de este m&#243;dulo que hace parte del SGDEA integral de la EAAB.

&gt; *El Modelo de requerimientos listados en esta vista controlan la completitud y el comportamiento* del m&#243;dulo de Correo Certificado. Los requerimentos incluidos en este modelo sirven como lista de chequeo frente a lo que el m&#243;dulo debe tener funcionalmente (completitud funcional) y, en la fase de dise&#241;o, estos mismos requerimientos servir&#225;n para verificar (controlar) las acciones que realiza el m&#243;dulo para implementarlos: comportamiento del m&#243;dulo.

&gt; El modelo de requerimientos de este m&#243;dulo est&#225; alineado con las necesidades misionales de EAAB. Tos los requerimiento del modelo tienen su relaci&#243;n directa con las motivaciones de EAAB. Esto asegura que los esfuerzos que se realizar&#225;n en las fases posteriores (dise&#241;o e implementaci&#243;n) del SGDEA est&#233;n justificadas.

El modelo de requerimientos, que da tama&#241;o al m&#243;dulo del SGDEA Administraci&#243;n de Correo Certificado y lo valida en cuanto al qu&#233; y al c&#243;mo, est&#225; alienado con las necesidades misionales de la EAAB.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
											    <td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d2b9f7c3b7b94169886ceaaffadb0bd1.html" target="element"> REQR27. Firmado de correos certificados </a> </td>
													    <td> <a href="../elements/id-d2b9f7c3b7b94169886ceaaffadb0bd1.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-17982402859d47da8f8365f85764b565.html" target="element"> REQR23. Garantizar la autenticidad y no repudio de los correo salientes EAAB </a> </td>
													    <td> <a href="../elements/id-17982402859d47da8f8365f85764b565.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e8b8c15f88b74bc4bfffda8c6a9ecf1e.html" target="element"> REQR20. Evitar la p&#233;rdida de correos respuestas de EAAB  </a> </td>
													    <td> <a href="../elements/id-e8b8c15f88b74bc4bfffda8c6a9ecf1e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-008d2a69801f45bab2eab0df8bfde31d.html" target="element"> REQR24. Seguimiento del env&#237;o del correo certificado </a> </td>
													    <td> <a href="../elements/id-008d2a69801f45bab2eab0df8bfde31d.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-8ad2e36552b040e3829437aed9bf1aa9.html" target="element"> REQR26. Consulta web correo emitido por EAAB </a> </td>
													    <td> <a href="../elements/id-8ad2e36552b040e3829437aed9bf1aa9.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bf6e3d0d0c3b4521b2b8a1372d967d5d.html" target="element"> REQR21. Auditor&#237;a de  entrada / salida de correos certificados </a> </td>
													    <td> <a href="../elements/id-bf6e3d0d0c3b4521b2b8a1372d967d5d.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b2412338b2c149e7a1f52eb6d2c5fbba.html" target="element"> REQR22. Garantizar la recepci&#243;n de los correos certificados enviados EAAB </a> </td>
													    <td> <a href="../elements/id-b2412338b2c149e7a1f52eb6d2c5fbba.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f389542748134e8db300d353854d3b9e.html" target="element"> REQR25. Validaci&#243;n Correo-e ciudadadano </a> </td>
													    <td> <a href="../elements/id-f389542748134e8db300d353854d3b9e.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7ad39a740bae409d886befffe5951239.html" target="element"> REQR32. Integraci&#243;n con Office 365 </a> </td>
													    <td> <a href="../elements/id-7ad39a740bae409d886befffe5951239.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html" target="element"> MOT02. Mejorar el desempen&#771;o de las comunicaciones oficiales EAAB </a> </td>
											    <td> <a href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html" target="element"> MOT03. Soluci&#243;n u&#769;nica para la gestio&#769;n documental de la EAAB </a> </td>
											    <td> <a href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-91c3165d86484b70ab66a9465715aee4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-91c3165d86484b70ab66a9465715aee4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-d2b9f7c3b7b94169886ceaaffadb0bd1.html" target="element"> REQR27. Firmado de correos certificados </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-918d0b7f6e3a4f02a63dcf74831f631c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-918d0b7f6e3a4f02a63dcf74831f631c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-17982402859d47da8f8365f85764b565.html" target="element"> REQR23. Garantizar la autenticidad y no repudio de los correo salientes EAAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d0ca3db34d241d7ab17af0495b90e30.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d0ca3db34d241d7ab17af0495b90e30.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-e8b8c15f88b74bc4bfffda8c6a9ecf1e.html" target="element"> REQR20. Evitar la p&#233;rdida de correos respuestas de EAAB  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-82c35bda62df462d9106711d8eecc26c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-82c35bda62df462d9106711d8eecc26c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-008d2a69801f45bab2eab0df8bfde31d.html" target="element"> REQR24. Seguimiento del env&#237;o del correo certificado </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64e9ae7fc65f4cb1855c8d27107ed323.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64e9ae7fc65f4cb1855c8d27107ed323.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-8ad2e36552b040e3829437aed9bf1aa9.html" target="element"> REQR26. Consulta web correo emitido por EAAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-260c32627b74453f8d4b9e72f95d576d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-260c32627b74453f8d4b9e72f95d576d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-bf6e3d0d0c3b4521b2b8a1372d967d5d.html" target="element"> REQR21. Auditor&#237;a de  entrada / salida de correos certificados </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2b780b96111a4860aa7dd4949d8a750e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b780b96111a4860aa7dd4949d8a750e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-b2412338b2c149e7a1f52eb6d2c5fbba.html" target="element"> REQR22. Garantizar la recepci&#243;n de los correos certificados enviados EAAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-43cb23425a124fa4ba9c2558be40b200.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43cb23425a124fa4ba9c2558be40b200.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-f389542748134e8db300d353854d3b9e.html" target="element"> REQR25. Validaci&#243;n Correo-e ciudadadano </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bcc5c13b769047b1ab200fe62f09d53c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bcc5c13b769047b1ab200fe62f09d53c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																		<td> <a href="../elements/id-7ad39a740bae409d886befffe5951239.html" target="element"> REQR32. Integraci&#243;n con Office 365 </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-95970d99a35e4780ac5674e913622265.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-95970d99a35e4780ac5674e913622265.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/cdd6d269-779c-4cc0-a325-9d993317b200.html" target="element"> MOT02. Mejorar el desempen&#771;o de las comunicaciones oficiales EAAB </a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-780e92112bb141a08c17b6b7bab571fa.html" target="element"> influye </a> </td>
																		<td> <a href="../elements/id-780e92112bb141a08c17b6b7bab571fa.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/21e79d27-c93d-46aa-ba2c-4e3132e4eb28.html" target="element"> MOT03. Soluci&#243;n u&#769;nica para la gestio&#769;n documental de la EAAB </a> </td>
																		<td> <a href="../elements/id-e6033c40ba5644828f1ccc58b11c4a43.html" target="element"> Modelo de Requerimientos Administraci&#243;n de Correo Certificado </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>