<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Interoperabilidad. Marco de Interoperabilidad</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Interoperabilidad. Marco de Interoperabilidad</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-676c5d3123a14b4689c9c93aeda582f1.png" alt="Interoperabilidad. Marco de Interoperabilidad" usemap="#id-676c5d3123a14b4689c9c93aeda582f1map"/>
			   <map name="id-676c5d3123a14b4689c9c93aeda582f1map">
				  				<area shape="rect" coords="1030,46,1150,101" href="../elements/id-1b24bb8415f34e38bcc60949d79fce33.html"  target="element">
				  				<area shape="rect" coords="886,46,1006,101" href="../elements/id-a1c06a40b243484caf28f7c247ba9d30.html"  target="element">

				  		<area shape="rect" coords="862,10,1260,179" href="../elements/id-7600ceff0a3846ed9adfbf088268a0a0.html"  target="element">
				  		<area shape="rect" coords="256,556,408,611" href="../elements/b60c23f2-eca2-4032-a55d-ca9495390515.html"  target="element">
				  		<area shape="rect" coords="411,556,563,611" href="../elements/8b4df040-41f5-48a9-a395-31658415bf2e.html"  target="element">
				  		<area shape="rect" coords="256,610,408,665" href="../elements/a4be3635-09c4-4fb5-b6f6-7b68db452cdc.html"  target="element">
				  		<area shape="rect" coords="411,610,563,665" href="../elements/86ea083b-8fb1-4fca-971f-d92957424e04.html"  target="element">
				  		<area shape="rect" coords="256,664,408,719" href="../elements/7e5f7044-c4d0-497a-b1d6-f613079e72c8.html"  target="element">
				  		<area shape="rect" coords="10,502,155,557" href="../elements/id-c682d359e1704a85ba4ff45c59901a45.html"  target="element">
				  				<area shape="rect" coords="676,106,796,161" href="../elements/id-b13c718714324d88bb64432a5be253cf.html"  target="element">
				  				<area shape="rect" coords="412,106,532,161" href="../elements/id-1ad4da62e643476fbac627d685c13c5b.html"  target="element">
				  				<area shape="rect" coords="544,106,664,161" href="../elements/id-1ec717694e474fd8a8c9c032b12d2705.html"  target="element">
				  				<area shape="rect" coords="280,106,400,161" href="../elements/id-098873d2111b4a339242ab5876e04363.html"  target="element">
				  				<area shape="rect" coords="280,46,400,101" href="../elements/id-b294a892e5a342b99abc61019db5480e.html"  target="element">
				  				<area shape="rect" coords="412,46,532,101" href="../elements/id-02ea56bc82e4454f91cd6c0f61159c90.html"  target="element">
				  				<area shape="rect" coords="544,46,664,101" href="../elements/id-cc7524243f9e4299ac081f157994c670.html"  target="element">
				  				<area shape="rect" coords="676,46,796,101" href="../elements/id-e0aac85fc46f424ebec1accf959cbb1d.html"  target="element">

				  		<area shape="rect" coords="256,10,815,178" href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html"  target="element">
				  				<area shape="rect" coords="424,238,544,293" href="../elements/id-e465d2bc11724545ab4c8d1e489e5c27.html"  target="element">
				  				<area shape="rect" coords="556,238,676,293" href="../elements/id-a273e7bbc196440cb691bcc7592e8b89.html"  target="element">
				  				<area shape="rect" coords="280,238,400,293" href="../elements/id-fce554e60bd144bf9a7186c7e8d5ff57.html"  target="element">

				  		<area shape="rect" coords="256,202,815,311" href="../elements/id-4e5a48855bef41a0a0c26a2bcb1433a0.html"  target="element">
				  				<area shape="rect" coords="280,382,400,437" href="../elements/id-73f8caac25d34288b65517e5dfef4ab0.html"  target="element">
				  				<area shape="rect" coords="424,382,544,437" href="../elements/0a110752-e3dc-4baa-966a-8bb94c1f0486.html"  target="element">

				  		<area shape="rect" coords="256,346,815,454" href="../elements/id-f015ad86c6a34c2491c53be90f95d74e.html"  target="element">
				  		<area shape="rect" coords="16,229,149,284" href="../elements/id-266466ef7a794b29aa78a5e931220ada.html"  target="element">
				          <area shape="rect" coords="10,10,215,131" href="../objects/id-0de950175c084431a89a40970943f175.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">El Marco de interoperabilidad del SGDEA de la EAAB es el compendio de pol&#237;ticas, recomendaciones y est&#225;ndares t&#233;cnicos desarrollado para facilitar el desarrollo de capacidades de interoperabilidad del SGDEA de la entidad, de forma que considerando el tama&#241;o, el presupuesto y el desarrollo tecnol&#243;gico, pueda realizar y administrar el intercambio de informaci&#243;n y realizar ejercicios de colaboraci&#243;n con otras entidades de forma eficiente.
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-0de950175c084431a89a40970943f175.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-0de950175c084431a89a40970943f175.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-266466ef7a794b29aa78a5e931220ada.html" target="element"> Marco de interoperabilidad EAAB </a> </td>
											    <td> <a href="../elements/id-266466ef7a794b29aa78a5e931220ada.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f015ad86c6a34c2491c53be90f95d74e.html" target="element"> Gu&#237;as y Est&#225;ndares </a> </td>
											    <td> <a href="../elements/id-f015ad86c6a34c2491c53be90f95d74e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0a110752-e3dc-4baa-966a-8bb94c1f0486.html" target="element"> Tecnolog&#237;as de Implementaci&#243;n de Interoperabilidad </a> </td>
													    <td> <a href="../elements/0a110752-e3dc-4baa-966a-8bb94c1f0486.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-73f8caac25d34288b65517e5dfef4ab0.html" target="element"> Pr&#225;cticas Comunes de Interoperabilidad </a> </td>
													    <td> <a href="../elements/id-73f8caac25d34288b65517e5dfef4ab0.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4e5a48855bef41a0a0c26a2bcb1433a0.html" target="element"> Administraci&#243;n </a> </td>
											    <td> <a href="../elements/id-4e5a48855bef41a0a0c26a2bcb1433a0.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fce554e60bd144bf9a7186c7e8d5ff57.html" target="element"> Modelo de Madurez </a> </td>
													    <td> <a href="../elements/id-fce554e60bd144bf9a7186c7e8d5ff57.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a273e7bbc196440cb691bcc7592e8b89.html" target="element"> Modelo de Administraci&#243;n </a> </td>
													    <td> <a href="../elements/id-a273e7bbc196440cb691bcc7592e8b89.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e465d2bc11724545ab4c8d1e489e5c27.html" target="element"> Modelo de Medici&#243;n </a> </td>
													    <td> <a href="../elements/id-e465d2bc11724545ab4c8d1e489e5c27.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html" target="element"> Pol&#237;ticas </a> </td>
											    <td> <a href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e0aac85fc46f424ebec1accf959cbb1d.html" target="element"> POL4. Simplicidad </a> </td>
													    <td> <a href="../elements/id-e0aac85fc46f424ebec1accf959cbb1d.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cc7524243f9e4299ac081f157994c670.html" target="element"> POL3. Seguridad </a> </td>
													    <td> <a href="../elements/id-cc7524243f9e4299ac081f157994c670.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-02ea56bc82e4454f91cd6c0f61159c90.html" target="element"> POL2. Cobertura y proporcionalidad </a> </td>
													    <td> <a href="../elements/id-02ea56bc82e4454f91cd6c0f61159c90.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b294a892e5a342b99abc61019db5480e.html" target="element"> POL1. Enfoque ciudadano </a> </td>
													    <td> <a href="../elements/id-b294a892e5a342b99abc61019db5480e.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-098873d2111b4a339242ab5876e04363.html" target="element"> POL5. Neutralidad tecnol&#243;gica y adaptabilidad </a> </td>
													    <td> <a href="../elements/id-098873d2111b4a339242ab5876e04363.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1ec717694e474fd8a8c9c032b12d2705.html" target="element"> POL7. Costo-efectividad </a> </td>
													    <td> <a href="../elements/id-1ec717694e474fd8a8c9c032b12d2705.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1ad4da62e643476fbac627d685c13c5b.html" target="element"> POL6. Reutilizaci&#243;n </a> </td>
													    <td> <a href="../elements/id-1ad4da62e643476fbac627d685c13c5b.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b13c718714324d88bb64432a5be253cf.html" target="element"> POL8. Vigencia de Tr&#225;mites </a> </td>
													    <td> <a href="../elements/id-b13c718714324d88bb64432a5be253cf.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c682d359e1704a85ba4ff45c59901a45.html" target="element"> Beneficios del marco de interoperabilidad </a> </td>
											    <td> <a href="../elements/id-c682d359e1704a85ba4ff45c59901a45.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7e5f7044-c4d0-497a-b1d6-f613079e72c8.html" target="element"> ESIN5. G2G: Solicitud de informaci&#243;n </a> </td>
											    <td> <a href="../elements/7e5f7044-c4d0-497a-b1d6-f613079e72c8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/86ea083b-8fb1-4fca-971f-d92957424e04.html" target="element"> ESIN4. G2G. Requerimiento de informaci&#243;n </a> </td>
											    <td> <a href="../elements/86ea083b-8fb1-4fca-971f-d92957424e04.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a4be3635-09c4-4fb5-b6f6-7b68db452cdc.html" target="element"> ESIN3. Acuerdos para el Intercambio de Informaci&#243;n </a> </td>
											    <td> <a href="../elements/a4be3635-09c4-4fb5-b6f6-7b68db452cdc.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8b4df040-41f5-48a9-a395-31658415bf2e.html" target="element"> ESIN2. Aprovisionamiento de Recursos para la Interoperabilidad </a> </td>
											    <td> <a href="../elements/8b4df040-41f5-48a9-a395-31658415bf2e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b60c23f2-eca2-4032-a55d-ca9495390515.html" target="element"> ESIN1. Ventanilla &#218;nica de Tr&#225;mites y Procesos Interinstitucionales </a> </td>
											    <td> <a href="../elements/b60c23f2-eca2-4032-a55d-ca9495390515.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7600ceff0a3846ed9adfbf088268a0a0.html" target="element"> Normativa de Ineroperabilidad SGDEA </a> </td>
											    <td> <a href="../elements/id-7600ceff0a3846ed9adfbf088268a0a0.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a1c06a40b243484caf28f7c247ba9d30.html" target="element"> Ley 2052 de 25 Agosto 2020, Art&#237;culo 8, 10 </a> </td>
													    <td> <a href="../elements/id-a1c06a40b243484caf28f7c247ba9d30.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1b24bb8415f34e38bcc60949d79fce33.html" target="element"> Decreto 620 de 2020 </a> </td>
													    <td> <a href="../elements/id-1b24bb8415f34e38bcc60949d79fce33.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-1c02c43003af4dd883cc2b7f14b4b484.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c02c43003af4dd883cc2b7f14b4b484.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-266466ef7a794b29aa78a5e931220ada.html" target="element"> Marco de interoperabilidad EAAB </a> </td>
																		<td> <a href="../elements/id-4e5a48855bef41a0a0c26a2bcb1433a0.html" target="element"> Administraci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b1a52136dada401399d698eb8c8a24de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1a52136dada401399d698eb8c8a24de.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-266466ef7a794b29aa78a5e931220ada.html" target="element"> Marco de interoperabilidad EAAB </a> </td>
																		<td> <a href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html" target="element"> Pol&#237;ticas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-acbfc2f795f948bbb2d0fa6c0c1d27dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-acbfc2f795f948bbb2d0fa6c0c1d27dd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-266466ef7a794b29aa78a5e931220ada.html" target="element"> Marco de interoperabilidad EAAB </a> </td>
																		<td> <a href="../elements/id-f015ad86c6a34c2491c53be90f95d74e.html" target="element"> Gu&#237;as y Est&#225;ndares </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7a352beab0b3430a89438dbbff503624.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7a352beab0b3430a89438dbbff503624.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-266466ef7a794b29aa78a5e931220ada.html" target="element"> Marco de interoperabilidad EAAB </a> </td>
																		<td> <a href="../elements/id-c682d359e1704a85ba4ff45c59901a45.html" target="element"> Beneficios del marco de interoperabilidad </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3a0875acb22b4111a37485b2e15e0194.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a0875acb22b4111a37485b2e15e0194.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-f015ad86c6a34c2491c53be90f95d74e.html" target="element"> Gu&#237;as y Est&#225;ndares </a> </td>
																		<td> <a href="../elements/id-73f8caac25d34288b65517e5dfef4ab0.html" target="element"> Pr&#225;cticas Comunes de Interoperabilidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a04c0840-d5dc-4c2e-85f9-2ca89b783957.html" target="element">  </a> </td>
																		<td> <a href="../elements/a04c0840-d5dc-4c2e-85f9-2ca89b783957.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-f015ad86c6a34c2491c53be90f95d74e.html" target="element"> Gu&#237;as y Est&#225;ndares </a> </td>
																		<td> <a href="../elements/0a110752-e3dc-4baa-966a-8bb94c1f0486.html" target="element"> Tecnolog&#237;as de Implementaci&#243;n de Interoperabilidad </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/7aea5300-9521-4d03-b799-78cc949ebd87.html" target="element">  </a> </td>
																				<td> <a href="../elements/7aea5300-9521-4d03-b799-78cc949ebd87.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-73f8caac25d34288b65517e5dfef4ab0.html" target="element"> Pr&#225;cticas Comunes de Interoperabilidad </a> </td>
																				<td> <a href="../elements/a4be3635-09c4-4fb5-b6f6-7b68db452cdc.html" target="element"> ESIN3. Acuerdos para el Intercambio de Informaci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d4e713a5-f391-413e-b4a2-a31c5ee0939e.html" target="element">  </a> </td>
																				<td> <a href="../elements/d4e713a5-f391-413e-b4a2-a31c5ee0939e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-73f8caac25d34288b65517e5dfef4ab0.html" target="element"> Pr&#225;cticas Comunes de Interoperabilidad </a> </td>
																				<td> <a href="../elements/86ea083b-8fb1-4fca-971f-d92957424e04.html" target="element"> ESIN4. G2G. Requerimiento de informaci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/80e209e5-f3e7-4d93-bd3b-2a0c8180ae85.html" target="element">  </a> </td>
																				<td> <a href="../elements/80e209e5-f3e7-4d93-bd3b-2a0c8180ae85.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-73f8caac25d34288b65517e5dfef4ab0.html" target="element"> Pr&#225;cticas Comunes de Interoperabilidad </a> </td>
																				<td> <a href="../elements/8b4df040-41f5-48a9-a395-31658415bf2e.html" target="element"> ESIN2. Aprovisionamiento de Recursos para la Interoperabilidad </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/1e12d46c-0022-4302-9c0c-839133b61ea3.html" target="element">  </a> </td>
																				<td> <a href="../elements/1e12d46c-0022-4302-9c0c-839133b61ea3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-73f8caac25d34288b65517e5dfef4ab0.html" target="element"> Pr&#225;cticas Comunes de Interoperabilidad </a> </td>
																				<td> <a href="../elements/b60c23f2-eca2-4032-a55d-ca9495390515.html" target="element"> ESIN1. Ventanilla &#218;nica de Tr&#225;mites y Procesos Interinstitucionales </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a7b8388496ec4588ac94cb2bc5f849a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7b8388496ec4588ac94cb2bc5f849a1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4e5a48855bef41a0a0c26a2bcb1433a0.html" target="element"> Administraci&#243;n </a> </td>
																		<td> <a href="../elements/id-a273e7bbc196440cb691bcc7592e8b89.html" target="element"> Modelo de Administraci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f517b2c311e44b7084e8ec8144317ede.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f517b2c311e44b7084e8ec8144317ede.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4e5a48855bef41a0a0c26a2bcb1433a0.html" target="element"> Administraci&#243;n </a> </td>
																		<td> <a href="../elements/id-fce554e60bd144bf9a7186c7e8d5ff57.html" target="element"> Modelo de Madurez </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3674853aef9242858d1cfdc8823d1c07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3674853aef9242858d1cfdc8823d1c07.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4e5a48855bef41a0a0c26a2bcb1433a0.html" target="element"> Administraci&#243;n </a> </td>
																		<td> <a href="../elements/id-e465d2bc11724545ab4c8d1e489e5c27.html" target="element"> Modelo de Medici&#243;n </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/32f2ab24-b33b-405e-9ac9-94dc5c85e372.html" target="element"> influye </a> </td>
																				<td> <a href="../elements/32f2ab24-b33b-405e-9ac9-94dc5c85e372.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-fce554e60bd144bf9a7186c7e8d5ff57.html" target="element"> Modelo de Madurez </a> </td>
																				<td> <a href="../elements/id-73f8caac25d34288b65517e5dfef4ab0.html" target="element"> Pr&#225;cticas Comunes de Interoperabilidad </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d1a9456b-7901-4edd-8df2-d0737c03e5c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/d1a9456b-7901-4edd-8df2-d0737c03e5c9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-fce554e60bd144bf9a7186c7e8d5ff57.html" target="element"> Modelo de Madurez </a> </td>
																				<td> <a href="../elements/id-e465d2bc11724545ab4c8d1e489e5c27.html" target="element"> Modelo de Medici&#243;n </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/7f2c8e67-ee57-451d-90d4-619bd61586a2.html" target="element"> sirve </a> </td>
																				<td> <a href="../elements/7f2c8e67-ee57-451d-90d4-619bd61586a2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-e465d2bc11724545ab4c8d1e489e5c27.html" target="element"> Modelo de Medici&#243;n </a> </td>
																				<td> <a href="../elements/id-73f8caac25d34288b65517e5dfef4ab0.html" target="element"> Pr&#225;cticas Comunes de Interoperabilidad </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4cebf1b62d5a4e5eac365534a8ba7e42.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4cebf1b62d5a4e5eac365534a8ba7e42.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html" target="element"> Pol&#237;ticas </a> </td>
																		<td> <a href="../elements/id-e0aac85fc46f424ebec1accf959cbb1d.html" target="element"> POL4. Simplicidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eca31a7f48e746068e1bbf0d9188716a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eca31a7f48e746068e1bbf0d9188716a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html" target="element"> Pol&#237;ticas </a> </td>
																		<td> <a href="../elements/id-cc7524243f9e4299ac081f157994c670.html" target="element"> POL3. Seguridad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f4713406a2284ca69c2431753bdd258c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f4713406a2284ca69c2431753bdd258c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html" target="element"> Pol&#237;ticas </a> </td>
																		<td> <a href="../elements/id-02ea56bc82e4454f91cd6c0f61159c90.html" target="element"> POL2. Cobertura y proporcionalidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-abe44b73d906475b876770dfff22f184.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-abe44b73d906475b876770dfff22f184.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html" target="element"> Pol&#237;ticas </a> </td>
																		<td> <a href="../elements/id-b294a892e5a342b99abc61019db5480e.html" target="element"> POL1. Enfoque ciudadano </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0cb1bee223e740beaa82102bc293a943.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0cb1bee223e740beaa82102bc293a943.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html" target="element"> Pol&#237;ticas </a> </td>
																		<td> <a href="../elements/id-098873d2111b4a339242ab5876e04363.html" target="element"> POL5. Neutralidad tecnol&#243;gica y adaptabilidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c5e0e27758c94f918b9598768c2cde86.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5e0e27758c94f918b9598768c2cde86.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html" target="element"> Pol&#237;ticas </a> </td>
																		<td> <a href="../elements/id-1ec717694e474fd8a8c9c032b12d2705.html" target="element"> POL7. Costo-efectividad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2d0e2b205e4a407e8f3acc37febd1aa1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2d0e2b205e4a407e8f3acc37febd1aa1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html" target="element"> Pol&#237;ticas </a> </td>
																		<td> <a href="../elements/id-1ad4da62e643476fbac627d685c13c5b.html" target="element"> POL6. Reutilizaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-08354a497d7d43869020349b0787f42c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-08354a497d7d43869020349b0787f42c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html" target="element"> Pol&#237;ticas </a> </td>
																		<td> <a href="../elements/id-7600ceff0a3846ed9adfbf088268a0a0.html" target="element"> Normativa de Ineroperabilidad SGDEA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8eeb1c5752e34184a9b33ab8e70b13b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8eeb1c5752e34184a9b33ab8e70b13b9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html" target="element"> Pol&#237;ticas </a> </td>
																		<td> <a href="../elements/id-b13c718714324d88bb64432a5be253cf.html" target="element"> POL8. Vigencia de Tr&#225;mites </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/eddbf0bf-a113-457e-97a7-951e4f9c886f.html" target="element">  </a> </td>
																		<td> <a href="../elements/eddbf0bf-a113-457e-97a7-951e4f9c886f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/7e5f7044-c4d0-497a-b1d6-f613079e72c8.html" target="element"> ESIN5. G2G: Solicitud de informaci&#243;n </a> </td>
																		<td> <a href="../elements/id-73f8caac25d34288b65517e5dfef4ab0.html" target="element"> Pr&#225;cticas Comunes de Interoperabilidad </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9c5362a9aa6140c9a47eb48e7428cb32.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c5362a9aa6140c9a47eb48e7428cb32.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7600ceff0a3846ed9adfbf088268a0a0.html" target="element"> Normativa de Ineroperabilidad SGDEA </a> </td>
																		<td> <a href="../elements/id-1b24bb8415f34e38bcc60949d79fce33.html" target="element"> Decreto 620 de 2020 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7446dc1ace2f4d04a3e0e8b7804a2a4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7446dc1ace2f4d04a3e0e8b7804a2a4c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7600ceff0a3846ed9adfbf088268a0a0.html" target="element"> Normativa de Ineroperabilidad SGDEA </a> </td>
																		<td> <a href="../elements/id-a1c06a40b243484caf28f7c247ba9d30.html" target="element"> Ley 2052 de 25 Agosto 2020, Art&#237;culo 8, 10 </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>