<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SGDEA. Servicios, Metadatos, Entidades, Relaciones</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>SGDEA. Servicios, Metadatos, Entidades, Relaciones</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-7f3131b7a7a0470fb27de122b10dc03b.png" alt="SGDEA. Servicios, Metadatos, Entidades, Relaciones" usemap="#id-7f3131b7a7a0470fb27de122b10dc03bmap"/>
			   <map name="id-7f3131b7a7a0470fb27de122b10dc03bmap">
				  		<area shape="rect" coords="394,93,503,130" href="../elements/id-6619c10bd55d492da837ea62ca3c826c.html"  target="element">
				  		<area shape="rect" coords="262,93,371,130" href="../elements/id-9515bfad5cac4d2d8b4eb3357c724eec.html"  target="element">
				  				<area shape="rect" coords="1078,777,1198,826" href="../elements/id-dcd1e4450b3d4fd0acd5a68bec2c8379.html"  target="element">
				  				<area shape="rect" coords="1078,717,1198,766" href="../elements/id-9c74f29b3d9f4482b70f21ec8172f5c9.html"  target="element">
				  				<area shape="rect" coords="934,717,1054,766" href="../elements/id-db229e8df4b84942a975912f09fa125a.html"  target="element">
				  				<area shape="rect" coords="790,717,910,766" href="../elements/id-feb77d3aeb2d45e49be8137f1b907697.html"  target="element">

				  		<area shape="rect" coords="766,693,1223,837" href="../elements/id-ce2808751afb44beb4f0ee3245c7455f.html"  target="element">
				  				<area shape="rect" coords="935,525,1055,580" href="../elements/id-becc60a7d8204714b87d3c4a5db94e21.html"  target="element">
				  				<area shape="rect" coords="802,525,922,580" href="../elements/id-fc5b07a319324c6ab98b1629c0113b3d.html"  target="element">
				  				<area shape="rect" coords="1066,525,1186,580" href="../elements/id-3cb5f5d489ce416a957fa2cf1eaea6ff.html"  target="element">
				  						<area shape="rect" coords="1067,441,1187,496" href="../elements/id-ae2c337bf78c400582d212cf17a3c137.html"  target="element">
				  						<area shape="rect" coords="933,441,1053,496" href="../elements/id-f2487d1f4641465c8d4ca174d3b142e1.html"  target="element">
				  						<area shape="rect" coords="802,441,922,496" href="../elements/id-ac8492b468f447c3ac1d3cda9de932e6.html"  target="element">
				  						<area shape="rect" coords="802,381,922,436" href="../elements/id-3641318b7f6a45f9ac4fcab250e85661.html"  target="element">
				  						<area shape="rect" coords="933,381,1053,436" href="../elements/id-74cf768060cf4d3e9f14d7e975ab5a9d.html"  target="element">
				  						<area shape="rect" coords="933,321,1053,376" href="../elements/id-f187f9c8150b4e53a4b9a41f2371f671.html"  target="element">
				  						<area shape="rect" coords="1067,381,1187,436" href="../elements/id-9e4ca85250f548b993f5f93dc8cdbae8.html"  target="element">
				  						<area shape="rect" coords="1067,321,1187,376" href="../elements/id-9bc8eb36eddb4340a469fdbc7aa47009.html"  target="element">
				  						<area shape="rect" coords="802,321,922,376" href="../elements/id-bb7606167d0a4ec58399fcd4075bf83d.html"  target="element">

				  				<area shape="rect" coords="790,285,1199,513" href="../elements/id-c3b9dba0b6394ec8b5b81cecce2ec09f.html"  target="element">
				  						<area shape="rect" coords="1066,201,1186,256" href="../elements/id-f4143ee0d2f04daaac5876f4973c08c0.html"  target="element">
				  						<area shape="rect" coords="934,201,1054,256" href="../elements/id-5d8bb16d111047a2beda245e8aee4658.html"  target="element">
				  						<area shape="rect" coords="802,201,922,256" href="../elements/id-830177312a214f84a8a0a27610a2121c.html"  target="element">

				  				<area shape="rect" coords="790,177,1199,286" href="../elements/id-4b1df2a70a214a10a737f356c4dc6557.html"  target="element">

				  		<area shape="rect" coords="766,141,1223,681" href="../elements/id-e6ba322e69d04547846f5cb7babd0698.html"  target="element">
				          <area shape="rect" coords="10,10,251,130" href="../objects/id-7322c6ef76f145409d01ecba6ac0bf56.html" target="element" >
				  				<area shape="rect" coords="598,729,718,784" href="../elements/id-10042dbc2ccb4eb1905996c50d9e78b5.html"  target="element">
				  				<area shape="rect" coords="454,729,574,784" href="../elements/id-bff3fce310fa4b09a490aa553c052b4d.html"  target="element">
				  				<area shape="rect" coords="322,729,442,784" href="../elements/id-a54a76aa222641ea9146eb6b14ddd1a4.html"  target="element">
				  				<area shape="rect" coords="190,729,310,784" href="../elements/id-3686c58464f5455caf7d9ad452264ac5.html"  target="element">
				  				<area shape="rect" coords="58,729,178,784" href="../elements/id-7eb2f75c03c343ee97f60232bb60087d.html"  target="element">

				  		<area shape="rect" coords="10,693,755,837" href="../elements/id-c9fd6c3b328641238edff8a7c3579e2e.html"  target="element">
				  				<area shape="rect" coords="262,537,479,574" href="../elements/id-62cd854a22f04f7a8f1e9c6c3564ee30.html"  target="element">
				  				<area shape="rect" coords="262,489,479,526" href="../elements/id-b42c52f1a6d141bc9e026741b165121a.html"  target="element">
				  				<area shape="rect" coords="35,633,252,670" href="../elements/id-96f51200da24422d844a1a7cdf1f771d.html"  target="element">
				  				<area shape="rect" coords="34,585,251,622" href="../elements/id-ea97de3ee23740f5bb8118343dc35525.html"  target="element">
				  				<area shape="rect" coords="34,537,251,574" href="../elements/id-29a4379972e141fc8897396e23abd8b7.html"  target="element">
				  				<area shape="rect" coords="34,489,251,526" href="../elements/id-82b8f4898b2b4361bd33e9e204c0c584.html"  target="element">

				  		<area shape="rect" coords="10,465,503,681" href="../elements/id-b34c3942be9947cc864b4d8b22f7cdb5.html"  target="element">
				  				<area shape="rect" coords="562,597,707,652" href="../elements/id-8789c9ecd1e740a98b3cf00d89dd0e92.html"  target="element">

				  		<area shape="rect" coords="514,561,755,681" href="../elements/id-a4bcf83c794f41d3a5d48165dae7b123.html"  target="element">
				  				<area shape="rect" coords="562,165,707,202" href="../elements/id-57d94fc1a9b74870a5fa7c586aa5b646.html"  target="element">
				  				<area shape="rect" coords="562,501,707,538" href="../elements/id-65be3d7b56b641a4bfef688c3ab45d46.html"  target="element">
				  				<area shape="rect" coords="562,453,707,490" href="../elements/id-e52d6dc7ae2f4cbbbba7afbc2dc7b658.html"  target="element">
				  				<area shape="rect" coords="562,405,707,442" href="../elements/id-1150e8071a294e1b948ec46c2ecd3d70.html"  target="element">
				  				<area shape="rect" coords="562,357,707,394" href="../elements/id-e3fc602780474d629721565faebec2e7.html"  target="element">
				  				<area shape="rect" coords="562,309,707,346" href="../elements/id-3d8d6596518f4c5d95b3187b9059e562.html"  target="element">
				  				<area shape="rect" coords="562,261,707,298" href="../elements/id-0ac51fcfeb17480d9477a14af04d65b5.html"  target="element">
				  				<area shape="rect" coords="562,213,707,250" href="../elements/id-5ddc8a66a3394120b758660880e88d75.html"  target="element">

				  		<area shape="rect" coords="514,141,755,550" href="../elements/id-aec847888ed14d83a3d3635e7d1abf2c.html"  target="element">
				  				<area shape="rect" coords="310,369,455,424" href="../elements/id-1464d37c4fee4aed84c757a811656c47.html"  target="element">
				  				<area shape="rect" coords="310,309,455,364" href="../elements/id-b641344d96fb4ab1ae3f8361020eaaeb.html"  target="element">
				  				<area shape="rect" coords="310,249,455,304" href="../elements/id-505873cf70e24de8929cee5c97f7e0a3.html"  target="element">
				  				<area shape="rect" coords="310,189,455,244" href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html"  target="element">

				  		<area shape="rect" coords="262,141,503,454" href="../elements/id-7c1172f0dca9484fa1e9f8b3b9c49a1f.html"  target="element">
				  				<area shape="rect" coords="58,249,178,304" href="../elements/id-1431e993f07c4b2aafb8c9e4d8c78b7f.html"  target="element">
				  				<area shape="rect" coords="58,189,178,244" href="../elements/id-5cf0f1ed3233421da6f9131e04adbb57.html"  target="element">
				  				<area shape="rect" coords="58,309,178,364" href="../elements/id-ede4d6393c524ef589ca9111b773bea6.html"  target="element">
				  				<area shape="rect" coords="58,369,178,424" href="../elements/id-d64220a5e2a046bb9bd66c2bb6664adf.html"  target="element">

				  		<area shape="rect" coords="10,141,251,454" href="../elements/id-33ab916d6eba45c5b7c3a6ef6f8618c6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">El SGDEA debe encargarse de aplicar los procesos de la gesti&#243;n documental, producci&#243;n, gesti&#243;n y tr&#225;mite, organizaci&#243;n, transferencia, disposici&#243;n, preservaci&#243;n a largo plazo y valoraci&#243;n. *Esto se realiza mediante flujos de trabajo*, gesti&#243;n de contenidos, clasificaci&#243;n documental, conformaci&#243;n de expedientes entre otras,aplicando funciones sobre las entidades y capturando metadatos.

Cuando un documento pasa al SGDEA puede ser tramitado mediante un flujo, como por ejemplo; asignaci&#243;n, proyecto de respuesta, aprobaci&#243;n y entrega. Se integra luego a un expediente que pertenece a una serie o subserie documental (clase de documento) previamente valorada. La serie determina la regla para la retenci&#243;n y disposici&#243;n de documento, es decir, su tiempo de retenci&#243;n, tanto en la fase de archivo de gesti&#243;n como en la fase de archivo central y la disposici&#243;n que ha de darse una vez agotados estos tiempos. 
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
								<tr><td> URL </td><td class="convertlinks"> <xmp class="no-margin" style="white-space:pre-wrap">https://zealous-flower-0b1ff3e10.azurestaticapps.net/id-c126e9492ded4e86a2e8033d4e5892b0/views/id-7f3131b7a7a0470fb27de122b10dc03b.html</xmp> </td></tr>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-33ab916d6eba45c5b7c3a6ef6f8618c6.html" target="element"> Agentes del SGDEA </a> </td>
											    <td> <a href="../elements/id-33ab916d6eba45c5b7c3a6ef6f8618c6.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-d64220a5e2a046bb9bd66c2bb6664adf.html" target="element"> Expedientes </a> </td>
													    <td> <a href="../elements/id-d64220a5e2a046bb9bd66c2bb6664adf.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ede4d6393c524ef589ca9111b773bea6.html" target="element"> Documentos </a> </td>
													    <td> <a href="../elements/id-ede4d6393c524ef589ca9111b773bea6.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5cf0f1ed3233421da6f9131e04adbb57.html" target="element"> Productores </a> </td>
													    <td> <a href="../elements/id-5cf0f1ed3233421da6f9131e04adbb57.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1431e993f07c4b2aafb8c9e4d8c78b7f.html" target="element"> Usuarios </a> </td>
													    <td> <a href="../elements/id-1431e993f07c4b2aafb8c9e4d8c78b7f.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-7c1172f0dca9484fa1e9f8b3b9c49a1f.html" target="element"> Operaciones del SGDEA </a> </td>
											    <td> <a href="../elements/id-7c1172f0dca9484fa1e9f8b3b9c49a1f.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element"> Ingreso </a> </td>
													    <td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-505873cf70e24de8929cee5c97f7e0a3.html" target="element"> Procesamiento </a> </td>
													    <td> <a href="../elements/id-505873cf70e24de8929cee5c97f7e0a3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b641344d96fb4ab1ae3f8361020eaaeb.html" target="element"> Administraci&#243;n </a> </td>
													    <td> <a href="../elements/id-b641344d96fb4ab1ae3f8361020eaaeb.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1464d37c4fee4aed84c757a811656c47.html" target="element"> Almacenamiento </a> </td>
													    <td> <a href="../elements/id-1464d37c4fee4aed84c757a811656c47.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-aec847888ed14d83a3d3635e7d1abf2c.html" target="element"> Servicios (flujos documentales) del SGDEA </a> </td>
											    <td> <a href="../elements/id-aec847888ed14d83a3d3635e7d1abf2c.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5ddc8a66a3394120b758660880e88d75.html" target="element"> Clasificaci&#243;n </a> </td>
													    <td> <a href="../elements/id-5ddc8a66a3394120b758660880e88d75.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0ac51fcfeb17480d9477a14af04d65b5.html" target="element"> Ordenaci&#243;n </a> </td>
													    <td> <a href="../elements/id-0ac51fcfeb17480d9477a14af04d65b5.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3d8d6596518f4c5d95b3187b9059e562.html" target="element"> Descripci&#243;n </a> </td>
													    <td> <a href="../elements/id-3d8d6596518f4c5d95b3187b9059e562.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e3fc602780474d629721565faebec2e7.html" target="element"> Almacenamiento </a> </td>
													    <td> <a href="../elements/id-e3fc602780474d629721565faebec2e7.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-1150e8071a294e1b948ec46c2ecd3d70.html" target="element"> Disposici&#243;n </a> </td>
													    <td> <a href="../elements/id-1150e8071a294e1b948ec46c2ecd3d70.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e52d6dc7ae2f4cbbbba7afbc2dc7b658.html" target="element"> Preservaci&#243;n </a> </td>
													    <td> <a href="../elements/id-e52d6dc7ae2f4cbbbba7afbc2dc7b658.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-65be3d7b56b641a4bfef688c3ab45d46.html" target="element"> Valoraci&#243;n </a> </td>
													    <td> <a href="../elements/id-65be3d7b56b641a4bfef688c3ab45d46.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-57d94fc1a9b74870a5fa7c586aa5b646.html" target="element"> Producci&#243;n </a> </td>
													    <td> <a href="../elements/id-57d94fc1a9b74870a5fa7c586aa5b646.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-a4bcf83c794f41d3a5d48165dae7b123.html" target="element"> Almacenamiento </a> </td>
											    <td> <a href="../elements/id-a4bcf83c794f41d3a5d48165dae7b123.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8789c9ecd1e740a98b3cf00d89dd0e92.html" target="element"> Repositorio Digital Seguro </a> </td>
													    <td> <a href="../elements/id-8789c9ecd1e740a98b3cf00d89dd0e92.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-b34c3942be9947cc864b4d8b22f7cdb5.html" target="element"> Principios Operativos del SGDEA </a> </td>
											    <td> <a href="../elements/id-b34c3942be9947cc864b4d8b22f7cdb5.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-82b8f4898b2b4361bd33e9e204c0c584.html" target="element"> Interoperabilidad </a> </td>
													    <td> <a href="../elements/id-82b8f4898b2b4361bd33e9e204c0c584.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-29a4379972e141fc8897396e23abd8b7.html" target="element"> Neutralidad Tecnol&#243;gica </a> </td>
													    <td> <a href="../elements/id-29a4379972e141fc8897396e23abd8b7.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ea97de3ee23740f5bb8118343dc35525.html" target="element"> Adaptabilidad y flexibilidad </a> </td>
													    <td> <a href="../elements/id-ea97de3ee23740f5bb8118343dc35525.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-96f51200da24422d844a1a7cdf1f771d.html" target="element"> Apego a la normativa: 1080, 2274, 2609, ... </a> </td>
													    <td> <a href="../elements/id-96f51200da24422d844a1a7cdf1f771d.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b42c52f1a6d141bc9e026741b165121a.html" target="element"> Alineaci&#243;n SGDEA, PINAR, CCD, TRD, TVD, PGD,  </a> </td>
													    <td> <a href="../elements/id-b42c52f1a6d141bc9e026741b165121a.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-62cd854a22f04f7a8f1e9c6c3564ee30.html" target="element"> Alineaci&#243;n PETI y MinTIC (Modelo de Arquitectura Empresarial) </a> </td>
													    <td> <a href="../elements/id-62cd854a22f04f7a8f1e9c6c3564ee30.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c9fd6c3b328641238edff8a7c3579e2e.html" target="element"> Caracter&#237;sticas de Servicio del SGDEA </a> </td>
											    <td> <a href="../elements/id-c9fd6c3b328641238edff8a7c3579e2e.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7eb2f75c03c343ee97f60232bb60087d.html" target="element"> Ciclo de Vida </a> </td>
													    <td> <a href="../elements/id-7eb2f75c03c343ee97f60232bb60087d.html" target="element" class="i18n-elementtype-Value"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3686c58464f5455caf7d9ad452264ac5.html" target="element"> Gesti&#243;n de documentos </a> </td>
													    <td> <a href="../elements/id-3686c58464f5455caf7d9ad452264ac5.html" target="element" class="i18n-elementtype-Value"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a54a76aa222641ea9146eb6b14ddd1a4.html" target="element"> Seguridad e Integridad </a> </td>
													    <td> <a href="../elements/id-a54a76aa222641ea9146eb6b14ddd1a4.html" target="element" class="i18n-elementtype-Value"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bff3fce310fa4b09a490aa553c052b4d.html" target="element"> Preservaci&#243;n </a> </td>
													    <td> <a href="../elements/id-bff3fce310fa4b09a490aa553c052b4d.html" target="element" class="i18n-elementtype-Value"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-10042dbc2ccb4eb1905996c50d9e78b5.html" target="element"> Integraci&#243;n empresarial </a> </td>
													    <td> <a href="../elements/id-10042dbc2ccb4eb1905996c50d9e78b5.html" target="element" class="i18n-elementtype-Value"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-7322c6ef76f145409d01ecba6ac0bf56.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7322c6ef76f145409d01ecba6ac0bf56.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-e6ba322e69d04547846f5cb7babd0698.html" target="element"> Normativa del SGDEA de EAAB </a> </td>
											    <td> <a href="../elements/id-e6ba322e69d04547846f5cb7babd0698.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4b1df2a70a214a10a737f356c4dc6557.html" target="element"> Decretos </a> </td>
													    <td> <a href="../elements/id-4b1df2a70a214a10a737f356c4dc6557.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-830177312a214f84a8a0a27610a2121c.html" target="element"> Decreto 1080 de 2015 </a> </td>
															    <td> <a href="../elements/id-830177312a214f84a8a0a27610a2121c.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-5d8bb16d111047a2beda245e8aee4658.html" target="element"> Decreto 2274 de 1980 </a> </td>
															    <td> <a href="../elements/id-5d8bb16d111047a2beda245e8aee4658.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f4143ee0d2f04daaac5876f4973c08c0.html" target="element"> Decreto 2609 de 2012 </a> </td>
															    <td> <a href="../elements/id-f4143ee0d2f04daaac5876f4973c08c0.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-c3b9dba0b6394ec8b5b81cecce2ec09f.html" target="element"> Acuerdos </a> </td>
													    <td> <a href="../elements/id-c3b9dba0b6394ec8b5b81cecce2ec09f.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-bb7606167d0a4ec58399fcd4075bf83d.html" target="element"> Acuerdo 038 de 2002 Art&#237;culo </a> </td>
															    <td> <a href="../elements/id-bb7606167d0a4ec58399fcd4075bf83d.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9bc8eb36eddb4340a469fdbc7aa47009.html" target="element"> Acuerdo 049 de 2000 Articulo 3 </a> </td>
															    <td> <a href="../elements/id-9bc8eb36eddb4340a469fdbc7aa47009.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-9e4ca85250f548b993f5f93dc8cdbae8.html" target="element"> acuerdo 049 de 2000 Art&#237;culo 5 </a> </td>
															    <td> <a href="../elements/id-9e4ca85250f548b993f5f93dc8cdbae8.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f187f9c8150b4e53a4b9a41f2371f671.html" target="element"> Acuerdo 02 de 2014. Art&#237;culo 7o </a> </td>
															    <td> <a href="../elements/id-f187f9c8150b4e53a4b9a41f2371f671.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-74cf768060cf4d3e9f14d7e975ab5a9d.html" target="element"> Acuerdo 02 de 2014 Art&#237;culo 11o </a> </td>
															    <td> <a href="../elements/id-74cf768060cf4d3e9f14d7e975ab5a9d.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3641318b7f6a45f9ac4fcab250e85661.html" target="element"> Acuerdo 042 de 2002 </a> </td>
															    <td> <a href="../elements/id-3641318b7f6a45f9ac4fcab250e85661.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ac8492b468f447c3ac1d3cda9de932e6.html" target="element"> Acuerdo 060 2001 </a> </td>
															    <td> <a href="../elements/id-ac8492b468f447c3ac1d3cda9de932e6.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f2487d1f4641465c8d4ca174d3b142e1.html" target="element"> Acuerdo Directiva Presidencial 04 de 2013. Art&#237;culo 15 </a> </td>
															    <td> <a href="../elements/id-f2487d1f4641465c8d4ca174d3b142e1.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-ae2c337bf78c400582d212cf17a3c137.html" target="element"> Acuerdo 049 de 2000 Art&#237;culo 2 </a> </td>
															    <td> <a href="../elements/id-ae2c337bf78c400582d212cf17a3c137.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-3cb5f5d489ce416a957fa2cf1eaea6ff.html" target="element"> Resoluci&#243;n 629 de 2018 </a> </td>
													    <td> <a href="../elements/id-3cb5f5d489ce416a957fa2cf1eaea6ff.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-fc5b07a319324c6ab98b1629c0113b3d.html" target="element"> Ley 1409 de 2010 </a> </td>
													    <td> <a href="../elements/id-fc5b07a319324c6ab98b1629c0113b3d.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-becc60a7d8204714b87d3c4a5db94e21.html" target="element"> Norma ISO 9706 </a> </td>
													    <td> <a href="../elements/id-becc60a7d8204714b87d3c4a5db94e21.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-ce2808751afb44beb4f0ee3245c7455f.html" target="element"> Integraci&#243;n Otras Plataformas EAAB </a> </td>
											    <td> <a href="../elements/id-ce2808751afb44beb4f0ee3245c7455f.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-feb77d3aeb2d45e49be8137f1b907697.html" target="element"> AR. PDI (seguridad) </a> </td>
													    <td> <a href="../elements/id-feb77d3aeb2d45e49be8137f1b907697.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-db229e8df4b84942a975912f09fa125a.html" target="element"> AR. ESB / API </a> </td>
													    <td> <a href="../elements/id-db229e8df4b84942a975912f09fa125a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9c74f29b3d9f4482b70f21ec8172f5c9.html" target="element"> AR. Servicio </a> </td>
													    <td> <a href="../elements/id-9c74f29b3d9f4482b70f21ec8172f5c9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dcd1e4450b3d4fd0acd5a68bec2c8379.html" target="element"> AR. Exposici&#243;n </a> </td>
													    <td> <a href="../elements/id-dcd1e4450b3d4fd0acd5a68bec2c8379.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9515bfad5cac4d2d8b4eb3357c724eec.html" target="element"> Entidades SGDEA </a> </td>
											    <td> <a href="../elements/id-9515bfad5cac4d2d8b4eb3357c724eec.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6619c10bd55d492da837ea62ca3c826c.html" target="element"> Metadatos </a> </td>
											    <td> <a href="../elements/id-6619c10bd55d492da837ea62ca3c826c.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-48dc8899d5c14a5881ad152cb00a2397.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-48dc8899d5c14a5881ad152cb00a2397.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-33ab916d6eba45c5b7c3a6ef6f8618c6.html" target="element"> Agentes del SGDEA </a> </td>
																		<td> <a href="../elements/id-d64220a5e2a046bb9bd66c2bb6664adf.html" target="element"> Expedientes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0632226c57f1408d9e1127da88f1ebfe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0632226c57f1408d9e1127da88f1ebfe.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-33ab916d6eba45c5b7c3a6ef6f8618c6.html" target="element"> Agentes del SGDEA </a> </td>
																		<td> <a href="../elements/id-ede4d6393c524ef589ca9111b773bea6.html" target="element"> Documentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7e88783aa09b44358ff87bcb2df8a074.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e88783aa09b44358ff87bcb2df8a074.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-33ab916d6eba45c5b7c3a6ef6f8618c6.html" target="element"> Agentes del SGDEA </a> </td>
																		<td> <a href="../elements/id-5cf0f1ed3233421da6f9131e04adbb57.html" target="element"> Productores </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a915084373464e37a35728fe9640c704.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a915084373464e37a35728fe9640c704.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-33ab916d6eba45c5b7c3a6ef6f8618c6.html" target="element"> Agentes del SGDEA </a> </td>
																		<td> <a href="../elements/id-1431e993f07c4b2aafb8c9e4d8c78b7f.html" target="element"> Usuarios </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-df591275db444472b9b6fc13ff089bf5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df591275db444472b9b6fc13ff089bf5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7c1172f0dca9484fa1e9f8b3b9c49a1f.html" target="element"> Operaciones del SGDEA </a> </td>
																		<td> <a href="../elements/id-eaf9160a9f454af68099dcf4b6d88508.html" target="element"> Ingreso </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b487a21d9c05460488126dc37c571428.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b487a21d9c05460488126dc37c571428.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7c1172f0dca9484fa1e9f8b3b9c49a1f.html" target="element"> Operaciones del SGDEA </a> </td>
																		<td> <a href="../elements/id-505873cf70e24de8929cee5c97f7e0a3.html" target="element"> Procesamiento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6b5bc85b8c5043cca7fde66799b767ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b5bc85b8c5043cca7fde66799b767ac.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7c1172f0dca9484fa1e9f8b3b9c49a1f.html" target="element"> Operaciones del SGDEA </a> </td>
																		<td> <a href="../elements/id-b641344d96fb4ab1ae3f8361020eaaeb.html" target="element"> Administraci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1991f5c2efb54a6a84cb92d50bdd9c1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1991f5c2efb54a6a84cb92d50bdd9c1a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-7c1172f0dca9484fa1e9f8b3b9c49a1f.html" target="element"> Operaciones del SGDEA </a> </td>
																		<td> <a href="../elements/id-1464d37c4fee4aed84c757a811656c47.html" target="element"> Almacenamiento </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-4f0b9c1371374df6bdfce895f39d3f88.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f0b9c1371374df6bdfce895f39d3f88.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-aec847888ed14d83a3d3635e7d1abf2c.html" target="element"> Servicios (flujos documentales) del SGDEA </a> </td>
																		<td> <a href="../elements/id-5ddc8a66a3394120b758660880e88d75.html" target="element"> Clasificaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0a0580fd2cc74876ae0903c14b437845.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a0580fd2cc74876ae0903c14b437845.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-aec847888ed14d83a3d3635e7d1abf2c.html" target="element"> Servicios (flujos documentales) del SGDEA </a> </td>
																		<td> <a href="../elements/id-0ac51fcfeb17480d9477a14af04d65b5.html" target="element"> Ordenaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7818e2a1d3c415db75e19130c3fe5cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7818e2a1d3c415db75e19130c3fe5cd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-aec847888ed14d83a3d3635e7d1abf2c.html" target="element"> Servicios (flujos documentales) del SGDEA </a> </td>
																		<td> <a href="../elements/id-3d8d6596518f4c5d95b3187b9059e562.html" target="element"> Descripci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9a861ed62b0f4fd495a4efe8d059b610.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a861ed62b0f4fd495a4efe8d059b610.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-aec847888ed14d83a3d3635e7d1abf2c.html" target="element"> Servicios (flujos documentales) del SGDEA </a> </td>
																		<td> <a href="../elements/id-e3fc602780474d629721565faebec2e7.html" target="element"> Almacenamiento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41fa61eb96f94288b24ebb94e4ff451f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41fa61eb96f94288b24ebb94e4ff451f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-aec847888ed14d83a3d3635e7d1abf2c.html" target="element"> Servicios (flujos documentales) del SGDEA </a> </td>
																		<td> <a href="../elements/id-1150e8071a294e1b948ec46c2ecd3d70.html" target="element"> Disposici&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d0133f58da942c9aabdfdf47131121c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d0133f58da942c9aabdfdf47131121c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-aec847888ed14d83a3d3635e7d1abf2c.html" target="element"> Servicios (flujos documentales) del SGDEA </a> </td>
																		<td> <a href="../elements/id-e52d6dc7ae2f4cbbbba7afbc2dc7b658.html" target="element"> Preservaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f971da0a7d8c4e3fa2b9383356c0f1e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f971da0a7d8c4e3fa2b9383356c0f1e1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-aec847888ed14d83a3d3635e7d1abf2c.html" target="element"> Servicios (flujos documentales) del SGDEA </a> </td>
																		<td> <a href="../elements/id-65be3d7b56b641a4bfef688c3ab45d46.html" target="element"> Valoraci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c1be0c788c4e4b4c89f3375be0c59ed1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1be0c788c4e4b4c89f3375be0c59ed1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-aec847888ed14d83a3d3635e7d1abf2c.html" target="element"> Servicios (flujos documentales) del SGDEA </a> </td>
																		<td> <a href="../elements/id-57d94fc1a9b74870a5fa7c586aa5b646.html" target="element"> Producci&#243;n </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-35ba403b927c40c8a846cbc9de18a4bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-35ba403b927c40c8a846cbc9de18a4bc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-a4bcf83c794f41d3a5d48165dae7b123.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-8789c9ecd1e740a98b3cf00d89dd0e92.html" target="element"> Repositorio Digital Seguro </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-df6b5202d8294595ada7d23f190e8598.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df6b5202d8294595ada7d23f190e8598.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b34c3942be9947cc864b4d8b22f7cdb5.html" target="element"> Principios Operativos del SGDEA </a> </td>
																		<td> <a href="../elements/id-82b8f4898b2b4361bd33e9e204c0c584.html" target="element"> Interoperabilidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c0965332d5db4106b2c329536efa6402.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c0965332d5db4106b2c329536efa6402.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b34c3942be9947cc864b4d8b22f7cdb5.html" target="element"> Principios Operativos del SGDEA </a> </td>
																		<td> <a href="../elements/id-29a4379972e141fc8897396e23abd8b7.html" target="element"> Neutralidad Tecnol&#243;gica </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-96752b02b69042c0be2e98dfbff060d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96752b02b69042c0be2e98dfbff060d3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b34c3942be9947cc864b4d8b22f7cdb5.html" target="element"> Principios Operativos del SGDEA </a> </td>
																		<td> <a href="../elements/id-ea97de3ee23740f5bb8118343dc35525.html" target="element"> Adaptabilidad y flexibilidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4bae97748e394dd89f000f08c0c93dd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4bae97748e394dd89f000f08c0c93dd2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b34c3942be9947cc864b4d8b22f7cdb5.html" target="element"> Principios Operativos del SGDEA </a> </td>
																		<td> <a href="../elements/id-96f51200da24422d844a1a7cdf1f771d.html" target="element"> Apego a la normativa: 1080, 2274, 2609, ... </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c94697008292430e988deb0239db920f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c94697008292430e988deb0239db920f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b34c3942be9947cc864b4d8b22f7cdb5.html" target="element"> Principios Operativos del SGDEA </a> </td>
																		<td> <a href="../elements/id-b42c52f1a6d141bc9e026741b165121a.html" target="element"> Alineaci&#243;n SGDEA, PINAR, CCD, TRD, TVD, PGD,  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d5c3279316f84983acf1bc70918ca7be.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5c3279316f84983acf1bc70918ca7be.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b34c3942be9947cc864b4d8b22f7cdb5.html" target="element"> Principios Operativos del SGDEA </a> </td>
																		<td> <a href="../elements/id-62cd854a22f04f7a8f1e9c6c3564ee30.html" target="element"> Alineaci&#243;n PETI y MinTIC (Modelo de Arquitectura Empresarial) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0337b40e4edf4a30b1000879ba329400.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0337b40e4edf4a30b1000879ba329400.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c9fd6c3b328641238edff8a7c3579e2e.html" target="element"> Caracter&#237;sticas de Servicio del SGDEA </a> </td>
																		<td> <a href="../elements/id-7eb2f75c03c343ee97f60232bb60087d.html" target="element"> Ciclo de Vida </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac9daababb00408ea1014bb239313dc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac9daababb00408ea1014bb239313dc9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c9fd6c3b328641238edff8a7c3579e2e.html" target="element"> Caracter&#237;sticas de Servicio del SGDEA </a> </td>
																		<td> <a href="../elements/id-3686c58464f5455caf7d9ad452264ac5.html" target="element"> Gesti&#243;n de documentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-76c0d56341ec4ccc88158031b81726c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76c0d56341ec4ccc88158031b81726c8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c9fd6c3b328641238edff8a7c3579e2e.html" target="element"> Caracter&#237;sticas de Servicio del SGDEA </a> </td>
																		<td> <a href="../elements/id-a54a76aa222641ea9146eb6b14ddd1a4.html" target="element"> Seguridad e Integridad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d84c14ce6cb746348f9ed6271a1baab7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d84c14ce6cb746348f9ed6271a1baab7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c9fd6c3b328641238edff8a7c3579e2e.html" target="element"> Caracter&#237;sticas de Servicio del SGDEA </a> </td>
																		<td> <a href="../elements/id-bff3fce310fa4b09a490aa553c052b4d.html" target="element"> Preservaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f2ec4a4d72324abc973cc9a3bfe6d8d4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f2ec4a4d72324abc973cc9a3bfe6d8d4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-c9fd6c3b328641238edff8a7c3579e2e.html" target="element"> Caracter&#237;sticas de Servicio del SGDEA </a> </td>
																		<td> <a href="../elements/id-10042dbc2ccb4eb1905996c50d9e78b5.html" target="element"> Integraci&#243;n empresarial </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-ba4f1fd1391941cf8ec05990f6c97524.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ba4f1fd1391941cf8ec05990f6c97524.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6ba322e69d04547846f5cb7babd0698.html" target="element"> Normativa del SGDEA de EAAB </a> </td>
																		<td> <a href="../elements/id-4b1df2a70a214a10a737f356c4dc6557.html" target="element"> Decretos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bd39334397db4a01ab16f626157cde2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bd39334397db4a01ab16f626157cde2c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6ba322e69d04547846f5cb7babd0698.html" target="element"> Normativa del SGDEA de EAAB </a> </td>
																		<td> <a href="../elements/id-c3b9dba0b6394ec8b5b81cecce2ec09f.html" target="element"> Acuerdos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7d6204f13253439698208a198e716b97.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7d6204f13253439698208a198e716b97.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6ba322e69d04547846f5cb7babd0698.html" target="element"> Normativa del SGDEA de EAAB </a> </td>
																		<td> <a href="../elements/id-3cb5f5d489ce416a957fa2cf1eaea6ff.html" target="element"> Resoluci&#243;n 629 de 2018 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b44c025af55247b7ac20dd60637f519b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b44c025af55247b7ac20dd60637f519b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6ba322e69d04547846f5cb7babd0698.html" target="element"> Normativa del SGDEA de EAAB </a> </td>
																		<td> <a href="../elements/id-fc5b07a319324c6ab98b1629c0113b3d.html" target="element"> Ley 1409 de 2010 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-595b4d66c7cd490697866bd49bbaf853.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-595b4d66c7cd490697866bd49bbaf853.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e6ba322e69d04547846f5cb7babd0698.html" target="element"> Normativa del SGDEA de EAAB </a> </td>
																		<td> <a href="../elements/id-becc60a7d8204714b87d3c4a5db94e21.html" target="element"> Norma ISO 9706 </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ffe33622440c4046a60e06661bd1077a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ffe33622440c4046a60e06661bd1077a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-4b1df2a70a214a10a737f356c4dc6557.html" target="element"> Decretos </a> </td>
																				<td> <a href="../elements/id-f4143ee0d2f04daaac5876f4973c08c0.html" target="element"> Decreto 2609 de 2012 </a> </td>
																			</tr>

													
													
											
																	<tr>
																		<td> <a href="../elements/id-8dfb1715ff58468cb4f2ac08667c8bdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8dfb1715ff58468cb4f2ac08667c8bdf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ce2808751afb44beb4f0ee3245c7455f.html" target="element"> Integraci&#243;n Otras Plataformas EAAB </a> </td>
																		<td> <a href="../elements/id-feb77d3aeb2d45e49be8137f1b907697.html" target="element"> AR. PDI (seguridad) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f183e6e99c18452a9366366b1be7cda4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f183e6e99c18452a9366366b1be7cda4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ce2808751afb44beb4f0ee3245c7455f.html" target="element"> Integraci&#243;n Otras Plataformas EAAB </a> </td>
																		<td> <a href="../elements/id-db229e8df4b84942a975912f09fa125a.html" target="element"> AR. ESB / API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-54671541b7a945ffafb5b278f1b372bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54671541b7a945ffafb5b278f1b372bb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ce2808751afb44beb4f0ee3245c7455f.html" target="element"> Integraci&#243;n Otras Plataformas EAAB </a> </td>
																		<td> <a href="../elements/id-9c74f29b3d9f4482b70f21ec8172f5c9.html" target="element"> AR. Servicio </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-16df8b4f4e784d10bcc3fd984ad3a1bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-16df8b4f4e784d10bcc3fd984ad3a1bf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-ce2808751afb44beb4f0ee3245c7455f.html" target="element"> Integraci&#243;n Otras Plataformas EAAB </a> </td>
																		<td> <a href="../elements/id-dcd1e4450b3d4fd0acd5a68bec2c8379.html" target="element"> AR. Exposici&#243;n </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-349de7a4a9144e9c839977c49bf754d0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-349de7a4a9144e9c839977c49bf754d0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-feb77d3aeb2d45e49be8137f1b907697.html" target="element"> AR. PDI (seguridad) </a> </td>
																				<td> <a href="../elements/id-db229e8df4b84942a975912f09fa125a.html" target="element"> AR. ESB / API </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-d6d6899a459b41fdb33ff0cc9f23b02a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d6d6899a459b41fdb33ff0cc9f23b02a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-db229e8df4b84942a975912f09fa125a.html" target="element"> AR. ESB / API </a> </td>
																				<td> <a href="../elements/id-9c74f29b3d9f4482b70f21ec8172f5c9.html" target="element"> AR. Servicio </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-8947e0d517d24796877a4d6797fe2cfa.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-8947e0d517d24796877a4d6797fe2cfa.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-dcd1e4450b3d4fd0acd5a68bec2c8379.html" target="element"> AR. Exposici&#243;n </a> </td>
																				<td> <a href="../elements/id-9c74f29b3d9f4482b70f21ec8172f5c9.html" target="element"> AR. Servicio </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>