<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Instrumentos Archivísticos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Instrumentos Archiv&#237;sticos</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-9e696e7042da4b518f8063b1a6ecbb01.png" alt="Instrumentos Archivísticos" usemap="#id-9e696e7042da4b518f8063b1a6ecbb01map"/>
			   <map name="id-9e696e7042da4b518f8063b1a6ecbb01map">
				  		<area shape="rect" coords="140,78,260,133" href="../elements/ac36d2a9-69db-453e-b975-0e582921c092.html"  target="element">
				  		<area shape="rect" coords="10,78,130,133" href="../elements/id-740c600258924f20a8aa9af647be3aba.html"  target="element">
				  		<area shape="rect" coords="272,10,392,65" href="../elements/32eb46ea-c621-4cec-8f8f-c4bfd1038163.html"  target="element">
				  		<area shape="rect" coords="140,10,260,65" href="../elements/7c62bd33-89f1-49cc-9f1b-f7b263c1dcc0.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/56182164-e64a-4e66-a71f-b13e87199786.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/56182164-e64a-4e66-a71f-b13e87199786.html" target="element"> Cuadros de Clasificaci&#243;n Documental (CCD) </a> </td>
											    <td> <a href="../elements/56182164-e64a-4e66-a71f-b13e87199786.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7c62bd33-89f1-49cc-9f1b-f7b263c1dcc0.html" target="element"> Tablas de Retencio&#769;n Documental (TRD) </a> </td>
											    <td> <a href="../elements/7c62bd33-89f1-49cc-9f1b-f7b263c1dcc0.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/32eb46ea-c621-4cec-8f8f-c4bfd1038163.html" target="element"> Tablas de Valoracio&#769;n Documental (TVD) </a> </td>
											    <td> <a href="../elements/32eb46ea-c621-4cec-8f8f-c4bfd1038163.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-740c600258924f20a8aa9af647be3aba.html" target="element"> Plan Institucional de Archivos (PINAR) </a> </td>
											    <td> <a href="../elements/id-740c600258924f20a8aa9af647be3aba.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ac36d2a9-69db-453e-b975-0e582921c092.html" target="element"> Tabla de Control de Acceso (TCA) </a> </td>
											    <td> <a href="../elements/ac36d2a9-69db-453e-b975-0e582921c092.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>