<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Aplicaciones EAAB: misionales y estratégicos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Aplicaciones EAAB: misionales y estrat&#233;gicos</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ba5e6a0f97174db9b1c85f64a290169d.png" alt="Aplicaciones EAAB: misionales y estratégicos" usemap="#id-ba5e6a0f97174db9b1c85f64a290169dmap"/>
			   <map name="id-ba5e6a0f97174db9b1c85f64a290169dmap">
				  		<area shape="rect" coords="10,137,456,192" href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html"  target="element">
				  		<area shape="rect" coords="10,221,920,276" href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html"  target="element">
				  		<area shape="rect" coords="614,631,756,686" href="../elements/id-b750a5afa89242ba9c3fd2980ec94209.html"  target="element">
				  		<area shape="rect" coords="464,631,606,686" href="../elements/id-8b6d79fc0f08442ba9dfa0cf71452c8b.html"  target="element">
				  		<area shape="rect" coords="614,509,756,564" href="../elements/id-1f6f714e90f64c319bf45443ebd8ce06.html"  target="element">
				  		<area shape="rect" coords="614,569,756,624" href="../elements/id-657a093c1a134b8a928b42f14e724cfe.html"  target="element">
				  		<area shape="rect" coords="464,569,606,624" href="../elements/id-d8364e2769334288bb41e9053b8b9629.html"  target="element">
				  		<area shape="rect" coords="11,701,153,756" href="../elements/id-8abd3307d7f6441980068163e46ef071.html"  target="element">
				  		<area shape="rect" coords="311,631,453,686" href="../elements/id-6aa6e462154444bea555905365d91efe.html"  target="element">
				  		<area shape="rect" coords="161,631,303,686" href="../elements/id-e5ceb2f92bbe4f7ca5223cb57698f9a2.html"  target="element">
				  		<area shape="rect" coords="11,631,153,686" href="../elements/id-2662e806849c4d1fbdc52fa27819b956.html"  target="element">
				  		<area shape="rect" coords="764,761,906,816" href="../elements/id-de9882ac3f30405eb49e3374cda7e80f.html"  target="element">
				  		<area shape="rect" coords="614,761,756,816" href="../elements/id-34debeb3ef584550903ba2470df6e461.html"  target="element">
				  		<area shape="rect" coords="464,761,606,816" href="../elements/id-0d683a8f520a4ffa972b2f025019aebe.html"  target="element">
				  		<area shape="rect" coords="764,701,906,756" href="../elements/id-580b43c47f56462c83814aaea293e088.html"  target="element">
				  		<area shape="rect" coords="614,701,756,756" href="../elements/id-3b1a012059134e8497724bb4f76d6ab4.html"  target="element">
				  		<area shape="rect" coords="464,701,606,756" href="../elements/id-2e789d0e2bc8496bba860afd9f162787.html"  target="element">
				  		<area shape="rect" coords="161,701,303,756" href="../elements/id-0695d7149a8f4d8488f1ca23f454dba6.html"  target="element">
				  		<area shape="rect" coords="314,701,456,756" href="../elements/id-7a66d97bb7204b1194710355f67c6989.html"  target="element">
				  		<area shape="rect" coords="614,449,756,504" href="../elements/id-1c8f40991211493dbd08c62993362e73.html"  target="element">
				  		<area shape="rect" coords="764,631,906,686" href="../elements/id-4411d729444944e9a4e829a97128376a.html"  target="element">
				  		<area shape="rect" coords="314,761,456,816" href="../elements/id-7915d5c1348949bebede5a86e738361b.html"  target="element">
				  		<area shape="rect" coords="164,761,306,816" href="../elements/id-6be65f4573ef41868f218320b6acacf7.html"  target="element">
				  		<area shape="rect" coords="11,761,153,816" href="../elements/id-2c335522e1bd42a7b9ed9e6d6085bfe8.html"  target="element">
				  		<area shape="rect" coords="464,509,606,564" href="../elements/id-a0ec12f1ab8847b9947b938057787f79.html"  target="element">
				  		<area shape="rect" coords="464,449,606,504" href="../elements/id-d0f132a799b74eafb2dccb46d27f0ea7.html"  target="element">
				  		<area shape="rect" coords="311,569,453,624" href="../elements/id-8ec7e2d8ae1e46b8964e00555152c4f2.html"  target="element">
				  		<area shape="rect" coords="11,569,153,624" href="../elements/id-e1b14ca108ca4335b63d1a1a767310f6.html"  target="element">
				  		<area shape="rect" coords="161,569,303,624" href="../elements/id-148ce81fcc2b430e9316f267acb24f46.html"  target="element">
				  		<area shape="rect" coords="311,509,453,564" href="../elements/id-d981ce6a146d43cba3fd591c60672611.html"  target="element">
				  		<area shape="rect" coords="161,509,303,564" href="../elements/id-d6c9f4ac8ba64177bd2052777adaaa6f.html"  target="element">
				  		<area shape="rect" coords="11,509,153,564" href="../elements/id-d9df584635204ef7bfd36b91aff0ea4d.html"  target="element">
				  		<area shape="rect" coords="311,449,453,504" href="../elements/id-b21895d741c14517b667c967d645eea3.html"  target="element">
				  		<area shape="rect" coords="161,449,303,504" href="../elements/id-1392ff96c20d4a7e96cd53712cb77bb9.html"  target="element">
				  		<area shape="rect" coords="11,449,153,504" href="../elements/id-cbd474c29c0a401ca15cb3c3af7663da.html"  target="element">
				          <area shape="rect" coords="10,10,212,114" href="../objects/id-aa2678cbd79643fc8b86f6a545da6f69.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Sistemas de informaci&#243;n existentes en EAAB relacionados en el PETI4 considerados en la integraci&#243;n del futuro SGDEA.

Es importante 
* Determinar las necesidades documentales de estas aplicaciones, como almacenamiento, gesti&#243;n, integridad, confidencialidad, seguridad y disposici&#243;n final de los documentos que ser&#225;n soportadas por el futuro SGDEA de EAAB.
* Identificar el tipo de integraci&#243;n que estas herramientas de EAAB-ESP requerir&#225;n al futuro SGDEA.
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-aa2678cbd79643fc8b86f6a545da6f69.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-aa2678cbd79643fc8b86f6a545da6f69.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-cbd474c29c0a401ca15cb3c3af7663da.html" target="element"> APP1.HERRAMIENTAS EAB - EMR </a> </td>
											    <td> <a href="../elements/id-cbd474c29c0a401ca15cb3c3af7663da.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1392ff96c20d4a7e96cd53712cb77bb9.html" target="element"> APP10.SIH </a> </td>
											    <td> <a href="../elements/id-1392ff96c20d4a7e96cd53712cb77bb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b21895d741c14517b667c967d645eea3.html" target="element"> APP11.TEAM MATE </a> </td>
											    <td> <a href="../elements/id-b21895d741c14517b667c967d645eea3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d9df584635204ef7bfd36b91aff0ea4d.html" target="element"> APP2.SIMLAB </a> </td>
											    <td> <a href="../elements/id-d9df584635204ef7bfd36b91aff0ea4d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d6c9f4ac8ba64177bd2052777adaaa6f.html" target="element"> APP3.NIVELES RIO BOGOTA (Alarmas Rio Bogot&#225;) </a> </td>
											    <td> <a href="../elements/id-d6c9f4ac8ba64177bd2052777adaaa6f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d981ce6a146d43cba3fd591c60672611.html" target="element"> APP4.ERP SAP ECC 6.0 </a> </td>
											    <td> <a href="../elements/id-d981ce6a146d43cba3fd591c60672611.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-148ce81fcc2b430e9316f267acb24f46.html" target="element"> APP8.REGISTRO Y CONTROL DE VERTIMIENTOS </a> </td>
											    <td> <a href="../elements/id-148ce81fcc2b430e9316f267acb24f46.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e1b14ca108ca4335b63d1a1a767310f6.html" target="element"> APP7.BANCO CALIBRACI&#211;N MEDIDORES (Laboratorio de medidores) </a> </td>
											    <td> <a href="../elements/id-e1b14ca108ca4335b63d1a1a767310f6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ec7e2d8ae1e46b8964e00555152c4f2.html" target="element"> APP5.SIGUE </a> </td>
											    <td> <a href="../elements/id-8ec7e2d8ae1e46b8964e00555152c4f2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0f132a799b74eafb2dccb46d27f0ea7.html" target="element"> APP9.SISTEMA GESTI&#211;N DE CALIDAD </a> </td>
											    <td> <a href="../elements/id-d0f132a799b74eafb2dccb46d27f0ea7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a0ec12f1ab8847b9947b938057787f79.html" target="element"> APP12.FELA </a> </td>
											    <td> <a href="../elements/id-a0ec12f1ab8847b9947b938057787f79.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2c335522e1bd42a7b9ed9e6d6085bfe8.html" target="element"> APP13.CPP Cuotas Partes Pensionales </a> </td>
											    <td> <a href="../elements/id-2c335522e1bd42a7b9ed9e6d6085bfe8.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6be65f4573ef41868f218320b6acacf7.html" target="element"> APP14.SICU </a> </td>
											    <td> <a href="../elements/id-6be65f4573ef41868f218320b6acacf7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7915d5c1348949bebede5a86e738361b.html" target="element"> APP15.RECIBO DE NOMINA </a> </td>
											    <td> <a href="../elements/id-7915d5c1348949bebede5a86e738361b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4411d729444944e9a4e829a97128376a.html" target="element"> APP16.FICHAS DE PERSONAL </a> </td>
											    <td> <a href="../elements/id-4411d729444944e9a4e829a97128376a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1c8f40991211493dbd08c62993362e73.html" target="element"> APP17.GRANDES CONSUMIDORES (Laboratorio de medidores) </a> </td>
											    <td> <a href="../elements/id-1c8f40991211493dbd08c62993362e73.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a66d97bb7204b1194710355f67c6989.html" target="element"> APP18.SIMA - DISPOSITIVOS M&#211;VILES PARA ALCANTARILLADO </a> </td>
											    <td> <a href="../elements/id-7a66d97bb7204b1194710355f67c6989.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0695d7149a8f4d8488f1ca23f454dba6.html" target="element"> APP19.SIRA </a> </td>
											    <td> <a href="../elements/id-0695d7149a8f4d8488f1ca23f454dba6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2e789d0e2bc8496bba860afd9f162787.html" target="element"> APP20.SERVICIO MEDICO </a> </td>
											    <td> <a href="../elements/id-2e789d0e2bc8496bba860afd9f162787.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3b1a012059134e8497724bb4f76d6ab4.html" target="element"> APP21.SH-COFI (Sistema hist&#243;rico, Comercial y Financiero) </a> </td>
											    <td> <a href="../elements/id-3b1a012059134e8497724bb4f76d6ab4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-580b43c47f56462c83814aaea293e088.html" target="element"> APP22.ACUERDOS DE SERVICIO </a> </td>
											    <td> <a href="../elements/id-580b43c47f56462c83814aaea293e088.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0d683a8f520a4ffa972b2f025019aebe.html" target="element"> APP23.APP24.APP23.APORTES PENSIONES </a> </td>
											    <td> <a href="../elements/id-0d683a8f520a4ffa972b2f025019aebe.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-34debeb3ef584550903ba2470df6e461.html" target="element"> APP24.Agenda Comunicaciones Web </a> </td>
											    <td> <a href="../elements/id-34debeb3ef584550903ba2470df6e461.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de9882ac3f30405eb49e3374cda7e80f.html" target="element"> APP25.FORMULARIO PREINSCRIPCI&#211;N ESCUELA VIRTUAL (EVA) </a> </td>
											    <td> <a href="../elements/id-de9882ac3f30405eb49e3374cda7e80f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2662e806849c4d1fbdc52fa27819b956.html" target="element"> APP26.REGISTRO DE USUARIOS EN EL PORTAL </a> </td>
											    <td> <a href="../elements/id-2662e806849c4d1fbdc52fa27819b956.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e5ceb2f92bbe4f7ca5223cb57698f9a2.html" target="element"> APP27.CONSULTA FACTURA (SuperCade) </a> </td>
											    <td> <a href="../elements/id-e5ceb2f92bbe4f7ca5223cb57698f9a2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6aa6e462154444bea555905365d91efe.html" target="element"> APP28.ESCUELA VIRTUAL </a> </td>
											    <td> <a href="../elements/id-6aa6e462154444bea555905365d91efe.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8abd3307d7f6441980068163e46ef071.html" target="element"> APP29.METASUITE </a> </td>
											    <td> <a href="../elements/id-8abd3307d7f6441980068163e46ef071.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d8364e2769334288bb41e9053b8b9629.html" target="element"> APP30.ACUERDOS DE GESTI&#211;N </a> </td>
											    <td> <a href="../elements/id-d8364e2769334288bb41e9053b8b9629.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-657a093c1a134b8a928b42f14e724cfe.html" target="element"> APP31.RED MATRIZ </a> </td>
											    <td> <a href="../elements/id-657a093c1a134b8a928b42f14e724cfe.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1f6f714e90f64c319bf45443ebd8ce06.html" target="element"> APP32.FLUIMOS MEJOR </a> </td>
											    <td> <a href="../elements/id-1f6f714e90f64c319bf45443ebd8ce06.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b6d79fc0f08442ba9dfa0cf71452c8b.html" target="element"> APP33.CONVOCATORIAS </a> </td>
											    <td> <a href="../elements/id-8b6d79fc0f08442ba9dfa0cf71452c8b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b750a5afa89242ba9c3fd2980ec94209.html" target="element"> APP34.SCADA </a> </td>
											    <td> <a href="../elements/id-b750a5afa89242ba9c3fd2980ec94209.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
											    <td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html" target="element"> Procesos Documentales </a> </td>
											    <td> <a href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/b75efe2c-0b18-4036-ac92-b095882bd94a.html" target="element">  </a> </td>
																		<td> <a href="../elements/b75efe2c-0b18-4036-ac92-b095882bd94a.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-cbd474c29c0a401ca15cb3c3af7663da.html" target="element"> APP1.HERRAMIENTAS EAB - EMR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3e8887aa-cd93-45bf-b9b1-93d80b7fa8de.html" target="element"> sirve </a> </td>
																		<td> <a href="../elements/3e8887aa-cd93-45bf-b9b1-93d80b7fa8de.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-1392ff96c20d4a7e96cd53712cb77bb9.html" target="element"> APP10.SIH </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f6cf8e02-b71b-4ad8-952d-3a881dfb3057.html" target="element">  </a> </td>
																		<td> <a href="../elements/f6cf8e02-b71b-4ad8-952d-3a881dfb3057.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-b21895d741c14517b667c967d645eea3.html" target="element"> APP11.TEAM MATE </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2b66ca54-4d17-4771-b091-47dba9ee14f2.html" target="element"> sirve </a> </td>
																		<td> <a href="../elements/2b66ca54-4d17-4771-b091-47dba9ee14f2.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-d0f132a799b74eafb2dccb46d27f0ea7.html" target="element"> APP9.SISTEMA GESTI&#211;N DE CALIDAD </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dd8a4796-ff97-4827-abd8-02417ea70482.html" target="element">  </a> </td>
																		<td> <a href="../elements/dd8a4796-ff97-4827-abd8-02417ea70482.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-1c8f40991211493dbd08c62993362e73.html" target="element"> APP17.GRANDES CONSUMIDORES (Laboratorio de medidores) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/19277af6-d154-40b4-80fc-89637c4623d4.html" target="element"> sirve </a> </td>
																		<td> <a href="../elements/19277af6-d154-40b4-80fc-89637c4623d4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-4411d729444944e9a4e829a97128376a.html" target="element"> APP16.FICHAS DE PERSONAL </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/863086d3-7248-4164-acd8-78c6a220e94e.html" target="element">  </a> </td>
																		<td> <a href="../elements/863086d3-7248-4164-acd8-78c6a220e94e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-580b43c47f56462c83814aaea293e088.html" target="element"> APP22.ACUERDOS DE SERVICIO </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bd6d169c-76c4-4c1b-af6e-2031353a8d00.html" target="element">  </a> </td>
																		<td> <a href="../elements/bd6d169c-76c4-4c1b-af6e-2031353a8d00.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-1f6f714e90f64c319bf45443ebd8ce06.html" target="element"> APP32.FLUIMOS MEJOR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c54be5e5-d734-4c19-a454-4ead3ce0d759.html" target="element">  </a> </td>
																		<td> <a href="../elements/c54be5e5-d734-4c19-a454-4ead3ce0d759.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-a0ec12f1ab8847b9947b938057787f79.html" target="element"> APP12.FELA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/70674d58-168e-436c-95df-71f6228c417f.html" target="element">  </a> </td>
																		<td> <a href="../elements/70674d58-168e-436c-95df-71f6228c417f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-d981ce6a146d43cba3fd591c60672611.html" target="element"> APP4.ERP SAP ECC 6.0 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/340c6220-8f6c-4d55-b5dd-ed3323c30afc.html" target="element">  </a> </td>
																		<td> <a href="../elements/340c6220-8f6c-4d55-b5dd-ed3323c30afc.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-d6c9f4ac8ba64177bd2052777adaaa6f.html" target="element"> APP3.NIVELES RIO BOGOTA (Alarmas Rio Bogot&#225;) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d37cabe0-5ffc-4a20-b9a5-34c133fdc026.html" target="element">  </a> </td>
																		<td> <a href="../elements/d37cabe0-5ffc-4a20-b9a5-34c133fdc026.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-d9df584635204ef7bfd36b91aff0ea4d.html" target="element"> APP2.SIMLAB </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dc391a6c-02d5-4836-b668-c74ef802ca64.html" target="element">  </a> </td>
																		<td> <a href="../elements/dc391a6c-02d5-4836-b668-c74ef802ca64.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-148ce81fcc2b430e9316f267acb24f46.html" target="element"> APP8.REGISTRO Y CONTROL DE VERTIMIENTOS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8674c1dd-547b-4e3e-84ae-275aa38ce108.html" target="element">  </a> </td>
																		<td> <a href="../elements/8674c1dd-547b-4e3e-84ae-275aa38ce108.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-6aa6e462154444bea555905365d91efe.html" target="element"> APP28.ESCUELA VIRTUAL </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a8d73cab-9c5e-4516-8f05-06a5c18d897f.html" target="element">  </a> </td>
																		<td> <a href="../elements/a8d73cab-9c5e-4516-8f05-06a5c18d897f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-2e789d0e2bc8496bba860afd9f162787.html" target="element"> APP20.SERVICIO MEDICO </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/287bd67c-dcc3-4f77-8db3-9b4d660ed585.html" target="element">  </a> </td>
																		<td> <a href="../elements/287bd67c-dcc3-4f77-8db3-9b4d660ed585.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-34debeb3ef584550903ba2470df6e461.html" target="element"> APP24.Agenda Comunicaciones Web </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/32c71d8c-a34e-4680-bfbe-2d2ec9754c90.html" target="element">  </a> </td>
																		<td> <a href="../elements/32c71d8c-a34e-4680-bfbe-2d2ec9754c90.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3d8e3a69-f81f-4a28-a518-63e7c87d60c6.html" target="element"> SERV1. Gesti&#243;n de Contenido Empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html" target="element"> Procesos Documentales </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>