<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arquitectura de Referencia SGDEA. General</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arquitectura de Referencia SGDEA. General</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-bba3874dc6a648858f42de13d96e93a3.png" alt="Arquitectura de Referencia SGDEA. General" usemap="#id-bba3874dc6a648858f42de13d96e93a3map"/>
			   <map name="id-bba3874dc6a648858f42de13d96e93a3map">
				  				<area shape="rect" coords="746,1252,866,1307" href="../elements/id-45c84eac3fbc4b03a85cdd3924f1564e.html"  target="element">
				  				<area shape="rect" coords="746,1192,866,1247" href="../elements/id-4aee9fc6cbdf4dd396e9393fe7546eee.html"  target="element">
				  				<area shape="rect" coords="746,1132,866,1187" href="../elements/id-de612fc7b9bd4643b722eabf74863930.html"  target="element">
				  				<area shape="rect" coords="746,1072,866,1127" href="../elements/id-a4900b64b12f458287cbb46953b31311.html"  target="element">
				  				<area shape="rect" coords="746,1012,866,1067" href="../elements/id-c44d8b9364d946299471a1659cb32526.html"  target="element">
				  				<area shape="rect" coords="746,952,866,1007" href="../elements/id-99a02913264e4dec94853b0187cf2407.html"  target="element">

				  		<area shape="rect" coords="710,916,890,1372" href="../elements/id-37125c201012469195d3d19c4d2a3f1b.html"  target="element">
				  				<area shape="rect" coords="583,700,703,755" href="../elements/id-b39738021fa2420ea799e2500dd7b127.html"  target="element">
				  				<area shape="rect" coords="451,700,571,755" href="../elements/id-6b38f53f9a6846768d9403b1d7aa9dd0.html"  target="element">
				  				<area shape="rect" coords="451,760,571,815" href="../elements/id-f842093747654e0a9e40e55e20ea8108.html"  target="element">

				  		<area shape="rect" coords="403,664,728,845" href="../elements/id-b6de6aa07d4b4867a33f7c9149ca718b.html"  target="element">
				          <area shape="rect" coords="10,10,243,113" href="../objects/id-2aedf32507ab4bdf8092cb484cec77c2.html" target="element" >
				  		<area shape="rect" coords="181,760,301,815" href="../elements/id-d80830ae16ac426089fc6202a76a92aa.html"  target="element">
				  		<area shape="rect" coords="242,688,375,743" href="../elements/id-9c7901de7d8c46e097ad3207898d5380.html"  target="element">
				  		<area shape="rect" coords="111,688,231,743" href="../elements/id-0e04c54b83f84de28a10fae04c09c311.html"  target="element">
				  		<area shape="rect" coords="506,1072,626,1127" href="../elements/id-bc07ab8288364c26a7cd63c0c530f333.html"  target="element">
				  				<area shape="rect" coords="506,1012,626,1067" href="../elements/id-437ecdb16bbc4be987fe898a4be3e128.html"  target="element">
				  				<area shape="rect" coords="506,952,626,1007" href="../elements/id-00e18fb5473947b19b3e87330a78c18b.html"  target="element">

				  		<area shape="rect" coords="470,916,662,1204" href="../elements/id-729fa59ed7c44185a7d72481a7756afb.html"  target="element">
				  				<area shape="rect" coords="290,1192,410,1247" href="../elements/id-0cc2548896f743d18d9e31ae950fd67f.html"  target="element">
				  				<area shape="rect" coords="290,1132,410,1187" href="../elements/id-30a93376799f40c0abce1682d4fa60c6.html"  target="element">
				  				<area shape="rect" coords="290,1072,410,1127" href="../elements/id-ec1611df68274a2d89841d9c19c2e790.html"  target="element">
				  				<area shape="rect" coords="290,1012,410,1067" href="../elements/id-793b616cfc8b485aae97985c7f658510.html"  target="element">
				  				<area shape="rect" coords="290,952,410,1007" href="../elements/id-aa5a9c2b09d64830843b3c38cb650a3c.html"  target="element">

				  		<area shape="rect" coords="254,916,446,1288" href="../elements/id-bd7e202d4ba9499796fac8f958aec2e9.html"  target="element">
				  				<area shape="rect" coords="75,1312,195,1367" href="../elements/id-3db54b3bb89641088cfa0e56a94e7c43.html"  target="element">
				  				<area shape="rect" coords="75,1132,195,1187" href="../elements/id-430843318f7c48aabb88ed4042e0ed98.html"  target="element">
				  				<area shape="rect" coords="75,1252,195,1307" href="../elements/id-e69e46c6afd74190995a210bb56ab610.html"  target="element">
				  				<area shape="rect" coords="75,1192,195,1247" href="../elements/id-c21e55326f8a4dbfbe7135980ec0f974.html"  target="element">
				  				<area shape="rect" coords="75,1072,195,1127" href="../elements/id-652788793b3a4a74908e23ded7e49fbf.html"  target="element">
				  				<area shape="rect" coords="75,1012,195,1067" href="../elements/id-48b557838f4243ab98634643d7d5f5bf.html"  target="element">
				  				<area shape="rect" coords="75,952,195,1007" href="../elements/id-3cedd05b4e504d3e98e37a1e2fa88e5b.html"  target="element">

				  		<area shape="rect" coords="39,916,231,1396" href="../elements/id-fade5d7b700e49ef92f5dc2718ef97b3.html"  target="element">
				  				<area shape="rect" coords="529,184,649,239" href="../elements/id-c4edddeacf20478084e76681188dea3e.html"  target="element">

				  		<area shape="rect" coords="445,148,662,269" href="../elements/id-b3d9dbbbf65742e097f5d163ebf9fa12.html"  target="element">
				  				<area shape="rect" coords="280,460,413,515" href="../elements/id-196bc27bfbd245e7bd252bb7cb202251.html"  target="element">

				  		<area shape="rect" coords="256,424,429,545" href="../elements/id-6dc213ef495146b6b2704816a3773996.html"  target="element">
				  				<area shape="rect" coords="757,244,877,299" href="../elements/id-507b3724de6d42c79ea8af5d60b89815.html"  target="element">
				  				<area shape="rect" coords="757,184,877,239" href="../elements/id-9397519e5ada439d802f5f5e0892c8d0.html"  target="element">

				  		<area shape="rect" coords="673,148,890,341" href="../elements/id-156b97d28a334897b3d9493413fc711c.html"  target="element">
				  				<area shape="rect" coords="280,316,400,371" href="../elements/id-af35389be44447708cc2e08f10fe978e.html"  target="element">
				  				<area shape="rect" coords="280,244,400,299" href="../elements/id-e77d48e0027047bda81a008e29166f41.html"  target="element">
				  				<area shape="rect" coords="280,184,400,239" href="../elements/id-3876b86ef48f4423bebd8576e1907c5a.html"  target="element">

				  		<area shape="rect" coords="256,148,430,401" href="../elements/id-9addfe4e06594222a64f01b852f6282d.html"  target="element">
				  				<area shape="rect" coords="63,316,219,371" href="../elements/id-979d385f41e94b459486bd033fc38bb2.html"  target="element">
				  				<area shape="rect" coords="62,376,219,437" href="../elements/id-aeda49879c40437cb0ec611b8dd14cea.html"  target="element">
				  				<area shape="rect" coords="63,448,220,503" href="../elements/id-93193e1bef26454b9b5e2d37c2ae0d15.html"  target="element">
				  				<area shape="rect" coords="63,244,220,305" href="../elements/id-24851f28ba854bc9b8b7b89d21cd2171.html"  target="element">
				  				<area shape="rect" coords="63,184,220,239" href="../elements/id-5f7d8120479f4d1c960d3daffcc8f978.html"  target="element">

				  		<area shape="rect" coords="39,148,243,569" href="../elements/id-bc28c5ccb0ac49049c7555c0228c6d5b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-bc28c5ccb0ac49049c7555c0228c6d5b.html" target="element"> Recolecci&#243;n </a> </td>
											    <td> <a href="../elements/id-bc28c5ccb0ac49049c7555c0228c6d5b.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-5f7d8120479f4d1c960d3daffcc8f978.html" target="element"> Creaci&#243;n y captura de contenidos </a> </td>
													    <td> <a href="../elements/id-5f7d8120479f4d1c960d3daffcc8f978.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-24851f28ba854bc9b8b7b89d21cd2171.html" target="element"> Indexaci&#243;n de contenido y documentos </a> </td>
													    <td> <a href="../elements/id-24851f28ba854bc9b8b7b89d21cd2171.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-93193e1bef26454b9b5e2d37c2ae0d15.html" target="element"> Procesamiento de im&#225;genes </a> </td>
													    <td> <a href="../elements/id-93193e1bef26454b9b5e2d37c2ae0d15.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-aeda49879c40437cb0ec611b8dd14cea.html" target="element"> Clasificaci&#243;n de contenido y documentos </a> </td>
													    <td> <a href="../elements/id-aeda49879c40437cb0ec611b8dd14cea.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-979d385f41e94b459486bd033fc38bb2.html" target="element"> B&#250;squeda y recuperaci&#243;n de contenido y recuperaci&#243;n </a> </td>
													    <td> <a href="../elements/id-979d385f41e94b459486bd033fc38bb2.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9addfe4e06594222a64f01b852f6282d.html" target="element"> Gesti&#243;n </a> </td>
											    <td> <a href="../elements/id-9addfe4e06594222a64f01b852f6282d.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3876b86ef48f4423bebd8576e1907c5a.html" target="element"> Flujos de trabajo </a> </td>
													    <td> <a href="../elements/id-3876b86ef48f4423bebd8576e1907c5a.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e77d48e0027047bda81a008e29166f41.html" target="element"> Edici&#243;n y revisi&#243;n de documentos </a> </td>
													    <td> <a href="../elements/id-e77d48e0027047bda81a008e29166f41.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-af35389be44447708cc2e08f10fe978e.html" target="element"> Administraci&#243;n de metadatos </a> </td>
													    <td> <a href="../elements/id-af35389be44447708cc2e08f10fe978e.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-156b97d28a334897b3d9493413fc711c.html" target="element"> Almacenamiento </a> </td>
											    <td> <a href="../elements/id-156b97d28a334897b3d9493413fc711c.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9397519e5ada439d802f5f5e0892c8d0.html" target="element"> Repositorios </a> </td>
													    <td> <a href="../elements/id-9397519e5ada439d802f5f5e0892c8d0.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-507b3724de6d42c79ea8af5d60b89815.html" target="element"> Clasificaci&#243;n </a> </td>
													    <td> <a href="../elements/id-507b3724de6d42c79ea8af5d60b89815.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-6dc213ef495146b6b2704816a3773996.html" target="element"> Preservaci&#243;n </a> </td>
											    <td> <a href="../elements/id-6dc213ef495146b6b2704816a3773996.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-196bc27bfbd245e7bd252bb7cb202251.html" target="element"> Pol&#237;ticas y est&#225;ndares de preservaci&#243;n </a> </td>
													    <td> <a href="../elements/id-196bc27bfbd245e7bd252bb7cb202251.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-b3d9dbbbf65742e097f5d163ebf9fa12.html" target="element"> Entrega </a> </td>
											    <td> <a href="../elements/id-b3d9dbbbf65742e097f5d163ebf9fa12.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c4edddeacf20478084e76681188dea3e.html" target="element"> Distribuci&#243;n </a> </td>
													    <td> <a href="../elements/id-c4edddeacf20478084e76681188dea3e.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-fade5d7b700e49ef92f5dc2718ef97b3.html" target="element"> Captura </a> </td>
											    <td> <a href="../elements/id-fade5d7b700e49ef92f5dc2718ef97b3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3cedd05b4e504d3e98e37a1e2fa88e5b.html" target="element"> Producci&#243;n </a> </td>
													    <td> <a href="../elements/id-3cedd05b4e504d3e98e37a1e2fa88e5b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-48b557838f4243ab98634643d7d5f5bf.html" target="element"> Extracci&#243;n </a> </td>
													    <td> <a href="../elements/id-48b557838f4243ab98634643d7d5f5bf.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-652788793b3a4a74908e23ded7e49fbf.html" target="element"> Lectura </a> </td>
													    <td> <a href="../elements/id-652788793b3a4a74908e23ded7e49fbf.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c21e55326f8a4dbfbe7135980ec0f974.html" target="element"> Digitalizaci&#243;n </a> </td>
													    <td> <a href="../elements/id-c21e55326f8a4dbfbe7135980ec0f974.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e69e46c6afd74190995a210bb56ab610.html" target="element"> Gestor de correo electr&#243;nico </a> </td>
													    <td> <a href="../elements/id-e69e46c6afd74190995a210bb56ab610.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-430843318f7c48aabb88ed4042e0ed98.html" target="element"> Clasificaci&#243;n </a> </td>
													    <td> <a href="../elements/id-430843318f7c48aabb88ed4042e0ed98.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3db54b3bb89641088cfa0e56a94e7c43.html" target="element"> Procesador de texto </a> </td>
													    <td> <a href="../elements/id-3db54b3bb89641088cfa0e56a94e7c43.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-bd7e202d4ba9499796fac8f958aec2e9.html" target="element"> Gesti&#243;n </a> </td>
											    <td> <a href="../elements/id-bd7e202d4ba9499796fac8f958aec2e9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-aa5a9c2b09d64830843b3c38cb650a3c.html" target="element"> Administraci&#243;n documental </a> </td>
													    <td> <a href="../elements/id-aa5a9c2b09d64830843b3c38cb650a3c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-793b616cfc8b485aae97985c7f658510.html" target="element"> Tr&#225;mite y organizaci&#243;n </a> </td>
													    <td> <a href="../elements/id-793b616cfc8b485aae97985c7f658510.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ec1611df68274a2d89841d9c19c2e790.html" target="element"> Accesos </a> </td>
													    <td> <a href="../elements/id-ec1611df68274a2d89841d9c19c2e790.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-30a93376799f40c0abce1682d4fa60c6.html" target="element"> Metadatos </a> </td>
													    <td> <a href="../elements/id-30a93376799f40c0abce1682d4fa60c6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0cc2548896f743d18d9e31ae950fd67f.html" target="element"> Versiones </a> </td>
													    <td> <a href="../elements/id-0cc2548896f743d18d9e31ae950fd67f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-729fa59ed7c44185a7d72481a7756afb.html" target="element"> Distribuci&#243;n </a> </td>
											    <td> <a href="../elements/id-729fa59ed7c44185a7d72481a7756afb.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-00e18fb5473947b19b3e87330a78c18b.html" target="element"> Difusi&#243;n y consulta </a> </td>
													    <td> <a href="../elements/id-00e18fb5473947b19b3e87330a78c18b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-437ecdb16bbc4be987fe898a4be3e128.html" target="element"> Entrega </a> </td>
													    <td> <a href="../elements/id-437ecdb16bbc4be987fe898a4be3e128.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-bc07ab8288364c26a7cd63c0c530f333.html" target="element"> Navegaci&#243;n y visualizaci&#243;n </a> </td>
											    <td> <a href="../elements/id-bc07ab8288364c26a7cd63c0c530f333.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e04c54b83f84de28a10fae04c09c311.html" target="element"> Gesti&#243;n de contenidos (WCM) </a> </td>
											    <td> <a href="../elements/id-0e04c54b83f84de28a10fae04c09c311.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9c7901de7d8c46e097ad3207898d5380.html" target="element"> Gesti&#243;n de procesos de negocio (BPM) </a> </td>
											    <td> <a href="../elements/id-9c7901de7d8c46e097ad3207898d5380.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d80830ae16ac426089fc6202a76a92aa.html" target="element"> Gesti&#243;n de flujos (WFM) </a> </td>
											    <td> <a href="../elements/id-d80830ae16ac426089fc6202a76a92aa.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-2aedf32507ab4bdf8092cb484cec77c2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2aedf32507ab4bdf8092cb484cec77c2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-b6de6aa07d4b4867a33f7c9149ca718b.html" target="element"> Gesti&#243;n de documentos empresarial (ECM) </a> </td>
											    <td> <a href="../elements/id-b6de6aa07d4b4867a33f7c9149ca718b.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f842093747654e0a9e40e55e20ea8108.html" target="element"> Gesti&#243;n de archivo (RM) </a> </td>
													    <td> <a href="../elements/id-f842093747654e0a9e40e55e20ea8108.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6b38f53f9a6846768d9403b1d7aa9dd0.html" target="element"> Manejo de documentos (DM) </a> </td>
													    <td> <a href="../elements/id-6b38f53f9a6846768d9403b1d7aa9dd0.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b39738021fa2420ea799e2500dd7b127.html" target="element"> Gesti&#243;n de activos (DAM) </a> </td>
													    <td> <a href="../elements/id-b39738021fa2420ea799e2500dd7b127.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-37125c201012469195d3d19c4d2a3f1b.html" target="element"> Almacenamiento </a> </td>
											    <td> <a href="../elements/id-37125c201012469195d3d19c4d2a3f1b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-99a02913264e4dec94853b0187cf2407.html" target="element"> Expediente f&#237;sico y electr&#243;nico </a> </td>
													    <td> <a href="../elements/id-99a02913264e4dec94853b0187cf2407.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c44d8b9364d946299471a1659cb32526.html" target="element"> Foliaci&#243;n </a> </td>
													    <td> <a href="../elements/id-c44d8b9364d946299471a1659cb32526.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a4900b64b12f458287cbb46953b31311.html" target="element"> Indexaci&#243;n </a> </td>
													    <td> <a href="../elements/id-a4900b64b12f458287cbb46953b31311.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-de612fc7b9bd4643b722eabf74863930.html" target="element"> Metadatos </a> </td>
													    <td> <a href="../elements/id-de612fc7b9bd4643b722eabf74863930.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4aee9fc6cbdf4dd396e9393fe7546eee.html" target="element"> Firmas digitales y electr&#243;nicas </a> </td>
													    <td> <a href="../elements/id-4aee9fc6cbdf4dd396e9393fe7546eee.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-45c84eac3fbc4b03a85cdd3924f1564e.html" target="element"> Estampas cronol&#243;gicas </a> </td>
													    <td> <a href="../elements/id-45c84eac3fbc4b03a85cdd3924f1564e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-79ba088915d847038990afac4866672b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-79ba088915d847038990afac4866672b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-bc28c5ccb0ac49049c7555c0228c6d5b.html" target="element"> Recolecci&#243;n </a> </td>
																		<td> <a href="../elements/id-aeda49879c40437cb0ec611b8dd14cea.html" target="element"> Clasificaci&#243;n de contenido y documentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6259af53ac804e79a9ab74deb3b29437.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6259af53ac804e79a9ab74deb3b29437.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-bc28c5ccb0ac49049c7555c0228c6d5b.html" target="element"> Recolecci&#243;n </a> </td>
																		<td> <a href="../elements/id-24851f28ba854bc9b8b7b89d21cd2171.html" target="element"> Indexaci&#243;n de contenido y documentos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-40a1f8373f07428d9586bee69d9766eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-40a1f8373f07428d9586bee69d9766eb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-bc28c5ccb0ac49049c7555c0228c6d5b.html" target="element"> Recolecci&#243;n </a> </td>
																		<td> <a href="../elements/id-5f7d8120479f4d1c960d3daffcc8f978.html" target="element"> Creaci&#243;n y captura de contenidos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-08703bf22fac470a88225d675d4c29aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-08703bf22fac470a88225d675d4c29aa.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-bc28c5ccb0ac49049c7555c0228c6d5b.html" target="element"> Recolecci&#243;n </a> </td>
																		<td> <a href="../elements/id-93193e1bef26454b9b5e2d37c2ae0d15.html" target="element"> Procesamiento de im&#225;genes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-02505f910027484eb7491ffb6fb3206d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02505f910027484eb7491ffb6fb3206d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-bc28c5ccb0ac49049c7555c0228c6d5b.html" target="element"> Recolecci&#243;n </a> </td>
																		<td> <a href="../elements/id-979d385f41e94b459486bd033fc38bb2.html" target="element"> B&#250;squeda y recuperaci&#243;n de contenido y recuperaci&#243;n </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d97056ff94cf481abb18b3dbaf5370ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d97056ff94cf481abb18b3dbaf5370ec.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-9addfe4e06594222a64f01b852f6282d.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-3876b86ef48f4423bebd8576e1907c5a.html" target="element"> Flujos de trabajo </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-315913cc192e42b792e0c8e4123c6df5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-315913cc192e42b792e0c8e4123c6df5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-9addfe4e06594222a64f01b852f6282d.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-af35389be44447708cc2e08f10fe978e.html" target="element"> Administraci&#243;n de metadatos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-802793a8f74644b3b3ba536fd61c4033.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-802793a8f74644b3b3ba536fd61c4033.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-9addfe4e06594222a64f01b852f6282d.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-e77d48e0027047bda81a008e29166f41.html" target="element"> Edici&#243;n y revisi&#243;n de documentos </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e59c541b1e1e41d9be003514b4c1fd64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e59c541b1e1e41d9be003514b4c1fd64.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-156b97d28a334897b3d9493413fc711c.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-9397519e5ada439d802f5f5e0892c8d0.html" target="element"> Repositorios </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-96f631c1c41b46be8879233332a29443.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-96f631c1c41b46be8879233332a29443.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-156b97d28a334897b3d9493413fc711c.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-507b3724de6d42c79ea8af5d60b89815.html" target="element"> Clasificaci&#243;n </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0376c8fc69894c868e0d0080ef0946bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0376c8fc69894c868e0d0080ef0946bf.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-6dc213ef495146b6b2704816a3773996.html" target="element"> Preservaci&#243;n </a> </td>
																		<td> <a href="../elements/id-196bc27bfbd245e7bd252bb7cb202251.html" target="element"> Pol&#237;ticas y est&#225;ndares de preservaci&#243;n </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-8182c472884e4808989950bc0befa062.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8182c472884e4808989950bc0befa062.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-b3d9dbbbf65742e097f5d163ebf9fa12.html" target="element"> Entrega </a> </td>
																		<td> <a href="../elements/id-c4edddeacf20478084e76681188dea3e.html" target="element"> Distribuci&#243;n </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e610b6ffeabb43f29f4dfcce5741573b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e610b6ffeabb43f29f4dfcce5741573b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-fade5d7b700e49ef92f5dc2718ef97b3.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-e69e46c6afd74190995a210bb56ab610.html" target="element"> Gestor de correo electr&#243;nico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e0db91e882ae4bcc9982d7cfc3332e17.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e0db91e882ae4bcc9982d7cfc3332e17.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-fade5d7b700e49ef92f5dc2718ef97b3.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-3db54b3bb89641088cfa0e56a94e7c43.html" target="element"> Procesador de texto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f62f328a2b6e4d17a7b5c055d4381792.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f62f328a2b6e4d17a7b5c055d4381792.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-fade5d7b700e49ef92f5dc2718ef97b3.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-0e04c54b83f84de28a10fae04c09c311.html" target="element"> Gesti&#243;n de contenidos (WCM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e6610a05bc7f440f9d6af083efb0c9e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6610a05bc7f440f9d6af083efb0c9e1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-fade5d7b700e49ef92f5dc2718ef97b3.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-48b557838f4243ab98634643d7d5f5bf.html" target="element"> Extracci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c33c14e357d542c68e97a34b413cc05b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c33c14e357d542c68e97a34b413cc05b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-fade5d7b700e49ef92f5dc2718ef97b3.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-430843318f7c48aabb88ed4042e0ed98.html" target="element"> Clasificaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9f129ac6b05641158bf81ea98eee3753.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f129ac6b05641158bf81ea98eee3753.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-fade5d7b700e49ef92f5dc2718ef97b3.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-652788793b3a4a74908e23ded7e49fbf.html" target="element"> Lectura </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-220a3f47e77f49799b410cb08448297c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-220a3f47e77f49799b410cb08448297c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-fade5d7b700e49ef92f5dc2718ef97b3.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-3cedd05b4e504d3e98e37a1e2fa88e5b.html" target="element"> Producci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-616ca2bee6204fea8715a60f6f111724.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-616ca2bee6204fea8715a60f6f111724.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-fade5d7b700e49ef92f5dc2718ef97b3.html" target="element"> Captura </a> </td>
																		<td> <a href="../elements/id-c21e55326f8a4dbfbe7135980ec0f974.html" target="element"> Digitalizaci&#243;n </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1489a277e2b5432391b5c6c86b09e4f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1489a277e2b5432391b5c6c86b09e4f2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-bd7e202d4ba9499796fac8f958aec2e9.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-9c7901de7d8c46e097ad3207898d5380.html" target="element"> Gesti&#243;n de procesos de negocio (BPM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-da0cad4fa5d14a0ba7e873b4749f0444.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da0cad4fa5d14a0ba7e873b4749f0444.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-bd7e202d4ba9499796fac8f958aec2e9.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-d80830ae16ac426089fc6202a76a92aa.html" target="element"> Gesti&#243;n de flujos (WFM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4589942ae5bb4994865003bbf67f949d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4589942ae5bb4994865003bbf67f949d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-bd7e202d4ba9499796fac8f958aec2e9.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-30a93376799f40c0abce1682d4fa60c6.html" target="element"> Metadatos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f605a1e035594bb5b9d33a1ea598e2e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f605a1e035594bb5b9d33a1ea598e2e5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-bd7e202d4ba9499796fac8f958aec2e9.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-0cc2548896f743d18d9e31ae950fd67f.html" target="element"> Versiones </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fec921950a8647699ababd93f27b4eb8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fec921950a8647699ababd93f27b4eb8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-bd7e202d4ba9499796fac8f958aec2e9.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-793b616cfc8b485aae97985c7f658510.html" target="element"> Tr&#225;mite y organizaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0d5ce8e4fed44f45b23d36e2d76c4390.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0d5ce8e4fed44f45b23d36e2d76c4390.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-bd7e202d4ba9499796fac8f958aec2e9.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-ec1611df68274a2d89841d9c19c2e790.html" target="element"> Accesos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-97e636933c114b19ac0de301914946c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97e636933c114b19ac0de301914946c2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-bd7e202d4ba9499796fac8f958aec2e9.html" target="element"> Gesti&#243;n </a> </td>
																		<td> <a href="../elements/id-aa5a9c2b09d64830843b3c38cb650a3c.html" target="element"> Administraci&#243;n documental </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-b088093bbb664154b25e92834ea7c87f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b088093bbb664154b25e92834ea7c87f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-729fa59ed7c44185a7d72481a7756afb.html" target="element"> Distribuci&#243;n </a> </td>
																		<td> <a href="../elements/id-437ecdb16bbc4be987fe898a4be3e128.html" target="element"> Entrega </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-97a0eaccee394affbdec9c0b3ed737f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-97a0eaccee394affbdec9c0b3ed737f2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-729fa59ed7c44185a7d72481a7756afb.html" target="element"> Distribuci&#243;n </a> </td>
																		<td> <a href="../elements/id-f842093747654e0a9e40e55e20ea8108.html" target="element"> Gesti&#243;n de archivo (RM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4924ebefbb224775840dc1e8a704f474.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4924ebefbb224775840dc1e8a704f474.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-729fa59ed7c44185a7d72481a7756afb.html" target="element"> Distribuci&#243;n </a> </td>
																		<td> <a href="../elements/id-00e18fb5473947b19b3e87330a78c18b.html" target="element"> Difusi&#243;n y consulta </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-87bfbfee698649df82a51a9d0eb1113e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87bfbfee698649df82a51a9d0eb1113e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-729fa59ed7c44185a7d72481a7756afb.html" target="element"> Distribuci&#243;n </a> </td>
																		<td> <a href="../elements/id-6b38f53f9a6846768d9403b1d7aa9dd0.html" target="element"> Manejo de documentos (DM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eaadfad063ee4d13bb82d65bcf3124fc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eaadfad063ee4d13bb82d65bcf3124fc.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-729fa59ed7c44185a7d72481a7756afb.html" target="element"> Distribuci&#243;n </a> </td>
																		<td> <a href="../elements/id-b39738021fa2420ea799e2500dd7b127.html" target="element"> Gesti&#243;n de activos (DAM) </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c71b3f7497db43509cdc7d2920ed3992.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c71b3f7497db43509cdc7d2920ed3992.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-0e04c54b83f84de28a10fae04c09c311.html" target="element"> Gesti&#243;n de contenidos (WCM) </a> </td>
																		<td> <a href="../elements/id-bc28c5ccb0ac49049c7555c0228c6d5b.html" target="element"> Recolecci&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4f1cf086f40f425681dd9479b420de47.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f1cf086f40f425681dd9479b420de47.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-9c7901de7d8c46e097ad3207898d5380.html" target="element"> Gesti&#243;n de procesos de negocio (BPM) </a> </td>
																		<td> <a href="../elements/id-9addfe4e06594222a64f01b852f6282d.html" target="element"> Gesti&#243;n </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-932299a6ddac4dbd98a1c9aefae079d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-932299a6ddac4dbd98a1c9aefae079d9.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-d80830ae16ac426089fc6202a76a92aa.html" target="element"> Gesti&#243;n de flujos (WFM) </a> </td>
																		<td> <a href="../elements/id-9addfe4e06594222a64f01b852f6282d.html" target="element"> Gesti&#243;n </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-30bbc55dfb854c3a813a953b47210efa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-30bbc55dfb854c3a813a953b47210efa.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b6de6aa07d4b4867a33f7c9149ca718b.html" target="element"> Gesti&#243;n de documentos empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-6b38f53f9a6846768d9403b1d7aa9dd0.html" target="element"> Manejo de documentos (DM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cc4bf778ce034a51aca624965ce408c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cc4bf778ce034a51aca624965ce408c6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b6de6aa07d4b4867a33f7c9149ca718b.html" target="element"> Gesti&#243;n de documentos empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-b39738021fa2420ea799e2500dd7b127.html" target="element"> Gesti&#243;n de activos (DAM) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bed91f70ebe143178e40dd96b95bbb0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bed91f70ebe143178e40dd96b95bbb0b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b6de6aa07d4b4867a33f7c9149ca718b.html" target="element"> Gesti&#243;n de documentos empresarial (ECM) </a> </td>
																		<td> <a href="../elements/id-f842093747654e0a9e40e55e20ea8108.html" target="element"> Gesti&#243;n de archivo (RM) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-6b5412814a094482ad50c2191845817f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6b5412814a094482ad50c2191845817f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-f842093747654e0a9e40e55e20ea8108.html" target="element"> Gesti&#243;n de archivo (RM) </a> </td>
																				<td> <a href="../elements/id-bc28c5ccb0ac49049c7555c0228c6d5b.html" target="element"> Recolecci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4aad8982794746a29ba616ff238f8b20.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4aad8982794746a29ba616ff238f8b20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-f842093747654e0a9e40e55e20ea8108.html" target="element"> Gesti&#243;n de archivo (RM) </a> </td>
																				<td> <a href="../elements/id-b3d9dbbbf65742e097f5d163ebf9fa12.html" target="element"> Entrega </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-2aa7b8c36be1474f83eac034a803a707.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-2aa7b8c36be1474f83eac034a803a707.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-6b38f53f9a6846768d9403b1d7aa9dd0.html" target="element"> Manejo de documentos (DM) </a> </td>
																				<td> <a href="../elements/id-bc28c5ccb0ac49049c7555c0228c6d5b.html" target="element"> Recolecci&#243;n </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-95b6d4191dba4a11a115b957419acc1d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-95b6d4191dba4a11a115b957419acc1d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-6b38f53f9a6846768d9403b1d7aa9dd0.html" target="element"> Manejo de documentos (DM) </a> </td>
																				<td> <a href="../elements/id-b3d9dbbbf65742e097f5d163ebf9fa12.html" target="element"> Entrega </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-ec7fbb0e1bd44d8c9564e137bfab8aba.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ec7fbb0e1bd44d8c9564e137bfab8aba.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-b39738021fa2420ea799e2500dd7b127.html" target="element"> Gesti&#243;n de activos (DAM) </a> </td>
																				<td> <a href="../elements/id-b3d9dbbbf65742e097f5d163ebf9fa12.html" target="element"> Entrega </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-61fccfda37444a43b88147336ef9e9b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-61fccfda37444a43b88147336ef9e9b7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-37125c201012469195d3d19c4d2a3f1b.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-de612fc7b9bd4643b722eabf74863930.html" target="element"> Metadatos </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-09ff19d165d04c069aa70a4e8bb72c66.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-09ff19d165d04c069aa70a4e8bb72c66.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-37125c201012469195d3d19c4d2a3f1b.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-c44d8b9364d946299471a1659cb32526.html" target="element"> Foliaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f63dc2e2959f4e0a950894dcf5326876.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f63dc2e2959f4e0a950894dcf5326876.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-37125c201012469195d3d19c4d2a3f1b.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-a4900b64b12f458287cbb46953b31311.html" target="element"> Indexaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-288e3ce0d21c464d862666f1ea0ddc1a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-288e3ce0d21c464d862666f1ea0ddc1a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-37125c201012469195d3d19c4d2a3f1b.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-99a02913264e4dec94853b0187cf2407.html" target="element"> Expediente f&#237;sico y electr&#243;nico </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2bfa384581bc42fba162e5f57d53d53c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2bfa384581bc42fba162e5f57d53d53c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-37125c201012469195d3d19c4d2a3f1b.html" target="element"> Almacenamiento </a> </td>
																		<td> <a href="../elements/id-156b97d28a334897b3d9493413fc711c.html" target="element"> Almacenamiento </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>