<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Sistemas de Información EAAB: misionales y estratégicos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Sistemas de Informaci&#243;n EAAB: misionales y estrat&#233;gicos</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ba5e6a0f97174db9b1c85f64a290169d.png" alt="Sistemas de Información EAAB: misionales y estratégicos" usemap="#id-ba5e6a0f97174db9b1c85f64a290169dmap"/>
			   <map name="id-ba5e6a0f97174db9b1c85f64a290169dmap">
				  		<area shape="rect" coords="1015,137,1160,174" href="../elements/id-57d94fc1a9b74870a5fa7c586aa5b646.html"  target="element">
				  		<area shape="rect" coords="1015,473,1160,510" href="../elements/id-65be3d7b56b641a4bfef688c3ab45d46.html"  target="element">
				  		<area shape="rect" coords="1015,425,1160,462" href="../elements/id-e52d6dc7ae2f4cbbbba7afbc2dc7b658.html"  target="element">
				  		<area shape="rect" coords="1015,377,1160,414" href="../elements/id-1150e8071a294e1b948ec46c2ecd3d70.html"  target="element">
				  		<area shape="rect" coords="1015,329,1160,366" href="../elements/id-e3fc602780474d629721565faebec2e7.html"  target="element">
				  		<area shape="rect" coords="1015,281,1160,318" href="../elements/id-3d8d6596518f4c5d95b3187b9059e562.html"  target="element">
				  		<area shape="rect" coords="1015,233,1160,270" href="../elements/id-0ac51fcfeb17480d9477a14af04d65b5.html"  target="element">
				  		<area shape="rect" coords="1015,185,1160,222" href="../elements/id-5ddc8a66a3394120b758660880e88d75.html"  target="element">
				  		<area shape="rect" coords="613,319,755,374" href="../elements/id-b750a5afa89242ba9c3fd2980ec94209.html"  target="element">
				  		<area shape="rect" coords="463,319,605,374" href="../elements/id-8b6d79fc0f08442ba9dfa0cf71452c8b.html"  target="element">
				  		<area shape="rect" coords="763,257,905,312" href="../elements/id-1f6f714e90f64c319bf45443ebd8ce06.html"  target="element">
				  		<area shape="rect" coords="613,257,755,312" href="../elements/id-657a093c1a134b8a928b42f14e724cfe.html"  target="element">
				  		<area shape="rect" coords="463,257,605,312" href="../elements/id-d8364e2769334288bb41e9053b8b9629.html"  target="element">
				  		<area shape="rect" coords="10,389,152,444" href="../elements/id-8abd3307d7f6441980068163e46ef071.html"  target="element">
				  		<area shape="rect" coords="310,319,452,374" href="../elements/id-6aa6e462154444bea555905365d91efe.html"  target="element">
				  		<area shape="rect" coords="160,319,302,374" href="../elements/id-e5ceb2f92bbe4f7ca5223cb57698f9a2.html"  target="element">
				  		<area shape="rect" coords="10,319,130,374" href="../elements/id-2662e806849c4d1fbdc52fa27819b956.html"  target="element">
				  		<area shape="rect" coords="763,449,905,504" href="../elements/id-de9882ac3f30405eb49e3374cda7e80f.html"  target="element">
				  		<area shape="rect" coords="613,449,755,504" href="../elements/id-34debeb3ef584550903ba2470df6e461.html"  target="element">
				  		<area shape="rect" coords="463,449,605,504" href="../elements/id-0d683a8f520a4ffa972b2f025019aebe.html"  target="element">
				  		<area shape="rect" coords="763,389,905,444" href="../elements/id-580b43c47f56462c83814aaea293e088.html"  target="element">
				  		<area shape="rect" coords="613,389,755,444" href="../elements/id-3b1a012059134e8497724bb4f76d6ab4.html"  target="element">
				  		<area shape="rect" coords="463,389,605,444" href="../elements/id-2e789d0e2bc8496bba860afd9f162787.html"  target="element">
				  		<area shape="rect" coords="160,389,302,444" href="../elements/id-0695d7149a8f4d8488f1ca23f454dba6.html"  target="element">
				  		<area shape="rect" coords="313,389,455,444" href="../elements/id-7a66d97bb7204b1194710355f67c6989.html"  target="element">
				  		<area shape="rect" coords="162,515,304,570" href="../elements/id-1c8f40991211493dbd08c62993362e73.html"  target="element">
				  		<area shape="rect" coords="12,515,154,570" href="../elements/id-4411d729444944e9a4e829a97128376a.html"  target="element">
				  		<area shape="rect" coords="313,449,455,504" href="../elements/id-7915d5c1348949bebede5a86e738361b.html"  target="element">
				  		<area shape="rect" coords="163,449,305,504" href="../elements/id-6be65f4573ef41868f218320b6acacf7.html"  target="element">
				  		<area shape="rect" coords="13,449,155,504" href="../elements/id-2c335522e1bd42a7b9ed9e6d6085bfe8.html"  target="element">
				  		<area shape="rect" coords="463,197,605,252" href="../elements/id-a0ec12f1ab8847b9947b938057787f79.html"  target="element">
				  		<area shape="rect" coords="463,137,605,192" href="../elements/id-d0f132a799b74eafb2dccb46d27f0ea7.html"  target="element">
				  		<area shape="rect" coords="310,257,452,312" href="../elements/id-8ec7e2d8ae1e46b8964e00555152c4f2.html"  target="element">
				  		<area shape="rect" coords="10,257,152,312" href="../elements/id-e1b14ca108ca4335b63d1a1a767310f6.html"  target="element">
				  		<area shape="rect" coords="160,257,302,312" href="../elements/id-148ce81fcc2b430e9316f267acb24f46.html"  target="element">
				  		<area shape="rect" coords="310,197,452,252" href="../elements/id-d981ce6a146d43cba3fd591c60672611.html"  target="element">
				  		<area shape="rect" coords="160,197,302,252" href="../elements/id-d6c9f4ac8ba64177bd2052777adaaa6f.html"  target="element">
				  		<area shape="rect" coords="10,197,152,252" href="../elements/id-d9df584635204ef7bfd36b91aff0ea4d.html"  target="element">
				  		<area shape="rect" coords="310,137,452,192" href="../elements/id-b21895d741c14517b667c967d645eea3.html"  target="element">
				  		<area shape="rect" coords="160,137,302,192" href="../elements/id-1392ff96c20d4a7e96cd53712cb77bb9.html"  target="element">
				  		<area shape="rect" coords="10,137,152,192" href="../elements/id-cbd474c29c0a401ca15cb3c3af7663da.html"  target="element">
				          <area shape="rect" coords="10,10,212,114" href="../objects/id-aa2678cbd79643fc8b86f6a545da6f69.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-aa2678cbd79643fc8b86f6a545da6f69.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-aa2678cbd79643fc8b86f6a545da6f69.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-cbd474c29c0a401ca15cb3c3af7663da.html" target="element"> APP1.HERRAMIENTAS EAB - EMR </a> </td>
											    <td> <a href="../elements/id-cbd474c29c0a401ca15cb3c3af7663da.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1392ff96c20d4a7e96cd53712cb77bb9.html" target="element"> APP10.SIH </a> </td>
											    <td> <a href="../elements/id-1392ff96c20d4a7e96cd53712cb77bb9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b21895d741c14517b667c967d645eea3.html" target="element"> APP11.TEAM MATE </a> </td>
											    <td> <a href="../elements/id-b21895d741c14517b667c967d645eea3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d9df584635204ef7bfd36b91aff0ea4d.html" target="element"> APP2.SIMLAB </a> </td>
											    <td> <a href="../elements/id-d9df584635204ef7bfd36b91aff0ea4d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d6c9f4ac8ba64177bd2052777adaaa6f.html" target="element"> APP3.NIVELES RIO BOGOTA (Alarmas Rio Bogot&#225;) </a> </td>
											    <td> <a href="../elements/id-d6c9f4ac8ba64177bd2052777adaaa6f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d981ce6a146d43cba3fd591c60672611.html" target="element"> APP4.ERP SAP ECC 6.0 </a> </td>
											    <td> <a href="../elements/id-d981ce6a146d43cba3fd591c60672611.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-148ce81fcc2b430e9316f267acb24f46.html" target="element"> APP8.REGISTRO Y CONTROL DE VERTIMIENTOS </a> </td>
											    <td> <a href="../elements/id-148ce81fcc2b430e9316f267acb24f46.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e1b14ca108ca4335b63d1a1a767310f6.html" target="element"> APP7.BANCO CALIBRACI&#211;N MEDIDORES (Laboratorio de medidores) </a> </td>
											    <td> <a href="../elements/id-e1b14ca108ca4335b63d1a1a767310f6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ec7e2d8ae1e46b8964e00555152c4f2.html" target="element"> APP5.SIGUE </a> </td>
											    <td> <a href="../elements/id-8ec7e2d8ae1e46b8964e00555152c4f2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0f132a799b74eafb2dccb46d27f0ea7.html" target="element"> APP9.SISTEMA GESTI&#211;N DE CALIDAD </a> </td>
											    <td> <a href="../elements/id-d0f132a799b74eafb2dccb46d27f0ea7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a0ec12f1ab8847b9947b938057787f79.html" target="element"> APP12.FELA </a> </td>
											    <td> <a href="../elements/id-a0ec12f1ab8847b9947b938057787f79.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2c335522e1bd42a7b9ed9e6d6085bfe8.html" target="element"> APP13.CPP Cuotas Partes Pensionales </a> </td>
											    <td> <a href="../elements/id-2c335522e1bd42a7b9ed9e6d6085bfe8.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6be65f4573ef41868f218320b6acacf7.html" target="element"> APP14.SICU </a> </td>
											    <td> <a href="../elements/id-6be65f4573ef41868f218320b6acacf7.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7915d5c1348949bebede5a86e738361b.html" target="element"> APP15.RECIBO DE NOMINA </a> </td>
											    <td> <a href="../elements/id-7915d5c1348949bebede5a86e738361b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4411d729444944e9a4e829a97128376a.html" target="element"> APP16.FICHAS DE PERSONAL </a> </td>
											    <td> <a href="../elements/id-4411d729444944e9a4e829a97128376a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1c8f40991211493dbd08c62993362e73.html" target="element"> APP17.GRANDES CONSUMIDORES (Laboratorio de medidores) </a> </td>
											    <td> <a href="../elements/id-1c8f40991211493dbd08c62993362e73.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7a66d97bb7204b1194710355f67c6989.html" target="element"> APP18.SIMA - DISPOSITIVOS M&#211;VILES PARA ALCANTARILLADO </a> </td>
											    <td> <a href="../elements/id-7a66d97bb7204b1194710355f67c6989.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0695d7149a8f4d8488f1ca23f454dba6.html" target="element"> APP19.SIRA </a> </td>
											    <td> <a href="../elements/id-0695d7149a8f4d8488f1ca23f454dba6.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2e789d0e2bc8496bba860afd9f162787.html" target="element"> APP20.SERVICIO MEDICO </a> </td>
											    <td> <a href="../elements/id-2e789d0e2bc8496bba860afd9f162787.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3b1a012059134e8497724bb4f76d6ab4.html" target="element"> APP21.SH-COFI (Sistema hist&#243;rico, Comercial y Financiero) </a> </td>
											    <td> <a href="../elements/id-3b1a012059134e8497724bb4f76d6ab4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-580b43c47f56462c83814aaea293e088.html" target="element"> APP22.ACUERDOS DE SERVICIO </a> </td>
											    <td> <a href="../elements/id-580b43c47f56462c83814aaea293e088.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0d683a8f520a4ffa972b2f025019aebe.html" target="element"> APP23.APP24.APP23.APORTES PENSIONES </a> </td>
											    <td> <a href="../elements/id-0d683a8f520a4ffa972b2f025019aebe.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-34debeb3ef584550903ba2470df6e461.html" target="element"> APP24.Agenda Comunicaciones Web </a> </td>
											    <td> <a href="../elements/id-34debeb3ef584550903ba2470df6e461.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-de9882ac3f30405eb49e3374cda7e80f.html" target="element"> APP25.FORMULARIO PREINSCRIPCI&#211;N ESCUELA VIRTUAL (EVA) </a> </td>
											    <td> <a href="../elements/id-de9882ac3f30405eb49e3374cda7e80f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2662e806849c4d1fbdc52fa27819b956.html" target="element"> APP26.REGISTRO DE USUARIOS EN EL PORTAL </a> </td>
											    <td> <a href="../elements/id-2662e806849c4d1fbdc52fa27819b956.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e5ceb2f92bbe4f7ca5223cb57698f9a2.html" target="element"> APP27.CONSULTA FACTURA (SuperCade) </a> </td>
											    <td> <a href="../elements/id-e5ceb2f92bbe4f7ca5223cb57698f9a2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6aa6e462154444bea555905365d91efe.html" target="element"> APP28.ESCUELA VIRTUAL </a> </td>
											    <td> <a href="../elements/id-6aa6e462154444bea555905365d91efe.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8abd3307d7f6441980068163e46ef071.html" target="element"> APP29.METASUITE </a> </td>
											    <td> <a href="../elements/id-8abd3307d7f6441980068163e46ef071.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d8364e2769334288bb41e9053b8b9629.html" target="element"> APP30.ACUERDOS DE GESTI&#211;N </a> </td>
											    <td> <a href="../elements/id-d8364e2769334288bb41e9053b8b9629.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-657a093c1a134b8a928b42f14e724cfe.html" target="element"> APP31.RED MATRIZ </a> </td>
											    <td> <a href="../elements/id-657a093c1a134b8a928b42f14e724cfe.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1f6f714e90f64c319bf45443ebd8ce06.html" target="element"> APP32.FLUIMOS MEJOR </a> </td>
											    <td> <a href="../elements/id-1f6f714e90f64c319bf45443ebd8ce06.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8b6d79fc0f08442ba9dfa0cf71452c8b.html" target="element"> APP33.CONVOCATORIAS </a> </td>
											    <td> <a href="../elements/id-8b6d79fc0f08442ba9dfa0cf71452c8b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b750a5afa89242ba9c3fd2980ec94209.html" target="element"> APP34.SCADA </a> </td>
											    <td> <a href="../elements/id-b750a5afa89242ba9c3fd2980ec94209.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5ddc8a66a3394120b758660880e88d75.html" target="element"> Clasificaci&#243;n </a> </td>
											    <td> <a href="../elements/id-5ddc8a66a3394120b758660880e88d75.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ac51fcfeb17480d9477a14af04d65b5.html" target="element"> Ordenaci&#243;n </a> </td>
											    <td> <a href="../elements/id-0ac51fcfeb17480d9477a14af04d65b5.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3d8d6596518f4c5d95b3187b9059e562.html" target="element"> Descripci&#243;n </a> </td>
											    <td> <a href="../elements/id-3d8d6596518f4c5d95b3187b9059e562.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e3fc602780474d629721565faebec2e7.html" target="element"> Almacenamiento </a> </td>
											    <td> <a href="../elements/id-e3fc602780474d629721565faebec2e7.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1150e8071a294e1b948ec46c2ecd3d70.html" target="element"> Disposici&#243;n </a> </td>
											    <td> <a href="../elements/id-1150e8071a294e1b948ec46c2ecd3d70.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e52d6dc7ae2f4cbbbba7afbc2dc7b658.html" target="element"> Preservaci&#243;n </a> </td>
											    <td> <a href="../elements/id-e52d6dc7ae2f4cbbbba7afbc2dc7b658.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-65be3d7b56b641a4bfef688c3ab45d46.html" target="element"> Valoraci&#243;n </a> </td>
											    <td> <a href="../elements/id-65be3d7b56b641a4bfef688c3ab45d46.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-57d94fc1a9b74870a5fa7c586aa5b646.html" target="element"> Producci&#243;n </a> </td>
											    <td> <a href="../elements/id-57d94fc1a9b74870a5fa7c586aa5b646.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>