<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Brechas Archivísticas</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Brechas Archiv&#237;sticas</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c5da1964a87f476aa941ac647412b212.png" alt="Brechas Archivísticas" usemap="#id-c5da1964a87f476aa941ac647412b212map"/>
			   <map name="id-c5da1964a87f476aa941ac647412b212map">
				  		<area shape="rect" coords="180,274,337,329" href="../elements/id-a8013bc1e9d34019bae3b43ab7aac2fd.html"  target="element">
				          <area shape="rect" coords="10,10,219,131" href="../objects/id-fe115875c68e405a8da294d0794abb1c.html" target="element" >
				  		<area shape="rect" coords="10,274,167,329" href="../elements/id-7f0e78c58477426986caf6c2c646c545.html"  target="element">
				  		<area shape="rect" coords="346,214,503,269" href="../elements/id-5a67580cb32a47f394414ce8e73e59e2.html"  target="element">
				  		<area shape="rect" coords="178,214,335,269" href="../elements/id-34843064df6947c9b0289cee85725a53.html"  target="element">
				  		<area shape="rect" coords="10,214,167,269" href="../elements/id-ceff681b2d1048d38735c63b17ac1b32.html"  target="element">
				  		<area shape="rect" coords="348,154,505,209" href="../elements/id-56571d7c3ed441d9b22a4870c4a1f9ef.html"  target="element">
				  		<area shape="rect" coords="180,154,337,209" href="../elements/id-1099c94738bb4307be9d7ed2af5514b1.html"  target="element">
				  		<area shape="rect" coords="10,154,167,209" href="../elements/id-546681b0f1fe42da809704cb1fa47623.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">El Diagn&#243;stivo archiv&#237;sticos* realizado a la EAAB identific&#243; las debilidades en las capacidades documentales. Estas debilidades, que se expresan en brechas archiv&#237;sticas, son problemas administrativos, documentales y archiv&#237;sticos que deben ser relacionados con el dise&#241;o del SGDEA de EAAB.

Las brechas archiv&#237;sticas dan a conocer la situaci&#243;n actual de los archivos de la EAAB-ESP y dan informaci&#243;n &#250;til para tomar decisiones de dise&#241;o de la gesti&#243;n del archivo del futuro Sistema de Gesti&#243;n Documental Electr&#243;nica y Archivo SGDEA.

* INFORME GLOBAL COMPONENTE ADMINISTRATIVO, ARCHIV&#205;STICO Y DE CONSERVACI&#211;N</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-546681b0f1fe42da809704cb1fa47623.html" target="element"> BRE1. Dependencias que no cuentan con un &#225;rea para la consulta de documentos f&#237;sicos </a> </td>
											    <td> <a href="../elements/id-546681b0f1fe42da809704cb1fa47623.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1099c94738bb4307be9d7ed2af5514b1.html" target="element"> BRE2. No hay registro ni control de consultas y prestamos </a> </td>
											    <td> <a href="../elements/id-1099c94738bb4307be9d7ed2af5514b1.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-56571d7c3ed441d9b22a4870c4a1f9ef.html" target="element"> BRE3. Control de uso del consecutivo para los documentos internos y externos </a> </td>
											    <td> <a href="../elements/id-56571d7c3ed441d9b22a4870c4a1f9ef.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ceff681b2d1048d38735c63b17ac1b32.html" target="element"> BRE4. Duplicidad de documentos </a> </td>
											    <td> <a href="../elements/id-ceff681b2d1048d38735c63b17ac1b32.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-34843064df6947c9b0289cee85725a53.html" target="element"> BRE5. La actividad de foliaci&#243;n no se encuentra realizada en su totalidad </a> </td>
											    <td> <a href="../elements/id-34843064df6947c9b0289cee85725a53.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5a67580cb32a47f394414ce8e73e59e2.html" target="element"> BRE6. Incompletitud en la informaci&#243;n de los r&#243;tulos de los expedientes </a> </td>
											    <td> <a href="../elements/id-5a67580cb32a47f394414ce8e73e59e2.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7f0e78c58477426986caf6c2c646c545.html" target="element"> BRE7. No se elaboran inventarios documentales para la totalidad de los expedientes </a> </td>
											    <td> <a href="../elements/id-7f0e78c58477426986caf6c2c646c545.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-fe115875c68e405a8da294d0794abb1c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-fe115875c68e405a8da294d0794abb1c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-a8013bc1e9d34019bae3b43ab7aac2fd.html" target="element"> BRE8. Baja gesti&#243;n del cronograma de transferencias documental </a> </td>
											    <td> <a href="../elements/id-a8013bc1e9d34019bae3b43ab7aac2fd.html" target="element" class="i18n-elementtype-Gap"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>