<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Objetivos y Requerimientos SGDEA de EAAB</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Objetivos y Requerimientos SGDEA de EAAB</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c72805b148b8421b92d428376446257d.png" alt="Objetivos y Requerimientos SGDEA de EAAB" usemap="#id-c72805b148b8421b92d428376446257dmap"/>
			   <map name="id-c72805b148b8421b92d428376446257dmap">
				  		<area shape="rect" coords="10,150,232,211" href="../elements/90205c56-8139-4d13-9f83-a785b1f24098.html"  target="element">
				  		<area shape="rect" coords="250,82,472,143" href="../elements/id-bf85c920eb5e4981a3c942fcf9c72cc0.html"  target="element">
				  		<area shape="rect" coords="250,10,472,71" href="../elements/id-8e1885e6d4a344a5ae43bf92f3d525a6.html"  target="element">
				  		<area shape="rect" coords="250,150,472,211" href="../elements/id-4e6e8f89c78646da9c102e705856999c.html"  target="element">
				  		<area shape="rect" coords="10,80,232,141" href="../elements/id-5db6a819ae5349cbb3353052f4f1b5a8.html"  target="element">
				  		<area shape="rect" coords="10,10,232,71" href="../elements/id-1917c65f9ace469094302eadf72c1469.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">Con base en el diagn&#243;stico de producci&#243;n documental es importante plantear como prioridad incluir dentro del SGDEA la implementaci&#243;n del manejo de la siguiente documentaci&#243;n.

El SGDEA es una definici&#243;n de requisitos funcionales para un Sistema de Gesti&#243;n de Documentos Electr&#243;nicos de Archivo. No es un patr&#243;n de dise&#241;o de software.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-1917c65f9ace469094302eadf72c1469.html" target="element"> OUT12. SGDEA para Direcci&#243;n Mejoramiento Calidad de Vida y el manejo de historias laborales </a> </td>
											    <td> <a href="../elements/id-1917c65f9ace469094302eadf72c1469.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5db6a819ae5349cbb3353052f4f1b5a8.html" target="element"> OUT13. SGDEA para Gerencia Jur&#237;dica, Oficina Asesor&#237;a Legal y la Oficina Asesora De Representaci&#243;n Judicial y Actuaci&#243;n Administrativa </a> </td>
											    <td> <a href="../elements/id-5db6a819ae5349cbb3353052f4f1b5a8.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4e6e8f89c78646da9c102e705856999c.html" target="element"> OUT14. Contemplar todos los procesos de la gesti&#243;n documental </a> </td>
											    <td> <a href="../elements/id-4e6e8f89c78646da9c102e705856999c.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8e1885e6d4a344a5ae43bf92f3d525a6.html" target="element"> OUT15. Poseer una estructura l&#243;gica y consistente con los modelos de requisitos nacionales e internacionales </a> </td>
											    <td> <a href="../elements/id-8e1885e6d4a344a5ae43bf92f3d525a6.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf85c920eb5e4981a3c942fcf9c72cc0.html" target="element"> OUT16. Presentar una combinaci&#243;n de requisitos de MoReq y los definidos en mesas de trabajo distritales </a> </td>
											    <td> <a href="../elements/id-bf85c920eb5e4981a3c942fcf9c72cc0.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90205c56-8139-4d13-9f83-a785b1f24098.html" target="element"> OUT15. SGDEA para Direcci&#243;n Gesti&#243;n de Compensaciones </a> </td>
											    <td> <a href="../elements/90205c56-8139-4d13-9f83-a785b1f24098.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>