<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Interoperabilidad. Marco de Interoperabilidad</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Interoperabilidad. Marco de Interoperabilidad</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-da37e41911924689a1ef85d961506776.png" alt="Interoperabilidad. Marco de Interoperabilidad" usemap="#id-da37e41911924689a1ef85d961506776map"/>
			   <map name="id-da37e41911924689a1ef85d961506776map">
				  		<area shape="rect" coords="250,130,370,185" href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html"  target="element">
				  				<area shape="rect" coords="538,226,658,281" href="../elements/id-e465d2bc11724545ab4c8d1e489e5c27.html"  target="element">
				  				<area shape="rect" coords="406,226,526,281" href="../elements/id-a273e7bbc196440cb691bcc7592e8b89.html"  target="element">
				  				<area shape="rect" coords="274,226,394,281" href="../elements/id-fce554e60bd144bf9a7186c7e8d5ff57.html"  target="element">

				  		<area shape="rect" coords="250,190,754,299" href="../elements/id-4e5a48855bef41a0a0c26a2bcb1433a0.html"  target="element">
				  		<area shape="rect" coords="250,310,370,365" href="../elements/id-f015ad86c6a34c2491c53be90f95d74e.html"  target="element">
				  		<area shape="rect" coords="10,130,143,185" href="../elements/id-266466ef7a794b29aa78a5e931220ada.html"  target="element">
				          <area shape="rect" coords="10,10,179,83" href="../objects/id-35b0a2932b314a7b842219a6a4b64539.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap">El Marco de Interoperabilidad es la estructura de trabajo, conceptos y criterios que gu&#237;an el intercambio de informaci&#243;n. Define el conjunto de principios, recomendaciones y directrices que orientan los esfuerzos pol&#237;ticos, legales, organizacionales, sem&#225;nticos y t&#233;cnicos de las entidades, con el fin de facilitar el intercambio seguro y eficiente de informaci&#243;n.
Adem&#225;s, se desarrolla un modelo de madurez y un conjunto de principios, lineamientos, recomendaciones, protocolos, est&#225;ndares y gu&#237;as metodol&#243;gicas, necesarias para que las entidades compartan informaci&#243;n a trav&#233;s de servicios de intercambio de informaci&#243;n.

Colaboraci&#243;n entre entidades para el intercambio de informaci&#243;n en la administraci&#243;n p&#250;blica.- Preparar a la entidad para cooperar digitalmente entre entidades p&#250;blicas y con el ciudadano.

El uso del marco de interoperabilidad dirige las iniciativas de intercambio de informaci&#243;n. El Marco proporciona la orientaci&#243;n necesaria a las entidades p&#250;blicas y en general a todos aquellos que quieran intercambiar informaci&#243;n, mediante un conjunto de lineamientos sobre c&#243;mo mejorar la gobernanza de las actividades relacionadas a la interoperabilidad, permitiendo establecer relaciones entre proveedores y consumidores de informaci&#243;n.

Escenario funcional de interoperabilidad: una entidad requiera comprobar la existencia de alguna circunstancia necesaria para la prestaci&#243;n de un servicio que obre en otra entidad, no debe solicitarle dicha informaci&#243;n al usuario, sino que deber&#225; obtenerla de la entidad respectiva.

Servicio de Intercambio de Informaci&#243;n.- Consumidor, proveedor; intercambios G2C, G2B, G2G.

Con el objetivo de integrar los servicios web implementados de las entidades tanto para exponer, como para consumir, las entidades deben implementar el protocolo X-ROAD Message para usar el Servidor de Seguridad X-ROAD de cada entidad. Este protocolo define unos encabezados en el mensaje dependiendo de si es Rest o SOAP, para la petici&#243;n (request) o respuesta (response) y por &#250;ltimo, si el servicio a exponer o consumir es SOAP con adjuntos.
</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-35b0a2932b314a7b842219a6a4b64539.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-35b0a2932b314a7b842219a6a4b64539.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-266466ef7a794b29aa78a5e931220ada.html" target="element"> Marco de interoperabilidad EAAB  </a> </td>
											    <td> <a href="../elements/id-266466ef7a794b29aa78a5e931220ada.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f015ad86c6a34c2491c53be90f95d74e.html" target="element"> Gu&#237;as y Est&#225;ndares </a> </td>
											    <td> <a href="../elements/id-f015ad86c6a34c2491c53be90f95d74e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4e5a48855bef41a0a0c26a2bcb1433a0.html" target="element"> Administraci&#243;n </a> </td>
											    <td> <a href="../elements/id-4e5a48855bef41a0a0c26a2bcb1433a0.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fce554e60bd144bf9a7186c7e8d5ff57.html" target="element"> Modelo de Madurez </a> </td>
													    <td> <a href="../elements/id-fce554e60bd144bf9a7186c7e8d5ff57.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a273e7bbc196440cb691bcc7592e8b89.html" target="element"> Modelo de Adminitraci&#243;n </a> </td>
													    <td> <a href="../elements/id-a273e7bbc196440cb691bcc7592e8b89.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e465d2bc11724545ab4c8d1e489e5c27.html" target="element"> Modelo de Medici&#243;n </a> </td>
													    <td> <a href="../elements/id-e465d2bc11724545ab4c8d1e489e5c27.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html" target="element"> Pol&#237;ticas </a> </td>
											    <td> <a href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-b1a52136dada401399d698eb8c8a24de.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b1a52136dada401399d698eb8c8a24de.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-266466ef7a794b29aa78a5e931220ada.html" target="element"> Marco de interoperabilidad EAAB  </a> </td>
																		<td> <a href="../elements/id-3dbe7f1b50314d1ea07c761f3cc5f86d.html" target="element"> Pol&#237;ticas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1c02c43003af4dd883cc2b7f14b4b484.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c02c43003af4dd883cc2b7f14b4b484.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-266466ef7a794b29aa78a5e931220ada.html" target="element"> Marco de interoperabilidad EAAB  </a> </td>
																		<td> <a href="../elements/id-4e5a48855bef41a0a0c26a2bcb1433a0.html" target="element"> Administraci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-acbfc2f795f948bbb2d0fa6c0c1d27dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-acbfc2f795f948bbb2d0fa6c0c1d27dd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-266466ef7a794b29aa78a5e931220ada.html" target="element"> Marco de interoperabilidad EAAB  </a> </td>
																		<td> <a href="../elements/id-f015ad86c6a34c2491c53be90f95d74e.html" target="element"> Gu&#237;as y Est&#225;ndares </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f517b2c311e44b7084e8ec8144317ede.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f517b2c311e44b7084e8ec8144317ede.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4e5a48855bef41a0a0c26a2bcb1433a0.html" target="element"> Administraci&#243;n </a> </td>
																		<td> <a href="../elements/id-fce554e60bd144bf9a7186c7e8d5ff57.html" target="element"> Modelo de Madurez </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7b8388496ec4588ac94cb2bc5f849a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7b8388496ec4588ac94cb2bc5f849a1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4e5a48855bef41a0a0c26a2bcb1433a0.html" target="element"> Administraci&#243;n </a> </td>
																		<td> <a href="../elements/id-a273e7bbc196440cb691bcc7592e8b89.html" target="element"> Modelo de Adminitraci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3674853aef9242858d1cfdc8823d1c07.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3674853aef9242858d1cfdc8823d1c07.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4e5a48855bef41a0a0c26a2bcb1433a0.html" target="element"> Administraci&#243;n </a> </td>
																		<td> <a href="../elements/id-e465d2bc11724545ab4c8d1e489e5c27.html" target="element"> Modelo de Medici&#243;n </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>