<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Modelo de Madurez Interoperabilidad SGDEA</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Modelo de Madurez Interoperabilidad SGDEA</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d48ded733228459d8c1fdd1d310ecbbd.png" alt="Modelo de Madurez Interoperabilidad SGDEA" usemap="#id-d48ded733228459d8c1fdd1d310ecbbdmap"/>
			   <map name="id-d48ded733228459d8c1fdd1d310ecbbdmap">
				          <area shape="rect" coords="10,557,23,569" href="../objects/id-2f0af5c039564e32a30c0afe76904e98.html" target="element" >
				          <area shape="rect" coords="23,568,107,595" href="../objects/id-79db0e53f76246a0bbf56d56cf6b803c.html" target="element" >
				          <area shape="rect" coords="10,576,23,588" href="../objects/id-ecc34b4f1b864f9cb70583e44816c0dd.html" target="element" >
				          <area shape="rect" coords="23,550,107,577" href="../objects/id-af3b6f12b34c41c89cf19872b6f75a99.html" target="element" >
				          <area shape="rect" coords="563,430,748,510" href="../objects/id-17792327b98040108c0366de74bd4fab.html" target="element" >
				          <area shape="rect" coords="11,10,276,118" href="../objects/id-c3eca27a90864fd08a4674fac2d2f5a1.html" target="element" >
				          <area shape="rect" coords="563,274,748,354" href="../objects/id-c0e8f4f51d3340f1817118c81221ffda.html" target="element" >
				          <area shape="rect" coords="563,118,748,198" href="../objects/id-306f2a2ecacc44f49b5cca60a7813b43.html" target="element" >
				  		<area shape="rect" coords="347,442,480,497" href="../elements/id-559a4453652f472e878de06b30230d03.html"  target="element">
				  		<area shape="rect" coords="179,442,312,497" href="../elements/id-93526938482f4c3e855be6126dcd467b.html"  target="element">
				  		<area shape="rect" coords="11,442,144,497" href="../elements/id-dffd7b776bdc49eaad02ec27351470fc.html"  target="element">
				  				<area shape="rect" coords="359,214,479,239" href="../elements/id-05628c0efdc84cbebcbea09af0acdd93.html"  target="element">
				  				<area shape="rect" coords="359,250,479,275" href="../elements/id-8c2a3ed8beca4f01920e7619a778b3c1.html"  target="element">

				  		<area shape="rect" coords="347,178,507,419" href="../elements/id-da3f3f7fdf53406796a9565192744c7e.html"  target="element">
				  				<area shape="rect" coords="191,370,311,395" href="../elements/id-dd68a16eba6c4121bc3340c57110fe9b.html"  target="element">
				  				<area shape="rect" coords="191,334,311,359" href="../elements/id-950c89fcb35346a4be9b9d531c9787b8.html"  target="element">
				  				<area shape="rect" coords="191,298,311,323" href="../elements/id-5c968567613e48b6b674451a26dde199.html"  target="element">
				  				<area shape="rect" coords="191,262,311,287" href="../elements/id-22592e076e0449d99dd29f5a0c2236b3.html"  target="element">

				  		<area shape="rect" coords="179,226,339,419" href="../elements/id-3ed5297a0aba4bfb81cbda9e4fa28e58.html"  target="element">
				  				<area shape="rect" coords="23,370,143,395" href="../elements/id-43caa15331754e98b6cc14b3ae44c23f.html"  target="element">
				  				<area shape="rect" coords="23,334,143,359" href="../elements/id-cc910c5d685944d8becab4f98df2d120.html"  target="element">
				  				<area shape="rect" coords="23,298,143,323" href="../elements/id-7467abf1c0e8496bb86f6a0f492b3962.html"  target="element">

				  		<area shape="rect" coords="11,262,171,419" href="../elements/id-6f86742d82e340c8860da8631b5d4840.html"  target="element">
				  		<area shape="rect" coords="347,118,480,173" href="../elements/id-f6a22506ba5b43698e99755fbc4494a4.html"  target="element">
				  		<area shape="rect" coords="179,166,312,221" href="../elements/id-115daf9ae7684b6086aefae9fbab247e.html"  target="element">
				  		<area shape="rect" coords="11,202,144,257" href="../elements/id-f8d77eea53c64d0fafb26a9f00fde325.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Niveles de madurez de interoperabilidad. Se dividen en tres: inicial, definido y optimizado. Para alcanzar cualquier nivel en particular se requiere haber alcanzado previamente los niveles anteriores.


</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f8d77eea53c64d0fafb26a9f00fde325.html" target="element"> Nivel Inicial </a> </td>
											    <td> <a href="../elements/id-f8d77eea53c64d0fafb26a9f00fde325.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-115daf9ae7684b6086aefae9fbab247e.html" target="element"> N. Definido </a> </td>
											    <td> <a href="../elements/id-115daf9ae7684b6086aefae9fbab247e.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f6a22506ba5b43698e99755fbc4494a4.html" target="element"> Optimizado </a> </td>
											    <td> <a href="../elements/id-f6a22506ba5b43698e99755fbc4494a4.html" target="element" class="i18n-elementtype-Plateau"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6f86742d82e340c8860da8631b5d4840.html" target="element"> Metas del Nivel Inicial </a> </td>
											    <td> <a href="../elements/id-6f86742d82e340c8860da8631b5d4840.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-7467abf1c0e8496bb86f6a0f492b3962.html" target="element"> Responsabilidad </a> </td>
													    <td> <a href="../elements/id-7467abf1c0e8496bb86f6a0f492b3962.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cc910c5d685944d8becab4f98df2d120.html" target="element"> Procesos 1 </a> </td>
													    <td> <a href="../elements/id-cc910c5d685944d8becab4f98df2d120.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-43caa15331754e98b6cc14b3ae44c23f.html" target="element"> Servicios </a> </td>
													    <td> <a href="../elements/id-43caa15331754e98b6cc14b3ae44c23f.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-3ed5297a0aba4bfb81cbda9e4fa28e58.html" target="element"> Metas del Nivel Definido </a> </td>
											    <td> <a href="../elements/id-3ed5297a0aba4bfb81cbda9e4fa28e58.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-22592e076e0449d99dd29f5a0c2236b3.html" target="element"> Registro </a> </td>
													    <td> <a href="../elements/id-22592e076e0449d99dd29f5a0c2236b3.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5c968567613e48b6b674451a26dde199.html" target="element"> Coordinaci&#243;n </a> </td>
													    <td> <a href="../elements/id-5c968567613e48b6b674451a26dde199.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-950c89fcb35346a4be9b9d531c9787b8.html" target="element"> Procesos 2 </a> </td>
													    <td> <a href="../elements/id-950c89fcb35346a4be9b9d531c9787b8.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-dd68a16eba6c4121bc3340c57110fe9b.html" target="element"> Evaluaci&#243;n </a> </td>
													    <td> <a href="../elements/id-dd68a16eba6c4121bc3340c57110fe9b.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-da3f3f7fdf53406796a9565192744c7e.html" target="element"> Metas del Nivel Optimizado </a> </td>
											    <td> <a href="../elements/id-da3f3f7fdf53406796a9565192744c7e.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-8c2a3ed8beca4f01920e7619a778b3c1.html" target="element"> Procesos 3 </a> </td>
													    <td> <a href="../elements/id-8c2a3ed8beca4f01920e7619a778b3c1.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-05628c0efdc84cbebcbea09af0acdd93.html" target="element"> Continuidad </a> </td>
													    <td> <a href="../elements/id-05628c0efdc84cbebcbea09af0acdd93.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-dffd7b776bdc49eaad02ec27351470fc.html" target="element"> Evaluaci&#243;n del nivel inicial </a> </td>
											    <td> <a href="../elements/id-dffd7b776bdc49eaad02ec27351470fc.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-93526938482f4c3e855be6126dcd467b.html" target="element"> Evaluaci&#243;n del nivel definido </a> </td>
											    <td> <a href="../elements/id-93526938482f4c3e855be6126dcd467b.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-559a4453652f472e878de06b30230d03.html" target="element"> Evaluaci&#243;n del nivel optimizado </a> </td>
											    <td> <a href="../elements/id-559a4453652f472e878de06b30230d03.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-306f2a2ecacc44f49b5cca60a7813b43.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-306f2a2ecacc44f49b5cca60a7813b43.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c0e8f4f51d3340f1817118c81221ffda.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c0e8f4f51d3340f1817118c81221ffda.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c3eca27a90864fd08a4674fac2d2f5a1.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c3eca27a90864fd08a4674fac2d2f5a1.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-17792327b98040108c0366de74bd4fab.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-17792327b98040108c0366de74bd4fab.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-af3b6f12b34c41c89cf19872b6f75a99.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-af3b6f12b34c41c89cf19872b6f75a99.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ecc34b4f1b864f9cb70583e44816c0dd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ecc34b4f1b864f9cb70583e44816c0dd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-79db0e53f76246a0bbf56d56cf6b803c.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-79db0e53f76246a0bbf56d56cf6b803c.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-2f0af5c039564e32a30c0afe76904e98.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2f0af5c039564e32a30c0afe76904e98.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-1667261dc0cf4bdebc63ad0cc3c284fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1667261dc0cf4bdebc63ad0cc3c284fe.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6f86742d82e340c8860da8631b5d4840.html" target="element"> Metas del Nivel Inicial </a> </td>
																		<td> <a href="../elements/id-7467abf1c0e8496bb86f6a0f492b3962.html" target="element"> Responsabilidad </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-65d69463867d4005ba839c1c64cf5d10.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65d69463867d4005ba839c1c64cf5d10.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6f86742d82e340c8860da8631b5d4840.html" target="element"> Metas del Nivel Inicial </a> </td>
																		<td> <a href="../elements/id-cc910c5d685944d8becab4f98df2d120.html" target="element"> Procesos 1 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-72c5f4db22344c538bf60d6fa7ab9c2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72c5f4db22344c538bf60d6fa7ab9c2a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-6f86742d82e340c8860da8631b5d4840.html" target="element"> Metas del Nivel Inicial </a> </td>
																		<td> <a href="../elements/id-43caa15331754e98b6cc14b3ae44c23f.html" target="element"> Servicios </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-67bd1ecfd2874c1f94d5acfa0f4fbe4d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-67bd1ecfd2874c1f94d5acfa0f4fbe4d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3ed5297a0aba4bfb81cbda9e4fa28e58.html" target="element"> Metas del Nivel Definido </a> </td>
																		<td> <a href="../elements/id-22592e076e0449d99dd29f5a0c2236b3.html" target="element"> Registro </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6386ff3f264b47b59e52c6eb48a3f883.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6386ff3f264b47b59e52c6eb48a3f883.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3ed5297a0aba4bfb81cbda9e4fa28e58.html" target="element"> Metas del Nivel Definido </a> </td>
																		<td> <a href="../elements/id-5c968567613e48b6b674451a26dde199.html" target="element"> Coordinaci&#243;n </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1bf277a5bece4d19a0ad025c077387e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1bf277a5bece4d19a0ad025c077387e3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3ed5297a0aba4bfb81cbda9e4fa28e58.html" target="element"> Metas del Nivel Definido </a> </td>
																		<td> <a href="../elements/id-950c89fcb35346a4be9b9d531c9787b8.html" target="element"> Procesos 2 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d4b8af0b95494adc9a6a16de071b820c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d4b8af0b95494adc9a6a16de071b820c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-3ed5297a0aba4bfb81cbda9e4fa28e58.html" target="element"> Metas del Nivel Definido </a> </td>
																		<td> <a href="../elements/id-dd68a16eba6c4121bc3340c57110fe9b.html" target="element"> Evaluaci&#243;n </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-ce9bc4020ff3426bb400aea91de520d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce9bc4020ff3426bb400aea91de520d3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-da3f3f7fdf53406796a9565192744c7e.html" target="element"> Metas del Nivel Optimizado </a> </td>
																		<td> <a href="../elements/id-8c2a3ed8beca4f01920e7619a778b3c1.html" target="element"> Procesos 3 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-091151e100fc4f7fb9ba20408423a44d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-091151e100fc4f7fb9ba20408423a44d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-da3f3f7fdf53406796a9565192744c7e.html" target="element"> Metas del Nivel Optimizado </a> </td>
																		<td> <a href="../elements/id-05628c0efdc84cbebcbea09af0acdd93.html" target="element"> Continuidad </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>