<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Sistemas de Información. SGDEA. Conservación Documentos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Sistemas de Informaci&#243;n. SGDEA. Conservaci&#243;n Documentos</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-dad74fd6d7864e6f99bb2f7b23613228.png" alt="Sistemas de Información. SGDEA. Conservación Documentos" usemap="#id-dad74fd6d7864e6f99bb2f7b23613228map"/>
			   <map name="id-dad74fd6d7864e6f99bb2f7b23613228map">
				  		<area shape="rect" coords="532,92,652,147" href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html"  target="element">
				  		<area shape="rect" coords="532,10,652,65" href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html"  target="element">
				  		<area shape="rect" coords="189,10,309,65" href="../elements/id-0258866e6a984aa4a32768736fa90b25.html"  target="element">
				  		<area shape="rect" coords="369,92,489,147" href="../elements/id-6a3696015ae446179f05de1c60cc40f2.html"  target="element">
				  		<area shape="rect" coords="189,92,309,147" href="../elements/id-b0383a69ef1c4630ab4544d07dffd4ff.html"  target="element">
				  		<area shape="rect" coords="10,92,130,147" href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html"  target="element">
				  		<area shape="rect" coords="369,10,489,65" href="../elements/id-712ada2167884e838d6abe2a3f7310a5.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/id-25da2fa77831421bbf849e8eb3a9d03f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">Sistemas de Informaci&#243;n de EAAB relacionados con la conservaci&#243;n de documentos.
</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-25da2fa77831421bbf849e8eb3a9d03f.html" target="element"> File Server </a> </td>
											    <td> <a href="../elements/id-25da2fa77831421bbf849e8eb3a9d03f.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-712ada2167884e838d6abe2a3f7310a5.html" target="element"> SAP QM </a> </td>
											    <td> <a href="../elements/id-712ada2167884e838d6abe2a3f7310a5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element"> Correo Electr&#243;nico </a> </td>
											    <td> <a href="../elements/id-cdad7b12c31e413cae8393cf825b7c42.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b0383a69ef1c4630ab4544d07dffd4ff.html" target="element"> SAP &#8211; ModuloHSM </a> </td>
											    <td> <a href="../elements/id-b0383a69ef1c4630ab4544d07dffd4ff.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a3696015ae446179f05de1c60cc40f2.html" target="element"> One Drive </a> </td>
											    <td> <a href="../elements/id-6a3696015ae446179f05de1c60cc40f2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0258866e6a984aa4a32768736fa90b25.html" target="element"> Share Point </a> </td>
											    <td> <a href="../elements/id-0258866e6a984aa4a32768736fa90b25.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element"> CORI Correspondencia </a> </td>
											    <td> <a href="../elements/id-deb19872acff4259a2cd49bd7bb9279a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element"> SAP - SIE </a> </td>
											    <td> <a href="../elements/id-4b395a76a7274b2c8c682d377f4b0d20.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>