<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Proceos y subprocesos</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Proceos y subprocesos</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d25214b1677a4a2587badba45454c2ad.png" alt="Proceos y subprocesos" usemap="#id-d25214b1677a4a2587badba45454c2admap"/>
			   <map name="id-d25214b1677a4a2587badba45454c2admap">
				  				<area shape="rect" coords="166,382,286,437" href="../elements/id-94c609a783d04ac7ac886b00d858a05d.html"  target="element">
				  				<area shape="rect" coords="34,382,154,437" href="../elements/id-7930b218d70e4ce6a6e3cb9d8e7376aa.html"  target="element">
				  				<area shape="rect" coords="430,322,550,377" href="../elements/id-c73d203640b840a3beb41a05dfab20c7.html"  target="element">
				  				<area shape="rect" coords="298,322,418,377" href="../elements/id-cffc2f4f72e94d42b168787dee66ba4c.html"  target="element">
				  				<area shape="rect" coords="166,322,286,377" href="../elements/id-35916e76eef84d0d9de33f79c0996199.html"  target="element">
				  				<area shape="rect" coords="34,322,154,377" href="../elements/id-6e43133d071d46ee9d03f66e84116b09.html"  target="element">
				  				<area shape="rect" coords="430,262,550,317" href="../elements/id-93578b023eaf47a0ac0fac659bb9db3a.html"  target="element">
				  				<area shape="rect" coords="298,262,418,317" href="../elements/id-ea989ff060c34923866d962a1d4825aa.html"  target="element">
				  				<area shape="rect" coords="166,262,286,317" href="../elements/id-f1787d308ff6485598ac992b8910c156.html"  target="element">
				  				<area shape="rect" coords="34,262,154,317" href="../elements/id-57e76632804941e1a53ced2c89d2e1ea.html"  target="element">

				  		<area shape="rect" coords="10,226,566,455" href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html"  target="element">
				  				<area shape="rect" coords="166,142,286,197" href="../elements/id-427052e0705a4417b222c9da691f1e61.html"  target="element">
				  				<area shape="rect" coords="34,142,154,197" href="../elements/id-b554873339af4eecb9f7003b6366d293.html"  target="element">

				  		<area shape="rect" coords="10,118,566,215" href="../elements/id-e64f177837ae4516b6f3eecb492831c4.html"  target="element">
				  				<area shape="rect" coords="430,34,550,89" href="../elements/id-0f827f60043d41d98b7c49e8f667506c.html"  target="element">
				  				<area shape="rect" coords="298,34,418,89" href="../elements/id-c71d61234021487c9fe3f0722b780692.html"  target="element">
				  				<area shape="rect" coords="166,34,286,89" href="../elements/id-9eec6d4b0598414c81d0d324338acb8f.html"  target="element">
				  				<area shape="rect" coords="34,34,154,89" href="../elements/id-be96f01fe5f344afbc9d32f60d59a027.html"  target="element">

				  		<area shape="rect" coords="10,10,566,102" href="../elements/id-05149c2e2c8f4c608c69047f1ef2e9bd.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-05149c2e2c8f4c608c69047f1ef2e9bd.html" target="element"> Acueducto </a> </td>
											    <td> <a href="../elements/id-05149c2e2c8f4c608c69047f1ef2e9bd.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-be96f01fe5f344afbc9d32f60d59a027.html" target="element"> MPMA01 - CAPTACI&#211;N, ALMACENAMIENTO Y ADUCCI&#211;N DE AGUA CRUDA </a> </td>
													    <td> <a href="../elements/id-be96f01fe5f344afbc9d32f60d59a027.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9eec6d4b0598414c81d0d324338acb8f.html" target="element"> MPMA02 - TRATAMIENTO DE AGUA CRUDA </a> </td>
													    <td> <a href="../elements/id-9eec6d4b0598414c81d0d324338acb8f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c71d61234021487c9fe3f0722b780692.html" target="element"> MPMA04 - INFRAESTRUCTURA DE REDES MATRICES </a> </td>
													    <td> <a href="../elements/id-c71d61234021487c9fe3f0722b780692.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0f827f60043d41d98b7c49e8f667506c.html" target="element"> MPMA05 - DISTRIBUCI&#211;N Y CONTROL DE REDES MATRICES </a> </td>
													    <td> <a href="../elements/id-0f827f60043d41d98b7c49e8f667506c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e64f177837ae4516b6f3eecb492831c4.html" target="element"> Jur&#237;dica </a> </td>
											    <td> <a href="../elements/id-e64f177837ae4516b6f3eecb492831c4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b554873339af4eecb9f7003b6366d293.html" target="element"> MPFJ01 - ASESOR&#205;A LEGAL </a> </td>
													    <td> <a href="../elements/id-b554873339af4eecb9f7003b6366d293.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-427052e0705a4417b222c9da691f1e61.html" target="element"> MPFJ02 - REPRESENTACI&#211;N JUDICIAL Y ACTUACI&#211;N ADMINISTRATIVA </a> </td>
													    <td> <a href="../elements/id-427052e0705a4417b222c9da691f1e61.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html" target="element"> Documental </a> </td>
											    <td> <a href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-57e76632804941e1a53ced2c89d2e1ea.html" target="element"> MPFD01 - ESTRUCTURA Y PLANIFICACI&#211;N DEL SISTEMA DE GESTI&#211;N DOCUMENTAL </a> </td>
													    <td> <a href="../elements/id-57e76632804941e1a53ced2c89d2e1ea.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f1787d308ff6485598ac992b8910c156.html" target="element"> MPFD02 - RECEPCI&#211;N Y RADICACI&#211;N DE DOCUMENTOS </a> </td>
													    <td> <a href="../elements/id-f1787d308ff6485598ac992b8910c156.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ea989ff060c34923866d962a1d4825aa.html" target="element"> MPFD03 - ORGANIZACI&#211;N DE DOCUMENTOS </a> </td>
													    <td> <a href="../elements/id-ea989ff060c34923866d962a1d4825aa.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-93578b023eaf47a0ac0fac659bb9db3a.html" target="element"> MPFD04 - CONSULTA DE DOCUMENTOS </a> </td>
													    <td> <a href="../elements/id-93578b023eaf47a0ac0fac659bb9db3a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-6e43133d071d46ee9d03f66e84116b09.html" target="element"> MPFD05 - CONSERVACI&#211;N DE DOCUMENTOS </a> </td>
													    <td> <a href="../elements/id-6e43133d071d46ee9d03f66e84116b09.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-35916e76eef84d0d9de33f79c0996199.html" target="element"> MPFD06 - DISPOSICI&#211;N FINAL </a> </td>
													    <td> <a href="../elements/id-35916e76eef84d0d9de33f79c0996199.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cffc2f4f72e94d42b168787dee66ba4c.html" target="element"> MPFD07 - ADMINISTRACI&#211;N DE ANEXOS DOCUMENTALES </a> </td>
													    <td> <a href="../elements/id-cffc2f4f72e94d42b168787dee66ba4c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c73d203640b840a3beb41a05dfab20c7.html" target="element"> MPFD08 - PRODUCCI&#211;N DOCUMENTAL </a> </td>
													    <td> <a href="../elements/id-c73d203640b840a3beb41a05dfab20c7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7930b218d70e4ce6a6e3cb9d8e7376aa.html" target="element"> MPFD09 - TRANSFERENCIAS DOCUMENTALES </a> </td>
													    <td> <a href="../elements/id-7930b218d70e4ce6a6e3cb9d8e7376aa.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-94c609a783d04ac7ac886b00d858a05d.html" target="element"> MPFD10 - VALORACI&#211;N DOCUMENTAL </a> </td>
													    <td> <a href="../elements/id-94c609a783d04ac7ac886b00d858a05d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-9f052b830e6342508fd6ac32e266fa1d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f052b830e6342508fd6ac32e266fa1d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-05149c2e2c8f4c608c69047f1ef2e9bd.html" target="element"> Acueducto </a> </td>
																		<td> <a href="../elements/id-be96f01fe5f344afbc9d32f60d59a027.html" target="element"> MPMA01 - CAPTACI&#211;N, ALMACENAMIENTO Y ADUCCI&#211;N DE AGUA CRUDA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7091db00435a4598a8653d2b0d84a3f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7091db00435a4598a8653d2b0d84a3f7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-05149c2e2c8f4c608c69047f1ef2e9bd.html" target="element"> Acueducto </a> </td>
																		<td> <a href="../elements/id-9eec6d4b0598414c81d0d324338acb8f.html" target="element"> MPMA02 - TRATAMIENTO DE AGUA CRUDA </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fb660096f395417f9a9177e2f197149c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fb660096f395417f9a9177e2f197149c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-05149c2e2c8f4c608c69047f1ef2e9bd.html" target="element"> Acueducto </a> </td>
																		<td> <a href="../elements/id-c71d61234021487c9fe3f0722b780692.html" target="element"> MPMA04 - INFRAESTRUCTURA DE REDES MATRICES </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ca951ae54a984282b52383ffe8860149.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca951ae54a984282b52383ffe8860149.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-05149c2e2c8f4c608c69047f1ef2e9bd.html" target="element"> Acueducto </a> </td>
																		<td> <a href="../elements/id-0f827f60043d41d98b7c49e8f667506c.html" target="element"> MPMA05 - DISTRIBUCI&#211;N Y CONTROL DE REDES MATRICES </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-00efd6c8ebd04d938775521b8c683e4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00efd6c8ebd04d938775521b8c683e4e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e64f177837ae4516b6f3eecb492831c4.html" target="element"> Jur&#237;dica </a> </td>
																		<td> <a href="../elements/id-b554873339af4eecb9f7003b6366d293.html" target="element"> MPFJ01 - ASESOR&#205;A LEGAL </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3c165cb06d324c2daf70e408d66c583c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c165cb06d324c2daf70e408d66c583c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e64f177837ae4516b6f3eecb492831c4.html" target="element"> Jur&#237;dica </a> </td>
																		<td> <a href="../elements/id-427052e0705a4417b222c9da691f1e61.html" target="element"> MPFJ02 - REPRESENTACI&#211;N JUDICIAL Y ACTUACI&#211;N ADMINISTRATIVA </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-72c8dc66c4f34734ad6e6989ff538845.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-72c8dc66c4f34734ad6e6989ff538845.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html" target="element"> Documental </a> </td>
																		<td> <a href="../elements/id-57e76632804941e1a53ced2c89d2e1ea.html" target="element"> MPFD01 - ESTRUCTURA Y PLANIFICACI&#211;N DEL SISTEMA DE GESTI&#211;N DOCUMENTAL </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c3e63f013f9f4939a93713b0af9a785a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c3e63f013f9f4939a93713b0af9a785a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html" target="element"> Documental </a> </td>
																		<td> <a href="../elements/id-f1787d308ff6485598ac992b8910c156.html" target="element"> MPFD02 - RECEPCI&#211;N Y RADICACI&#211;N DE DOCUMENTOS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6696d9f4bf604abcb9a8b5c3bf572534.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6696d9f4bf604abcb9a8b5c3bf572534.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html" target="element"> Documental </a> </td>
																		<td> <a href="../elements/id-ea989ff060c34923866d962a1d4825aa.html" target="element"> MPFD03 - ORGANIZACI&#211;N DE DOCUMENTOS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ca30f2af78bc47a899493dae70eb596c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca30f2af78bc47a899493dae70eb596c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html" target="element"> Documental </a> </td>
																		<td> <a href="../elements/id-93578b023eaf47a0ac0fac659bb9db3a.html" target="element"> MPFD04 - CONSULTA DE DOCUMENTOS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e07ddc056d7f4ff498c067d76734322b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e07ddc056d7f4ff498c067d76734322b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html" target="element"> Documental </a> </td>
																		<td> <a href="../elements/id-6e43133d071d46ee9d03f66e84116b09.html" target="element"> MPFD05 - CONSERVACI&#211;N DE DOCUMENTOS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-38f24e2139a546caa3eefb252e119622.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-38f24e2139a546caa3eefb252e119622.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html" target="element"> Documental </a> </td>
																		<td> <a href="../elements/id-35916e76eef84d0d9de33f79c0996199.html" target="element"> MPFD06 - DISPOSICI&#211;N FINAL </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1a6a0d57c04c49c2ac19f774bc319c3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1a6a0d57c04c49c2ac19f774bc319c3a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html" target="element"> Documental </a> </td>
																		<td> <a href="../elements/id-cffc2f4f72e94d42b168787dee66ba4c.html" target="element"> MPFD07 - ADMINISTRACI&#211;N DE ANEXOS DOCUMENTALES </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1c8c07267cd8495f98b1d02c1298ae75.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c8c07267cd8495f98b1d02c1298ae75.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html" target="element"> Documental </a> </td>
																		<td> <a href="../elements/id-c73d203640b840a3beb41a05dfab20c7.html" target="element"> MPFD08 - PRODUCCI&#211;N DOCUMENTAL </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-76d5e427cbf640c09982a16e7956b6b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76d5e427cbf640c09982a16e7956b6b8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html" target="element"> Documental </a> </td>
																		<td> <a href="../elements/id-7930b218d70e4ce6a6e3cb9d8e7376aa.html" target="element"> MPFD09 - TRANSFERENCIAS DOCUMENTALES </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-30181de4779b430aa9bb5453868d1715.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-30181de4779b430aa9bb5453868d1715.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-e65141c54a394d4ea1ad1a275e509bb1.html" target="element"> Documental </a> </td>
																		<td> <a href="../elements/id-94c609a783d04ac7ac886b00d858a05d.html" target="element"> MPFD10 - VALORACI&#211;N DOCUMENTAL </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>