<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Normatividad y Leyes SGDEA</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Normatividad y Leyes SGDEA</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e545d9e3aeaf418aa271fd14fc8cbc4e.png" alt="Normatividad y Leyes SGDEA" usemap="#id-e545d9e3aeaf418aa271fd14fc8cbc4emap"/>
			   <map name="id-e545d9e3aeaf418aa271fd14fc8cbc4emap">
				  				<area shape="rect" coords="586,382,706,437" href="../elements/id-3cb5f5d489ce416a957fa2cf1eaea6ff.html"  target="element">

				  		<area shape="rect" coords="562,346,851,486" href="../elements/id-1e9db7f980d244a4a8f234e10d3ce067.html"  target="element">
				  				<area shape="rect" coords="586,214,706,269" href="../elements/id-becc60a7d8204714b87d3c4a5db94e21.html"  target="element">

				  		<area shape="rect" coords="562,178,851,318" href="../elements/id-5dfee6c924584e85a567adf15d733aba.html"  target="element">
				  				<area shape="rect" coords="586,46,706,101" href="../elements/id-fc5b07a319324c6ab98b1629c0113b3d.html"  target="element">

				  		<area shape="rect" coords="562,10,851,150" href="../elements/id-99c4f71b3b8741068c5c1d18e0aa4069.html"  target="element">
				  				<area shape="rect" coords="298,371,418,426" href="../elements/id-ae2c337bf78c400582d212cf17a3c137.html"  target="element">
				  				<area shape="rect" coords="166,371,286,426" href="../elements/id-f2487d1f4641465c8d4ca174d3b142e1.html"  target="element">
				  				<area shape="rect" coords="34,371,154,426" href="../elements/id-ac8492b468f447c3ac1d3cda9de932e6.html"  target="element">
				  				<area shape="rect" coords="34,299,154,354" href="../elements/id-3641318b7f6a45f9ac4fcab250e85661.html"  target="element">
				  				<area shape="rect" coords="166,299,286,354" href="../elements/id-74cf768060cf4d3e9f14d7e975ab5a9d.html"  target="element">
				  				<area shape="rect" coords="166,227,286,282" href="../elements/id-f187f9c8150b4e53a4b9a41f2371f671.html"  target="element">
				  				<area shape="rect" coords="298,299,418,354" href="../elements/id-9e4ca85250f548b993f5f93dc8cdbae8.html"  target="element">
				  				<area shape="rect" coords="298,227,418,282" href="../elements/id-9bc8eb36eddb4340a469fdbc7aa47009.html"  target="element">
				  				<area shape="rect" coords="34,227,154,282" href="../elements/id-bb7606167d0a4ec58399fcd4075bf83d.html"  target="element">

				  		<area shape="rect" coords="10,191,551,486" href="../elements/id-c3b9dba0b6394ec8b5b81cecce2ec09f.html"  target="element">
				  				<area shape="rect" coords="298,58,418,113" href="../elements/id-f4143ee0d2f04daaac5876f4973c08c0.html"  target="element">
				  				<area shape="rect" coords="166,58,286,113" href="../elements/id-5d8bb16d111047a2beda245e8aee4658.html"  target="element">
				  				<area shape="rect" coords="34,58,154,113" href="../elements/id-830177312a214f84a8a0a27610a2121c.html"  target="element">

				  		<area shape="rect" coords="10,10,551,150" href="../elements/id-4b1df2a70a214a10a737f356c4dc6557.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none">N&#243;tese en el gr&#225;fico, que de forma transversal est&#225; el ciclo vital de los documentos y la aplicaci&#243;n de pol&#237;ticas, normas, procedimientos y reglas de la gesti&#243;n documental y de seguridad de la informaci&#243;n. De igual forma, se realizan acciones de preservaci&#243;n a lo largo del ciclo vital.</textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4b1df2a70a214a10a737f356c4dc6557.html" target="element"> Decretos </a> </td>
											    <td> <a href="../elements/id-4b1df2a70a214a10a737f356c4dc6557.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-830177312a214f84a8a0a27610a2121c.html" target="element"> Decreto 1080 de 2015 </a> </td>
													    <td> <a href="../elements/id-830177312a214f84a8a0a27610a2121c.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5d8bb16d111047a2beda245e8aee4658.html" target="element"> Decreto 2274 de 1980 </a> </td>
													    <td> <a href="../elements/id-5d8bb16d111047a2beda245e8aee4658.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f4143ee0d2f04daaac5876f4973c08c0.html" target="element"> Decreto 2609 de 2012 </a> </td>
													    <td> <a href="../elements/id-f4143ee0d2f04daaac5876f4973c08c0.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-c3b9dba0b6394ec8b5b81cecce2ec09f.html" target="element"> Acuerdos </a> </td>
											    <td> <a href="../elements/id-c3b9dba0b6394ec8b5b81cecce2ec09f.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-bb7606167d0a4ec58399fcd4075bf83d.html" target="element"> Acuerdo 038 de 2002 Art&#237;culo </a> </td>
													    <td> <a href="../elements/id-bb7606167d0a4ec58399fcd4075bf83d.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9bc8eb36eddb4340a469fdbc7aa47009.html" target="element"> Acuerdo 049 de 2000 Articulo 3 </a> </td>
													    <td> <a href="../elements/id-9bc8eb36eddb4340a469fdbc7aa47009.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9e4ca85250f548b993f5f93dc8cdbae8.html" target="element"> acuerdo 049 de 2000 Art&#237;culo 5 </a> </td>
													    <td> <a href="../elements/id-9e4ca85250f548b993f5f93dc8cdbae8.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f187f9c8150b4e53a4b9a41f2371f671.html" target="element"> Acuerdo 02 de 2014. Art&#237;culo 7o </a> </td>
													    <td> <a href="../elements/id-f187f9c8150b4e53a4b9a41f2371f671.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-74cf768060cf4d3e9f14d7e975ab5a9d.html" target="element"> Acuerdo 02 de 2014 Art&#237;culo 11o </a> </td>
													    <td> <a href="../elements/id-74cf768060cf4d3e9f14d7e975ab5a9d.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3641318b7f6a45f9ac4fcab250e85661.html" target="element"> Acuerdo 042 de 2002 </a> </td>
													    <td> <a href="../elements/id-3641318b7f6a45f9ac4fcab250e85661.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ac8492b468f447c3ac1d3cda9de932e6.html" target="element"> Acuerdo 060 2001 </a> </td>
													    <td> <a href="../elements/id-ac8492b468f447c3ac1d3cda9de932e6.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f2487d1f4641465c8d4ca174d3b142e1.html" target="element"> Acuerdo Directiva Presidencial 04 de 2013. Art&#237;culo 15 </a> </td>
													    <td> <a href="../elements/id-f2487d1f4641465c8d4ca174d3b142e1.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ae2c337bf78c400582d212cf17a3c137.html" target="element"> Acuerdo 049 de 2000 Art&#237;culo 2 </a> </td>
													    <td> <a href="../elements/id-ae2c337bf78c400582d212cf17a3c137.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-99c4f71b3b8741068c5c1d18e0aa4069.html" target="element"> Leyes </a> </td>
											    <td> <a href="../elements/id-99c4f71b3b8741068c5c1d18e0aa4069.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-fc5b07a319324c6ab98b1629c0113b3d.html" target="element"> Ley 1409 de 2010 </a> </td>
													    <td> <a href="../elements/id-fc5b07a319324c6ab98b1629c0113b3d.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5dfee6c924584e85a567adf15d733aba.html" target="element"> Normas </a> </td>
											    <td> <a href="../elements/id-5dfee6c924584e85a567adf15d733aba.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-becc60a7d8204714b87d3c4a5db94e21.html" target="element"> Norma ISO 9706 </a> </td>
													    <td> <a href="../elements/id-becc60a7d8204714b87d3c4a5db94e21.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1e9db7f980d244a4a8f234e10d3ce067.html" target="element"> Resoluciones </a> </td>
											    <td> <a href="../elements/id-1e9db7f980d244a4a8f234e10d3ce067.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3cb5f5d489ce416a957fa2cf1eaea6ff.html" target="element"> Resoluci&#243;n 629 de 2018 </a> </td>
													    <td> <a href="../elements/id-3cb5f5d489ce416a957fa2cf1eaea6ff.html" target="element" class="i18n-elementtype-Contract"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-ffe33622440c4046a60e06661bd1077a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ffe33622440c4046a60e06661bd1077a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-4b1df2a70a214a10a737f356c4dc6557.html" target="element"> Decretos </a> </td>
																		<td> <a href="../elements/id-f4143ee0d2f04daaac5876f4973c08c0.html" target="element"> Decreto 2609 de 2012 </a> </td>
																	</tr>

											
											
											
											
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>